/* Estilo do Tooltip */
.tooltip {
  position: relative;
  display: inline-block;
  padding: 5px; /* Aumenta a área de hover */
  outline: none; /* Remove a borda de foco padrão */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 160px;
  font-size: 12px;
  background-color: var(--tooltip-bg);
  color: var(--tooltip-txt);
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: calc(100% + 8px);
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out,
    scale 0.3s ease-in-out;
  pointer-events: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona sombra */
}

.tooltip:hover .tooltiptext,
.tooltip:focus .tooltiptext,
.tooltip:focus-visible .tooltiptext {
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) translateY(-8px) scale(1.05); /* Efeito de "crescimento" */
}

/* Triângulo que cria a ponta do balão */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: calc(100% - 1px); /* Aproxima o triângulo do balão */
  left: 50%;
  transform: translateX(-50%);
  border-width: 8px;
  border-style: solid;
  border-color: var(--tooltip-bg) transparent transparent transparent;
}

/* Tooltip para mensagens de erro */
.tooltip.error .tooltiptext {
  background-color: var(--input-tooltip-bg);
  color: var(--msg-erro-txt);
}

.tooltip.error .tooltiptext::after {
  border-color: var(--input-tooltip-bg) transparent transparent transparent;
}

/* Responsividade */
@media (max-width: 600px) {
  .tooltip .tooltiptext {
    width: 100px;
    font-size: 10px;
  }
}

/* Estilo para os spinner */
.spinner {
  display: none;
  margin-top: 10px;
}

/* Estilos para o indicador de carregamento */
.loading-indicator {
  display: none;
  font-size: 1em;
  margin: 1em;
  color: var(--txt-placeholder, #999);
  text-align: center;
}
.loading-indicator::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 2px solid var(--txt-placeholder, #999);
  border-top: 2px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-right: 0.5em;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Estilos para listas de sugestões */
/*.suggestions {
  border: none;
  border-radius: 0px 0px 12px 12px;
  max-height: 150px;
  overflow-y: auto;
  background-color: hsl(218, 80%, 80%);
  position: absolute;
  width: calc(100% - 20px);
  margin: 0 5px;
  padding: 0;
  list-style: none;
}
.suggestions li {
  padding: 8px;
  cursor: pointer;
}
.suggestions li:hover {
  background-color: hsl(218, 88%, 88%);
}*/

/* Estilos atualizados para a lista de sugestões */
.suggestions {
  margin: 5px 0px;
  background-color: var(--input-empty-bg);
  border: 1px solid var(--input-border);
  border-radius: 6px;
  max-height: 250px;
  overflow-y: auto;
  z-index: 1000;
  box-shadow: var(--sombra-moderada);
  display: none; /* Oculta o elemento por padrão */
}

.suggestions.visible {
  display: block; /* Mostra o elemento quando tiver a classe 'visible' */
}

.suggestions ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.suggestions li {
  padding: 12px 16px;
  cursor: pointer;
  font-size: 16px;
  color: var(--txt-titulo);
  transition: background-color 0.2s ease-in-out, color 0.2s;
}

.suggestions li:not(:last-child) {
  border-bottom: 1px solid var(--input-border);
}

.suggestions li:hover {
  background-color: var(--card-aberto-bg);
}

.suggestions li.selected {
  background-color: #e6f7ff;
  color: #1890ff;
}

.suggestions p {
  padding: 12px 16px;
  margin: 0;
  color: var(--erro);
  font-style: italic; /* Opcional */
  text-align: center; /* Centraliza o texto */
}
