.body-template {
  display: grid;
  align-content: start;
  justify-content: center;
  grid:
    "header header header" 45px
    " . main ." 90vh
    / auto minmax(350px, 1100px) auto;
}
/* container-areas */
.header {
  grid-area: header;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: var(--cor-10);
}
.main {
  grid-area: main;
  margin-top: 1.25rem;
}
