.body-template {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: auto minmax(57rem, 69rem) auto;
  grid-template-rows: 2.813rem auto;
  grid-template-areas:
    "header header header"
    ". main.";
}
/* container-areas */
.header {
  grid-area: header;
  width: 100%;
  background: none;
}
.main {
  grid-area: main;
}

/* RESPONSIVO */
@media only screen and (max-width: 56.25rem) {
  .body-template {
    gap: 0;
    width: 100vw;
    grid-template-columns: auto;
    grid-template-rows: 2.813rem auto;
    grid-template-areas:
      "header"
      "main";
    transition: grid-template-rows 0.3s ease-in-out;
    position: relative;
  }
  .header {
    grid-area: header;
    top: 0;
    width: 100%;
  }

  .main {
    grid-area: main;
  }
}
