body {
  font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: var(--cor-12);
  margin: 0;
  padding: 0;
  display: grid;
  background: radial-gradient(
    circle at right bottom,
    #000000,
    #090219,
    #361d68,
    #0d0324,
    #000000
  );
  transition: all 0.3s ease;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  min-height: 100vh;
  overflow: auto;
}
/*background: linear-gradient(to right bottom, #7a44e7, #5ce1e6);
    background: radial-gradient(
    circle at bottom right,
    #6a4dff 0%,
    #5bc5f3 50%,
    #194471 100%
  );
  */

h1,
h2,
h3,
h4,
ul,
menu,
p,
button,
blockquote,
dd {
  margin: 0rem;
}

ul,
menu {
  padding: 0rem;
  list-style: none;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.indicador {
  font-weight: bold;
  position: relative;
  background: linear-gradient(to right bottom, #7a44e7, #5ce1e6);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.indicador::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(to right bottom, #7a44e7, #5ce1e6);
}

.link {
  display: inline-block;
  color: var(--cor-2);
  font: 500 1.5rem/1.5 "Poppins", sans-serif;
  text-transform: uppercase;
}

.link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: currentColor;
}

.link:hover {
  color: var(--cor-10);
}

/* RESPONSIVO */
@media (max-width: 767px) {
  body {
    background: #110f1a;
  }
  .indicador {
    border-bottom: none;
  }
}
