.body-login {
  /* background: var(--cor-marca);*/

  background: hsl(230, 22%, 7%);
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
}

.logo-image {
  width: 7em;
  height: auto;
  margin: auto;
  z-index: 1;
}
.form-login {
  margin: auto;
  background: linear-gradient(135deg, hsl(240, 40%, 10%), hsl(230, 30%, 8%));
  width: 350px;
  height: auto;
  border-radius: 0.9375rem;
  box-shadow: var(--sombra-intensa);
  padding: 1em;
}

.form-login input,
.form-login label {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.form-login label {
  margin-bottom: 0.25em;
  color: rgb(255, 255, 255);
}

.form-login input {
  padding: 0.75em;
  border-radius: 7px;
  margin-bottom: 1.5em;
  font-size: 1em;
  background: var(--input-empty-bg);
  border: 1px solid var(--input-border);
}
.form-login input:focus {
  outline: 2px solid lightblue;
}

.form-login fieldset {
  padding: 0.625rem;
  background: none;
  border: none;
}

.form-login legend {
  display: inline;
  text-align: center;
  box-sizing: border-box;
  font-size: 1.2em;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.btn-form-submit {
  background: var(--btn-secundario) !important;
  color: rgb(255, 255, 255);
  border: 1px solid transparent;
  cursor: pointer;
}
.btn-form-submit:hover {
  filter: var(--hover);
}
.forgot-password {
  font-size: 14px;
  font-weight: 300;
  color: var(--cor-primaria-1);
  background: none;
  padding: 0.625rem;
  cursor: pointer;
  margin: auto;
  border: none;
  display: block;
}
