/* Grid */
.main-template {
  display: grid;
  align-content: center;
  justify-content: center;
  gap: 0rem 1rem;
  grid:
    "main-sidenav main-section" 100%
    / 1.1fr 1.9fr;
}
/* Áreas de grid */
.main-section {
  grid-area: main-section;
  text-align: center;
  display: grid;
  grid-auto-flow: row;
  align-content: start;
}
.main-sidenav {
  grid-area: main-sidenav;
  text-align: center;
  display: grid;
  align-content: start;
  grid-auto-flow: row;
}

.main-sidenav .marcador-item {
  padding: 3px;
}

/* RESPONSIVO */
@media only screen and (max-width: 900px) {
  .main-template {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "main-section";
  }
  .main-section {
    grid-area: main-section;
    padding: 0px;
  }
  .main-sidenav {
    grid-area: main-sidenav;
    position: absolute;
    padding: 0px;
    right: 2px;
    top: 0;
    overflow: hidden;
    width: 19%;
    height: 35px;
    z-index: 2002;
  }

  .main-sidenav h1 {
    display: none;
  }
}
