/* Grid */
.main-template {
  display: grid;
  align-content: center;
  justify-content: center;
  gap: 0rem 1rem;
  grid:
    "main-sidenav main-section"
    / 1.1fr 1.9fr;
}
/* Áreas de grid */
.main-section {
  grid-area: main-section;
  text-align: center;
  display: grid;
  grid-auto-flow: row;
  align-items: start;
  margin-bottom: 75px;
}
.main-sidenav {
  grid-area: main-sidenav;
  text-align: center;
  display: grid;
  align-content: start;
  grid-auto-flow: row;
}

.main-sidenav .marcador-item {
  padding: 3px;
  font-size: var(--font-medium-light);
}

.btn-recuar-expandir {
  display: none;
}

/* RESPONSIVO */
@media (max-width: 800px) {
  .main-template {
    gap: 20px 0rem;
    grid:
      "main-sidenav"
      "main-section"
      / 1fr;
  }
  .main-section {
    grid-area: main-section;
    padding: 5px;
  }
  .main-sidenav {
    grid-area: main-sidenav;
    padding: 5px;
  }

  .btn-recuar-expandir {
    display: block;
    justify-self: end;
  }
}
