/* Grid */
.main-template {
  display: grid;
  gap: 0.625rem;
  align-content: center;
  justify-content: center;
  grid:
    "main-sidenav main-section"
    / 1.1fr 1.9fr;
}
/* Áreas de grid */
.main-section {
  grid-area: main-section;
  text-align: center;
  display: grid;
  grid-auto-flow: row;
  align-items: start;
  padding: 0.625rem;
}
.main-sidenav {
  grid-area: main-sidenav;
  text-align: center;
  display: grid;
  align-content: start;
  grid-auto-flow: row;
  padding: 0.625rem;
}

.main-sidenav .card-xs {
  border-radius: 0.625rem 1.3rem 0.625rem 1.3rem;
  border: 1px solid var(--cor-6);
}
.main-sidenav .card-select-xs {
  border: 1px solid var(--cor-7);
}

.btn-recuar-expandir {
  display: none;
}

/* RESPONSIVO */
@media (max-width: 800px) {
  .main-template {
    gap: 0rem;
    grid:
      "main-sidenav"
      "main-section"
      / 1fr;
  }
  .main-section {
    grid-area: main-section;
    border-radius: 0.625rem;
    background: var(--cor-9);
    padding: 0rem 0.375rem;
  }
  .main-sidenav {
    grid-area: main-sidenav;
    padding: 0.375rem;
  }
  .btn-recuar-expandir {
    display: block;
    justify-self: end;
  }
}
