.body-form-template {
  display: grid;
  padding: 10px;
  align-content: start;
  justify-content: center;
  grid:
    "header-form"
    "main-form" auto
    / minmax(350px, 1100px);
}

/* container-areas */
.header-form {
  grid-area: header-form;
  display: grid;
  grid-auto-flow: column;
  align-content: center;
  justify-content: space-between;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px 5px 5px 15px;
  text-align: left;
  border: 1px solid #28385396;
  background: var(--background-principal);
  border-bottom: none;
  position: relative;
}

.main-form {
  grid-area: main-form;
  overflow-x: hidden;
  justify-content: space-between;
  align-content: start;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: auto;
  max-height: 88vh;
  padding: 10px;
  border: 1px solid #28385396;
  background: var(--background-principal);
  border-top: none;
}

.main-form .area-template,
.main-form .area-abas-template {
  box-shadow: none;
  background: transparent;
}

.main-form .area-abas-template-header {
  background: transparent;
  border: none;
  border-radius: 0px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.main-form .area-template-content,
.main-form .area-abas-template-content {
  border-top: 1px solid var(--modal-background);
  box-shadow: none;
  background: transparent;
  border: none;
  border-radius: 0px;
  border-radius: 25px;
}

.main-form .nav {
  background: var(--modal-background);
}

/* RESPONSIVO */
@media only screen and (max-width: 900px) {
  .body-form-template {
    padding: 0px;
    border: none;
  }

  .main-form {
    padding: 0px;
    height: auto;
    max-height: 100%;
    overflow-y: auto;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }

  .main-form .nav {
    width: 350px;
  }

  .main-form .area-abas-template-header {
    justify-content: center;
  }

  .main-form .area-template-cbf-content {
    max-height: 85vh;
    padding: 10px 3px;
  }

  .main-form::-webkit-scrollbar {
    display: none;
  }
}
