.body-form {
  padding-top: 20px;
  display: grid;
  align-content: start;
  justify-content: center;
  background: var(--bg-principal);
  max-height: calc(var(--vh, 1vh) * 100);
}
.body-form-template {
  display: grid;
  grid:
    "header-form"
    "main-form"
    / minmax(350px, 1100px);
  background: none;
  box-shadow: var(--sombra-moderada);
  border-radius: 25px;
}
.header-form {
  grid-area: header-form;
  position: relative;
  display: grid;
  grid-auto-flow: column;
  align-content: center;
  padding: 15px 20px;
  text-align: left;
  font-size: 12px;
  color: var(--txt-titulo);
  background: var(--form-container-bg);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border: 1px solid hsl(218, 10%, 12%);
  border-bottom: none;
}
.main-form {
  grid-area: main-form;
  position: relative;
  display: grid;
  grid-auto-flow: column;
  align-content: center;
  overflow-x: hidden;
  padding: 5px 10px;
  background: var(--form-container-bg);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 1px solid hsl(218, 10%, 12%);
  border-top: 1px solid hsl(218, 14%, 3%);
}
.main-form::-webkit-scrollbar {
  display: none;
}

.main-form .container-template,
.main-form .container-abas-template {
  box-shadow: none;
  background: none;
  background: transparent;
  max-height: calc(var(--vh, 1vh) * 100 - 7rem);
  border-radius: 0px;
  padding: 0;
}
.main-form .container-abas-template {
  gap: 3px;
}
.main-form .container-template-header,
.main-form .container-abas-template-header {
  background: transparent;
  border: none;
  border-radius: 0px;
  padding: 0;
}
.main-form .container-template-content,
.main-form .container-abas-template-content {
  box-shadow: none;
  background: transparent;
  border: none;
  border-radius: 0px;
  padding: 0;
}

.main-form .card-session {
  background: var(--form-card-bg);
  border: 1px solid var(--card-borda);
  box-shadow: var(--sombra-leve);
}
.main-form .card-session.active {
  padding: 7px 0px;
  margin: 2px;
  background: var(--form-card-aberto-bg);
  border: 1px solid var(--input-border);
  box-shadow: var(--sombra-moderada);
}
.main-form .secao-interna-template-header a {
  color: var(--txt-destaque);
}

/* RESPONSIVO */
@media only screen and (max-width: 56.25rem) {
  .body-form {
    padding: 0px;
    border: none;
    background: var(--form-container-bg);
  }
  .body-form-template {
    display: grid;
    grid:
      "header-form"
      "main-form"
      / 100vw;
    border: none;
    background: none;
    box-shadow: none;
    justify-content: stretch;
  }
  .header-form {
    border: none;
    border-radius: 0;
    background: none;
    padding: 10px;
  }
  .main-form {
    padding: 5px 0 0 0;
    overflow-y: auto;
    border: none;
    box-shadow: none;
    background: none;
  }

  .main-form .container-template,
  .main-form .container-abas-template {
    box-shadow: none;
    background: none;
    background: transparent;
    max-height: calc(var(--vh, 1vh) * 100 - 6rem);
    border-radius: 0px;
  }
  .main-form .container-abas-template-header {
    justify-content: center;
  }

  .main-form .area-interna-containerContent-template-content {
    padding: 10px 3px;
  }

  .main-form::-webkit-scrollbar {
    display: none;
  }

  .main-form .nav {
    width: 350px;
  }
}
