.body-form-template {
  display: grid;
  padding: 10px;
  align-content: start;
  justify-content: center;
  grid:
    "header-form" 55px
    "main-form" auto
    / minmax(350px, 1100px);
}
/* container-areas */
.header-form {
  grid-area: header-form;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-content: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px 5px 5px 15px;
  text-align: left;
  border: 1px solid #28385396;
  border-bottom: none;
  position: relative;
}
.main-form {
  grid-area: main-form;
  overflow-x: hidden;
  justify-content: space-between;
  align-content: start;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: auto;
  max-height: 88vh;
  padding: 10px;
  border: 1px solid #28385396;
  border-top: none;
}

.main-form .area-abas-template {
  box-shadow: none;
  background: transparent;
}
.main-form .area-abas-template-header {
  background: var(--background-secundario);
  border-radius: 0px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}
.main-form .area-abas-template-content {
  border-top: 1px solid var(--background-principal);
  box-shadow: none;
  background: var(--background-secundario);
  border-radius: 0px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}
.main-form .nav {
  background: var(--background-principal);
}
.main-form #nav1 a,
.main-form #nav2 a,
.main-form #nav3 a {
  color: var(--txt-secundario);
}
.main-form #nav1 a:hover,
.main-form #nav2 a:hover,
.main-form #nav3 a:hover {
  background: var(--background-principal);
  color: var(--txt-secundario);
}
.main-form #nav1 a.indicador-2,
.main-form #nav2 a.indicador-2,
.main-form #nav3 a.indicador-2 {
  font-size: 15px;
  font-weight: 400;
  color: var(--btn-secundario);
  background: var(--background-secundario);
}

/* RESPONSIVO */
@media only screen and (max-width: 900px) {
  .body-form-template {
    padding: 0px;
    border: none;
  }
  .header-form {
    background: transparent;
    border: 1px solid transparent;
  }
  .main-form {
    padding: 0px;
    height: auto;
    max-height: 90vh;
    overflow-y: auto;
    border: none;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
  }

  .main-form .nav {
    width: 350px;
  }

  .main-form .area-abas-template-header {
    padding-left: 15px;
    border-radius: 0px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
  }
  .main-form .area-abas-template-content {
    border-radius: 0px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
  }

  .main-form .area-template-cbf-content {
    max-height: 85vh;
  }
  .main-form::-webkit-scrollbar {
    display: none;
  }
}
