/* Estilos para o formulário */

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  background: none;

  padding-bottom: 15px;
}

fieldset {
  border: none;
  margin: 0;
  padding: 10px 15px 20px 15px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

legend {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  color: var(--txt-titulo-card);
}

.campo {
  background: none;
  padding: 12px 0;
  border-radius: 5px;
  gap: 5px;
}

.campo-invalido {
  border: 1px solid var(--erro);
}

.campo label {
  display: block;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 10px;
  margin-left: 5px;
  color: var(--input-label);
}

.campo input,
.campo select,
.campo textarea,
.campo input[required],
.campo textarea[required],
.campo select[required] {
  width: 100%;
  box-sizing: border-box;
  padding: 18px;
  color: var(--input-txt);
  background: var(--input-bg-empty);
  border: 1px solid var(--input-border);
  border-radius: 45px;
  transition: border 0.3s, box-shadow 0.3s, background-color 0.3s;
}
.campo textarea[required],
.campo textarea {
  border-radius: 15px;
}

.campo input[type="file"] {
  display: none;
}

.file-label {
  padding: 10px;
  background-color: var(--btn-principal);
  color: var(--txt-titulo-card);
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.campo input[type="checkbox"],
.campo input[type="radio"] {
  width: auto;
  margin-right: 10px;
}

.campo input:hover,
.campo select:hover,
.campo textarea:hover,
.campo input[required]:hover,
.campo textarea[required]:hover,
.campo select[required]:hover {
  box-shadow: var(--sombra-leve);
  border: 1px solid var(--btn-principal-destaque);
}

.campo ::placeholder {
  color: var(--input-placeholder);
}

.campo input:focus,
.campo select:focus,
.campo textarea:focus,
.campo input[required]:focus,
.campo textarea[required]:focus,
.campo select[required]:focus {
  outline: none;
  background: var(--input-bg-filled);
  box-shadow: var(--sombra-leve);
  border: 1px solid var(--btn-principal-destaque);
}

.campo input:focus::placeholder,
.campo select:focus::placeholder,
.campo textarea:focus::placeholder {
  color: var(--input-placeholder);
}

.campo input:valid,
.campo select:valid,
.campo textarea:valid {
  background: var(--input-bg-empty);
}

.form-2-colum {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7px;
}

.header-form .editar {
  color: var(--cor-p1);
  border-radius: 4px;
  padding: 5px;
  justify-self: end;
  margin-right: 40px;
}

.header-form .editar:hover {
  background: var(--card-hover);
}

label + .form-checkbox {
  position: relative;
  padding-left: 60px;
  cursor: pointer;
  display: inline-block;
  color: var(--txt-subtitulo);
}

label + .form-checkbox:before {
  content: "";
  position: absolute;
  left: 0;
  top: -2px;
  width: 52px;
  height: 26px;
  border-radius: 13px;
  background: var(--input-bg-empty);
  transition: background-color 0.2s;
}

label + .form-checkbox:checked:before {
  background: var(--cor-s2);
}

label + .form-checkbox:after {
  content: "";
  position: absolute;
  left: 2px;
  top: 0px;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  background: var(--input-icon);
  transition: left 0.2s;
  box-shadow: var(--sombra-leve);
}

label + .form-checkbox:checked:after {
  left: 27px;
}

.card-header .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form span {
  color: var(--erro);
  margin: 0.3125rem 0.625rem 0.3125rem 0;
}

.form-tipo {
  display: none;
}

.form-dataHora {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  width: 100%;
}

.form-anotacoes {
  display: flex;
}

.botoes {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  padding: 20px 0;
}

.botoes .btn-outline-principal,
.botoes .btn-principal {
  width: 30%;
  box-shadow: var(--sombra-leve);
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

/* Estilos para radio buttons */
.radio-button-group {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}
.radio-button-group input[type="radio"] {
  display: none;
}
.radio-button-group label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border: 2px solid var(--input-bg-filled);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  user-select: none;
  text-align: center;
  gap: 10px;
}
.radio-button-group .icon-container {
  display: flex;
  align-items: center;
}
.radio-button-group label img {
  max-width: 100%;
  max-height: 100%;
}
.radio-button-group input[type="radio"]:checked + label {
  background-color: var(--cor-s2);
  border: 2px solid var(--cor-s2);
  color: var(--txt-titulo-card);
}
.radio-button-group label:hover {
  background-color: var(--input-bg-empty);
  color: var(--txt-titulo-card);
}

/* Estilos para checkboxes */
.checkbox-button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}
.checkbox-button-group input[type="checkbox"] {
  display: none;
}
.checkbox-button-group label {
  padding: 10px 20px;
  border: 2px solid var(--input-bg-filled);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  user-select: none;
}
.checkbox-button-group input[type="checkbox"]:checked + label {
  background-color: var(--cor-s2);
  border: 2px solid var(--cor-s2);
  color: var(--txt-titulo-card);
}
.checkbox-button-group label:hover {
  background-color: var(--input-bg-empty);
  color: var(--txt-titulo-card);
}

/* Estilos para Validações */
.campo input[required].error,
.campo textarea[required].error,
.campo select[required].error {
  border-color: var(--input-error-border) !important;
}
.campo input.success,
.campo select.success,
.campo textarea.success,
.campo input[required].success,
.campo textarea[required].success,
.campo select[required].success {
  border: 1px solid transparent !important;
  background: var(--input-bg-filled) !important;
}
.card.error {
  border: 1px solid var(--card-error-border);
  background-color: var(--card-error-background);
}

.error-messages {
  border: 1px solid #e74c3c;
  background-color: #fbeee6;
  color: #e74c3c;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
}
.success-message {
  border: 1px solid #2ecc71;
  background-color: #eafaf1;
  color: #2ecc71;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
}
.error-messages p {
  margin: 0;
  font-size: 14px;
}

/* Responsivo */
@media only screen and (max-width: 900px) {
  .form {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-bottom: 20px;
    max-width: 100%;
    overflow-x: hidden;
  }
  .fieldset {
    display: grid;
    gap: 10px;
    border: none;
    margin: 0;
    padding: 10px 0 20px 0;
  }

  .botoes {
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    padding: 10px 0;
  }
  .botoes .btn-outline-principal,
  .botoes .btn-principal {
    width: auto;
    margin: 0px 10px 10px 10px;
    box-shadow: var(--sombra-leve);
  }
}
