/* Estilos para o formulário */

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  background: none;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-bottom: 15px;
}

.area-interna-containerContent-template-content {
  padding: 0 12px;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

legend {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  color: var(--txt-principal);
}

.campo {
  background: var(--form-background);
  padding: 10px;
  border-radius: 5px;
  gap: 5px;
}

.campo-invalido {
  border: 1px solid var(--erro);
}

.campo label {
  display: block;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 7px;
  color: var(--txt-subtitulo);
}

.campo input,
.campo select,
.campo textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  color: var(--txt-principal);
  background: var(--input-bg-empty);
  border: 1px solid var(--input-border);
  border-radius: 40px;
  transition: border 0.3s, box-shadow 0.3s, background-color 0.3s;
}
.campo textarea {
  border-radius: 15px;
}

.campo input[type="file"] {
  display: none;
}

.file-label {
  padding: 10px;
  background-color: var(--btn-principal);
  color: var(--txt-principal);
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.campo input[type="checkbox"],
.campo input[type="radio"] {
  width: auto;
  margin-right: 10px;
}

.campo input:hover,
.campo select:hover,
.campo textarea:hover {
  box-shadow: 0 0 4px var(--btn-principal-destaque);
  border: 1px solid var(--btn-principal-destaque);
}

.campo ::placeholder {
  color: var(--input-placeholder);
}

.campo input:focus,
.campo select:focus,
.campo textarea:focus {
  outline: none;
  background: var(--input-bg-filled);
  box-shadow: 0 0 4px var(--btn-principal-destaque);
  border: 1px solid var(--btn-principal-destaque);
}

.campo input:focus::placeholder,
.campo select:focus::placeholder,
.campo textarea:focus::placeholder {
  color: var(--input-placeholder);
}

.campo input:valid,
.campo select:valid,
.campo textarea:valid {
  background: var(--input-bg-empty);
}

.form-2-colum {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7px;
}

.header-form .editar {
  color: var(--cor-s1);
  border-radius: 4px;
  padding: 5px;
  justify-self: end;
  margin-right: 40px;
}

.header-form .editar:hover {
  background: var(--card-hover);
}

label + .form-checkbox {
  position: relative;
  padding-left: 60px;
  cursor: pointer;
  display: inline-block;
  color: var(--txt-subtitulo);
}

label + .form-checkbox:before {
  content: "";
  position: absolute;
  left: 0;
  top: -2px;
  width: 52px;
  height: 26px;
  border-radius: 13px;
  background: var(--card-fundo);
  transition: background 0.2s;
}

label + .form-checkbox:checked:before {
  background: var(--cor-s2);
}

label + .form-checkbox:after {
  content: "";
  position: absolute;
  left: 2px;
  top: 0px;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  background: var(--input-icon);
  transition: left 0.2s;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

label + .form-checkbox:checked:after {
  left: 27px;
}

.card-header .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form span {
  color: var(--erro);
  margin: 0.3125rem 0.625rem 0.3125rem 0;
}

.form-tipo {
  display: none;
}

.form-dataHora {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  width: 100%;
}

.form-anotacoes {
  display: flex;
}

.botoes {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  width: 100%;
  font-weight: 400;
  font-size: 12px;
}

.botoes .btn-outline-principal,
.botoes .btn-principal {
  width: 30%;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.session {
  transition: max-height 0.3s ease, opacity 0.3s ease;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}

.session.active {
  max-height: 5000px;
  opacity: 1;
  transition: max-height 0.8s ease, opacity 0.8s ease;
}

.area-template-sessao-int-header.active-header {
  font-size: 18px;
  font-weight: 600;
  color: var(--cor-s1);
}

.area-template-sessao-int-header a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: inherit;
}

.arrow {
  border: solid var(--cor-s1);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
  transition: transform 0.3s ease;
}

.arrow.down {
  transform: rotate(45deg);
}

.arrow.up {
  transform: rotate(-135deg);
}

.campo input.error,
.campo select.error,
.campo textarea.error {
  border-color: var(--input-error-border) !important;
}

.campo input.success,
.campo select.success,
.campo textarea.success {
  border-color: var(--input-success-border) !important;
}

.card.error {
  border: 1px solid var(--card-error-border);
  background-color: var(--card-error-background);
}

/* Responsivo */
@media only screen and (max-width: 900px) {
  .form {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-bottom: 20px;
    max-width: 100%;
    overflow-x: hidden;
  }
  .session.active {
    display: block;
    max-height: 5000px;
    opacity: 1;
  }
  .botoes {
    flex-direction: column;
    gap: 10px;
  }

  .botoes .btn-outline-principal,
  .botoes .btn-principal {
    width: auto;
    margin: 0px 10px 10px 10px;
  }
}

/* Estilos para radio buttons */
.radio-button-group {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}

.radio-button-group input[type="radio"] {
  display: none;
}

.radio-button-group label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border: 2px solid var(--input-bg-filled);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  user-select: none;
  text-align: center;
  gap: 10px;
}

.radio-button-group .icon-container {
  display: flex;
  align-items: center;
}

.radio-button-group label img {
  max-width: 100%;
  max-height: 100%;
}

.radio-button-group input[type="radio"]:checked + label {
  background-color: var(--cor-s2);
  border: 2px solid var(--cor-s2);
  color: var(--txt-principal);
}

.radio-button-group label:hover {
  background-color: var(--input-bg-empty);
  color: var(--txt-principal);
}

/* Estilos para checkboxes */
.checkbox-button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.checkbox-button-group input[type="checkbox"] {
  display: none;
}

.checkbox-button-group label {
  padding: 10px 20px;
  border: 2px solid var(--input-bg-filled);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  user-select: none;
}

.checkbox-button-group input[type="checkbox"]:checked + label {
  background-color: var(--cor-s2);
  border: 2px solid var(--cor-s2);
  color: var(--txt-principal);
}

.checkbox-button-group label:hover {
  background-color: var(--input-bg-empty);
  color: var(--txt-principal);
}
