/* Estilos CSS para o formulário */
.form {
  display: grid;
  gap: 0.625rem;
  padding: 0.625rem;
  border-radius: 9px;
  border: 1px solid #ce84ff0a;
  background: #000000;
}

fieldset {
  border-radius: 9px;
  padding: 0px;
  border: none;
  margin: 0px;
}
legend {
  text-align: center;
}
label {
  font-size: 12px;
  color: var(--cor-9);
  margin: 0.625rem 0.625rem 0.3125rem 0rem;
}
.campo {
  margin: 0px;
}

.campo-invalido {
  border: 1px solid red;
}
.campo label {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
}
.campo input,
.campo select,
.campo textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 0.9375rem;
  color: var(--cor-0);
  background: var(--cor-p4);
  border: 1px solid #ce84ff13;
  border-radius: 9px;
}
.campo input[type="checkbox"],
.campo input[type="radio"] {
  width: auto;
  margin: 0 10px 0 0;
}

label + .form-checkbox {
  width: 0;
  height: 0;
}
label + input.form-checkbox {
  position: relative;
  padding-left: 60px;
  cursor: pointer;
  display: inline-block;
  color: #666;
}

label + input.form-checkbox:before {
  content: "";
  position: absolute;
  left: 0;
  top: -16px;
  width: 52px;
  height: 26px;
  border-radius: 13px;
  background: var(--cor-p4);
  transition: background 0.2s;
}

label + input.form-checkbox:checked:before {
  background: #5526ad;
}

label + input.form-checkbox:after {
  content: "";
  position: absolute;
  left: 2px;
  top: -14px;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  background: white;
  transition: left 0.2s;
}

label + input.form-checkbox:checked:after {
  left: 28px;
}

form span {
  color: red;
  font-size: var(--titulo-s);
  margin: 0.3125rem 0.625rem 0.3125rem 0rem;
}
.form-tipo {
  display: none;
}
.form-dataHora {
  display: grid;
  grid-template: auto/auto auto;
  gap: 5px;
  width: 100%;
}
.form-anotacoes {
  display: flex;
}

.botoes {
  display: flex;
  justify-content: space-between;
  margin: 40px 0px 10px 0px;
}
.botoes button {
  width: 30%; /* Ocupa a largura total */
  border-radius: 9px;
  border: 1px solid #ce84ff0a;
}
.botoes button:hover {
  background-color: rgba(157, 157, 157, 0.7);
  color: var(--cor-12);
}

/* Responsivo */
@media (max-width: 820px) {
  .form {
    grid-template-columns: repeat(1, 1fr);
  }

  .botoes {
    flex-direction: column;
    gap: 0.625rem;
    margin: 1.875rem 0.625rem;
  }
  .botoes button {
    width: 100%;
    border-radius: 9px;
    border: 1px solid #ce84ff0a;
  }
}
