.fieldset-view {
  display: grid;
  gap: 10px;
}

.campo-view {
  display: grid;
  background: var(--card-fundo);
  padding: 10px;
  border-radius: 5px;
  gap: 5px;
}

.campo-view label {
  display: inline;
  font-size: 12px;
  font-weight: regular;
  color: var(--txt-secundario);
  padding: 0;
  margin: 0;
}
.campo-view input,
.campo-view select,
.campo-view textarea {
  margin: 0px;
  width: 100%;
  box-sizing: border-box;
  color: var(--txt-principal);
  background: transparent;
  border: none;
  font-weight: bold;
}
.campo-view select {
  padding: 0;
}
.campo-view input:focus,
.campo-view select:focus,
.campo-view textarea:focus {
  outline: none;
}
.campo-view input:focus,
.campo-view select:focus,
.campo-view textarea:focus {
  box-shadow: 0 0 1px #ffffff, 0 0 2px #ffffff, 0 0 3px #ffffff;
}

.fieldset-view .form-2-colum {
  display: grid;
  grid-template: auto/auto auto;
  width: 100%;
}

@media (max-width: 820px) {
  .campo-view {
    display: grid;
    background: var(--card-fundo);
    padding: 10px;
    border-radius: 5px;
    gap: 5px;
  }
}
