.body-form-view {
  padding: 1px;
  gap: 10px;
}

.header-form-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid var(--background-principal);
  border-radius: 25px;
  background: var(--fundo-container);
  border: 1px solid var(--divisor);
  padding: 0 20px;
}
.main-form-view {
  border-radius: 25px;
  border: 1px solid var(--input-border);
}
.main-form-view .area-container-template {
  box-shadow: none;
  background: none;
  max-height: 66vh;
  border-radius: 25px;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 25px;
  padding: 15px;
  box-sizing: border-box;
}

.acoes {
  display: flex;
  gap: 20px;
}
.acao-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border: 1px solid var(--divisor);
}

.card-info .campo-view {
  background: var(--card-fundo);
}
.card-info .campo-view p {
  color: var(--btn-secundario-hover);
}

.fieldset-view {
  display: grid;
  gap: 10px;
  border: none;
  margin: 0;
  padding: 0;
}

.campo-view {
  display: grid;
  background: var(--card-fundo);
  padding: 17px;
  border-radius: 40px;
  gap: 5px;
}

.campo-view h3 {
  display: inline;
  font-size: 12px;
  font-weight: regular;
  color: var(--txt-destaque);
  padding: 0;
  margin: 0;
}

.campo-view p,
.campo-view input,
.campo-view select,
.campo-view textarea {
  margin: 0px;
  width: 100%;
  box-sizing: border-box;
  color: var(--txt-subtitulo);
  background: transparent;
  border: none;
  font-weight: bold;
}

.campo-view textarea {
  border-radius: 15px;
}

.campo-view select {
  padding: 0;
}

.campo-view input:focus,
.campo-view select:focus,
.campo-view textarea:focus {
  outline: none;
  box-shadow: 0 0 1px #ffffff, 0 0 2px #ffffff, 0 0 3px #ffffff;
}

.fieldset-view .form-2-colum {
  display: grid;
  grid-template: auto / auto auto;
  width: 100%;
}

@media only screen and (max-width: 900px) {
  .body-form-view {
    padding: 1px;
    gap: 0;
  }

  .header-form-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid var(--background-principal);
    border-radius: 25px;
    background: var(--fundo-container);
    border: 1px solid var(--divisor);
    padding: 10px 10px 0px 10px;
  }
  .main-form-view {
    border: none;
  }
  .main-form-view .area-container-template {
    box-shadow: none;
    background: none;
    border: none;
    max-height: 67vh;
    border-radius: 25px;
  }

  .acao-item {
    width: 25px;
    height: 25px;
  }
}
