.form-view {
  background: none;
}

.fieldset-view {
  display: grid;
  gap: 10px;
  border: none;
  margin: 0;
  padding: 0;
}

.campo-view {
  display: grid;
  background: var(--modal-background);
  padding: 15px;
  border-radius: 5px;
  gap: 5px;
}

.campo-view label {
  display: inline;
  font-size: 12px;
  font-weight: regular;
  color: var(--cor-p2);
  padding: 0;
  margin: 0;
}

.campo-view input,
.campo-view select,
.campo-view textarea {
  margin: 0px;
  width: 100%;
  box-sizing: border-box;
  color: var(--txt-principal);
  background: transparent;
  border: none;
  font-weight: bold;
}

.campo-view select {
  padding: 0;
}

.campo-view input:focus,
.campo-view select:focus,
.campo-view textarea:focus {
  outline: none;
  box-shadow: 0 0 1px #ffffff, 0 0 2px #ffffff, 0 0 3px #ffffff;
}

.fieldset-view .form-2-colum {
  display: grid;
  grid-template: auto/auto auto; /* Corrigi o valor aqui pois o original não era válido */
  width: 100%;
}
