/* Marcadores Template*/
.marcadores-template {
  display: grid;
  gap: 10px;
  grid:
    "marcadores-template-header" 24px
    "marcadores-template-content" 1fr
    / 1fr;
}
.marcadores-template-header {
  grid-area: marcadores-template-header;
}
.marcadores-template-content {
  grid-area: marcadores-template-content;
}

.marcador-recuara-expandir.recuar {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  transition: width 0.5s ease-out 0.5s;
}
