/* Area Template padrão*/
.area-template {
  display: grid;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 0.9375rem;
  padding: 0.625rem;
  gap: 0.625rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  grid:
    "area-template-header" auto
    "area-template-content" auto
    / 1fr;
}
.area-template-header {
  grid-area: area-template-header;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-content: space-between;
  font-size: var(--titulo-l);
  padding: 0.625rem;
  text-align: left;
  color: var(--cor-9);
}

.area-template-content {
  grid-area: area-template-content;
  overflow-x: auto;
}

/* Area Template alternativa*/
.area-template-alt {
  display: grid;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 0.9375rem;
  padding: 0.625rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  grid:
    "area-template-alt-header" auto
    "area-template-alt-content" auto
    / 1fr;
}
.area-template-alt-header {
  grid-area: area-template-alt-header;
  font-size: var(--titulo-l);
  padding: 0.625rem;
  text-align: left;
  color: var(--cor-9);
}
.area-template-alt-content {
  grid-area: area-template-alt-content;
  overflow-x: auto;
}

/* Area Template dos filtros*/
.area-template-fil {
  display: grid;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 0.9375rem;
  padding: 0.625rem;
  gap: 0.625rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  grid:
    "area-template-fil-header" auto
    "area-template-fil-content" auto
    / 1fr;
}
.area-template-fil-header {
  grid-area: area-template-fil-header;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-content: space-between;
  font-size: var(--titulo-l);
  padding: 0.625rem;
  text-align: left;
  color: var(--cor-9);
}

.area-template-fil-content {
  grid-area: area-template-fil-content;
  gap: 0.625rem;
  overflow-x: auto;
}

/* Estilos */
.area-template-alt-content::-webkit-scrollbar {
  display: none; /* Oculta a barra de rolagem para navegadores WebKit (Chrome, Safari) */
}
/* RESPONSIVO */
@media (max-width: 800px) {
  /* Area Template padrão*/
  .area-template {
    padding: 0rem 0.625rem 0.625rem 0.625rem;
    gap: 0rem;
    box-shadow: none;
  }
  .area-template-header {
    grid-area: area-template-header;
    color: var(--cor-1);
    font-size: var(--titulo-l);
    margin-left: 0.625rem;
  }
  .area-template-content {
    grid-area: area-template-content;
    overflow-x: hidden;
    scrollbar-width: thick;
    height: 120px;
  }

  /* Area Template alternativa*/
  .area-template-alt {
    background: transparent !important;
    backdrop-filter: none !important;
    box-shadow: none !important;
  }
  .area-template-alt-header {
    color: var(--cor-8);
    font-size: var(--titulo-s);
  }

  /* Area Template dos filtros*/
  .area-template-fil {
    padding: 0rem 0.625rem 0.625rem 0.625rem;
    gap: 0rem;
    box-shadow: none;
  }
  .area-template-fil-header {
    grid-area: area-template-fil-header;
    color: var(--cor-1);
    font-size: var(--titulo-l);
    margin-left: 0.625rem;
  }
}
