.contatos-small-card-editar .btn-outline-principal {
  width: auto;
  font-weight: regular;
  font-size: 11px;
  border-radius: 25px;
  border: 1px solid var(--btn-principal-alt);
  letter-spacing: 0.5px;
  background: var(--btn-principal-alt);
  color: var(--txt-principal);
  justify-self: end;
}
.contatos-small-card-editar .btn-outline-principal:hover {
  border: 1px solid var(--btn-principal-alt-destaque);
  background: var(--btn-principal-alt-hover);
  color: var(--txt-principal);
  box-shadow: none;
}

/* Estilos para contaos na area de ANIVERSARIANTES */
.aniversario-small-card-editar .btn-outline-principal {
  width: auto;
  font-weight: regular;
  font-size: 11px;
  border-radius: 25px;
  border: 1px solid var(--btn-principal-alt);
  letter-spacing: 0.5px;
  background: var(--btn-principal-alt);
  color: var(--txt-principal);
  justify-self: end;
}
.aniversario-small-card-editar .btn-outline-principal:hover {
  border: 1px solid var(--btn-principal-alt-destaque);
  background: var(--btn-principal-alt-hover);
  color: var(--txt-principal);
  box-shadow: none;
}
