.contato-area-template-header {
  justify-content: start;
}

@media (max-width: 820px) {
  .list-contato .lista-vertical-template:last-child {
    border-radius: 0px;
    border-bottom: 1px solid #e6beff1f;
    margin-bottom: 55px;
  }
}
