/* Estilos para o botão do card aberto */
.contatos-small-card-editar .btn-outline-principal {
  width: auto;
  font-weight: 300;
  font-size: 11px;
  border-radius: 9px;
  border: 1px solid var(--btn-secundario);
  letter-spacing: 0.5px;
  background: var(--btn-secundario);
  color: var(--btn-secundario-txt);
  box-shadow: var(--sombra-moderada);
}
.contatos-small-card-editar .btn-outline-principal:hover {
  filter: brightness(1.1);
}
