#adicionarFilhoBtn {
  padding: 8px 16px;
  background-color: var(--cor-11);
  color: var(--cor-0);
  border: none;
  border-radius: 0.9375rem;
  cursor: pointer;
}

.campo:not(#camposFilhosContainer) {
  margin: 0.625rem;
}
.ocultar {
  display: none;
}

.area-form .area-abas-template-header {
  padding: 10px;
}
.area-form .area-abas-template-content {
  background: none;
}
