/* Estilos CSS para o formulário */
.body-form {
  background: linear-gradient(to right, var(--cor-6), var(--cor-5));
}

form {
  padding: 5px;
  border-bottom-left-radius: 0.9375rem;
  border-bottom-right-radius: 0.9375rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  font-size: var(--titulo-s);
  color: var(--cor-12);
}

form span {
  color: red;
  font-size: var(--titulo-s);
  margin: 0.3125rem 0.625rem 0.3125rem 0rem;
}

fieldset {
  border-radius: 0.9375rem;
  border: 1px solid var(--cor-12);
  margin-top: 0.625rem;
  background: var(--cor-0);
}

label {
  font-weight: bold;
  color: var(--cor-p6);
  margin: 0.625rem 0.625rem 0.3125rem 0rem;
}

.aba,
.aba-template {
  display: none;
}

.aba:first-of-type,
.aba-template.active {
  display: block;
}

.nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  justify-content: center;
}

.area-sub-content-template-header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  align-self: center;
  justify-self: center;
}

.nav a {
  font-size: 1rem;
  padding: 0.625rem;
  color: var(--cor-12);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav a:hover {
  background-color: rgba(157, 157, 157, 0.7);
}

.campo,
#campoWhatsapp,
#camposFilhos,
#camposConjuge,
#camposCargoComissionado {
  margin: 0.625rem 0.625rem 1.875rem 0.625rem;
}

.campo-invalido {
  border: 1px solid red;
}

.campo label {
  display: inline-block;
  margin: 0.625rem 1.25rem 0.3125rem 0rem;
  font-weight: bold;
}

.campo input,
.campo select {
  width: 100%;
  box-sizing: border-box;
  padding: 0.9375rem;
  margin: 0rem 0.625rem 0rem 0rem;
  border: 1px solid #ccc;
  border-radius: 0.9375rem;
}

.campo input[type="checkbox"],
.campo input[type="radio"] {
  width: auto;
}

.botoes {
  display: flex;
  justify-content: space-between;
  margin: 3.125rem;
}

.botoes button {
  width: 30%; /* Ocupa a largura total */
}

.botoes button:hover {
  background-color: rgba(157, 157, 157, 0.7);
  color: var(--cor-12);
}

#adicionarFilhoBtn {
  padding: 8px 16px;
  background-color: var(--cor-11);
  color: var(--cor-0);
  border: none;
  border-radius: 0.9375rem;
  cursor: pointer;
}

.campo:not(#camposFilhosContainer) {
  margin: 0.625rem;
}
.ocultar {
  display: none;
}

/* Responsivo */
@media only screen and (max-width: 767px) {
  .form {
    grid-template-columns: repeat(1, 1fr);
  }

  .nav a {
    padding: 0.625rem 1.25rem;
  }

  .botoes {
    flex-direction: column;
    gap: 0.625rem;
    margin: 1.875rem 0.625rem;
  }

  .botoes button {
    width: 100%; /* Ocupa a largura total */
  }

  #nav1.indicador,
  #nav2.indicador,
  #nav3.indicador {
    font-weight: bold;
    border-bottom: 5px solid var(--cor-12);
  }

  .nav li {
    border-radius: 0px;
  }
}
