/* Estilos para o botão do card */
.grupo-small-card-editar .btn-outline-principal {
  width: auto;
  font-weight: regular;
  font-size: 12px;
  border-radius: 9px;
  border: 1px solid transparent;
  letter-spacing: 0.5px;
  background: transparent;
  color: var(--btn-secundario);
  box-shadow: none;
  padding: 0px;
}
.grupo-small-card-editar .btn-outline-principal:hover {
  width: auto;
  font-weight: regular;
  font-size: 12px;
  border-radius: 9px;
  border: 1px solid transparent;
  letter-spacing: 0.5px;
  background: transparent;
  color: var(--btn-secundario);
  box-shadow: none;
  filter: brightness(1.1);
}
