/* Grid */
.main-gc-template {
  display: grid;
  align-content: center;
  justify-content: center;
  padding: 20px 10px;
  grid:
    "main-gc-section" 100%
    /1fr;
}
/* Áreas de grid */
.main-gc-section {
  grid-area: main-gc-section;
  text-align: center;
  display: grid;
  grid-auto-flow: row;
  align-content: start;
}

.main-gc .lista-vertical-alt,
.main-gc .lista-vertical-horizontal {
  gap: 5px;
}

/* RESPONSIVO */
@media only screen and (max-width: 900px) {
  .main-gc-template {
    display: grid;
    align-content: start;
    justify-content: center;
    padding: 10px 5px;
    grid:
      "main-gc-section" 100%
      / 1fr;
  }
  .main-gc-section {
    grid-area: main-gc-section;
  }
}
