/* Grid */
.main-gc-template {
  display: grid;
  align-content: center;
  justify-content: center;
  padding: 10px 5px;
  grid:
    "main-gc-section" 100%
    /1fr;
}
/* Áreas de grid */
.main-gc-section {
  grid-area: main-gc-section;
  text-align: center;
  display: grid;
  grid-auto-flow: row;
  align-content: start;
}

.main-gc .lista-vertical-alt,
.main-gc .lista-vertical-horizontal {
  gap: 5px;
}

.main-gc .container-template,
.main-gc .container-abas-template {
  background: none;
  box-shadow: none;
  max-height: 1vh - 15.3rem);
}

/* RESPONSIVO */
@media only screen and (max-width: 56.25rem) {
  .main-gc-template {
    display: grid;
    align-content: start;
    justify-content: center;
    padding: 10px 0px;
    grid:
      "main-gc-section" 100%
      / 1fr;
  }
  .main-gc-section {
    grid-area: main-gc-section;
  }

  .main-gc .container-template,
  .main-gc .container-abas-template {
    background: none;
    box-shadow: none;
    max-height: 1vh - 13.5rem);
  }
  .main-gc .container-abas-template-header {
    justify-content: center;
  }
  .main-gc .container-template-content,
  .main-gc .container-abas-template-content {
    background: none;
    box-shadow: none;
    border: none;
  }
}
