/* Grid */
.main-gc-template {
  display: grid;
  padding: 7px 5px;
  grid:
    "main-gc-section"
    /1fr;
}
/* Áreas de grid */
.main-gc-section {
  grid-area: main-gc-section;
  text-align: center;
  display: grid;
  grid-auto-flow: row;
  align-content: start;
  overflow: auto;
}

.main-gc .lista-vertical-alt,
.main-gc .lista-vertical-horizontal {
  gap: 5px;
}

.main-gc .area-interna-containerContent-template {
  background: none;
  box-shadow: none;
  max-height: calc(var(--vh, 1vh) * 100 - 17.3rem) !important;
  transition: max-height 0.3s ease-in-out;
}
.container-abas-template {
  box-shadow: none;
  border-radius: 23px;
}
.main-gc .container-template-content,
.main-gc .container-abas-template-content {
  border-radius: 0px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
}

/* RESPONSIVO */
@media only screen and (max-width: 56.25rem) {
  .main-gc-template {
    display: grid;
    padding: 5px 0px;
    grid:
      "main-gc-section"
      / 1fr;
  }
  .main-gc-section {
    grid-area: main-gc-section;
  }

  .main-gc .area-interna-containerContent-template {
    background: none;
    box-shadow: none;
    max-height: calc(var(--vh, 1vh) * 100 - 16rem) !important;
  }
  .main-gc .container-abas-template-header {
    justify-content: center;
    background: var(--container-bg);
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
  }
}
