/* Container Template dos filtros*/
.container-filtros-template {
  display: grid;
  box-sizing: border-box;
  overflow-x: hidden;
  align-content: start;
  border-radius: 25px;
  max-height: calc(var(--vh, 1vh) * 100 - 5rem);
  box-shadow: var(--sombra-moderada);
  grid:
    "container-filtros-template-header" auto
    "container-filtros-template-content" auto
    / 1fr;
  z-index: 2003; /* Certifique-se de que o modal tenha um z-index mais alto */
}
.container-filtros-template-header {
  grid-area: container-filtros-template-header;
  display: grid;
  align-items: center;
  justify-items: space-between;
  color: var(--txt-titulo);
  background: var(--container-bg);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 5px;
  font-weight: 400;
}
.container-filtros-template-content {
  grid-area: container-filtros-template-content;
  overflow-x: hidden;
  background: transparent;
  height: auto;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background: var(--container-bg);
  border-top: 1px solid var(--bg-principal);
  padding: 12px;
}

/* Container Template da Agenda para hoje*/
.container-compromisso-hoje-template {
  display: grid;
  box-sizing: border-box;
  overflow-x: hidden;
  align-content: start;
  border-radius: 25px;
  max-height: calc(var(--vh, 1vh) * 100 - 5rem);
  box-shadow: var(--sombra-moderada);
  grid:
    "container-compromisso-hoje-template-header" auto
    "container-compromisso-hoje-template-content" auto
    / 1fr;
}
.container-compromisso-hoje-template-header {
  grid-area: container-compromisso-hoje-template-header;
  display: grid;
  align-items: center;
  justify-items: space-between;
  color: var(--txt-titulo);
  background: var(--container-bg);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 5px;
  font-weight: 400;
}
.container-compromisso-hoje-template-content {
  grid-area: container-compromisso-hoje-template-content;
  overflow-x: hidden;
  background: var(--container-bg);
  height: auto;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top: 1px solid var(--bg-principal);
  padding: 20px 0px 0px 0px;
}

/* Estilos */
.container-filtros-template::-webkit-scrollbar,
.container-filtros-template-content::-webkit-scrollbar,
.container-compromisso-hoje-template::-webkit-scrollbar,
.container-template-content::-webkit-scrollbar,
.container-compromisso-hoje-template-content::-webkit-scrollbar {
  display: none; /* Oculta a barra de rolagem para navegadores WebKit (Chrome, Safari) */
}

/* Arredonda o primeiro item da lista */
.container-filtros-template-content .lista-vertical-fil > li:first-child,
.container-filtros-template-content
  .lista-vertical-fil
  > li:first-child
  .filtro-multi-select-card-header {
  border-top-left-radius: 23px !important;
  border-top-right-radius: 23px !important;
}

/* Arredonda o último item da lista */
.container-filtros-template-content .lista-vertical-fil > li:last-child,
.container-filtros-template-content
  .lista-vertical-fil
  > li:last-child
  .filtro-multi-select-card-header {
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
}

.container-compromisso-hoje-template .lista-vertical-fil {
  gap: 15px 0px;
}

/* RESPONSIVO */
@media only screen and (max-width: 56.25rem) {
  /* Container Template dos filtros*/
  .container-filtros-template {
    padding: 0;
    border-radius: 25px;
    overflow: hidden;
  }
  .container-filtros-template-header {
    grid-area: container-filtros-template-header;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-content: space-between;
    font-size: var(--font-xs);
    font-weight: 400;
    text-align: left;
    color: var(--txt-conteudo-card);
    color: transparent;
    font-size: 0px;
    padding: 5px 5px 5px 10px;
    box-shadow: none;
    background: none;
    font-weight: 300;
  }
  .container-filtros-template-content {
    grid-area: container-filtros-template-content;
    max-height: 0px;
    overflow: auto;
    box-shadow: none;
    background: none;
    padding: 12px;
  }

  /* Container Template da Agenda para hoje*/
  .container-compromisso-hoje-template {
    padding: 0;
    border-radius: 25px;
    overflow: hidden;
    /*z-index: 2003;*/
  }
  .container-compromisso-hoje-template-header {
    grid-area: container-compromisso-hoje-template-header;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-content: space-between;
    font-size: var(--font-xs);
    font-weight: 400;
    text-align: left;
    color: var(--txt-conteudo-card);
    color: transparent;
    font-size: 0px;
    padding: 5px 5px 5px 10px;
    box-shadow: none;
    background: none;
    font-weight: 300;
  }
  .container-compromisso-hoje-template-content {
    grid-area: container-compromisso-hoje-template-content;
    max-height: 0px;
    overflow: auto;
    box-shadow: none;
    background: none;
    padding: 10px 0px;
  }

  .container-filtros-template::-webkit-scrollbar,
  .container-filtros-template-content::-webkit-scrollbar,
  .container-template-content::-webkit-scrollbar,
  .container-compromisso-hoje-template::-webkit-scrollbar,
  .container-compromisso-hoje-template-content::-webkit-scrollbar {
    display: none; /* Oculta a barra de rolagem para navegadores WebKit (Chrome, Safari) */
  }

  .container-filtros-template-content,
  .container-compromisso-hoje-template-content {
    display: none;
  }
}
