/* header-financeiro TEMPLATE */
.header-financeiro-template {
  display: grid;
  align-items: center;
  text-transform: lowercase;
  grid: "header-financeiro-back header-financeiro-nav header-financeiro-logout" 45px;
}

/* Áreas de grid */
.header-financeiro-back {
  grid-area: header-financeiro-back;
  justify-self: start;
  justify-self: start;
  margin: 0;
  padding: 0;
  border-radius: 50%;
}
.header-financeiro-nav {
  grid-area: header-financeiro-nav;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.header-financeiro-logout {
  grid-area: header-financeiro-logout;
  justify-self: end;
}

/* Ajustando o botão circular */
.header-financeiro-back a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
}
/* Ícone dentro do botão */
.header-financeiro-back a img {
  width: 18px;
  height: 18px;
}

.header-financeiro-back:active {
  transform: translateY(2px) scale(0.98);
}

.header-financeiro-back .voltar {
  justify-self: start;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  position: relative;
  top: 0;
  left: 0;
}

/*---------------------------------------------*/

/* header-financeiro-nav TEMPLATE */
/* Nav */
.header-financeiro-nav-template {
  display: grid;
  grid: "dashboard contas-corrente receitas despesas"/ 1fr 1fr 1fr 1fr;
}
.dashboard {
  grid-area: dashboard;
}
.contas-corrente {
  grid-area: contas-corrente;
}
.receitas {
  grid-area: receitas;
}
.despesas {
  grid-area: despesas;
}

/* Estilos para a lista de navegação */
.header-financeiro-nav-template li {
  align-self: center;
  justify-self: center;
  color: var(--txt-nav);
}
.header-financeiro-nav-template li:active p,
.header-financeiro-nav-template li:active img {
  transform: translateY(2px) scale(0.98);
}
.header-financeiro-nav-template a {
  padding: 0.625rem;
  border-radius: 25px;
  display: flex;
  transition: 0.15s;
  border: 1px solid transparent;
  size: 15px;
  font-weight: 500;
  position: relative;
  text-decoration: none;
  color: inherit;
}
.header-financeiro-nav-template a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--txt-nav);
  position: absolute;
  bottom: -2px;
  left: 0;
  transition: width 0.3s ease-in-out;
}
.header-financeiro-nav-template a:hover {
  filter: var(--hover);
}
.header-financeiro-nav-template a:hover::after {
  width: 100%;
}
.header-financeiro-nav-template img {
  width: auto;
  height: auto;
  margin-right: 0.625em;
}

.header-financeiro-logout .btn-principal {
  padding: 5px 15px;
}

/* Indicador */
.header-financeiro-template .indicador a {
  color: var(--txt-nav-selecionado);
}
.header-financeiro-template .indicador a::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--txt-nav-selecionado);
}
.header-financeiro-template .indicador p {
  color: var(--txt-nav-selecionado);
}

/* RESPONSIVO */
@media only screen and (max-width: 56.25rem) {
  .header-financeiro-template {
    justify-content: stretch;
  }

  .header-financeiro-nav-template p {
    display: none;
  }
  .header-financeiro-nav-template img {
    width: 32px;
    height: 27px;
    margin: 0 auto;
  }
  .header-financeiro-template .indicador {
    border-radius: 50%;
    background-color: transparent;
  }
  .header-financeiro-nav-template a {
    border-radius: 50%;
  }
  .header-financeiro-nav-template a:hover {
    padding: auto;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 1px solid transparent;
    text-decoration: none;
    background: none;
    filter: none;
  }
  .header-financeiro-nav-template a:hover img {
    background: transparent;
  }
  .header-financeiro-logout .btn-principal {
    padding: 5px 7px;
  }
}
