/* Estilos para o botão do card aberto */
.organograma-medium-card-editar .btn-outline-principal,
.organograma-large-card-editar .btn-outline-principal {
  width: auto;
  overflow: auto;
  font-weight: 400;
  font-size: var(--font-xs);
  border-radius: 6px;
  border: 1px solid var(--btn-secundario);
  letter-spacing: 0.5px;
  color: var(--btn-secundario-txt);
  box-shadow: var(--sombra-moderada);
}
.organograma-medium-card-editar .btn-outline-principal:hover,
.organograma-large-card-editar .btn-outline-principal:hover {
  filter: var(--hover);
  background: var(--btn-secundario-hover);
}

.organograma-medium-card-editar .btn-outline-principal:active,
.organograma-large-card-editar .btn-outline-principal:active {
  transform: translateY(1px) scale(0.98);
  box-shadow: var(--sombra-leve);
  filter: var(--active);
}

#listaOrganogramasLarge > li > div {
  border-radius: 12px;
}
#listaOrganogramasLarge {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 10px;
}
@media (max-width: 768px) {
  #listaOrganogramasLarge {
    grid-template-columns: 1fr;
  }
}

/*#listaOrganogramasLarge > li:first-child > div {
  border-top-left-radius: 23px; 
}

#listaOrganogramasLarge > li:nth-child(2) > div {
  border-top-right-radius: 23px; 
}

#listaOrganogramasLarge > li:nth-last-child(2) > div {
  border-bottom-left-radius: 23px; 
}

#listaOrganogramasLarge > li:last-child > div {
  border-bottom-right-radius: 23px;
}*/
