/* Botões */
.btn-filled {
  padding: 0.75rem;
  background-color: var(--cor-12);
  color: var(--cor-0);
  font-size: small;
  border-radius: 0.9375rem;
  display: flex;
  text-align: justify;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.btn-leaked {
  padding: 0.75rem;
  background-color: rgba(0, 0, 0, 0);
  color: var(--cor-12);
  font-size: small;
  border: 1px solid var(--cor-12);
  border-radius: 0.9375rem;
  display: flex;
  text-align: justify;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn-filter-leaked {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.625rem;
  color: var(--cor-1);
  background: var(--cor-p7);
  border-radius: 0.625rem;
  border: 1px solid var(--cor-8);
  box-shadow: none;
  cursor: pointer;
}

@media (max-width: 800px) {
  .btn-filter-leaked {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.625rem;
    color: var(--cor-1);
    background: var(--cor-p7);
    border-radius: 0.625rem;
    border: 1px solid var(--cor-8);
    box-shadow: none;
  }
}
