/* Listas Cards */
.lista-vertical-template {
  display: grid;
  grid-auto-flow: row;
  border-radius: 0.625rem;
  gap: 18px;
  scrollbar-width: thick;
}
.lista-vertical-template-alt {
  display: grid;
  grid-auto-flow: row;
  background: transparent;
  border-radius: 0.625rem;
  gap: 2px;
  scrollbar-width: thick;
}
.lista-vertical-template-fil {
  display: grid;
  grid-auto-flow: row;
  background: transparent;
  border-radius: 0.625rem;
  gap: 5px;
  scrollbar-width: thick;
}

.lista-vertical-2-template {
  display: grid;
  gap: 3px;
  grid-template: auto / 1fr 1fr;
  scrollbar-width: thick;
}

.lista-vertical-3-template {
  display: grid;
  gap: 3px;
  grid-template: auto / 1fr 1fr 1fr;
  scrollbar-width: thick;
}

.lista-vertical-horizontal {
  display: grid;
  grid-template: auto / auto auto;
  gap: 3px;
  scrollbar-width: thick;
}

.lista-horizontal-template {
  display: grid;
  grid-auto-flow: column;
  gap: 5px;
  white-space: nowrap;
  overflow-x: auto;
  scrollbar-width: thick;
}

.lista-select {
  display: grid;
  background: transparent;
  scrollbar-width: thick;
  gap: 2px;
  grid:
    "item1 item2" auto
    "item3 item3" auto;
}
.lista-select .item1 {
  grid-area: item1;
}
.lista-select .item2 {
  grid-area: item2;
}
.lista-select .item3 {
  grid-area: item3;
}

/* Estilos */
/* Estilos para cards dentro da lista */
/* Reset de borda para todos os cards dentro da lista */
.lista-select .card-select-m {
  border-radius: 0;
}
/* Adiciona borda arredondada nos cantos esquerdos e direitos do primeiro e último cards dentro da lista */
.lista-select li:first-child .card-select-m {
  border-top-left-radius: 0.625rem;
}
.lista-select li:nth-child(2) .card-select-m {
  border-top-right-radius: 0.625rem;
}
.lista-select li:last-child .card-select-m {
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
}
.lista-vertical-template-alt li:first-child .card-s {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}
.lista-vertical-template-alt li:last-child .card-s {
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

/* RESPONSIVO */
@media (max-width: 820px) {
  .lista-vertical-2-template {
    display: grid;
    gap: 3px;
    grid-template: auto / 1fr;
    scrollbar-width: thick;
  }

  .lista-vertical-3-template {
    grid-template: auto / 1fr 1fr;
  }

  .lista-vertical-horizontal {
    display: grid;
    width: 100%;
    grid-auto-flow: column;
    white-space: nowrap;
    overflow-x: auto;
    scrollbar-width: thick;
  }

  .lista-horizontal-template.desativar-responsivo {
    display: grid;
    align-items: center;
    gap: 5px;
    grid-template: 1fr 1fr / auto;
    scrollbar-width: thick;
  }

  .lista-vertical-template::-webkit-scrollbar,
  .lista-vertical-3-template::-webkit-scrollbar,
  .lista-horizontal-template::-webkit-scrollbar,
  .lista-vertical-template-alt::-webkit-scrollbar,
  .lista-vertical-horizontal::-webkit-scrollbar {
    display: none; /* Oculta a barra de rolagem para navegadores WebKit (Chrome, Safari) */
  }

  .lista-vertical-template,
  .lista-vertical-3-template,
  .lista-horizontal-template,
  .lista-vertical-template-alt,
  .lista-vertical-horizontal {
    scrollbar-width: none;
  }
}
