/* Listas Cards */
.lista-vertical {
  display: grid;
  grid-auto-flow: row;
  gap: 30px;
  scrollbar-width: thick;
}
.lista-vertical-alt {
  display: grid;
  grid-auto-flow: row;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 25px;
  scrollbar-width: thick;
  gap: 15px;
}
.lista-vertical-cards {
  display: grid;
  grid-auto-flow: row;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 25px;
  gap: 0px;
  scrollbar-width: thick;
}
.lista-vertical-fil {
  display: grid;
  grid-auto-flow: row;
  background: transparent;
  gap: 10px 0px;
  scrollbar-width: thick;
}
.lista-vertical-2 {
  display: grid;
  gap: 3px;
  grid-template: auto / 1fr 1fr;
  scrollbar-width: thick;
}
.lista-vertical-3 {
  display: grid;
  gap: 3px;
  grid-template: auto / 1fr 1fr 1fr;
  scrollbar-width: thick;
}

.lista-vertical-horizontal {
  display: grid;
  grid-template: auto / auto auto;
  gap: 3px;
  scrollbar-width: thick;
}

.lista-horizontal {
  display: grid;
  grid-auto-flow: column;
  gap: 3px;
  white-space: nowrap;
  overflow-x: auto;
  scrollbar-width: thick;
}

.lista-select {
  display: grid;
  background: transparent;
  scrollbar-width: thick;
  gap: 3px;
  grid:
    "item1 item2"
    "item3 item3";
}
.lista-select .item1 {
  grid-area: item1;
}
.lista-select .item2 {
  grid-area: item2;
}
.lista-select .item3 {
  grid-area: item3;
  overflow-x: auto;
}

/* Estilos */
/* Estilos para cards dentro da lista */
.lista-vertical-cards > li:first-child a {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.lista-vertical-cards > li:last-child a {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.lista-horizontal > li:first-child a {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.lista-horizontal > li:last-child a {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* Reset de borda para todos os cards dentro da lista */
.lista-select .card-select-m {
  border-radius: 0;
}
/* Adiciona borda arredondada nos cantos esquerdos e direitos do primeiro e último cards dentro da lista */
.lista-select li:first-child .card-select-m {
  border-top-left-radius: 12px;
}
.lista-select li:nth-child(2) .card-select-m {
  border-top-right-radius: 12px;
}
.lista-select li:last-child .card-select-m {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.item3 input {
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
  margin: 0;
}

/* Estilos para os primeiros cards de cada lista */

/* RESPONSIVO */
@media only screen and (max-width: 900px) {
  .lista-vertical-fil {
    gap: 20px 0px;
  }

  .lista-vertical-2 {
    display: grid;
    gap: 3px;
    grid-template: auto / 1fr;
    scrollbar-width: thick;
  }

  .lista-vertical-3 {
    grid-template: auto / 1fr 1fr;
  }

  .lista-vertical-horizontal {
    display: grid;
    width: 100%;
    grid-auto-flow: column;
    white-space: nowrap;
    overflow-x: auto;
    scrollbar-width: thick;
  }

  .lista-horizontal.expandir {
    display: grid;
    align-items: center;
    gap: 3px;
    grid-template: 1fr 1fr / auto;
    scrollbar-width: thick;
  }
  .lista-horizontal.expandir > li:first-child a {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 0;
  }
  .lista-horizontal.expandir > li:last-child a {
    border-top-right-radius: 0;
    border-bottom-right-radius: 20px;
  }

  .lista-vertical::-webkit-scrollbar,
  .lista-vertical-3::-webkit-scrollbar,
  .lista-horizontal::-webkit-scrollbar,
  .lista-vertical-alt::-webkit-scrollbar,
  .lista-vertical-horizontal::-webkit-scrollbar {
    display: none;
  }

  .lista-vertical,
  .lista-vertical-3,
  .lista-horizontal,
  .lista-vertical-alt,
  .lista-vertical-horizontal {
    scrollbar-width: none;
  }

  .list-last-child {
    border-radius: 2px;
    border-bottom: 1px solid #28385396;
    margin-bottom: 65px;
  }
}
