/* Listas Cards */
.lista-vertical {
  display: grid;
  grid-auto-flow: row;

  gap: 18px;
  scrollbar-width: thick;
}
.lista-vertical-alt {
  display: grid;
  grid-auto-flow: row;
  background: transparent;

  gap: 4px;
  scrollbar-width: thick;
}
.lista-vertical-fil {
  display: grid;
  grid-auto-flow: row;
  background: transparent;

  gap: 10px;
  scrollbar-width: thick;
}

.lista-vertical-2 {
  display: grid;
  gap: 3px;
  grid-template: auto / 1fr 1fr;
  scrollbar-width: thick;
}

.lista-vertical-3 {
  display: grid;
  gap: 3px;
  grid-template: auto / 1fr 1fr 1fr;
  scrollbar-width: thick;
}

.lista-vertical-horizontal {
  display: grid;
  grid-template: auto / auto auto;
  gap: 3px;
  scrollbar-width: thick;
}

.lista-horizontal {
  display: grid;
  grid-auto-flow: column;
  gap: 5px;
  white-space: nowrap;
  overflow-x: auto;
  scrollbar-width: thick;
}

.lista-select {
  display: grid;
  background: transparent;
  scrollbar-width: thick;
  gap: 2px;
  grid:
    "item1 item2"
    "item3 item3";
}
.lista-select .item1 {
  grid-area: item1;
}
.lista-select .item2 {
  grid-area: item2;
}
.lista-select .item3 {
  grid-area: item3;
  overflow-x: auto;
}

/* Estilos */
/* Estilos para cards dentro da lista */
/* Reset de borda para todos os cards dentro da lista */
.lista-select .card-select-m {
  border-radius: 0;
}
/* Adiciona borda arredondada nos cantos esquerdos e direitos do primeiro e último cards dentro da lista */
.lista-select li:first-child .card-select-m {
  border-top-left-radius: 5px;
}
.lista-select li:nth-child(2) .card-select-m {
  border-top-right-radius: 5px;
}
.lista-select li:last-child .card-select-m {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.item3 input {
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
  margin: 0;
}
/* RESPONSIVO */
@media (max-width: 820px) {
  .lista-vertical-2 {
    display: grid;
    gap: 3px;
    grid-template: auto / 1fr;
    scrollbar-width: thick;
  }

  .lista-vertical-3 {
    grid-template: auto / 1fr 1fr;
  }

  .lista-vertical-horizontal {
    display: grid;
    width: 100%;
    grid-auto-flow: column;
    white-space: nowrap;
    overflow-x: auto;
    scrollbar-width: thick;
  }

  .lista-horizontal.desativar-responsivo {
    display: grid;
    align-items: center;
    gap: 5px;
    grid-template: 1fr 1fr / auto;
    scrollbar-width: thick;
  }

  .main-sidenav .lista-vertical-2 {
    gap: 7px;
  }
  .main-sidenav .area-template-fil-content {
    gap: 10px;
  }

  .lista-vertical::-webkit-scrollbar,
  .lista-vertical-3::-webkit-scrollbar,
  .lista-horizontal::-webkit-scrollbar,
  .lista-vertical-alt::-webkit-scrollbar,
  .lista-vertical-horizontal::-webkit-scrollbar {
    display: none; /* Oculta a barra de rolagem para navegadores WebKit (Chrome, Safari) */
  }

  .lista-vertical,
  .lista-vertical-3,
  .lista-horizontal,
  .lista-vertical-alt,
  .lista-vertical-horizontal {
    scrollbar-width: none;
  }

  .list-last-child {
    border-radius: 2px;
    border-bottom: 1px solid #28385396;
    margin-bottom: 55px;
  }
}
