/* Marcadores Tamahos */
/* Pequeno */
.marcador-s {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.1);
  align-content: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 25px 10px 10px 25px;
  padding: 10px;
  font-size: var(--font-xs);
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  scrollbar-width: thick;
  color: var(--marcador-txt);
  box-shadow: var(--sombra-leve);
}

/* Médio */
.marcador-m {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.1);
  align-content: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 25px 10px 10px 25px;
  padding: 10px 12px;
  font-size: var(--font-xs);
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  scrollbar-width: thick;
  color: var(--marcador-txt);
  box-shadow: var(--sombra-leve);
}

/* Grande */
.marcador-l {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.1);
  align-content: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 25px 10px 10px 25px;
  padding: 12px;
  font-size: var(--font-xs);
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  scrollbar-width: thick;
  color: var(--marcador-txt);
  box-shadow: var(--sombra-leve);
}
/* Quando o marcador for item de um elemento e precisar de tamaho fixo */
.marcador-item {
  display: flex;
  border: 1px solid transparent;
  align-content: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 25px 10px 10px 25px;
  box-shadow: var(--sombra-leve);
  padding: 5px 12px;
  width: 115px;
  font-size: var(--font-xs);
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  scrollbar-width: thick;
  color: var(--marcador-txt);
}

.marcador-s:hover,
.marcador-m:hover,
.marcador-l:hover {
  filter: var(--hover);
}
