/* Estilo para mostrar o conteúdo quando a área está recuada */
.recuar-expandir-vertical.recuar {
  position: relative;
  height: auto;
  overflow-x: auto;
  border-radius: 0.9375rem;
  transition: 1s;
}

.recuar-expandir-horizontal.recuar {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  transition: 1s;
}

/* Estilo do botão */
.btn-recuar-expandir {
  font-size: var(--font-light);
  color: var(--cor-3);
  background-color: transparent;
  padding: 0rem 0.625rem;
  cursor: pointer;
  border: none;
  transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
  border: 2px solid transparent;
}
.btn-recuar-expandir:hover {
  /* Altera a cor do texto e adiciona uma borda ao passar o mouse */
  color: var(--cor-8);
  border-color: var(--cor-7);
}
.btn-recuar-expandir:active {
  /* Adiciona um efeito "acessado" ao clicar no botão */
  background-color: darken(var(--cor-7), 10%);
  color: var(--cor-9);
  border-color: var(--cor-9);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
