/* Estilo para o ícone de exclusão e de adição */
.icone-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icone-excluir,
.icone-editar,
.icone-adicionar {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/* Efeito de hover nos ícones de exclusão e adição */
.icone-excluir:hover,
.icone-editar:hover,
.icone-adicionar:hover {
  transform: scale(1.2);
  border-radius: 25%;
}

.icone-excluir:active,
.icone-editar:active,
.icone-adicionar:active {
  opacity: 0.6;
}

/* Estilo da tabela */
.titulo-area-tabela {
  margin: 10px 0px;
  font-weight: 500;
  color: var(--txt-subtitulo);
  position: relative;
  padding-left: 6px;
}

.titulo-area-tabela::before {
  content: "";
  position: absolute;
  left: -2px;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: var(--card-detalhe);
  border-radius: 8px;
}

.contador-itens-tabela {
  margin: 10px;
  font-weight: 200;
  color: var(--txt-subtitulo);
  transition: transform 0.3s ease-in-out;
}

/* Contadores de itens (para contatos ou participantes) */
#contadorItens,
#contadorArquivos {
  margin: 0px 10px;
  font-weight: 200;
  color: var(--txt-subtitulo);
  transition: transform 0.3s ease-in-out;
}

/* Animação de fade-in para itens adicionados */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.table-row-fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

/* Animação de fade-out e encolhimento para itens removidos */
@keyframes fadeOutShrink {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
    height: 0;
  }
}

.table-row-fade-out {
  animation: fadeOutShrink 0.5s forwards;
}

/* Efeito de destaque ao adicionar um contato */
.table-row-highlight {
  background-color: #e0f7fa;
  box-shadow: 0px 0px 10px rgba(0, 123, 255, 0.2);
  transition: background-color 1s ease-in-out;
}

/* Efeito de desaparecimento suave do destaque */
.table-row-fade-out-highlight {
  background-color: white;
  box-shadow: none;
}

/* Animação de pulsação para o contador */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* Aplicando a animação de pulsação ao contador */
.contador-pulse {
  animation: pulse 0.3s ease-in-out;
}

/* Estilo para feedback visual ao adicionar um item */
.btn-principal-alt.btn-feedback {
  box-shadow: var(--sombra-card-aberto);
}

/* Estilo da tabela de histórico */
.tabela-historico {
  width: auto;
  background: none;
  border-radius: 25px;
  padding: 0px 10px;
  max-height: 300px;
  overflow-y: auto;
}

.tabela-historico table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 5px;
}

.tabela-historico thead th {
  position: sticky;
  top: 0;
  background-color: var(--card-aberto-bg);
  z-index: 2;
}

.tabela-historico th,
.tabela-historico td {
  padding: 8px;
  text-align: center;
  color: var(--txt-conteudo-card);
  border-bottom: none;
}

/* Arredondamento nas células de canto */
.tabela-historico tr,
.tabela-historico tr td:nth-child(2) {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.tabela-historico tr,
.tabela-historico tr td:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.tabela-historico th:nth-child(2) {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 5px;
}
.tabela-historico th:last-child {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 5px;
}

.tabela-historico th {
  background: var(--card-aberto-bg);
  color: var(--txt-conteudo-card);
}

.tabela-historico tr {
  margin-bottom: 10px;
  overflow: hidden;
  box-shadow: var(--sombra-moderada);
  cursor: pointer;
}

.tabela-historico tr:last-child {
  margin-bottom: 0;
}

/* Cor de fundo no hover */
.tabela-historico tr:hover {
  background-color: var(--card-hover) !important;
  transform: translateY(-1px);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.tabela-historico tbody tr:nth-child(odd) {
  background-color: var(--barra-pesquisa-bg);
}

.tabela-historico tbody tr:nth-child(even) {
  background-color: var(--container-bg);
}

.hidden-column {
  display: none;
}

/* Estilos responsivos */
@media only screen and (max-width: 56.25rem) {
  .tabela-historico {
    padding: 5px;
  }

  /* Ajustes para o modo responsivo */
  .tabela-historico table,
  .tabela-historico thead,
  .tabela-historico tbody,
  .tabela-historico th,
  .tabela-historico td,
  .tabela-historico tr {
    display: block;
  }

  .tabela-historico tr {
    margin-bottom: 5px;
    border-radius: 7px;
    border: 1px solid transparent;
    overflow: hidden;
    box-shadow: var(--sombra-moderada);
  }

  /* Aplicamos o border-radius de 25px ao primeiro filho */
  .tabela-historico tr:first-child {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }

  /* Aplicamos o border-radius de 25px ao último filho */
  .tabela-historico tr:last-child {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }

  .tabela-historico td {
    border: none;
    padding: 10px;
    position: relative;
    text-align: left;
  }

  .tabela-historico td:before {
    content: attr(data-label);
    position: absolute;
    left: 10px;
    font-weight: bold;
    color: var(--txt-conteudo-card);
  }

  .tabela-historico th {
    display: none;
    background: none;
  }

  tr .hidden-column {
    display: none;
  }

  .icone-container {
    justify-content: flex-end;
    padding: 10px 20px;
  }

  .tabela-historico tbody tr:first-child {
    background-color: transparent;
    margin-bottom: 0px;
  }
}
