/* CARDS EVENTOS */
/* Pequeno */
.eventos-small-card {
  display: grid;
  align-items: center;
  justify-items: start;
  height: 45px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  grid:
    "eventos-small-card-title eventos-small-card-title . eventos-small-card-tag " 1fr
    "eventos-small-card-inicio eventos-small-card-fim . eventos-small-card-tag" 0.5fr
    / 50px 50px 1fr 1fr;
}
.eventos-small-card-title {
  grid-area: eventos-small-card-title;
  font-size: var(--titulo-xs);
}
.eventos-small-card-inicio {
  grid-area: eventos-small-card-inicio;
  font-size: var(--font-light);
}
.eventos-small-card-fim {
  grid-area: eventos-small-card-fim;
  font-size: var(--font-light);
}
.eventos-small-card-tag {
  grid-area: eventos-small-card-tag;
  font-size: var(--font-padrao);
}

/* Médio */
.eventos-medium-card {
  display: grid;
  align-items: center;
  justify-items: center;
  min-height: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  grid:
    "eventos-medium-card-title eventos-medium-card-title eventos-medium-card-tag eventos-medium-card-tag" 1fr
    "eventos-medium-card-inicio eventos-medium-card-fim eventos-medium-card-tag eventos-medium-card-tag" 0.5fr
    / 1fr 1fr 2fr 1fr;
}
.eventos-medium-card-title {
  grid-area: eventos-medium-card-title;
  font-size: var(--font-medium-regular);
}
.eventos-medium-card-inicio {
  grid-area: eventos-medium-card-inicio;
  font-size: var(--font-medium-regular);
}
.eventos-medium-card-fim {
  grid-area: eventos-medium-card-fim;
  font-size: var(--font-medium-regular);
}
.eventos-medium-card-tag {
  grid-area: eventos-medium-card-tag;
  font-size: var(--font-medium-regular);
}

/* Grande */
.eventos-large-card {
  display: grid;
  align-items: center;
  justify-items: center;
  min-height: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  grid:
    "eventos-large-card-title eventos-large-card-title eventos-large-card-tag eventos-large-card-tag" 1fr
    "eventos-large-card-inicio eventos-large-card-fim eventos-large-card-tag eventos-large-card-tag" 0.5fr
    / 1fr 1fr 2fr 1fr;
}
.eventos-large-card-title {
  grid-area: eventos-large-card-title;
  font-size: 400 0.875rem/1.43 "Oxygen", sans-serif;
}
.eventos-large-card-inicio {
  grid-area: eventos-large-card-inicio;
  font-size: var(--titulo-s);
}
.eventos-large-card-fim {
  grid-area: eventos-large-card-fim;
  font-size: var(--titulo-xs);
}
.eventos-large-card-tag {
  grid-area: eventos-large-card-tag;
  font-size: var(--titulo-xs);
}

/* Retângulo Pequeno */
.small-rectangle-card {
  min-width: 135px;
  min-height: 100px;
  display: inline-block;
}

/* Retângulo Grande */
.large-rectangle-card {
  min-width: 100%;
  min-height: 100px;
}

/* Responsividade */
@media (max-width: 800px) {
  .card-container {
    grid-template-columns: 1fr;
  }

  .large-rectangle-card {
    min-width: 48%;
  }
}
