/* Listas Cards */
.lista-vertical-template {
  display: grid;
  grid-auto-flow: row;
  gap: 5px;
  padding: 0.625rem;
  scrollbar-width: thick;
  box-sizing: border-box;
  border-radius: 0.9375rem;
  transition: 1s;
}

.lista-vertical-3-template {
  display: grid;
  gap: 5px;
  grid-template: auto / 1fr 1fr 1fr;
  padding: 0.625rem;
  scrollbar-width: thick;
  box-sizing: border-box;
  border-radius: 0.9375rem;
  transition: 1s;
}

.lista-horizontal-template {
  display: grid;
  grid-auto-flow: column;
  gap: 5px;
  padding: 3px;
  box-sizing: border-box;
  white-space: nowrap;
  overflow-x: auto;
  scrollbar-width: thick;
  transition: 1s;
}

.lista-vertical-template-alt {
  display: grid;
  grid-auto-flow: row;
  background: transparent;
  scrollbar-width: thick;
  box-sizing: border-box;
  border-radius: 0.9375rem;
  transition: 1s;
}

.lista-vertical-horizontal {
  display: grid;
  grid-auto-flow: row;
  gap: 5px;
  scrollbar-width: thick;
  box-sizing: border-box;
  transition: 1s;
  border-radius: 0.9375rem;
}

/* Estilos */
.lista-vertical-template,
.lista-vertical-3-template,
.lista-horizontal-template,
.lista-vertical-template-alt,
.lista-vertical-horizontal {
  scrollbar-width: thin;
}
/* Estilos para cards dentro da lista */
/* Reset de borda para todos os cards dentro da lista */
.lista-vertical-template-alt .card-select-m {
  border-radius: 0;
}
/* Adiciona borda arredondada nos cantos esquerdos e direitos do primeiro e último cards dentro da lista */
.lista-vertical-template-alt li:first-child .card-select-m {
  border-top-left-radius: 0.9375rem;
  border-top-right-radius: 0.9375rem;
}
.lista-vertical-template-alt li:last-child .card-select-m {
  border-bottom-left-radius: 0.9375rem;
  border-bottom-right-radius: 0.9375rem;
}

/* RESPONSIVO */
@media (max-width: 800px) {
  .lista-vertical-horizontal {
    display: grid;
    grid-auto-flow: column;

    padding: 3px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow-x: auto;
    scrollbar-width: thick;
    transition: 1s;
  }
  .lista-vertical-template::-webkit-scrollbar,
  .lista-vertical-3-template::-webkit-scrollbar,
  .lista-horizontal-template::-webkit-scrollbar,
  .lista-vertical-template-alt::-webkit-scrollbar,
  .lista-vertical-horizontal::-webkit-scrollbar {
    display: none; /* Oculta a barra de rolagem para navegadores WebKit (Chrome, Safari) */
  }

  .lista-vertical-template,
  .lista-vertical-3-template,
  .lista-horizontal-template,
  .lista-vertical-template-alt,
  .lista-vertical-horizontal {
    scrollbar-width: none;
  }
}
