/* Marcadores Tamahos */
/* Pequeno */
.marcador-s {
  display: flex;
  align-items: center;
  justify-items: center;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 10px;
  font-size: var(--font-medium-regular);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  scrollbar-width: thick;
}

/* Médio */
.marcador-m {
  display: flex;
  align-items: center;
  justify-items: center;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 14px;
  font-size: var(--font-medium-bold);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  scrollbar-width: thick;
}

/* Grande */
.marcador-l {
  display: flex;
  align-items: center;
  justify-items: center;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 18px;
  font-size: var(--font-medium-regular);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  scrollbar-width: thick;
}
/* Quando o marcador for item de um elemento e precisar de tamaho fixo */
.marcador-item {
  display: flex;
  align-items: center;
  justify-items: start;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
  width: 105px;
  height: auto;
  font-size: var(--font-medium-regular);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  scrollbar-width: thick;
}
