/* Estilo para mostrar o conteúdo quando a área está recuada */
.recuar-expandir-vertical.recuar {
  position: relative; /* Adiciona posição relativa ao contêiner */
  height: 117px;
  overflow-x: hidden;
  border-radius: 0.9375rem;
  transition: 1s;
}

.recuar-expandir-horizontal.recuar {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  transition: 1s;
}

/* Estilo do botão */
.btn-recuar-expandir {
  display: none;
  font-size: var(--font-light);
  color: var(--cor-7);
  background-color: rgb(0, 0, 0, 0);
  padding: 0.625rem 0rem 0.3rem 0rem;
  cursor: pointer;
  margin: auto;
  border: none;
  display: block;
  transition: 1s;
}

/* Exibir o botão apenas no modo responsivo */
/*@media (max-width: 800px) {
  .btn-recuar-expandir {
    display: block;
  }
}*/
