/* HEADER TEMPLATE */
.header-template {
  display: grid;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  grid: "header-back header-nav header-search" 45px;
}

/* Áreas de grid */
.header-back {
  grid-area: header-back;
  margin-left: 1.25rem;
  width: 2rem;
}
.header-nav {
  grid-area: header-nav;
}
.header-search {
  grid-area: header-search;
  margin-right: 1.25rem;
  display: grid;
  justify-content: stretch;
  align-self: center;
  background: var(--cor-2);
  border-radius: 25px;
  border: 1px solid var(--cor-p2);
}

.search-input-container {
  position: relative;
  display: flex;
}
.search-input-container form {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}
.search-input {
  border-radius: 20px;
  padding: 0.625rem;
  cursor: pointer;
  width: 100%;
  background: var(--cor-2);
  color: var(--cor-1);
  border: 1px solid var(--cor-2);
}
/* Cor do placeholder */
.search-input::placeholder {
  color: var(--cor-1);
}
/* Cor do placeholder ao focar */
.search-input:focus::placeholder {
  color: var(--cor-6);
}
.header-search:hover {
  border: 1px solid #a57ff0;
  box-shadow: 0 0 1px #c6b6fc, 0 0 2px #c6b6fc, 0 0 3px #c6b6fc, 0 0 4px #c6b6fc;
}
.search-input:focus,
.search-button:focus {
  outline: none;
}

.search-button {
  background: var(--cor-p2);
  border-radius: 20px;
  padding: 8px;
  border: none;
  cursor: pointer;
  border: 1px solid var(--cor-p2);
}
.search-icon {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  padding: 0px 8px;
}
.back-icon {
  width: 18px;
  height: 18px;
}
.search-input:focus + .search-button {
  box-shadow: 0 0 1px #ffffff, 0 0 2px #ffffff, 0 0 3px #ffffff;
}

/* RESPONSIVO */
@media (max-width: 820px) {
  .header-template {
    display: grid;
    align-content: center;
    justify-content: space-between;
    grid: "header-back  header-search header-search" 45px;
    background: linear-gradient(to left bottom, var(--cor-12), #141b35);
  }
  .header-back {
    margin-left: 0.625rem;
    cursor: pointer;
    padding: 8px;
  }
  .header-nav {
    background: #020202e4;
    border-top: 1px solid rgba(0, 0, 0, 0.21);
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10000000;
  }
  .header-search {
    grid-area: header-search;
    margin-right: 0.625rem;
    box-sizing: border-box;
    align-self: center;

    border-radius: 25px;
  }

  .header-template.box-shadow-active {
    background: var(--cor-10);
  }
  .search-input.scroll-active {
    padding: 0.625rem;
    cursor: pointer;
    width: 100%;
    background: var(--cor-p7);
    color: var(--cor-1);
    border: 1px solid var(--cor-p7);
  }
  .search-button.scroll-active {
    padding: 8px;
    border: none;
    cursor: pointer;
    border: 1px solid var(--cor-p7);
  }
}
