/* Nav */
.header-nav-template {
  display: grid;
  grid:
    "home calendario contatos pleitos despesas"
    / 1fr 1fr 1fr 1fr 1fr;
}
.home {
  grid-area: home;
}
.calendario {
  grid-area: calendario;
}
.contatos {
  grid-area: contatos;
}
.pleitos {
  grid-area: pleitos;
}
.despesas {
  grid-area: despesas;
}

/* Estilos para a lista de navegação */
.header-nav-template li {
  align-self: center;
  justify-self: center;
  color: var(--txt-nav);
}
.header-nav-template a {
  padding: 0.625rem;
  border-radius: 25px;
  display: flex;
  transition: 0.15s;
  border: 1px solid transparent;
  size: 15px;
  font-weight: 500;
  position: relative;
  text-decoration: none;
  color: inherit;
}
.header-nav-template a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--txt-nav-select);
  position: absolute;
  bottom: -2px;
  left: 0;
  transition: width 0.3s ease;
}

.header-nav-template a:hover::after {
  width: 100%;
}

.header-nav-template img {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

/* Indicador */
.indicador a {
  color: var(--txt-nav-select);
}
.indicador a::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 5px;
  background: var(--txt-nav-select);
}
.indicador p {
  color: var(--txt-nav-select);
}

/* RESPONSIVO */
@media only screen and (max-width: 900px) {
  .header-nav-template {
    display: grid;
    max-width: 400px;
    width: 100%;
    height: 3.75rem;
    margin: 0 auto;
  }
  .header-nav-template p {
    display: none;
  }
  .header-nav-template img {
    width: 32px;
    height: 27px;
    margin: 0 auto;
  }
  .indicador {
    border-radius: 50%;
    background-color: transparent;
  }
  .header-nav-template a {
    border-radius: 50%;
  }
  .header-nav-template a:hover {
    padding: auto;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 1px solid transparent;
    text-decoration: none;
    background: none;
  }
  .header-nav-template a:hover img {
    background: transparent;
  }

  .indicador {
    border-bottom: none;
  }
}
