/* HEADER TEMPLATE */
.header-template {
  display: grid;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  grid: "home-header-logo header-nav header-search header-user" 45px;
}

.header-nav {
  grid-area: header-nav;
}
.header-search {
  grid-area: header-search;
  display: grid;
  align-self: center;
  background: var(--card-fundo);
  border-radius: 25px;
  border: 1px solid var(--bordas);
}
.header-user {
  grid-area: header-user;
  margin-right: 1.25rem;
  width: 35px;
  height: auto;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid transparent;
}

.search-input-container {
  position: relative;
  display: flex;
}
.search-input-container form {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}
.search-input {
  border-radius: 20px;
  padding: 0.625rem;
  cursor: pointer;
  width: 100%;
  background: transparent;
  color: var(--txt-secundario);
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: 300;
}
.search-button {
  background: transparent;
  border-radius: 20px;
  padding: 8px;
  border: none;
  cursor: pointer;
  border: 1px solid transparent;
}
.search-icon {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  padding: 0px 8px;
}

/* Cor do placeholder */
.search-input::placeholder {
  color: var(--placeholder);
}
/* Cor do placeholder ao focar */
.search-input:focus::placeholder {
  color: var(--card-borda);
}
.header-search:hover {
  background: var(--card-hover);
  box-shadow: 0 0 1px #d4ff5258, 0 0 2px #d4ff5258, 0 0 3px #d4ff5258,
    0 0 4px #d4ff5258, inset 0 0 1px #d4ff5258, inset 0 0 2px #d4ff5258,
    inset 0 0 3px #d4ff5258, inset 0 0 4px #d4ff5258;
  border: 1px solid var(--btn-principal-destaque);
}
.header-search:hover .search-input::placeholder {
  color: var(--txt-secundario);
}
.search-input:focus,
.search-button:focus {
  outline: none;
  background: var(--card-hover);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-input:focus + .search-button {
  background: var(--card-hover);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.header-user:hover {
  box-shadow: 0 0 1px #d4ff5258, 0 0 2px #d4ff5258, 0 0 3px #d4ff5258,
    0 0 4px #d4ff5258, inset 0 0 1px #d4ff5258, inset 0 0 2px #d4ff5258,
    inset 0 0 3px #d4ff5258, inset 0 0 4px #d4ff5258;
  border: 1px solid var(--btn-principal-destaque);
}

/* RESPONSIVO */
@media only screen and (max-width: 900px) {
  .header-template {
    display: grid;
    align-content: center;
    justify-content: space-between;
    grid: "home-header-logo header-search header-user" 45px;
    background: var(--background-principal);
  }

  .header-search {
    grid-area: header-search;
    margin: 0;
    box-sizing: border-box;
    align-self: center;
    justify-self: center;
    border-radius: 25px;
  }
  .header-user {
    margin-right: 0.625rem;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 50%;
    padding: 3px;
  }
  .header-nav {
    background: #00070ef5;
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(0, 0, 0, 0.21);
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10000000;
    margin-left: 0;
  }

  .header-template.box-shadow-active {
    background: var(--background-principal);
  }
  .search-input.scroll-active {
    padding: 0.625rem;
    cursor: pointer;
    width: 100%;
    color: var(--txt-secundario);
  }
  .search-button.scroll-active {
    padding: 8px;
    border: none;
    cursor: pointer;
  }

  .header-user .back-icon {
    transition: transform 1s ease;
  }
  /* Efeito de hover: aumenta a escala da imagem e adiciona uma sombra */
  .header-user .back-icon:hover {
    transform: none;
  }
  /* Efeito de clique: reduz um pouco a escala e muda a opacidade */
  .header-user .back-icon:active {
    transform: scale(0.7);
    opacity: 0.5;
  }
}
