/* HEADER TEMPLATE */
.header-template {
  display: grid;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  grid: "header-back header-nav header-search" 45px;
}

/* Áreas de grid */
.header-back {
  grid-area: header-back;
  margin-left: 1.25rem;
  cursor: pointer;
}
.header-nav {
  grid-area: header-nav;
}
.header-search {
  grid-area: header-search;
  margin-right: 1.25rem;
  display: grid;
  justify-content: stretch;
  align-self: center;
  background: var(--card-fundo);
  border-radius: 25px;
  border: 1px solid var(--destaque-1);
}

.search-input-container {
  position: relative;
  display: flex;
}
.search-input-container form {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}
.search-input {
  border-radius: 20px;
  padding: 0.625rem;
  cursor: pointer;
  width: 100%;
  background: transparent;
  color: var(--txt-secundario);
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: 300;
}
/* Cor do placeholder */
.search-input::placeholder {
  color: var(--placeholder);
}
/* Cor do placeholder ao focar */
.search-input:focus::placeholder {
  color: var(--card-borda);
}
.header-search:hover {
  background: var(--card-hover);
}
.header-search:hover .search-input::placeholder {
  color: var(--txt-secundario);
}
.search-input:focus,
.search-button:focus {
  outline: none;
  background: var(--card-hover);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-button {
  background: transparent;
  border-radius: 20px;
  padding: 8px;
  border: none;
  cursor: pointer;
  border: 1px solid transparent;
}
.search-icon {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  padding: 0px 8px;
}
.search-input:focus + .search-button {
  background: var(--card-hover);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.back-icon {
  width: 18px;
  height: 18px;
}
/* Define a transição suave para o efeito de hover */
.header-back .back-icon {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
/* Efeito de hover: aumenta a escala da imagem e adiciona uma sombra */
.header-back .back-icon:hover {
  transform: scale(1.1);
}
/* Efeito de clique: reduz um pouco a escala e muda a opacidade */
.header-back .back-icon:active {
  transform: scale(0.95);
  opacity: 0.8;
}

/* RESPONSIVO */
@media (max-width: 820px) {
  .header-template {
    display: grid;
    align-content: center;
    justify-content: space-between;
    grid: "header-back  header-search header-search" 45px;
    background: var(--background-secundario);
  }
  .header-back {
    margin-left: 0.625rem;
    cursor: pointer;
    padding: 8px;
  }
  .header-nav {
    background: #020202e4;
    border-top: 1px solid rgba(0, 0, 0, 0.21);
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10000000;
  }
  .header-search {
    grid-area: header-search;
    margin-right: 0.625rem;
    box-sizing: border-box;
    align-self: center;
    border-radius: 25px;
  }

  .header-template.box-shadow-active {
    background: var(--background-secundario);
  }
  .search-input.scroll-active {
    padding: 0.625rem;
    cursor: pointer;
    width: 100%;
    color: var(--txt-secundario);
  }
  .search-button.scroll-active {
    padding: 8px;
    border: none;
    cursor: pointer;
  }

  .header-back .back-icon {
    transition: transform 1s ease;
  }
  /* Efeito de hover: aumenta a escala da imagem e adiciona uma sombra */
  .header-back .back-icon:hover {
    transform: none;
  }
  /* Efeito de clique: reduz um pouco a escala e muda a opacidade */
  .header-back .back-icon:active {
    transform: scale(0.7);
    opacity: 0.5;
  }
}
