/* Area Template padrão*/
.area-template {
  display: grid;
  border-radius: 0.625rem;
  grid:
    "area-template-header" auto
    "area-template-content" auto
    / 1fr;
}
.area-template-header {
  grid-area: area-template-header;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-content: center;
  font-size: var(--titulo-xl);
  padding: 0.625rem;
  text-align: left;
  color: var(--cor-9);
  border-radius: 0.625rem;
}
.area-template-content {
  grid-area: area-template-content;
  overflow-x: hidden;
  border-radius: 0.625rem;
  background: #ce84ff0a;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: auto;
  max-height: 80vh;
  border: 5px solid transparent;
}

/* Area Template alternativa*/
.area-template-alt {
  display: grid;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 0.625rem;
  grid:
    "area-template-alt-header" auto
    "area-template-alt-content" auto
    / 1fr;
}
.area-template-alt-header {
  grid-area: area-template-alt-header;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: stretch;
  font-size: var(--titulo-m);
  padding: 0.625rem;
  text-align: left;
  color: var(--cor-9);
  border-radius: 0.625rem;
}
.area-template-alt-header h2 {
  font-size: var(--titulo-m);
}
.area-template-alt-content {
  grid-area: area-template-alt-content;
  padding: 5px;
  overflow-x: auto;
  border-radius: 0.625rem;
}

/* Area Template dos filtros*/
.area-template-fil {
  display: grid;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 0.625rem;
  grid:
    "area-template-fil-header" auto
    "area-template-fil-content" auto
    / 1fr;
}
.area-template-fil-header {
  grid-area: area-template-fil-header;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-content: space-between;
  font-size: var(--titulo-xl);
  padding: 0.625rem;
  text-align: left;
  color: var(--cor-9);
}
.area-template-fil-header h1 {
  font-size: var(--titulo-xl);
}
.area-template-fil-content {
  grid-area: area-template-fil-content;
  gap: 1rem;
  max-height: auto;
  overflow: hidden;
  border-radius: 0.625rem;
  background: #ce84ff0a;
  padding: 5px;
  border: 5px solid transparent;
}

/* Area Template alternativa Tamanho fixo*/
.area-template-tmf {
  display: grid;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 0.625rem;
  grid:
    "area-template-tmf-header" auto
    "area-template-tmf-content" auto
    / 1fr;
}
.area-template-tmf-header {
  grid-area: area-template-tmf-header;
  font-size: var(--titulo-m);
  padding: 0.625rem;
  text-align: left;
  color: var(--cor-9);
}
.area-template-tmf-content {
  grid-area: area-template-tmf-content;
  overflow-x: auto;
  max-height: 350px;
  border-radius: 0.625rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 5px solid transparent;
}

/* Area Template dos compromissos para hoje*/
.area-template-tmf-alt {
  display: grid;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 0.625rem;
  grid:
    "area-template-tmf-alt-header" auto
    "area-template-tmf-alt-content" auto
    / 1fr;
}
.area-template-tmf-alt-header {
  grid-area: area-template-tmf-alt-header;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-content: space-between;
  font-size: var(--titulo-xl);
  padding: 0.625rem;
  text-align: left;
  color: var(--cor-9);
}
.area-template-tmf-alt-content {
  grid-area: area-template-tmf-alt-content;
  overflow-x: hidden;
  border-radius: 0.625rem;
  background: #ce84ff0a;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: auto;
  max-height: 80vh;
  border: 5px solid transparent;
}

/* Estilos */
.area-template-content::-webkit-scrollbar,
.area-template-alt-content::-webkit-scrollbar {
  display: none; /* Oculta a barra de rolagem para navegadores WebKit (Chrome, Safari) */
}

.title-filtro {
  justify-content: start;
  gap: 3px;
}

/* RESPONSIVO */
@media (max-width: 820px) {
  /* Area Template padrão*/
  .area-template-content {
    grid-area: area-template-content;
    padding: 0px;
    height: auto;
    max-height: 72vh;
    overflow-y: auto;
    border-style: solid;
    border-width: 5px 3px;
    border-color: transparent;
  }

  /* Area Template alternativa*/
  .area-template-alt-content {
    grid-area: area-template-alt-content;
    padding: 3px;
  }

  /* Area Template dos filtros*/
  .area-template-fil {
    padding: 0rem;
    gap: 0rem;
    padding: 0px 5px 40px 5px;
    box-shadow: none;
  }
  .area-template-fil-header {
    grid-area: area-template-fil-header;
    color: transparent;
    font-size: 0px;
    padding: 10px 0px 10px 0px;
    margin-left: 0.625rem;
    box-shadow: none;
  }
  .area-template-fil-content {
    grid-area: area-template-fil-content;
    gap: 0.625rem;
    max-height: 0px;
    overflow: auto;
    padding: 10px 12px;
    background: none;
  }

  /* Area Template alternativa Tamanho fixo*/
  .area-template-tmf-content {
    grid-area: area-template-tmf-content;
    padding: 3px;
    border-width: 5px 0;
  }

  /* Area Template dos compromissos para hoje*/
  .area-template-tmf-alt {
    padding: 0rem;
    gap: 0rem;
    padding: 0px 5px 40px 5px;
    box-shadow: none;
  }
  .area-template-tmf-alt-header {
    grid-area: area-template-tmf-alt-header;
    color: transparent;
    font-size: 0px;
    padding: 10px 0px 10px 0px;
    margin-left: 0.625rem;
    box-shadow: none;
  }
  .area-template-tmf-alt-content {
    grid-area: area-template-tmf-alt-content;
    gap: 3px;
    max-height: 0px;
    overflow: auto;
    padding: 3px;
    background: none;
  }

  .area-template::-webkit-scrollbar,
  .area-template-content::-webkit-scrollbar,
  .area-template-tmf-alt::-webkit-scrollbar,
  .area-template-tmf-alt-content::-webkit-scrollbar {
    display: none; /* Oculta a barra de rolagem para navegadores WebKit (Chrome, Safari) */
  }
}
