/* Area Template padrão*/
.area-template {
  display: grid;
  box-sizing: border-box;
  overflow-x: hidden;
  align-content: start;
  height: 100%;
  grid:
    "area-template-header" auto
    "area-template-content" auto
    / 1fr;
}
.area-template-header {
  grid-area: area-template-header;
  display: grid;
  align-items: center;
  justify-items: center;
  color: var(--cor-1);
  background: var(--cor-12);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 5px;
}
.area-template-content {
  grid-area: area-template-content;
  overflow-x: auto;
  overflow-y: auto;
  height: auto;
  background: var(--cor-12);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top: 1px solid var(--cor-10);
  padding: 0px;
}

/* Area Template Com Cor de Fundo */
.area-template-cf {
  display: grid;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 12px;
  grid:
    "area-template-cf-header" auto
    "area-template-cf-content" auto
    / 1fr;
}
.area-template-cf-header {
  grid-area: area-template-cf-header;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: stretch;
  font-size: 14px;
  font-weight: 400;
  padding: 10px;
  text-align: left;
  color: var(--cor-4);
  border-radius: 0px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}
.area-template-cf-header h2 {
  font-size: var(--font-medium-light);
}
.area-template-cf-content {
  grid-area: area-template-cf-content;
  overflow-x: auto;
  border-radius: 12px;
  padding: 0px;
}

/* Area Template Tamanho fixo*/
.area-template-tmf {
  display: grid;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 12px;

  grid:
    "area-template-tmf-header" auto
    "area-template-tmf-content" auto
    / 1fr;
}
.area-template-tmf-header {
  grid-area: area-template-tmf-header;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: stretch;
  font-size: 14px;
  font-weight: 400;
  padding: 0px 5px 7px 15px;
  text-align: left;
  color: var(--cor-4);
  border-radius: 0px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}
.area-template-tmf-content {
  grid-area: area-template-tmf-content;
  overflow-x: auto;
  border-radius: 12px;
}

/* Area Template dos filtros*/
.area-template-fil {
  display: grid;
  box-sizing: border-box;
  overflow-x: hidden;
  align-content: start;
  height: 100%;
  grid:
    "area-template-fil-header" auto
    "area-template-fil-content" auto
    / 1fr;
}
.area-template-fil-header {
  grid-area: area-template-fil-header;
  display: grid;
  align-items: center;
  justify-items: space-between;
  color: var(--cor-1);
  background: var(--cor-12);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 5px;
}
.area-template-fil-content {
  grid-area: area-template-fil-content;
  overflow-x: hidden;
  background: transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: auto;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background: var(--cor-12);
  border-top: 1px solid var(--cor-10);
  padding: 10px;
}

/* Area Template Agenda para hoje*/
.area-template-fil-alt {
  display: grid;
  box-sizing: border-box;
  overflow-x: hidden;
  align-content: start;
  height: 100%;
  grid:
    "area-template-fil-alt-header" auto
    "area-template-fil-alt-content" auto
    / 1fr;
}
.area-template-fil-alt-header {
  grid-area: area-template-fil-alt-header;
  display: grid;
  align-items: center;
  justify-items: space-between;
  color: var(--cor-1);
  background: var(--cor-12);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 5px;
}
.area-template-fil-alt-content {
  grid-area: area-template-fil-alt-content;
  overflow-x: hidden;
  background: var(--cor-12);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: auto;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top: 1px solid var(--cor-10);
  padding: 10px;
}

/* Area Template para cabeçalhos fixos*/
.area-template-cbf {
  display: grid;
  box-sizing: border-box;
  overflow-x: hidden;
  align-content: start;
  height: 100%;
  grid:
    "area-template-cbf-header" auto
    "area-template-cbf-content" auto
    / 1fr;
}
.area-template-cbf-header {
  grid-area: area-template-cbf-header;
  display: grid;
  align-items: center;
  justify-items: space-between;
  color: var(--cor-1);
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 5px;
}
.area-template-cbf-content {
  grid-area: area-template-cbf-content;
  overflow-x: auto;
  overflow-y: auto;
  max-height: 64vh;
  background: transparent;
  border-radius: 12px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top: 1px solid var(--cor-10);
  padding: 10px;
}

.area-cbf-sem-cb {
  max-height: 79vh;
  border-top: none;
}

/* Estilos */
.area-template::-webkit-scrollbar,
.area-template-cf::-webkit-scrollbar,
.area-template-fil-alt::-webkit-scrollbar,
.area-template-cbf::-webkit-scrollbar,
.area-template-content::-webkit-scrollbar,
.area-template-cf-content::-webkit-scrollbar,
.area-template-fil-alt-content::-webkit-scrollbar,
.area-template-cbf-content::-webkit-scrollbar {
  display: none; /* Oculta a barra de rolagem para navegadores WebKit (Chrome, Safari) */
}

.title-filtro {
  justify-content: start;
  gap: 3px;
}

/* RESPONSIVO */
@media (max-width: 820px) {
  /* Area Template padrão*/
  .area-template-header {
    justify-content: start;
    background: var(--cor-12);
    padding: 6px 10px 10px 25px;
    border-radius: 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.6), 0 3px 6px 0 rgba(0, 0, 0, 0.5);
    font-weight: 300;
  }
  .area-template-content {
    grid-area: area-template-content;
    border-radius: 0px;
    background-color: transparent;
    border-top: none;
  }
  .header-header-fx-int {
    padding: 5px 5px 5px 15px;
    border-radius: 0px;
    box-shadow: none;
    border: none;
  }

  /* Area Template cor de fundo */
  .area-template-cf-header {
    font-size: 14px;
    font-weight: 300;
  }
  .area-template-cf-header h2 {
    font-size: 13px;
    font-weight: 300;
  }
  /* Area Template alternativa Tamanho fixo*/
  .area-template-tmf-header {
    font-size: 14px;
    font-weight: 300;
  }
  /* Area Template dos filtros*/
  .area-template-fil {
    padding: 3px;
    border-radius: 12px;
    overflow: hidden;
  }
  .area-template-fil-header {
    grid-area: area-template-fil-header;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-content: space-between;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    color: var(--cor-1);
    color: transparent;
    font-size: 0px;
    padding: 5px 5px 5px 10px;
    box-shadow: none;
    background: none;
    font-weight: 300;
  }
  .area-template-fil-content {
    grid-area: area-template-fil-content;
    max-height: 0px;
    overflow: auto;
    box-shadow: none;
    background: none;
    padding: 10px;
  }

  /* Area Template Agenda para hoje*/
  .area-template-fil-alt {
    padding: 3px;
    border-radius: 12px;
    overflow: hidden;
  }
  .area-template-fil-alt-header {
    grid-area: area-template-fil-alt-header;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-content: space-between;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    color: var(--cor-1);
    color: transparent;
    font-size: 0px;
    padding: 5px 5px 5px 10px;
    box-shadow: none;
    background: none;
    font-weight: 300;
  }
  .area-template-fil-alt-content {
    grid-area: area-template-fil-alt-content;
    max-height: 0px;
    overflow: auto;
    box-shadow: none;
    background: none;
    padding: 10px 5px;
  }

  /* Area Template para cabeçalhos fixos*/
  .area-template-cbf-header {
    grid-area: area-template-cbf-header;
    background: var(--cor-12);
    padding: 5px;
    border-radius: 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.6), 0 3px 6px 0 rgba(0, 0, 0, 0.5);
    font-size: 14px;
    font-weight: 300;
  }
  .area-template-cbf-content {
    grid-area: area-template-cbf-content;
    overflow-x: auto;
    overflow-y: auto;
    padding: 12px 8px;
    max-height: 62vh;
    background: transparent;
    border-radius: 0px;
    border-top: 1px solid transparent;
  }

  .area-cbf-sem-cb {
    max-height: 76vh;
    border-top: none;
  }

  .area-template::-webkit-scrollbar,
  .area-template-content::-webkit-scrollbar,
  .area-template-fil-alt::-webkit-scrollbar,
  .area-template-fil-alt-content::-webkit-scrollbar {
    display: none; /* Oculta a barra de rolagem para navegadores WebKit (Chrome, Safari) */
  }
}
