/* Area Template padrão*/
.area-template {
  display: grid;
  box-sizing: border-box;
  overflow-x: hidden;
  align-content: start;
  height: 100%;
  background: var(--container);
  border-radius: 25px;
  padding-bottom: 20px;
  grid:
    "area-template-header" auto
    "area-template-content" auto
    / 1fr;
}
.area-template-header {
  grid-area: area-template-header;
  display: grid;
  align-items: center;
  justify-items: center;
  color: var(--btn-secundario);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 5px;
}
.area-template-content {
  grid-area: area-template-content;
  overflow-x: auto;
  overflow-y: auto;
  padding: 0px;
  height: auto;
  border-radius: 0px;
  background: var(--background-secundario);
  border-top: 1px solid var(--background-principal);
}

/* Area Template Com Cor de Fundo */
.area-template-cf {
  display: grid;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 20px;
  grid:
    "area-template-cf-header" auto
    "area-template-cf-content" auto
    / 1fr;
}
.area-template-cf-header {
  grid-area: area-template-cf-header;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: stretch;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 20px;
  text-align: left;
  color: var(--destaque-2);
  border-radius: 0px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}
.area-template-cf-header h2 {
  font-size: 14px;
  font-weight: 350;
}
.area-template-cf-content {
  grid-area: area-template-cf-content;
  overflow-x: auto;
  border-radius: 20px;
  padding: 0px;
}

/* Area Template Tamanho fixo*/
.area-template-tmf {
  display: grid;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 20px;
  grid:
    "area-template-tmf-header" auto
    "area-template-tmf-content" auto
    / 1fr;
}
.area-template-tmf-header {
  grid-area: area-template-tmf-header;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: stretch;
  font-size: 14px;
  font-weight: 350;
  padding: 10px 20px;
  text-align: left;
  color: var(--destaque-2);
  border-radius: 0px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}
.area-template-tmf-content {
  grid-area: area-template-tmf-content;
  overflow-x: auto;
  border-radius: 12px;
  padding: 0px;
}

/* Area Template dos filtros*/
.area-template-fil {
  display: grid;
  box-sizing: border-box;
  overflow-x: hidden;
  align-content: start;
  height: 100%;
  grid:
    "area-template-fil-header" auto
    "area-template-fil-content" auto
    / 1fr;
}
.area-template-fil-header {
  grid-area: area-template-fil-header;
  display: grid;
  align-items: center;
  justify-items: space-between;
  color: var(--btn-secundario);
  background: var(--background-secundario);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 5px;
}
.area-template-fil-content {
  grid-area: area-template-fil-content;
  overflow-x: hidden;
  background: transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: auto;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background: var(--background-secundario);
  border-top: 1px solid var(--background-principal);
  padding: 20px;
}

/* Area Template Agenda para hoje*/
.area-template-fil-alt {
  display: grid;
  box-sizing: border-box;
  overflow-x: hidden;
  align-content: start;
  height: 100%;
  grid:
    "area-template-fil-alt-header" auto
    "area-template-fil-alt-content" auto
    / 1fr;
}
.area-template-fil-alt-header {
  grid-area: area-template-fil-alt-header;
  display: grid;
  align-items: center;
  justify-items: space-between;
  color: var(--btn-secundario);
  background: var(--background-secundario);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 5px;
}
.area-template-fil-alt-content {
  grid-area: area-template-fil-alt-content;
  overflow-x: hidden;
  background: var(--background-secundario);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: auto;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top: 1px solid var(--background-principal);
  padding: 20px 10px;
}

/* Area Template para cabeçalhos fixos*/
.area-template-cbf {
  display: grid;
  box-sizing: border-box;
  overflow-x: hidden;
  align-content: start;
  height: 100%;
  grid:
    "area-template-cbf-header" auto
    "area-template-cbf-content" auto
    / 1fr;
}
.area-template-cbf-header {
  grid-area: area-template-cbf-header;
  display: grid;
  align-items: center;
  justify-items: space-between;
  color: var(--txt-secundario);
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 5px;
}
.area-template-cbf-content {
  grid-area: area-template-cbf-content;
  overflow-x: auto;
  overflow-y: auto;
  max-height: 64vh;
  background: transparent;
  border-radius: 25px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top: 1px solid var(--background-principal);
  padding: 10px;
}

.area-template-cbf-content-sem-cb {
  max-height: 77vh;
  border-top: none;
}

/* Estilos */
.area-template::-webkit-scrollbar,
.area-template-cf::-webkit-scrollbar,
.area-template-fil-alt::-webkit-scrollbar,
.area-template-cbf::-webkit-scrollbar,
.area-template-content::-webkit-scrollbar,
.area-template-cf-content::-webkit-scrollbar,
.area-template-fil-alt-content::-webkit-scrollbar,
.area-template-cbf-content::-webkit-scrollbar {
  display: none; /* Oculta a barra de rolagem para navegadores WebKit (Chrome, Safari) */
}

.title-filtro {
  justify-content: start;
  gap: 3px;
}

/* RESPONSIVO */
@media only screen and (max-width: 900px) {
  /* Area Template padrão*/
  .area-template {
    background: var(--background-principal);
    border-radius: 0px;
    padding-bottom: 0px;
  }
  .area-template-header {
    padding: 5px 5px 5px 15px;
    justify-content: start;
    position: relative;
    font-weight: 300;
    color: var(--txt-secundario);
    background: var(--background-principal);
    border-radius: 0px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .area-template-content {
    border-radius: 0px;
    border-radius: 25px;
    background: var(--background-secundario);
  }
  .header-header-fx-int {
    padding: 5px 5px 5px 15px;
    border-radius: 0px;

    box-shadow: none;
    border: none;
  }

  /* Area Template cor de fundo */
  .area-template-cf-header {
    font-size: 14px;
    font-weight: 300;
    padding: 7px 20px;
    color: var(--destaque-2);
  }
  .area-template-cf-header h2 {
    font-size: 13px;
    font-weight: 300;
  }
  /* Area Template Tamanho fixo*/
  .area-template-tmf-header {
    font-size: 13px;
    font-weight: 300;
    padding: 7px 20px;
    color: var(--destaque-2);
  }
  /* Area Template dos filtros*/
  .area-template-fil {
    padding: 3px;
    border-radius: 20px;
    overflow: hidden;
  }
  .area-template-fil-header {
    grid-area: area-template-fil-header;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-content: space-between;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    color: var(--txt-secundario);
    color: transparent;
    font-size: 0px;
    padding: 5px 5px 5px 10px;
    box-shadow: none;
    background: none;
    font-weight: 300;
  }
  .area-template-fil-content {
    grid-area: area-template-fil-content;
    max-height: 0px;
    overflow: auto;
    box-shadow: none;
    background: none;
    padding: 20px;
  }

  /* Area Template Agenda para hoje*/
  .area-template-fil-alt {
    padding: 3px;
    border-radius: 20px;
    overflow: hidden;
  }
  .area-template-fil-alt-header {
    grid-area: area-template-fil-alt-header;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-content: space-between;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    color: var(--txt-secundario);
    color: transparent;
    font-size: 0px;
    padding: 5px 5px 5px 10px;
    box-shadow: none;
    background: none;
    font-weight: 300;
  }
  .area-template-fil-alt-content {
    grid-area: area-template-fil-alt-content;
    max-height: 0px;
    overflow: auto;
    box-shadow: none;
    background: none;
    padding: 10px 5px;
  }

  /* Area Template para cabeçalhos fixos*/
  .area-template-cbf-header {
    grid-area: area-template-cbf-header;
    background: transparent;
    padding: 0px 10px;
    border-radius: 0px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    font-size: 14px;
    font-weight: 300;
  }
  .area-template-cbf-content {
    grid-area: area-template-cbf-content;
    overflow-x: auto;
    overflow-y: auto;
    padding: 12px 10px;
    max-height: auto;
    border-radius: 0px;
    border-top: 1px solid var(--background-principal);
  }

  .area-template-cbf-content-sem-cb {
    max-height: auto; /*76vh*/
    border-top: none;
  }

  .area-template::-webkit-scrollbar,
  .area-template-content::-webkit-scrollbar,
  .area-template-fil-alt::-webkit-scrollbar,
  .area-template-fil-alt-content::-webkit-scrollbar {
    display: none; /* Oculta a barra de rolagem para navegadores WebKit (Chrome, Safari) */
  }
}
