/* Container Template dos filtros*/
.container-filtros-template {
  display: grid;
  box-sizing: border-box;
  overflow-x: hidden;
  align-content: start;
  border-radius: 25px;
  max-height: calc(var(--vh, 1vh) * 100 - 6rem);
  box-shadow: var(--sombra-moderada);
  grid:
    "container-filtros-template-header" auto
    "container-filtros-template-content" auto
    / 1fr;
  z-index: 2003; /* Certifique-se de que o modal tenha um z-index mais alto */
}
.container-filtros-template-header {
  grid-area: container-filtros-template-header;
  display: grid;
  align-items: center;
  justify-items: space-between;
  color: var(--txt-titulo);
  background: var(--bg-container);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 5px;
}
.container-filtros-template-content {
  grid-area: container-filtros-template-content;
  overflow-x: hidden;
  background: transparent;
  height: auto;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background: var(--bg-container);
  border-top: 1px solid var(--bg-principal);
  padding: 20px;
}

/* Container Template da Agenda para hoje*/
.container-compromisso-hoje-template {
  display: grid;
  box-sizing: border-box;
  overflow-x: hidden;
  align-content: start;
  border-radius: 25px;
  max-height: calc(var(--vh, 1vh) * 100 - 6rem);
  box-shadow: var(--sombra-moderada);
  grid:
    "container-compromisso-hoje-template-header" auto
    "container-compromisso-hoje-template-content" auto
    / 1fr;
}
.container-compromisso-hoje-template-header {
  grid-area: container-compromisso-hoje-template-header;
  display: grid;
  align-items: center;
  justify-items: space-between;
  color: var(--txt-titulo);
  background: var(--bg-container);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 5px;
}
.container-compromisso-hoje-template-content {
  grid-area: container-compromisso-hoje-template-content;
  overflow-x: hidden;
  background: var(--bg-container);
  height: auto;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top: 1px solid var(--bg-principal);
  padding: 20px 0px 0px 0px;
}

/* Area Template para areas internas dos content das areas-container */
.area-interna-containerContent-template {
  display: grid;
  box-sizing: border-box;
  overflow-x: hidden;
  align-content: start;
  max-height: calc(var(--vh, 1vh) * 100 - 8.4rem);
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "area-interna-containerContent-template-header"
    "area-interna-containerContent-template-content";
  background: transparent;
  scroll-behavior: smooth;
}
.area-interna-containerContent-template-header {
  grid-area: area-interna-containerContent-template-header;
  display: grid;
  align-items: center;
  color: var(--txt-conteudo-card);
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 0px;
  background: transparent;
  scroll-behavior: smooth;
}
.area-interna-containerContent-template-content {
  grid-area: area-interna-containerContent-template-content;
  overflow-x: auto;
  overflow-y: auto;
  background: transparent;
  border-radius: 25px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top: 1px solid var(--bg-principal);
  padding: 20px 0px 0px 0px;
  scroll-behavior: smooth;
}

.area-interna-containerContent-template-not-header {
  border-top: none;
  max-height: 100% !important;
  grid-template-rows: auto;
  grid-template-areas: "area-interna-containerContent-template-content";
}

/* Area Template Sessão Interna */
.secao-interna-template {
  display: grid;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 23px;
  box-shadow: none;
  grid:
    "secao-interna-template-header" auto
    "secao-interna-template-content" auto
    / 1fr;
}
.secao-interna-template-header {
  grid-area: secao-interna-template-header;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: stretch;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 20px;
  text-align: left;
  color: var(--txt-subtitulo);
  border-radius: 0px;
  border-top-right-radius: 23px;
  border-top-left-radius: 23px;
}
.secao-interna-template-header h2 {
  font-size: 14px;
  font-weight: 350;
}
.secao-interna-template-content {
  grid-area: secao-interna-template-content;
  overflow-x: auto;
  border-radius: 23px;
  padding: 0px;
}

/* Estilos */
.area-template::-webkit-scrollbar,
.secao-interna-template::-webkit-scrollbar,
.container-compromisso-hoje-template::-webkit-scrollbar,
.area-interna-containerContent-template::-webkit-scrollbar,
.container-template-content::-webkit-scrollbar,
.secao-interna-template-content::-webkit-scrollbar,
.container-compromisso-hoje-template-content::-webkit-scrollbar,
.area-interna-containerContent-template-content::-webkit-scrollbar {
  display: none; /* Oculta a barra de rolagem para navegadores WebKit (Chrome, Safari) */
}

/* RESPONSIVO */
@media only screen and (max-width: 900px) {
  /* Container Template dos filtros*/
  .container-filtros-template {
    padding: 3px 0;
    border-radius: 25px;
    overflow: hidden;
  }
  .container-filtros-template-header {
    grid-area: container-filtros-template-header;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-content: space-between;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    color: var(--txt-conteudo-card);
    color: transparent;
    font-size: 0px;
    padding: 5px 5px 5px 10px;
    box-shadow: none;
    background: none;
    font-weight: 300;
  }
  .container-filtros-template-content {
    grid-area: container-filtros-template-content;
    max-height: 0px;
    overflow: auto;
    box-shadow: none;
    background: none;
    padding: 20px;
  }

  /* Container Template da Agenda para hoje*/
  .container-compromisso-hoje-template {
    padding: 3px 0;
    border-radius: 25px;
    overflow: hidden;
    z-index: 2003;
  }
  .container-compromisso-hoje-template-header {
    grid-area: container-compromisso-hoje-template-header;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-content: space-between;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    color: var(--txt-conteudo-card);
    color: transparent;
    font-size: 0px;
    padding: 5px 5px 5px 10px;
    box-shadow: none;
    background: none;
    font-weight: 300;
  }
  .container-compromisso-hoje-template-content {
    grid-area: container-compromisso-hoje-template-content;
    max-height: 0px;
    overflow: auto;
    box-shadow: none;
    background: none;
    padding: 10px 0px;
  }

  /* Area Template para areas internas dos content das areas-container */
  .area-interna-containerContent-template {
    max-height: calc(var(--vh, 1vh) * 100 - 8.7rem);
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "area-interna-containerContent-template-header"
      "area-interna-containerContent-template-content";
  }
  .area-interna-containerContent-template-header {
    grid-area: area-interna-containerContent-template-header;
    background: transparent;
    padding: 0px;
    border-radius: 0px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    font-size: 14px;
    font-weight: 300;
  }
  .area-interna-containerContent-template-content {
    grid-area: area-interna-containerContent-template-content;
    overflow-x: auto;
    overflow-y: auto;
    padding: 15px 0px 0px 0px;
    border-radius: 0px;
    border-top: 1px solid var(--bg-principal);
  }

  .area-interna-containerContent-template-not-header {
    border-top: none;
    max-height: calc(var(--vh, 1vh) * 100) !important;
    grid-template-rows: auto !important;
    grid-template-areas: "area-interna-containerContent-template-content" !important;
  }

  /* Area Template Sessão Interna */
  .secao-interna-template-header {
    font-size: 14px;
    font-weight: 300;
    padding: 10px 20px;
  }
  .secao-interna-template-header h2 {
    font-size: 13px;
    font-weight: 300;
  }

  .area-template::-webkit-scrollbar,
  .container-template-content::-webkit-scrollbar,
  .container-compromisso-hoje-template::-webkit-scrollbar,
  .container-compromisso-hoje-template-content::-webkit-scrollbar {
    display: none; /* Oculta a barra de rolagem para navegadores WebKit (Chrome, Safari) */
  }
}
