/* Container Template padrão */
.container-template {
  display: grid;
  box-sizing: border-box;
  overflow-x: hidden;
  background: var(--container-bg);
  box-shadow: var(--sombra-moderada);
  border-radius: 25px;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "container-template-header"
    "container-template-content";
  scroll-behavior: smooth;
}
.container-template-header {
  grid-area: container-template-header;
  display: grid;
  align-items: center;
  justify-items: center;
  color: var(--txt-titulo);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 5px;
  font-weight: 400;
}
.container-template-content {
  grid-area: container-template-content;
  padding: 0px;
  border-radius: 0px;
  border-top: 1px solid var(--bg-principal);
  scroll-behavior: smooth;
}

.container-template-content-com-header-fx-int {
  border-top: none;
}

.container-template::-webkit-scrollbar {
  display: none;
}

/* RESPONSIVO */
@media only screen and (max-width: 56.25rem) {
  /* Container Template padrão*/
  .container-template {
    background: var(--bg-principal);
    border-radius: 0;
    box-shadow: none;
  }
  .container-template-header {
    padding: 5px 5px 5px 15px;
    justify-content: start;
    font-weight: 300;
    color: var(--txt-titulo);
    background: var(--bg-principal);
    border-radius: 0px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    transition: padding 0.3s ease-in-out;
  }
  .container-template-content {
    border-radius: 25px;
    background: var(--container-bg);
    border-top: 1px solid var(--borda);
    overflow: hidden;
  }

  .container-template-content-com-header-fx-int {
    border-top: 1px solid var(--borda);
  }
  .header-header-fx-int {
    box-shadow: none;
    border: none;
  }
  .container-template::-webkit-scrollbar {
    display: none;
  }
}
