.dashboard-fade-in-up {
  animation: dashboardFadeInUp 0.5s forwards;
}

.dashboard-fade-out-down {
  animation: dashboardFadeOutDown 0.5s forwards;
}

.dashboard-fade-out-up {
  animation: dashboardFadeOutUp 0.8s forwards;
}

.dashboard-hidden {
  display: none;
}

.dashboard-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.dashboard-header {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cost-center-select {
  padding: 10px;
  font-size: 16px;
  background: none;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  outline: none;
  color: var(--txt-subtitulo);
}

.cost-center-select:focus,
.cost-center-select:active {
  outline: none;
  border: none;
}

.available-value {
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.dashboard-content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  flex-wrap: wrap;
  transition: all 0.3s ease;
}

.chart-wrapper {
  position: relative;
  width: 40%;
  transition: opacity 0.5s ease, transform 0.5s ease, width 0.5s ease;
}

#expense-chart {
  width: 100%;
  height: auto;
}

.chart-center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--txt-nav-selecionado);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.chart-center-text div {
  font-size: 24px;
  font-weight: bold;
}

#center-label {
  font-size: 16px;
  font-weight: normal;
  color: var(--txt-nav);
}

.accounts-list-container {
  width: 55%;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
}

.accounts-list-container.vertical-list-animation {
  transition: flex-direction 0.5s ease;
  flex-direction: column !important;
}

.accounts-list-container h2 {
  text-align: start;
  font-size: 14px;
  font-weight: 400;
  color: var(--txt-subtitulo);
  margin-bottom: 10px;
  margin-left: 5px;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.accounts-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  transition: all 0.3s ease;
  width: 100%;
}

.account-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  background-color: var(--form-card-bg);
  color: var(--label-text);
  padding: 10px;
  border-radius: 15px;
  border: 1px solid hsl(215, 14%, 15%);
  box-shadow: var(--sombra-leve);
  transition: background-color 0.3s ease;
  flex: 0 0 auto;
  min-width: 7%;
  margin-right: 10px;
}

.account-item .account-label-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 35%;
}
.account-label-column span {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 1.08rem;
}

.account-item .progress-bar-column {
  width: 60%;
}

.account-label {
  background-color: var(--label-bg);
  color: var(--label-text);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  margin-bottom: 5px;
  text-align: center;
  display: inline-block;
}

.progress-bar-wrapper {
  height: 16px;
  background-color: hsl(215, 22%, 8%);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.3s ease, opacity 0.3s ease;
}

.progress-bar {
  height: 100%;
  width: 0;
  transition: width 1s ease;
  animation: growProgressBar 1s ease-in-out forwards;
}

.horizontal-list {
  flex-direction: row !important;
  flex-wrap: nowrap !important;
  overflow-x: auto;
}

/* Animações específicas para a dashboard */
@keyframes dashboardFadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes dashboardFadeOutDown {
  from {
    opacity: 1;
    transform: translateX(0);
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateX(-200px);
    transform: translateY(50px);
  }
}

@keyframes dashboardFadeOutUp {
  from {
    opacity: 1;
    transform: translateX(0);
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateX(200px);
    transform: translateY(-50px);
  }
}

@keyframes growProgressBar {
  from {
    width: 0;
  }
  to {
    width: var(--progress-bar-width, 0%);
  }
}

@media only screen and (max-width: 56.25rem) {
  .dashboard-content {
    flex-direction: column;
    align-items: flex-start;
    padding: 7px;
  }

  .dashboard-header {
    padding: 7px;
  }

  .cost-center-select {
    padding: 5px 0px;
    color: var(--txt-subtitulo);
  }

  .chart-wrapper {
    width: 60%;
    margin: 0 auto 20px auto;
  }

  .accounts-list-container {
    width: 100%;
  }

  .accounts-list-container h2 {
    font-size: 12px;
    margin-bottom: 7px;
  }

  .accounts-list {
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  .accounts-list::-webkit-scrollbar {
    display: none;
  }

  .account-item {
    margin-bottom: 5px;
  }

  .account-label {
    font-size: 10px;
    padding: 3px 5px;
  }

  .accounts-list-container h2 {
    font-size: 10px;
    margin-bottom: 5px;
  }

  .progress-bar-wrapper {
    height: 13px;
    background-color: hsl(215, 20%, 10%);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.3s ease, opacity 0.3s ease;
  }
}
