.despesas-medium-card-editar .btn-outline-principal {
  width: auto;
  font-weight: regular;
  font-size: 10px;
  border-radius: 5px;
  border: 1px solid var(--btn-secundario);
  letter-spacing: 0.5px;
  background: var(--btn-secundario);
  color: var(--txt-principal);
}
.despesas-medium-card-editar .btn-outline-principal:hover {
  border: 1px solid var(--btn-secundario-destaque);
  background: var(--btn-secundario-hover);
  color: var(--txt-principal);
  box-shadow: none;
}
