.despesas-medium-card-editar .btn-leaked {
  width: auto;
  font-weight: regular;
  font-size: 10px;
  border-radius: 20px;
  border: 1px solid var(--cor-p3);
  letter-spacing: 0.5px;
}
.despesas-medium-card-editar .btn-leaked:hover {
  border: 1px solid #a57ff0;
  color: #a57ff0;
}
