/* Grid */
.pleitos-template {
  display: grid;
  align-content: center;
  justify-content: center;
  grid:
    "pleitos-sidenav pleitos-section" 1fr
    / 1.1fr 1.9fr;
}

/* Áreas de grid */
.pleitos-section {
  grid-area: pleitos-section;
  text-align: center;
}
.pleitos-sidenav {
  grid-area: pleitos-sidenav;
  text-align: center;
}

/* RESPONSIVO */
@media (max-width: 800px) {
  .pleitos-template {
    grid:
      "pleitos-sidenav"
      "pleitos-section"
      /1fr;
  }
  .pleitos-section {
    padding: 10px 0px 30px 0px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px -10px 10px -10px rgba(0, 0, 0, 0.4);
  }
}
