/* HEADER TEMPLATE */
/* Definição do layout usando grid para o cabeçalho */
.header-template {
  display: grid;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  grid: "header-back header-nav header-search" 2.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Áreas de grid */
.header-back {
  grid-area: header-back;

  margin-left: 1.25rem;
  width: 2rem;
}
.header-title {
  display: none;
  grid-area: header-title;
  width: 1.375rem;
  color: var(--cor-12);
}
.header-nav {
  grid-area: header-nav;
}
.header-search {
  grid-area: header-search;
  margin-right: 1.25rem;
  width: 3.75rem;
  height: auto;
}

/* Definição do layout usando grid para o cabeçalho dos formularios */
.header-template-form {
  display: grid;
  align-items: center;
  justify-items: auto;
  text-transform: uppercase;
  grid: "header-template-form-menu header-template-form-title" 45px;
  box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.4);
}
/* Áreas de grid */
.header-template-form-menu {
  grid-area: header-template-form-menu;
  justify-self: start;
  margin-left: 1.25rem;
  width: 32px;
}
.header-template-form-title {
  grid-area: header-template-form-title;
  justify-self: auto;
  font-size: var(--titulo-xl);
  color: var(--cor-12);
}

/* RESPONSIVO */
@media (max-width: 767px) {
  .header-template {
    display: grid;
    align-content: center;
    justify-content: space-between;
    grid: "header-back header-title header-search" 2.4375rem;
    background: none;
    box-shadow: none;
  }
  .header-template.box-shadow-active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: var(--cor-0);
  }

  .header-back {
    margin-left: 0.625rem;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.85);
    border-radius: 0.9375rem;
    padding: 3px;
    display: block;
  }
  .header-title {
    font-size: var(--titulo-xl);
    display: inline-block;
    color: var(--cor-6);
  }
  .header-search {
    margin-right: 0.625rem;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.85);
    border-radius: 0.9375rem;
    padding: 3px;
    display: block;
  }
  .header-nav {
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10000000;
  }

  .header-template-form {
    grid: "header-template-form-menu header-template-form-title" 35px;
  }
  .header-template-form-menu {
    grid-area: header-template-form-menu;
    margin-left: 0.625rem;
  }
}
