/* HEADER TEMPLATE */
/* Definição do layout usando grid para o cabeçalho */
.header-template {
  display: grid;
  align-items: center;
  justify-items: center;
  text-transform: uppercase;
  grid: "header-menu header-nav header-search" 40px;
  box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.4);
}

/* Áreas de grid */
.header-menu {
  grid-area: header-menu;
  justify-self: start;
  margin-left: 1.25rem;
  width: 32px;
}
.header-title {
  display: none;
  grid-area: header-title;
  width: 22px;
  color: var(--cor-12);
}
.header-nav {
  grid-area: header-nav;
}
.header-search {
  grid-area: header-search;
  justify-self: end;
  margin-right: 1.25rem;
  width: 60px;
  height: auto;
}

/* Definição do layout usando grid para o cabeçalho dos formularios */
.header-template-form {
  display: grid;
  align-items: center;
  justify-items: auto;
  text-transform: uppercase;
  grid: "header-template-form-menu header-template-form-title" 45px;
  box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.4);
}

/* Áreas de grid */
.header-template-form-menu {
  grid-area: header-template-form-menu;
  justify-self: start;
  margin-left: 1.25rem;
  width: 32px;
}
.header-template-form-title {
  grid-area: header-template-form-title;
  justify-self: auto;
  font-size: var(--titulo-xl);
  color: var(--cor-12);
}

/* RESPONSIVO */
@media (max-width: 767px) {
  .header-template {
    align-items: center;
    justify-content: space-between;
    grid:
      "header-menu header-title header-search" 39px
      / auto auto auto;
  }
  .header-menu {
    margin-left: 0.625rem;
  }
  .header-title {
    font-size: var(--titulo-xl);
    display: flex;
    text-align: justify;
    align-items: center;
    justify-content: center;
  }
  .header-search {
    margin-right: 0.625rem;
  }
  .header-nav {
    background: var(--cor-0);
    box-shadow: 0px -10px 10px -10px rgba(0, 0, 0, 0.15);
    position: fixed;
    bottom: 0;
    width: 100vh;
    z-index: 1000;
  }

  .header-template-form {
    grid:
      "header-template-form-menu header-template-form-title" 35px
      / auto auto auto;
  }
  .header-template-form-menu {
    grid-area: header-template-form-menu;
    margin-left: 0.625rem;
  }
}
