.body-mapas-template {
  display: grid;
  gap: 10px;
  grid:
    "header-mapas" 2.7rem
    "main-mapas" auto
    / 1fr;
  box-sizing: border-box;
}
/* container-areas */
.header-mapas {
  grid-area: header-mapas;
  background: none;
  box-sizing: border-box;
  padding: 5px;
}
.main-mapas {
  grid-area: main-mapas;
  box-sizing: border-box;
  padding: 0 5px;
}

/* RESPONSIVO */
@media only screen and (max-width: 56.25rem) {
  .body-mapas-template {
    width: 100vw;
    gap: 0px;
    grid-template-columns: auto;
    grid-template-rows: 2.7rem auto;
    grid:
      "header-mapas"
      "main-mapas";
    transition: grid-template-rows 0.3s ease-in-out;
  }
  .header-mapas {
    grid-area: header-mapas;
    top: 0;
    width: 100%;
  }

  .main-mapas {
    grid-area: main-mapas;
  }
}
