:root {
  /* Texts */
  --txt-titulo: hsl(218, 0%, 95%);
  --txt-subtitulo: hsl(218, 0%, 85%);
  --txt-principal: hsl(218, 0%, 90%);
  --txt-secundario: hsl(218, 15%, 77%);
  --txt-destaque: hsl(218, 100%, 80%);
  --txt-contraste: hsl(218, 20%, 40%);
  --txt-contraste-alt: hsl(218, 0%, 98%);

  /* Backgrounds */
  --background-principal: hsl(218, 32%, 10%);
  --fundo-container: hsl(218, 32%, 15%);
  --fundo-modal: hsl(218, 32%, 25%);
  --borda: hsl(218, 32%, 25%);
  --divisor: hsl(218, 32%, 32%);

  /* Cards */
  --card-fundo: hsl(218, 32%, 20%);
  --card-borda: hsl(218, 32%, 25%);
  --card-hover: hsl(218, 32%, 35%);
  --card-aberto-fundo: hsl(218, 40%, 33%);
  --card-alt-fundo: hsl(218, 32%, 25%);

  /* Highlight and Detail Colors */
  --detalhe-1: hsl(218, 32%, 25%);
  --detalhe-3: hsl(218, 40%, 38%);

  /* Primary Colors */
  --cor-p1: hsl(210, 100%, 45%);
  --cor-p2: hsl(210, 100%, 40%);
  --cor-p3: hsl(210, 100%, 55%);

  /* Secondary Colors */
  --cor-s1: hsl(210, 100%, 50%);
  --cor-s2: hsl(30, 100%, 50%);
  --cor-s3: hsl(210, 100%, 45%);

  /* Buttons */
  --btn-principal: hsl(210, 100%, 45%);
  --btn-principal-hover: hsl(210, 100%, 50%);
  --btn-principal-destaque: hsl(210, 100%, 55%);
  --btn-principal-text: hsl(0, 0%, 100%);

  --btn-principal-alt: hsl(210, 80%, 55%);
  --btn-principal-alt-hover: hsl(210, 80%, 60%);
  --btn-principal-alt-destaque: hsl(210, 85%, 65%);
  --btn-principal-alt-txt: hsl(0, 0%, 100%);

  --btn-secundario: hsl(210, 80%, 40%);
  --btn-secundario-hover: hsl(210, 80%, 45%);
  --btn-secundario-destaque: hsl(210, 85%, 50%);
  --btn-secundario-text: hsl(0, 0%, 100%);

  --btn-secundario-alt: hsl(210, 75%, 65%);
  --btn-secundario-alt-hover: hsl(210, 75%, 70%);
  --btn-secundario-alt-destaque: hsl(210, 80%, 75%);
  --btn-secundario-alt-text: hsl(210, 75%, 90%);

  /* Communication Colors */
  --link: hsl(210, 100%, 50%);
  --link-hover: hsl(210, 100%, 55%);
  --placeholder: hsl(218, 15%, 60%);
  --sucesso: hsl(140, 80%, 50%);
  --erro: hsl(0, 80%, 50%);
  --aviso: hsl(30, 100%, 50%);
  --informacao: hsl(210, 80%, 70%);

  /* Others */
  --scrollbar-bg: hsl(218, 25%, 20%);
  --scrollbar-thumb: hsl(218, 30%, 25%);
  --scrollbar-thumb-hover: hsl(218, 30%, 30%);

  /* Form Fields */
  --form-background: hsl(218, 30%, 15%);
  --input-background: hsl(218, 30%, 20%);
  --input-border: hsl(218, 35%, 25%);
  --input-text: hsl(0, 0%, 95%);
  --input-placeholder: hsl(218, 30%, 60%);
  --input-bg-empty: hsl(218, 30%, 25%);
  --input-bg-filled: hsl(218, 35%, 30%);
  --input-focus-border: hsl(210, 100%, 50%);
  --input-focus-background: hsl(218, 35%, 30%);
  --input-error-border: hsl(0, 80%, 60%);
  --input-error-background: hsl(0, 40%, 35%);
  --input-success-border: hsl(140, 80%, 50%);
  --input-success-background: hsl(140, 60%, 35%);
  --input-icon: hsl(0, 0%, 95%);
  --button-clear: hsl(0, 0%, 100%);
  --button-clear-hover: hsl(0, 0%, 90%);

  /* Tooltip and Error/Success Messages for Inputs */
  --tooltip-background: hsl(218, 30%, 20%);
  --tooltip-text: hsl(0, 0%, 95%);
  --message-error-text: hsl(0, 80%, 100%);
  --message-success-text: hsl(140, 90%, 100%);

  --cor-marc1: rgba(229, 115, 115);
  --cor-marc2: rgba(255, 138, 101);
  --cor-marc3: rgba(255, 183, 77);
  --cor-marc4: rgba(255, 213, 79);
  --cor-marc5: rgba(255, 241, 118);
  --cor-marc6: rgba(218, 231, 117);
  --cor-marc7: rgba(174, 213, 129);
  --cor-marc8: rgba(129, 199, 132);
  --cor-marc9: rgba(77, 182, 172);
  --cor-marc10: rgba(77, 232, 225);
  --cor-marc11: rgba(79, 195, 247);
  --cor-marc12: rgba(100, 181, 246);
  --cor-marc13: rgba(121, 134, 203);
  --cor-marc14: rgba(149, 117, 205);
  --cor-marc15: rgba(240, 98, 146);
  --cor-marc16: rgba(186, 104, 200);
  --cor-marc17: rgba(161, 136, 127);
  --cor-marc18: rgba(144, 164, 174);
  --cor-marc19: rgba(176, 190, 197);
  --cor-marc20: rgba(120, 144, 156);
  --cor-marc21: rgba(96, 125, 139);
  --cor-marc22: rgba(69, 90, 100);
  --cor-marc23: rgba(51, 51, 51);
  --cor-marc24: rgba(102, 102, 102);
  --cor-marc25: rgba(153, 153, 153);
}

.txt-principal {
  color: var(--txt-principal);
}
.txt-secundario {
  color: var(--txt-secundario);
}
.background-principal {
  background: var(--background-principal);
}
.container {
  background: var(--fundo-container);
}
.card-fundo {
  background: var(--card-fundo);
}
.card-borda {
  border-color: var(--card-borda);
}
.card-hover {
  background: var(--card-hover);
}
.card-aberto-fundo {
  background: var(--card-aberto-fundo);
}
.modal-background {
  background: var(--fundo-modal);
}
.card-alt {
  background: var(--card-alt-fundo);
}
.bordas {
  border-color: var(--borda);
}
.divisores {
  background: var(--divisor);
}
.btn-principal {
  background: var(--btn-principal);
  color: var(--txt-principal);
}
.btn-principal-hover {
  background: var(--btn-principal-hover);
}
.btn-principal-destaque {
  background: var(--btn-principal-destaque);
}
.btn-secundario {
  background: var(--btn-principal-alt);
  color: var(--txt-principal);
}
.btn-secundario-hover {
  background: var(--btn-principal-alt-hover);
}
.btn-secundario-destaque {
  background: var(--btn-principal-alt-destaque);
}
.btn-alt {
  background: var(--btn-secundario-alt);
  color: var(--btn-secundario-alt-text);
}
.detalhes-1 {
  background: var(--detalhe-1);
}
.detalhes-3 {
  background: var(--detalhe-3);
}
.cor-p1 {
  color: var(--cor-p1);
}
.cor-p2 {
  color: var(--cor-p2);
}
.cor-s1 {
  color: var(--cor-s1);
}
.cor-s2 {
  color: var(--cor-s2);
}
.link {
  color: var(--link);
}
.link-hover:hover {
  color: var(--link-hover);
}
.placeholder {
  color: var(--placeholder);
}
.sucesso {
  color: var(--sucesso);
}
.erro {
  color: var(--erro);
}
.aviso {
  color: var(--aviso);
}
.informacao {
  color: var(--informacao);
}
.cor-marca {
  background: var(--cor-marca);
}

.cor-marc1 {
  background: var(--cor-marc1);
}
.cor-marc2 {
  background: var(--cor-marc2);
}
.cor-marc3 {
  background: var(--cor-marc3);
}
.cor-marc4 {
  background: var(--cor-marc4);
}
.cor-marc5 {
  background: var(--cor-marc5);
}
.cor-marc6 {
  background: var(--cor-marc6);
}
.cor-marc7 {
  background: var(--cor-marc7);
}
.cor-marc8 {
  background: var(--cor-marc8);
}
.cor-marc9 {
  background: var(--cor-marc9);
}
.cor-marc10 {
  background: var(--cor-marc10);
}
.cor-marc11 {
  background: var(--cor-marc11);
}
.cor-marc12 {
  background: var(--cor-marc12);
}
.cor-marc13 {
  background: var(--cor-marc13);
}
.cor-marc14 {
  background: var(--cor-marc14);
}
.cor-marc15 {
  background: var(--cor-marc15);
}
.cor-marc16 {
  background: var(--cor-marc16);
}
.cor-marc17 {
  background: var(--cor-marc17);
}
.cor-marc18 {
  background: var(--cor-marc18);
}
.cor-marc19 {
  background: var(--cor-marc19);
}
.cor-marc20 {
  background: var(--cor-marc20);
}
.cor-marc21 {
  background: var(--cor-marc21);
}
.cor-marc22 {
  background: var(--cor-marc22);
}
.cor-marc23 {
  background: var(--cor-marc23);
}
.cor-marc24 {
  background: var(--cor-marc24);
}
.cor-marc25 {
  background: var(--cor-marc25);
}
