:root {
  /* Textos */
  --txt-principal: hsl(0, 0%, 98%); /* Texto Principal */
  --txt-secundario: hsl(0, 0%, 85%); /* Texto Secundário */
  --txt-destaque: hsl(0, 0%, 80%); /* Texto de Destaque */

  /* Fundos */
  --background-principal: hsl(210, 30%, 8%); /* Fundo Principal */
  --container: hsl(210, 30%, 15%); /* Container */
  --modal-background: hsl(210, 30%, 25%); /* Fundo de Modal */
  --bordas: hsl(210, 20%, 35%); /* Bordas */
  --divisores: hsl(210, 20%, 45%); /* Divisores */

  /* Cards */
  --card-fundo: hsl(210, 25%, 20%); /* Fundo de Cards */
  --card-borda: hsl(210, 25%, 23%); /* Borda de Card */
  --card-hover: hsl(210, 25%, 30%); /* Hover do Card */
  --card-aberto-fundo: hsl(210, 25%, 15%); /* Fundo de Cards abertos */
  --card-alt: hsl(210, 25%, 15%); /* Fundo de Cards alternativos */

  /* Cores para detalhes e destaques */
  --detalhes-1: hsl(210, 25%, 25%); /* Detalhes 1 */
  --detalhes-3: hsl(210, 25%, 20%); /* Detalhes 3 */
  --cor-p1: hsl(150, 75%, 45%); /* Cor principal 1 */
  --cor-p2: hsl(160, 60%, 50%); /* Cor principal 2 */
  --cor-s1: hsl(150, 40%, 70%); /* Cor secundaria 1 */
  --cor-s2: hsl(160, 40%, 60%); /* Cor secundaria 2 */

  /* Botão Primário */
  --btn-principal: hsl(150, 60%, 40%); /* Fundo do Botão Primário */
  --btn-principal-hover: hsl(150, 60%, 45%); /* Hover do Botão Primário */
  --btn-principal-destaque: hsl(150, 60%, 50%); /* Destaque do Botão Primário */

  /* Botão Secundário */
  --btn-secundario: hsl(160, 50%, 45%); /* Fundo do Botão Secundário */
  --btn-secundario-hover: hsl(160, 50%, 50%); /* Hover do Botão Secundário */
  --btn-secundario-destaque: hsl(
    160,
    50%,
    55%
  ); /* Destaque do Botão Secundário */

  /* Botão Alternativo */
  --btn-alt: hsl(0, 0%, 95%); /* Fundo do Botão Alternativo */
  --btn-alt-text: hsl(210, 20%, 25%); /* Texto do Botão Alternativo */

  /* Cores de comunicação */
  --link: hsl(150, 50%, 45%); /* Links */
  --link-hover: hsl(150, 50%, 55%); /* Hover dos Links */
  --placeholder: hsl(210, 20%, 50%); /* Placeholder */
  --sucesso: hsl(120, 40%, 50%); /* Mensagem de Sucesso */
  --erro: hsl(0, 70%, 50%); /* Mensagem de Erro */
  --aviso: hsl(30, 90%, 50%); /* Mensagem de Aviso */
  --informacao: hsl(210, 50%, 50%); /* Mensagem de Informação */

  /* Cores da marca */
  --cor-marca: linear-gradient(
    to right,
    hsl(150, 60%, 45%),
    hsl(160, 60%, 50%),
    hsl(160, 50%, 50%)
  ); /* Cor de Marca */

  --cor-marc1: rgba(229, 115, 115);
  --cor-marc2: rgba(255, 138, 101);
  --cor-marc3: rgba(255, 183, 77);
  --cor-marc4: rgba(255, 213, 79);
  --cor-marc5: rgba(255, 241, 118);
  --cor-marc6: rgba(220, 231, 117);
  --cor-marc7: rgba(174, 213, 129);
  --cor-marc8: rgba(129, 199, 132);
  --cor-marc9: rgba(77, 182, 172);
  --cor-marc10: rgba(77, 210, 225);
  --cor-marc11: rgba(79, 195, 247);
  --cor-marc12: rgba(100, 181, 246);
  --cor-marc13: rgba(121, 134, 203);
  --cor-marc14: rgba(149, 117, 205);
  --cor-marc15: rgba(240, 98, 146);
  --cor-marc16: rgba(186, 104, 200);
  --cor-marc17: rgba(161, 136, 127);
  --cor-marc18: rgba(144, 164, 174);
  --cor-marc19: rgba(176, 190, 197);
  --cor-marc20: rgba(120, 144, 156);
  --cor-marc21: rgba(96, 125, 139);
  --cor-marc22: rgba(69, 90, 100);
  --cor-marc23: rgba(51, 51, 51);
  --cor-marc24: rgba(102, 102, 102);
  --cor-marc25: rgba(153, 153, 153);
}

.txt-principal {
  color: var(--txt-principal);
}
.txt-secundario {
  color: var(--txt-secundario);
}
.background-principal {
  background: var(--background-principal);
}
.container {
  background: var(--container);
}
.card-fundo {
  background: var(--card-fundo);
}
.card-borda {
  border-color: var(--card-borda);
}
.card-hover {
  background: var(--card-hover);
}
.card-aberto-fundo {
  background: var(--card-aberto-fundo);
}
.modal-background {
  background: var(--modal-background);
}
.card-alt {
  background: var(--card-alt);
}
.bordas {
  border-color: var(--bordas);
}
.divisores {
  background: var(--divisores);
}
.btn-principal {
  background: var(--btn-principal);
  color: var(--txt-principal);
}
.btn-principal-hover {
  background: var(--btn-principal-hover);
}
.btn-principal-destaque {
  background: var(--btn-principal-destaque);
}
.btn-secundario {
  background: var(--btn-secundario);
  color: var(--txt-principal);
}
.btn-secundario-hover {
  background: var(--btn-secundario-hover);
}
.btn-secundario-destaque {
  background: var(--btn-secundario-destaque);
}
.btn-alt {
  background: var(--btn-alt);
  color: var(--btn-alt-text);
}
.detalhes-1 {
  background: var(--detalhes-1);
}
.detalhes-3 {
  background: var(--detalhes-3);
}
.cor-p1 {
  color: var(--cor-p1);
}
.cor-p2 {
  color: var(--cor-p2);
}
.cor-s1 {
  color: var(--cor-s1);
}
.cor-s2 {
  color: var(--cor-s2);
}
.link {
  color: var(--link);
}
.link-hover:hover {
  color: var(--link-hover);
}
.placeholder {
  color: var(--placeholder);
}
.sucesso {
  color: var(--sucesso);
}
.erro {
  color: var(--erro);
}
.aviso {
  color: var(--aviso);
}
.informacao {
  color: var(--informacao);
}
.cor-marca {
  background: var(--cor-marca);
}

.cor-marc1 {
  background: var(--cor-marc1);
}
.cor-marc2 {
  background: var(--cor-marc2);
}
.cor-marc3 {
  background: var(--cor-marc3);
}
.cor-marc4 {
  background: var(--cor-marc4);
}
.cor-marc5 {
  background: var(--cor-marc5);
}
.cor-marc6 {
  background: var(--cor-marc6);
}
.cor-marc7 {
  background: var(--cor-marc7);
}
.cor-marc8 {
  background: var(--cor-marc8);
}
.cor-marc9 {
  background: var(--cor-marc9);
}
.cor-marc10 {
  background: var(--cor-marc10);
}
.cor-marc11 {
  background: var(--cor-marc11);
}
.cor-marc12 {
  background: var(--cor-marc12);
}
.cor-marc13 {
  background: var(--cor-marc13);
}
.cor-marc14 {
  background: var(--cor-marc14);
}
.cor-marc15 {
  background: var(--cor-marc15);
}
.cor-marc16 {
  background: var(--cor-marc16);
}
.cor-marc17 {
  background: var(--cor-marc17);
}
.cor-marc18 {
  background: var(--cor-marc18);
}
.cor-marc19 {
  background: var(--cor-marc19);
}
.cor-marc20 {
  background: var(--cor-marc20);
}
.cor-marc21 {
  background: var(--cor-marc21);
}
.cor-marc22 {
  background: var(--cor-marc22);
}
.cor-marc23 {
  background: var(--cor-marc23);
}
.cor-marc24 {
  background: var(--cor-marc24);
}
.cor-marc25 {
  background: var(--cor-marc25);
}
