/* Variáveis globais para tipografia */
:root {
  --vh: 1vh; /* Ajuste dinâmico da altura da viewport */

  /* Tamanhos dinâmicos de fontes */
  --font-xs: calc(0.75rem + 0.01vw); /* Escala de 12px + dinâmica */
  --font-sm: calc(0.875rem + 0.01vw); /* Escala de 14px + dinâmica */
  --font-md: calc(1rem + 0.01vw); /* Escala de 16px + dinâmica */
  --font-lg: calc(1.25rem + 0.01vw); /* Escala de 20px + dinâmica */
  --font-xl: calc(1.5rem + 0.01vw); /* Escala de 24px + dinâmica */
  --font-xxl: calc(2rem + 0.01vw); /* Escala de 32px + dinâmica */

  /* Propriedades de espaçamento relacionadas à tipografia */
  --line-height: 1.6; /* Altura padrão da linha */
  --letter-spacing: 0.05em; /* Espaçamento entre caracteres */
  --font-family: "Open Sans", "Roboto", system-ui, -apple-system,
    "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial",
    "sans-serif"; /* Fonte padrão */

  /* Ajustes de tamanho de fonte dinâmica com base na largura da tela */
  --font-dynamic: calc(1rem + 1vw); /* Escala adaptativa */
}

/* 18px - Medium (peso 500) */
.titulo-lg {
  font-family: var(--font-family);
  font-size: var(--font-lg);
  font-weight: 500;
  letter-spacing: var(--letter-spacing);
}

.titulo-area {
  font-family: "Open Sans", sans-serif;
  font-size: var(--titulo-lg);
  text-align: left;
  margin: 0.625rem;
  letter-spacing: var(--letter-spacing);
}

/* Responsividade */
@media only screen and (max-width: 56.25rem) {
  /* Para telas menores que 900px */
  :root {
    /* Redefine os tamanhos de fonte para dispositivos menores */
    --font-xs: calc(0.7rem + 0.2vw);
    --font-sm: calc(0.8rem + 0.2vw);
    --font-md: calc(0.95rem + 0.2vw);
    --font-lg: calc(1.1rem + 0.2vw);
    --font-xl: calc(1.4rem + 0.2vw);
    --font-xxl: calc(1.8rem + 0.2vw);
  }
}
