/* Grid */
.contatos-template {
  display: grid;
  gap: 0.625rem;
  align-content: center;
  justify-content: center;
  grid:
    "contatos-sidenav contatos-section" 1fr
    / 1.1fr 1.9fr;
}

/* Áreas de grid */
.contatos-section {
  grid-area: contatos-section;
  text-align: center;
  display: grid;
  grid-auto-flow: row;
  align-items: start;
  gap: 0.625rem;
}
.contatos-sidenav {
  grid-area: contatos-sidenav;
  text-align: center;
  display: grid;
  align-content: start;
  grid-auto-flow: row;
  gap: 0.625rem;
}

/* RESPONSIVO */
@media (max-width: 800px) {
  .contatos-template {
    grid:
      "contatos-sidenav"
      "contatos-section"
      /1fr;
  }
  .contatos-section {
    grid-area: contatos-section;
    padding: 0;
    border-radius: 0.9375rem;
    background: var(--cor-1);
  }
  .contatos-sidenav .area-template-content {
    padding: 0.652rem;
  }
}
