/* Grid */
.contatos-template {
  display: grid;
  align-content: center;
  justify-content: center;
  grid:
    "contatos-sidenav contatos-section" 1fr
    / 1.1fr 1.9fr;
}

/* Áreas de grid */
.contatos-section {
  grid-area: contatos-section;
  text-align: center;
}
.contatos-sidenav {
  grid-area: contatos-sidenav;
  text-align: center;
}

/* RESPONSIVO */
@media (max-width: 800px) {
  .contatos-template {
    grid:
      "contatos-sidenav"
      "contatos-section"
      /1fr;
  }
  .contatos-section {
    padding-top: 10px;
    border-radius: 15px;
    background-color: var(--cor-4);
  }
  .contatos-section .area-template {
    box-shadow: none;
  }
}
