/* Estilos CSS para o formulário */
form {
  padding: 5px;
  background: var(--cor-0);
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  margin-top: 2px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  font-size: var(--titulo-s);
}
fieldset {
  border-radius: 9px;
  margin-top: 10px;
}

legend img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.aba {
  display: none;
}
.aba.active {
  display: block;
}
.aba:first-of-type {
  display: block;
}
.aba-template {
  display: none;
}

.aba-template.active {
  display: block;
}

.nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  background: var(--cor-0);
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}
.nav li {
  align-self: center;
  justify-self: center;
}
.nav a {
  font-size: 1rem;
  padding: 10px;
  color: var(--cor-12);
  border-radius: 50px;
  display: flex;
  transition: 0.15s;
}
.nav a:hover {
  background-color: rgba(157, 157, 157, 0.7);
  padding: auto;
  transition: 1s;
}
.campo,
#campoWhatsapp,
#camposFilhos,
#camposConjuge,
#camposCargoComissionado {
  margin: 10px 10px 30px 10px;
}

.campo label {
  display: inline-block;
  margin: 10px 20px 5px 0px;
  font-weight: bold;
}

.campo input,
.campo select {
  width: 100%;
  box-sizing: border-box;
  padding: 9px;
  margin: 0px 20px 0px 20x;
  border: 1px solid #ccc;
  border-radius: 9px;
}

.campo input[type="checkbox"] {
  width: auto;
}

.campo input[type="radio"] {
  width: auto;
}
.campo-radio {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px;
}

.campo-radio label {
  margin-left: 5px;
}

.botoes {
  display: flex;
  justify-content: space-between;
  margin: 50px;
}

.botoes button:hover {
  background-color: #444;
}

.botoes button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Estilo para o botão de adicionar filho */
#adicionarFilhoBtn {
  padding: 8px 16px;
  background-color: var(--cor-11);
  color: var(--cor-0);
  border: none;
  border-radius: 9px;
  cursor: pointer;
}

/* Estilo para dar espaço entre os campos de filhos e centralizar o botão */
.campo:not(#camposFilhosContainer) {
  margin-bottom: 10px;
}

/* Estilo para centralizar o botão dentro do contêiner */
.centralizar-botao {
  display: flex;
  justify-content: center;
}

/* Responsivo */
@media only screen and (max-width: 767px) {
  .nav {
    grid-template-columns: repeat(
      1,
      1fr
    ); /* Altera para uma coluna em dispositivos móveis */
  }

  .nav a {
    padding: 10px 20px; /* Aumenta o espaço de toque em dispositivos móveis */
  }

  .botoes {
    flex-direction: column; /* Empilha os botões verticalmente em dispositivos móveis */
    margin: 20px 10px; /* Ajusta as margens */
  }

  .botoes button {
    width: 100%; /* Ocupa a largura total */
  }
}
