/* Estilos CSS para o formulário */
form {
  background: white;
  margin: 10px;
  border-radius: 9px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Evita sombra fora do formulário */
}

.aba {
  display: none;
  border-radius: 9px;
}

.aba:first-of-type {
  display: block;
}
.aba-template {
  display: grid;
  border-radius: 9px;
}

.nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 10px;
  background: var(--cor-8);
  border-radius: 9px;
}

.nav li {
  flex: 1;
}

.nav li a {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 5px;
  border-radius: 9px;
  color: white;
}

.nav li a:hover,
.nav li a:active,
.nav li a:focus {
  background-color: #ddd;
}

.nav li a.active {
  font-weight: bold;
  background-color: var(--cor-9);
}

.campo {
  margin: 10px 10px 30px 10px;
}

.campo label {
  display: inline-block;
  margin: 10px 20px 5px 0px;
  font-weight: bold;
}

.campo input,
.campo select {
  width: 100%;
  box-sizing: border-box;
  padding: 9px;
  margin: 0px 20px 0px 20x;
  border: 1px solid #ccc;
  border-radius: 9px;
}

.campo input[type="checkbox"] {
  width: auto;
}

.campo input[type="radio"] {
  width: auto;
}
.campo-radio {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px;
}

.campo-radio label {
  margin-left: 5px;
}

.botoes {
  display: flex;
  justify-content: space-between;
  margin: 50px;
}

.botoes button:hover {
  background-color: #444;
}

.botoes button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Estilo para o botão de adicionar filho */
#adicionarFilhoBtn {
  padding: 8px 16px;
  background-color: var(--cor-11);
  color: var(--cor-0);
  border: none;
  border-radius: 9px;
  cursor: pointer;
}

/* Estilo para dar espaço entre os campos de filhos e centralizar o botão */
.campo:not(#camposFilhosContainer) {
  margin-bottom: 10px;
}

/* Estilo para centralizar o botão dentro do contêiner */
.centralizar-botao {
  display: flex;
  justify-content: center;
}

.mensagem-orientacao {
  background-color: #ffcccc;
  padding: 10px;
  border-radius: 9px;
  margin: 7px 10px 20px 10px;
}
.mensagem-texto {
  text-align: center;
  font-size: var(--titulo-m);
  color: #cc0000;
}

.user-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
