/* Estilos para contaos na area de ANIVERSARIANTES */
.aniversario-small-card-editar .btn-outline-principal {
  width: auto;
  font-weight: regular;
  font-size: 11px;
  border-radius: 6px;
  border: 1px solid var(--btn-principal-alt);
  letter-spacing: 0.5px;
  background: var(--btn-principal-alt);
  color: var(--btn-principal-alt-txt);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.2);
}
.aniversario-small-card-editar .btn-outline-principal:hover {
  border: 1px solid var(--btn-principal-alt-destaque);
  background: var(--btn-principal-alt-hover);
  color: var(--btn-principal-alt-txt);
  font-weight: bolder;
}

/* Area de aniversariantes */
.aniversariantes {
  display: none;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out;
}
.aniversariantes.visible {
  display: block;
  opacity: 1;
  max-height: 80vh;
}

.area-template-sessao-int.area-aniversariantes {
  background: var(--card-fundo);
  margin: 0px 10px;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.area-template-sessao-int.area-aniversariantes
  .area-template-sessao-int-header {
  color: var(--txt-titulo-card);
  justify-content: start;
  position: relative;
  padding: 12px;
}
.area-template-sessao-int.area-aniversariantes
  .area-template-sessao-int-header
  button {
  position: absolute;
  right: 10px;
}
.area-template-sessao-int.area-aniversariantes
  .area-template-sessao-int-header.visible {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 10px;
  color: var(--btn-filtro-select-text);
}

.area-template-sessao-int.area-aniversariantes
  .btn-recuar-expandir-aniver:hover {
  border-color: transparent;
}

.fade-in {
  animation: fadeIn 0.3s ease-in;
}
.fade-out {
  animation: fadeOut 0.3s ease-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 80vh;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    max-height: 80vh;
  }
  to {
    opacity: 0;
    max-height: 0;
  }
}

.aniversario-icon {
  margin-right: 10px;
}
.swing-animation {
  animation: swing 0.5s ease-in-out;
}
@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media only screen and (max-width: 900px) {
  .area-template-sessao-int.area-aniversariantes {
    margin: 0 10px;
  }
  .area-template-sessao-int.area-aniversariantes:hover {
    background: var(--card-fundo);
  }
  .area-template-sessao-int-content.aniversariantes .card-xs:hover {
    background: var(--card-fundo);
    border: none;
  }
}
