/* Estilos para contatos na área de ANIVERSARIANTES */
.aniversario-small-card-editar .btn-outline-principal {
  width: auto;
  font-weight: regular;
  font-size: 11px;
  border-radius: 9px;
  border: 1px solid var(--btn-secundario);
  letter-spacing: 0.5px;
  background: var(--btn-secundario);
  color: var(--btn-secundario-txt);
  box-shadow: var(--sombra-moderada);
}
.aniversario-small-card-editar .btn-outline-principal:hover {
  filter: brightness(1.1);
}

/* Área de aniversariantes */
.aniversariantes {
  display: none;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out;
}
.aniversariantes.visible {
  display: block;
  opacity: 1;
  max-height: 80vh;
}

.secao-interna-template.area-aniversariantes {
  background: var(--card-bg);
  margin: 0px 10px;
  padding: 10px 15px;
  border-radius: 20px;
  border: 1px solid var(--card-borda);
  cursor: pointer;
  box-shadow: var(--sombra-moderada);
}

/* Hover efeito padrão */
.secao-interna-template.area-aniversariantes:hover {
  filter: brightness(1.2);
}

/* Estilos do cabeçalho */
.secao-interna-template.area-aniversariantes .secao-interna-template-header {
  color: var(--txt-titulo-card);
  justify-content: start;
  position: relative;
  padding: 12px;
}

.secao-interna-template.area-aniversariantes
  .secao-interna-template-header
  button {
  position: absolute;
  right: 10px;
}

/* Estilos quando visível */
.secao-interna-template.area-aniversariantes.visible {
  filter: none;
  padding: 10px 0px;
}

.secao-interna-template.area-aniversariantes.visible:hover {
  filter: none;
}

.secao-interna-template.area-aniversariantes.visible
  .secao-interna-template-header {
  font-size: 18px;
  font-weight: 600;
  padding: 15px 30px 20px 15px;
  color: var(--txt-destaque);
}

.secao-interna-template.area-aniversariantes .btn-recuar-expandir-aniver:hover {
  border-color: transparent;
}

.fade-in {
  animation: fadeIn 0.3s ease-in;
}
.fade-out {
  animation: fadeOut 0.3s ease-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 80vh;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    max-height: 80vh;
  }
  to {
    opacity: 0;
    max-height: 0;
  }
}

.aniversario-icon {
  margin-right: 10px;
}
.swing-animation {
  animation: swing 0.5s ease-in-out;
}
@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media only screen and (max-width: 56.25rem) {
  .secao-interna-template.area-aniversariantes:hover {
    filter: none !important;
  }
  .secao-interna-template-content.aniversariantes .card-xs:hover {
    background: var(--card-bg);
    border: none;
  }
}
