/* Estilos para contatos na área de ANIVERSARIANTES */
.aniversario-small-card-editar .btn-outline-principal {
  width: auto;
  font-weight: 400;
  font-size: var(--font-xs);
  border-radius: 6px;
  border: 1px solid var(--btn-secundario);
  letter-spacing: 0.5px;
  background-color: var(--btn-secundario);
  color: var(--btn-secundario-txt);
  box-shadow: var(--sombra-moderada);
  transition: background-color 0.25s, filter 0.25s;
}
.aniversario-small-card-editar .btn-outline-principal:hover {
  filter: var(--hover);
  background-color: var(--btn-secundario-hover);
}

/* Área de aniversariantes */
.aniversariantes {
  display: none;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease, max-height 0.5s ease;
}

.aniversariantes.visible {
  opacity: 1;
  max-height: 80vh;
}

.aniversariantes.closing {
  opacity: 0;
  max-height: 0;
  transition: opacity 0.5s ease, max-height 0.5s ease;
}

.secao-interna-template.area-aniversariantes {
  background-color: var(--card-bg);
  margin: 0 10px;
  padding: 10px 15px;
  border-radius: 20px;
  border: 1px solid var(--card-borda);
  cursor: pointer;
  box-shadow: var(--sombra-moderada);
  transition: background-color 0.25s, border 0.25s;
}

/* Hover efeito padrão */
.secao-interna-template.area-aniversariantes:hover {
  filter: var(--hover);
}

.secao-interna-template.area-aniversariantes .secao-interna-template-header {
  color: var(--txt-titulo-card);
  justify-content: start;
  position: relative;
  padding: 12px;
  transition: color 0.25s, padding 0.25s;
}

.secao-interna-template.area-aniversariantes
  .secao-interna-template-header
  button {
  position: absolute;
  right: 10px;
}

.secao-interna-template.area-aniversariantes.visible {
  filter: none;
  padding: 10px 0;
}

.secao-interna-template.area-aniversariantes.visible:hover {
  filter: none;
}

.secao-interna-template.area-aniversariantes.visible
  .secao-interna-template-header {
  font-size: var(--font-lg);
  font-weight: 600;
  padding: 15px 30px 20px 15px;
  color: var(--txt-destaque);
}

.secao-interna-template.area-aniversariantes .btn-recuar-expandir-aniver:hover {
  border-color: transparent;
}

.aniversario-icon {
  margin-right: 10px;
}

.swing-animation {
  animation: swing 0.5s ease-in-out;
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media only screen and (max-width: 56.25rem) {
  .secao-interna-template.area-aniversariantes:hover {
    filter: none !important;
  }
  .secao-interna-template-content.aniversariantes .card-xs:hover {
    background-color: var(--card-bg);
    border: none;
  }
}
