.calendario-large-card-editar .btn-leaked,
.calendario-small-card-editar .btn-leaked,
.tarefa-small-card-editar .btn-leaked {
  width: auto;
  font-weight: regular;
  font-size: 10px;
  border-radius: 20px;
  border: 1px solid transparent;
  letter-spacing: 0.5px;
}
.calendario-large-card-editar .btn-leaked:hover,
.calendario-small-card-editar .btn-leaked:hover,
.tarefa-small-card-editar .btn-leaked:hover {
  border: 1px solid #a57ff0;
  color: #a57ff0;
}

.nav-calendar {
  justify-content: space-between;
  align-content: center;
  overflow-x: auto;
  gap: 15px;
  padding: 7px 5px;
  background: transparent;
  border-radius: 12px;
  color: var(--cor-1);
}
.nav-calendar .item1 {
  justify-self: start;
  align-self: center;
  padding: 5px 10px;
  color: var(--cor-1);
  background: var(--cor-2);
  border-radius: 12px;
  border: 1px solid transparent;
}
.nav-calendar .item2 {
  justify-self: end;
  align-self: center;
  padding: 5px 7px;
  margin-right: 3px;
}
.nav-calendar .item3 {
  padding: 0px;
}

.nav-semana {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 2px;
  padding: 0px;
  background: var(--cor-11);
  border-radius: 12px;
}

.dia-semana {
  text-align: center;
  padding: 7px;
  color: var(--cor-8);
  background: var(--cor-p2);
  border: 1px solid transparent;
  cursor: pointer;
  font-size: var(--font-medium-light);
  min-width: 33px;
  transition: background-color 0.5s ease;
}
.dia-semana:hover,
.change-semana:hover,
.filtro-tarefa:hover {
  color: #8653eb;
  box-shadow: 0 0 1px #7852ff58, 0 0 2px #7852ff58, 0 0 3px #7852ff58,
    0 0 4px #7852ff58, inset 0 0 1px #7852ff58, inset 0 0 2px #7852ff58,
    inset 0 0 3px #7852ff58, inset 0 0 4px #7852ff58;
  border: 1px solid #a57ff0;
  border-radius: 50px !important;
}
.change-semana:hover {
  border-radius: 12px !important;
}
.dia-semana:active,
.change-semana:active {
  box-shadow: 0 0 1px #ffffff, 0 0 2px #ffffff, 0 0 3px #ffffff, 0 0 4px #ffffff;
}
.dia-visualize {
  color: var(--cor-0) !important;
  background: #6b2fe2 !important;
  border: 1px solid #6b2fe2 !important;
  border-radius: 50px !important;
}

.dia-visible {
  display: block;
}
.dia-hidden {
  display: none;
}

.hoje {
  border-radius: 4px;
  border: 1px solid #6b2fe2;
  border-top: 5px solid #6b2fe2;
  color: var(--cor-1);
  background: var(--cor-2);
}
.hoje:hover {
  border: 1px solid #8653eb;
  border-top: 5px solid #8653eb;
  color: var(--cor-1);
  box-shadow: 0 0 2px #c6b6fc, 0 0 4px #c6b6fc;
}

.change-semana {
  text-align: center;
  justify-items: center;
  position: relative;
  border: 1px solid transparent;
  color: var(--cor-1);
  cursor: pointer;
  font-size: var(--font-medium-regular);
  background: var(--cor-p2);
}
.change-semana p {
  display: none;
}
.ant {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.prox {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.avancar {
  display: block;
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  width: 16px;
  height: 16px;
}
.anterior {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
}

.btn-calendario {
  padding: 0.2rem 0.625rem;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
  border: 1px solid transparent;
}
.btn-calendario:hover {
  color: var(--cor-5);
  border-color: var(--cor-5);
  border-radius: 9px;
}
.btn-calendario:active {
  background-color: darken(var(--cor-12), 10%);
  color: var(--cor-1);
  border-color: var(--cor-1);
}

.area-aniversaiantes {
  display: none;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, max-height 0.3s ease;
}
.area-aniversaiantes.visible {
  display: block;
  opacity: 1;
  max-height: 80vh;
}
.lista-vertical-alt li.item-visible {
  margin: 3px 0;
}

.filtro-tarefa {
  text-align: center;
  padding: 10px 15px;
  border: 1px solid transparent;
  border-radius: 50px;
  color: var(--cor-1);
  cursor: pointer;
  font-size: var(--font-medium-regular);
  background: var(--cor-2);
}
.filtro-visualize {
  color: var(--cor-0) !important;
  background: #6b2fe2 !important;
  border: 1px solid #6b2fe2 !important;
  border-radius: 50px !important;
}

@media only screen and (max-width: 819px) {
  .nav-calendar {
    padding: 5px;
  }
  .nav-calendar .item1 {
    padding: 5px 10px;
  }
  .nav-calendar .item2 {
    padding: 3px 5px;
    margin-right: 3px;
  }
  .nav-calendar .item3 {
    padding: 0px;
  }

  .nav-semana {
    background: transparent;
  }

  .dia-semana {
    padding: 3px 2px;
  }
  .dia-semana:hover {
    color: inherit;
    color: var(--cor-1);
    background: var(--cor-2);
    border: 1px solid transparent;
    box-shadow: none;
    border-radius: none;
  }

  .change-semana {
    padding: 5px 10px;
  }
  .change-semana:hover {
    color: inherit;
    color: var(--cor-1);
    background: var(--cor-2);
    border: 1px solid transparent;
    box-shadow: none;
  }

  .filtro-tarefa {
    margin-right: 0px;
    padding: 6px 10px;
  }
}
