/* Grid */
.calendario-template {
  display: grid;
  gap: 0.625rem;
  align-content: center;
  justify-content: center;
  grid:
    "calendario-sidenav calendario-section" 1fr
    / 1.1fr 1.9fr;
}

/* Áreas de grid */
.calendario-section {
  grid-area: calendario-section;
  text-align: center;
}
.calendario-sidenav {
  grid-area: calendario-sidenav;
  text-align: center;
}

/* RESPONSIVO */
@media (max-width: 800px) {
  .calendario-template {
    grid:
      "calendario-sidenav"
      "calendario-section"
      /1fr;
  }
  .calendario-sidenav .area-template-content {
    padding: 0.652rem;
  }
  .calendario-sidenav .card-s {
    background: #ffffffb7;
  }
  .calendario-sidenav .area-template-fil {
    padding: 0.32rem 0.652rem;
  }
}
