.calendario-large-card-editar .btn-outline-principal,
.calendario-small-card-editar .btn-outline-principal,
.tarefa-small-card-editar .btn-outline-principal {
  width: auto;
  font-weight: regular;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid var(--btn-secundario);
  letter-spacing: 0.5px;
  background: var(--btn-secundario);
  color: var(--txt-principal);
}
.calendario-large-card-editar .btn-outline-principal:hover,
.calendario-small-card-editar .btn-outline-principal:hover,
.tarefa-small-card-editar .btn-outline-principal:hover {
  border: 1px solid var(--btn-secundario-destaque);
  background: var(--btn-secundario-hover);
  color: var(--txt-principal);
  box-shadow: none;
}

.nav-calendar {
  overflow-x: auto;
  gap: 12px;
  padding: 5px;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 12px;
  color: var(--txt-principal);
}
.nav-calendar .item1 {
  justify-self: start;
  align-self: center;
  padding: 5px 10px;
  color: var(--txt-secundario);
  border-radius: 5px;
  background: var(--card-fundo);
}
.nav-calendar .item2 {
  justify-self: center;
  align-self: center;
  padding: 5px 7px;
  margin-right: 3px;
}
.nav-calendar .item3 {
  padding: 0px;
}

.nav-semana {
  display: grid;
  grid-auto-flow: column;
  gap: 5px;
}

.dia-semana {
  text-align: center;
  padding: 5px;
  color: var(--txt-principal);
  background: var(--card-fundo);
  border: 1px solid transparent;
  cursor: pointer;

  transition: background-color 0.5s ease;
  font-size: 12px;
  font-weight: 300;
  border-radius: 50%;
}
.dia-visualize {
  color: var(--bordas) !important;
  background: var(--cor-p2) !important;
  border: 1px solid var(--cor-p2) !important;
  border-radius: 50% !important;
}
.dia-visible {
  display: block;
}
.dia-hidden {
  display: none;
}

.hoje {
  border-radius: 4px;
  border: 1px solid var(--cor-p2);
  border-top: 5px solid var(--cor-p2);
  color: var(--txt-principal);
  background: var(--card-fundo);
}
.hoje:hover {
  border: 1px solid #edfcb6;
  border-top: 5px solid #edfcb6;
  color: var(--txt-secundario);
  box-shadow: 0 0 2px #edfcb6, 0 0 4px #edfcb6;
}

.change-semana {
  position: relative;
  border: 1px solid transparent;
  color: var(--txt-secundario);
  cursor: pointer;
  background: transparent;
}
.change-semana p {
  display: none;
}
.ant {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.prox {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.avancar {
  display: block;
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  width: 16px;
  height: 16px;
}
.anterior {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
}

.dia-semana:hover,
.change-semana:hover,
.filtro-tarefa:hover {
  background: var(--card-hover);
  border-radius: 50% !important;
}
.filtro-tarefa:hover {
  background: var(--card-hover);
  border-radius: 5px !important;
}
.change-semana:hover {
  border-radius: 12px !important;
}
.dia-semana:active,
.change-semana:active {
  box-shadow: 0 0 1px #ffffff, 0 0 2px #ffffff, 0 0 3px #ffffff, 0 0 4px #ffffff;
}

.btn-calendario {
  padding: 0.2rem 0.625rem;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
  border: 1px solid transparent;
}
.btn-calendario:hover {
  color: var(--cor-s1);
  border-color: var(--bordas);
  border-radius: 5px;
}
.btn-calendario:active {
  background-color: darken(var(--container), 10%);
  color: var(--txt-secundario);
  border-color: var(--txt-secundario);
}

.area-aniversaiantes {
  display: none;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, max-height 0.3s ease;
}
.area-aniversaiantes.visible {
  display: block;
  opacity: 1;
  max-height: 80vh;
}
.lista-vertical-alt li.item-visible {
  margin: 0px;
}

.filtro-tarefa {
  text-align: center;
  padding: 10px 15px;
  border: 1px solid transparent;
  border-radius: 5px;
  color: var(--txt-principal);
  cursor: pointer;
  background: var(--card-fundo);
  font-size: 12px;
  font-weight: 300;
}
.filtro-visualize {
  color: var(--bordas) !important;
  background: var(--cor-p2) !important;
  border: 1px solid var(--cor-p2) !important;
  border-radius: 5px !important;
}
.nav-calendar .tarefa {
  padding: 0px;
  gap: 6px;
  border-radius: 0px;
  background: transparent;
}

.area-template-cf.aniversariantes {
  background: var(--card-fundo);
  margin: 0px;
  padding: 12px;
  border: 1px solid transparent;
}
.area-template-cf-content.area-aniversaiantes .card-xs {
  background: var(--modal-background);
  border: 1px solid var(--card-borda);
}
.area-template-cf.aniversariantes:hover {
  background: var(--card-hover);
}
.area-template-cf-content.area-aniversaiantes .card-xs:hover {
  background: var(--card-fundo);
  border: 1px solid var(--card-hover);
}
.area-template-cf.aniversariantes .btn-recuar-expandir-alt:hover {
  border-color: transparent;
}

.fade-in {
  animation: fadeIn 0.1s ease-in;
}
.fade-out {
  animation: fadeOut 0.1s ease-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media only screen and (max-width: 900px) {
  .nav-calendar .item1 {
    padding: 5px 10px;
    background: var(--container);
  }
  .nav-calendar .item2 {
    padding: 3px 5px;
    margin-right: 3px;
    background: var(--modal-background);
  }
  .nav-calendar .item3 {
    padding: 3px 0px;
  }

  .nav-calendar .tarefa {
    padding: 8px 2px;
    gap: 6px;
    border-radius: 0px;
    background: transparent;
  }

  .dia-semana {
    padding: 3px;
    font-size: 11px;
    font-weight: 300;
  }
  .dia-semana h3 {
    font-size: 11px;
    font-weight: 400;
  }

  .change-semana {
    padding: auto 10px;
    background: var(--container);
  }

  .filtro-tarefa {
    margin-right: 0px;
    padding: 6px 10px;
  }

  .dia-semana:hover,
  .change-semana:hover,
  .filtro-tarefa:hover {
    color: inherit;
    color: var(--txt-secundario);
    background: var(--card-fundo);
    border: 1px solid transparent;
    box-shadow: none;
  }

  .area-template-cf.aniversariantes {
    margin: 0px;
  }
  .area-template-cf.aniversariantes:hover {
    background: var(--card-fundo);
  }
  .area-template-cf-content.area-aniversaiantes .card-xs:hover {
    background: var(--modal-background);
    border: 1px solid var(--card-borda);
  }
}
