/* ========================= */
/* ====== ORG-LIST CSS ====== */
/* ========================= */

/* Classe para ocultar completamente sublistas */
.org-sublist.hidden {
  display: none;
}

/* Classe para iniciar a transição de colapso */
.org-sublist.collapsing {
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  max-height: 0;
  opacity: 0;
}

/* Classe para iniciar a transição de expansão */
.org-sublist.expanding {
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  max-height: 1000000px; /* Valor suficientemente grande para permitir expansão */
  opacity: 1;
}

/* Sublistas (filhos) começam visíveis por padrão, a menos que tenham a classe 'hidden' */
.org-sublist {
  padding-left: 30px;
  position: relative;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  max-height: 1000000px; /* Valor suficientemente grande para permitir expansão */
  opacity: 1;
}

/* Linha vertical à esquerda conectando os subitens */
.org-sublist::before {
  content: "";
  position: absolute;
  top: 0;
  left: 12px;
  width: 1px;
  height: 100%;
  background-color: var(--borda);
  z-index: 0;
}

/* Estilos para o container que engloba o card e o toggle */
.container-org-item {
  display: flex;
  align-items: center;
  position: relative;
}

/* Estilos para o botão de toggle */
.toggle-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  color: var(--borda);
  transition: transform 0.3s ease-in-out;
}

/* Rotação da seta quando colapsada */
.toggle-btn.rotated .arrow-org {
  transform: rotate(0deg); /* Seta apontando para a direita */
}

/* Estilos para a seta */
.arrow-org {
  transition: transform 0.3s ease-in-out;
  width: 24px;
  height: 24px;
  transform: rotate(90deg); /* Aponta para baixo por padrão */
  fill: var(--borda);
}

/* ========================= */
/* ====== LIST.CSS ====== */
/* ========================= */

/* Container para a org-list e sombra */
.org-list-container {
  position: relative;
  overflow: hidden;
}

/* Estilos para a org-list */
.org-list {
  list-style: none;
  margin: 0 20px;
  position: relative;
  z-index: 1;
  overflow: auto;
  cursor: grab;
  padding-bottom: 10px;
}

/* Pseudo-elemento para a sombra do lado esquerdo */
.org-list-container::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 30px; /* Ajuste a largura conforme necessário */
  pointer-events: none; /* Permite interações com o conteúdo abaixo */
  z-index: 2;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.2), transparent);
  opacity: 0; /* Inicialmente invisível */
  transition: opacity 0.3s ease;
}

/* Classe para mostrar a sombra do lado esquerdo */
.org-list-container.shadow-left::before {
  opacity: 1;
}

/* Cursor durante o arrasto */
.org-list.active {
  cursor: grabbing;
  user-select: none; /* Previne a seleção de texto durante o arrasto */
}

/* Estilos para os itens da org-list */
.org-item {
  position: relative;
  margin: 20px 5px;
}

.org-list > .org-item:first-child {
  margin-top: 10px;
}

/* Hover e Focus Effects (opcional) */
.organograma-medium-card:hover {
  transform: translateY(-4px);
}

/* Responsividade (exemplo) */
@media (max-width: 768px) {
  .org-list {
    margin: 0 15px;
    margin-left: 5px;
  }
  .org-sublist {
    padding-left: 20px;
  }
  .org-sublist::before {
    left: 10px;
  }
  .arrow-org {
    width: 24px;
    height: 24px;
  }
  .org-list-container::before {
    width: 20px;
  }
}

@media (max-width: 480px) {
  .org-list {
    margin: 0 10px;
  }
  .toggle-btn {
    margin-right: 5px;
  }
  .arrow-org {
    width: 20px;
    height: 20px;
  }
  .org-list-container::before {
    width: 15px;
  }
}
