/* Botões */
/* Botões com Cor de Fundo */
.btn-principal {
  background: var(--btn-principal);
  color: var(--btn-principal-txt);
  border: 1px solid var(--btn-principal);
  box-shadow: var(--sombra-leve);
  padding: 12px 20px;
  border-radius: 6px;
  font-size: var(--font-sm);
  font-weight: 300;
  cursor: pointer;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.btn-principal:hover {
  background: var(--btn-principal-hover);
  border-color: none;
  box-shadow: var(--sombra-leve);
}
.btn-principal-destaque {
  background: var(--btn-principal-destaque);
  color: var(--btn-principal-txt);
  border: 1px solid var(--btn-principal-destaque);
  padding: 12px 20px;
  border-radius: 6px;
  font-size: var(--font-sm);
  font-weight: 300;
  cursor: pointer;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.btn-principal-alt {
  background: var(--btn-principal-alt);
  color: var(--btn-principal-alt-text);
  border: 1px solid var(--btn-principal-alt);
  box-shadow: var(--sombra-leve);
  padding: 12px 20px;
  border-radius: 6px;
  font-size: var(--font-sm);
  font-weight: 300;
  cursor: pointer;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.btn-principal-alt:hover {
  background: var(--btn-principal-alt-hover);
  border-color: var(--btn-principal-alt-hover);
  box-shadow: var(--sombra-leve);
}
.btn-principal-alt-destaque {
  background: var(--btn-principal-alt-destaque);
  color: var(--btn-principal-alt-text);
  border: 1px solid var(--btn-principal-alt-destaque);
  padding: 12px 20px;
  border-radius: 6px;
  font-size: var(--font-sm);
  font-weight: 300;
  cursor: pointer;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.btn-principal-alt:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  opacity: 0.6;
}

/* Botões sem Cor de Fundo (Outline) */
.btn-outline-principal {
  background: transparent;
  color: var(--txt-destaque);
  border: 1px solid var(--btn-principal);
  box-shadow: none;
  padding: 12px 20px;
  border-radius: 6px;
  font-size: var(--font-sm);
  font-weight: 300;
  cursor: pointer;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.btn-outline-principal:hover {
  background: var(--btn-principal-hover);
  color: var(--btn-principal-txt);
  box-shadow: var(--sombra-leve);
  padding: 12px 20px;
  border-radius: 6px;
  font-size: var(--font-sm);
  font-weight: 300;
  cursor: pointer;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para os botões da area de filtros */
/* Filtro  */
.container-filtros-template-content .btn-principal-alt,
.container-filtros-template-content .card-select-m {
  background: var(--btn-filtro) !important;
  color: var(--txt-subtitulo) !important;
  border: 1px solid transparent;
  box-shadow: var(--sombra-leve);
  width: 100%;
}
.container-filtros-template-content .btn-principal-alt:hover,
.container-filtros-template-content .card-select-m:hover {
  filter: var(--hover);
}

/* Estilo para o botão "X" fechar"*/
.close {
  position: absolute;
  padding: 0 10px;
  top: 5px;
  right: 5px;
  color: var(--txt-destaque);
  border-radius: 45px;
  font-size: 26px;
  font-weight: 400;
  cursor: pointer;
}
.close:hover {
  background: #c61818;
  cursor: pointer;
  color: rgb(227, 227, 227);
  filter: none;
}
.close:active {
  transform: translateY(1px) scale(0.98);
  box-shadow: var(--sombra-leve);
  border: 1px solid var(--borda);
  filter: var(--active);
}

/* Estilo para o botão Voltar */
.voltar {
  position: absolute;
  padding: 10px;
  top: 5px;
  left: 5px;
  color: var(--txt-conteudo-card);
  border-radius: 50px;
  font-size: 26px;
}
.voltar:hover {
  background: #c61818;
  cursor: pointer;
  color: var(--txt-titulo-card);
  filter: none;
}

.voltar:hover img {
  filter: none; /* Remove qualquer filtro da imagem */
}

.voltar {
  transition: transform 1s ease-in-out;
}

.voltar:active {
  transform: translateY(1px) scale(0.99);
  box-shadow: var(--sombra-leve);
  border: none;
  filter: var(--active);
  filter: none;
}

.voltar:active img {
  filter: none; /* Remove qualquer filtro da imagem */
}

/* Estilo para area de botões */
.botoes {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  width: 100%;
  font-weight: 400;
  font-size: var(--font-xs);
  padding: 12px 0;
}

.botoes .btn-outline-principal,
.botoes .btn-principal {
  width: 30%;
  box-shadow: var(--sombra-leve);
}
.botoes .btn-outline-principal:active,
.botoes .btn-principal:active {
  transform: translateY(1px) scale(0.98);
  box-shadow: var(--sombra-leve);
  border: 1px solid var(--borda);
  filter: var(--active);
}

.lista-vertical-alt .botoes {
  margin-top: 10px;
}

/* Responsivo */
@media only screen and (max-width: 56.25rem) {
  .botoes {
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    padding: 12px 0;
  }
  .botoes .btn-outline-principal,
  .botoes .btn-principal {
    width: auto;
    box-shadow: var(--sombra-leve);
  }
}
