/* Botões */
.btn-filled {
  padding: 0.75rem;
  background: var(--cor-12);
  color: var(--cor-1);
  font-size: small;
  border-radius: 12px;
  display: flex;
  text-align: justify;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.btn-leaked {
  padding: 0.75rem;
  background-color: rgba(0, 0, 0, 0.21);
  color: var(--cor-1);
  font-size: small;
  border: 1px solid #28385396;
  border-radius: 12px;
  display: flex;
  text-align: justify;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn-filter-leaked {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(to right bottom, var(--cor-12), var(--cor-2));
  border-radius: 12px;
  border: 1px solid transparent;
  color: var(--cor-0);
  box-shadow: none;
  cursor: pointer;
}

.area-template-fil-content .btn-filter-leaked {
  background: var(--cor-3);
  color: var(--cor-1);
  border: 1px solid transparent;
  border-radius: 12px;
}

.btn-filled:hover,
.btn-leaked:hover,
.btn-filter-leaked:hover {
  box-shadow: 0 0 1px #7852ff58, 0 0 2px #7852ff58, 0 0 3px #7852ff58,
    0 0 4px #7852ff58;
  border: 1px solid #a57ff0;
}
.btn-filled:active,
.btn-leaked:active,
.btn-filter-leaked:active {
  box-shadow: 0 0 1px #ffffff, 0 0 2px #ffffff, 0 0 3px #ffffff, 0 0 4px #ffffff;
}

/* Estilo para o botão filtro*/
.btn-filtro-pesq {
  display: grid;
  align-content: center;
  justify-content: center;
  padding: 3px 15px;
  border-radius: 20px;
  border: 1px solid transparent;
  background: var(--cor-2);
  transition: background-color 0.3s ease;
  cursor: pointer;
  position: relative;
  align-content: start;
  /*box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.35), 0 1px 3px rgba(0, 0, 0, 0.05),
    0 1px 2px 0 rgba(0, 0, 0, 0.35), 0 1px 3px rgba(0, 0, 0, 0.05);*/
}
.btn-filtro-pesq-title {
  font-size: 14px;
  color: var(--cor-0);
  margin-right: 17px;
}
/* Estilo para o "x" */
.remover-filtro {
  position: absolute;
  top: 50%;
  right: 1px;
  transform: translateY(-50%);
  width: 17px;
  height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--cor-0);
  font-size: 16px;
  border: none;
}
.remover-filtro:hover {
  color: var(--cor-1);
  color: #c61818;
}
.remover-filtro:hover + .btn-filtro-pesq {
  border: 1px solid #c61818;
}
