/* Botões */
.btn-filled {
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.21);
  color: var(--txt-secundario);
  font-size: small;
  border: 1px solid #28385300;
  border-radius: 12px;
  display: flex;
  text-align: justify;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.btn-leaked {
  padding: 0.75rem;
  background-color: rgba(0, 0, 0, 0.21);
  color: var(--txt-secundario);
  font-size: small;
  border: 1px solid #28385396;
  border-radius: 12px;
  display: flex;
  text-align: justify;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn-filter-leaked {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(
    to right bottom,
    var(--background-secundario),
    var(--destaque-1)
  );
  border-radius: 12px;
  border: 1px solid transparent;
  color: var(--txt-principal);
  box-shadow: none;
  cursor: pointer;
}

/* Estilo para o efeito hover e active em todos os botões */
/*  hover  */
.btn-filled:hover,
.btn-leaked:hover,
.btn-filter-leaked:hover {
  box-shadow: 0 0 1px #7852ff58, 0 0 2px #7852ff58, 0 0 3px #7852ff58,
    0 0 4px #7852ff58, inset 0 0 1px #7852ff58, inset 0 0 2px #7852ff58,
    inset 0 0 3px #7852ff58, inset 0 0 4px #7852ff58;
  border: 1px solid var(--btn-principal-destaque);
}
/*  active  */
.btn-filled:active,
.btn-leaked:active,
.btn-filter-leaked:active {
  box-shadow: 0 0 1px #ffffff, 0 0 2px #ffffff, 0 0 3px #ffffff, 0 0 4px #ffffff;
}

/* Estilos para os botões da area de filtros */
/* Filtro  */
.area-template-fil-content .btn-filter-leaked,
.area-template-fil-content .card-select-m {
  background: var(--card-fundo);
  color: var(--txt-secundario);
  border-radius: 6px;
}

/* Estilo para o botão filtro*/
.area-filtro {
  display: grid;
  grid-auto-flow: column;
  gap: 5px;
  text-align: center;
  align-items: center;
  justify-content: end;
  color: var(--txt-principal);
  padding: 16px 10px 14px 0px;
  font-size: 14px;
  font-weight: 300;
}

.btn-filtro-pesq {
  display: grid;
  align-content: center;
  justify-content: center;
  padding: 3px 15px;
  border-radius: 20px;
  border: 1px solid var(--card-fundo);
  background: var(--card-fundo);
  transition: background-color 0.3s ease;
  cursor: pointer;
  position: relative;
  align-content: start;
  font-size: 14px;
  font-weight: 300;
}
.btn-filtro-pesq-title {
  font-size: 14px;
  color: var(--txt-secundario);
  margin-right: 15px;
}

/* Estilo para o "x" do botão filtro */
.remover-filtro {
  position: absolute;
  top: 50%;
  right: 2px;
  transform: translateY(-50%);
  width: 17px;
  height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--txt-secundario);
  font-size: 16px;
  border: none;
}
.remover-filtro:hover {
  color: #c61818; /* Cor do texto ao passar o mouse */
}
.remover-filtro:hover + .btn-filtro-pesq {
  border: 1px solid var(--btn-principal-destaque);
  box-shadow: 0 0 1px #c6b6fc, 0 0 2px #c6b6fc, 0 0 3px #c6b6fc, 0 0 4px #c6b6fc;
}
