/* Estilo para mostrar o botão que exibe e oculta Filtros e Agenda para Hoje */
.btn-recuar-expandir {
  display: none;
}
.btn-recuar-expandir,
.btn-recuar-expandir:hover,
.btn-recuar-expandir:active {
  font-size: 14px;
  font-weight: 400;
  color: var(--btn-secundario-txt);
  background: var(--btn-secundario);
  border-radius: 40px;
  padding: 3px 7px;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
  border: 1px solid var(--btn-secundario);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  justify-self: end;
}

/* Botão alternativo usado para expandir "indicadores e estatisticas" */
.area-template-sessao-int-header .btn-recuar-expandir {
  background: transparent;
  border: 1px solid transparent;
  color: var(--cor-p2);
  box-shadow: none;
  font-size: 11px;
  font-weight: 300;
}
.area-template-sessao-int-header .btn-recuar-expandir::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid var(--cor-p2);
  margin-left: 5px;
  border-radius: 25%;
}
.area-template-sessao-int-header .btn-recuar-expandir.up::after {
  border-top: none; /* Remover a seta para baixo */
  border-bottom: 5px solid var(--cor-p2); /* Adicionar a seta para cima */
}

/* Estilo do botão que exibe os aniversariantes */
.btn-recuar-expandir-aniver {
  font-size: 11px;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: var(--cor-p2);
  background-color: transparent;
  padding: 3px 7px;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
  border: 2px solid transparent;
}
.btn-recuar-expandir-aniver {
  display: block;
  justify-self: end;
}
.btn-recuar-expandir-aniver {
  font-size: 11px;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: var(--cor-p2);
  background-color: transparent;
  padding: 3px 7px;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
  border: 2px solid transparent;
}
.btn-recuar-expandir-aniver:active {
  background-color: darken(var(--container-fundo), 10%);
  color: var(--cor-p2);
  border-color: var(--cor-p2);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* RESPONSIVO */
@media only screen and (max-width: 900px) {
  .btn-recuar-expandir {
    display: block;
    justify-self: end;
    padding: 3px 7px;
    font-size: 14px;
  }
}
