/* Estilo para mostrar o conteúdo quando a área está recuada */
.btn-recuar-expandir {
  display: none;
}
.btn-recuar-expandir-alt {
  font-size: 11px;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: var(--txt-secundario);
  background-color: transparent;
  padding: 3px 7px;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
  border: 2px solid transparent;
}
/* Estilo do botão */
.btn-recuar-expandir,
.btn-recuar-expandir:hover,
.btn-recuar-expandir:active {
  font-size: 11px;
  font-weight: 400;
  color: var(--background-principal);
  background-color: var(--btn-alt);
  border-radius: 7px;
  padding: 3px 7px;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
  border: 1px solid var(--btn-alt);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Botão alternativo usado para expandir "indicadores e estatisticas" */
.area-template-cf-header .btn-recuar-expandir {
  background-color: transparent;
  border: 1px solid transparent;
  color: var(--btn-alt);
  box-shadow: none;
  font-size: 11px;
  font-weight: 300;
}

.area-template-cf-header .btn-recuar-expandir::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid var(--btn-alt);
  margin-left: 5px;
  border-radius: 25%;
}

.area-template-cf-header .btn-recuar-expandir.up::after {
  border-top: none; /* Remover a seta para baixo */
  border-bottom: 5px solid var(--btn-alt); /* Adicionar a seta para cima */
}

/* RESPONSIVO */
@media only screen and (max-width: 900px) {
  .btn-recuar-expandir {
    display: block;
    justify-self: end;
    padding: 3px 7px;
  }
}

.btn-recuar-expandir-alt {
  display: block;
  justify-self: end;
}
/* Estilo do botão */
.btn-recuar-expandir-alt {
  font-size: 11px;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: var(--txt-secundario);
  background-color: transparent;
  padding: 3px 7px;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
  border: 2px solid transparent;
}
.btn-recuar-expandir-alt:hover {
  color: var(--destaque-4);
  border-color: var(--txt-secundario);
  border-radius: 9px;
}
.btn-recuar-expandir-alt:active {
  background-color: darken(var(--container), 10%);
  color: var(--txt-secundario);
  border-color: var(--txt-secundario);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
