/* Estilos */
#modalOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.esconderModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

#modalContent {
  position: absolute;
  bottom: 130px;
  right: 115px;
  background: #fff;
  padding: 1.25rem;
  border-radius: 0.9375rem;
  text-align: center;
  gap: 25px;
}
/* RESPONSIVO */
@media (max-width: 767px) {
  #modalContent {
    position: absolute;
    bottom: 110px;
    right: 85px;
    background: #fff;
    padding: 1.25rem;
    border-radius: 0.9375rem;
    text-align: center;
    gap: 25px;
  }
}
