.body-template {
  display: grid;
  align-content: center;
  justify-content: center;
  grid:
    "header header header" 45px
    " . main ."
    / auto minmax(350px, 1100px) auto;
}
/* container-areas */
.header {
  grid-area: header;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: var(--cor-0);
}
.main {
  grid-area: main;
  margin-top: 20px;
  margin-bottom: 80px;
}

/* RESPONSIVO */
@media (max-width: 767px) {
  .main {
    margin-top: auto;
  }
}
