.body-login {
  background: radial-gradient(
    closest-side,
    #1683c6 0%,
    #2196f3 10%,
    #001323 50%,
    #000000 100%
  );
  /*background: linear-gradient(to right bottom, #7a44e7, #5ce1e6);*/
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}
.body-login::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Ajuste a opacidade conforme necessário */
  z-index: -1; /* Coloca o pseudo-elemento atrás do conteúdo principal */
}

.logo-image {
  width: 7em;
  height: auto;
  margin: auto;
  z-index: 1;
}
.form-login {
  margin: auto;
  background: rgba(25, 25, 25, 0.425);
  width: 350px;
  height: auto;
  border-radius: 0.9375rem;
  box-shadow: 3px 3px 10px #000000;
  padding: 1em;
  backdrop-filter: blur(5px);
}

.form-login input,
.form-login label {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.form-login label {
  margin-bottom: 0.25em;
  color: rgb(255, 255, 255);
}

.form-login input {
  padding: 0.75em;
  border-radius: 5px;
  margin-bottom: 1.5em;
  font-size: 1em;
}
.form-login input:focus {
  outline: 2px solid lightblue;
}

.form-login fieldset {
  padding: 0.625rem;
  background: none;
  border: none;
}

.form-login legend {
  display: inline;
  text-align: center;
  box-sizing: border-box;
  font-size: 1.2em;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.btn-form-submit {
  background: linear-gradient(to right bottom, #7a44e7, #5ce1e6);
  color: rgb(255, 255, 255);
}
.forgot-password {
  font-size: var(--font-light);
  color: var(--cor-4);
  background-color: rgb(0, 0, 0, 0);
  padding: 0.625rem;
  cursor: pointer;
  margin: auto;
  border: none;
  display: block;
}
