/* Cards padrão, que se ajustam ao conteúdo*/
/* Muito Pequeno altura 35px*/
.card-xs {
  min-height: 30px;
  background: var(--card-fundo);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  padding: 12px 15px;
  border: none;
  box-sizing: border-box;
}
/* Pequeno altura 35px*/
.card-s {
  min-height: 35px;
  background: var(--card-fundo);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  padding: 12px 15px;
  border: none;
  box-sizing: border-box;
}
/* Médio altura 50px*/
.card-m {
  min-height: 50px;
  background: var(--card-fundo);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  padding: 12px 15px;
  border: none;
  box-sizing: border-box;
}
/* Grande altura 150px*/
.card-l {
  min-height: 150px;
  background: var(--card-fundo);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  padding: 12px 15px;
  gap: 0.625rem;
  border: none;
  box-sizing: border-box;
}

/* Cards tamanhos fixos (tmf)*/
/* Pequeno */
.card-tmf-s {
  width: 135px;
  height: 100px;
  background: var(--card-fundo);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  order: none;
  box-sizing: border-box;
  padding: 12px 15px;
}
/* Médio */
.card-tmf-m {
  min-width: 112px;
  min-height: 95px;
  background: var(--card-fundo);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  order: none;
  box-sizing: border-box;
  padding: 12px 15px;
}
/* Grande */
.card-tmf-l {
  width: 184px;
  height: 190px;
  min-height: 170px;
  background: var(--card-fundo);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  border: none;
  box-sizing: border-box;
  padding: 12px 15px;
}

/* Cards dos selects */
/* Muito Pequeno altura 35px */
.card-select-xs {
  border-radius: 6px;
  width: 100%;
  padding: 0.3rem;
  background: var(--card-fundo);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  font-weight: var(--font-light);
  border: none;
  box-sizing: border-box;
}
.card-select-s {
  border-radius: 6px;
  width: 100%;
  background: var(--card-fundo);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  font-weight: var(--font-medium-regular);
  border: none;
  box-sizing: border-box;
}
.card-select-m {
  width: 100%;
  background: var(--card-fundo);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.08);
  padding: 12px 15px;
  border-radius: 6px;
  border: none;
  box-sizing: border-box;
}

.cad-session {
  position: relative;
  min-height: 50px;
  border-radius: 25px;
  background: var(--card-fundo);
  padding: 12px 15px;
  border: 1px solid var(--card-fundo);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  box-sizing: border-box;
  transition: background-color 0.3s ease, padding 0.3s ease;
}
.cad-session.active {
  background: var(--card-alt-fundo);
  padding: 0px;
}
.cad-session:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.cad-session.active .tooltip .tooltiptext {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.session {
  transition: max-height 0.3s ease, opacity 0.3s ease;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}
.session.active {
  max-height: 50000px;
  opacity: 1;
  transition: max-height 0.8s ease, opacity 0.8s ease;
}
.area-template-sessao-int-header.active-header {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 10px;
  color: var(--cor-p2);
}
.area-template-sessao-int-header a {
  display: flex;
  align-items: center;
  justify-content: start;
  text-decoration: none;
  color: inherit;
  position: relative;
}
.arrow {
  right: 20px;
  border: solid var(--cor-p2);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
  transition: transform 0.3s ease;
  position: absolute;
  right: 10px;
}
.arrow.down {
  transform: rotate(45deg);
}
.arrow.up {
  transform: rotate(-135deg);
}

/* Estilos para os cards da area de filtros e compromisso para hoje */
/* Filtro  */
.area-container-filtros-template-content .card-xs,
.area-container-filtros-template-content .card-s,
.area-container-filtros-template-content .card-m,
.area-container-filtros-template-content .card-l,
.area-container-filtros-template-content .card-tmf-s,
.area-container-filtros-template-content .card-tmf-m,
.area-container-filtros-template-content .card-tmf-l,
.area-container-filtros-template-content .card-select-xs,
.area-container-filtros-template-content .card-select-s,
.area-container-filtros-template-content .card-select-m {
  background: var(--btn-filtro) !important;
  color: var(--txt-subtitulo) !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  border: none;
  box-sizing: border-box;
  border-radius: 5px;
}

/* Estilo para o efeito hover e active em todos os cards */
/*  hover  */
.card-xs:hover,
.card-s:hover,
.card-m:hover,
.card-l:hover,
.card-tmf-s:hover,
.card-tmf-m:hover,
.card-tmf-l:hover,
.card-select-xs:hover,
.card-select-s:hover,
.card-select-m:hover {
  filter: brightness(1.2);
}
/*  active  */
.card-xs:active,
.card-s:active,
.card-m:active,
.card-l:active,
.card-tmf-s:active,
.card-tmf-m:active,
.card-tmf-l:active,
.card-select-xs:active,
.card-select-s:active,
.card-select-m:active {
  background: var(--card-detalhe);
}

/* Responsivo */
@media only screen and (max-width: 900px) {
  .card-xs:hover,
  .card-s:hover,
  .card-m:hover,
  .card-l:hover,
  .card-tmf-s:hover,
  .card-tmf-m:hover,
  .card-tmf-l:hover,
  .card-select-xs:hover,
  .card-select-s:hover,
  .card-select-m:hover {
    filter: none;
  }
  .card-xs,
  .card-s,
  .card-m,
  .card-l,
  .card-tmf-s,
  .card-tmf-m,
  .card-tmf-l,
  .card-select-xs,
  .card-select-s,
  .card-select-m {
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
  }

  .cad-session:hover .tooltiptext {
    visibility: hidden;
    opacity: 0;
  }
}
