/* Cards padrão, que se ajustam ao conteúdo*/
/* Muito Pequeno altura 35px*/
.card-xs {
  min-height: 30px;
  background: var(--cor-12);
  color: var(--cor-9);
  padding: 10px 15px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0.625rem;
  border: 1px solid transparent;
}
/* Pequeno altura 35px*/
.card-s {
  min-height: 35px;
  background: var(--cor-12);
  color: var(--cor-9);
  padding: 10px 15px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0.625rem;
  border: 1px solid transparent;
}
/* Médio altura 50px*/
.card-m {
  min-height: 50px;
  background: var(--cor-12);
  color: var(--cor-9);
  padding: 15px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0.625rem;
  border: 1px solid transparent;
}
/* Grande altura 150px*/
.card-l {
  min-height: 150px;
  background: var(--cor-12);
  color: var(--cor-9);
  padding: 15px;
  gap: 0.625rem;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0.625rem;
  border: 1px solid transparent;
}

/* Cards tamanhos fixos (tmf)*/
/* Pequeno */
.card-tmf-s {
  width: 135px;
  height: 100px;
  background: var(--cor-12);
  color: var(--cor-9);
  border: 1px solid transparent;
  padding: 15px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0.625rem;
}
/* Médio */
.card-tmf-m {
  width: 115px;
  height: 95px;
  background: var(--cor-12);
  color: var(--cor-9);
  border: 1px solid transparent;
  padding: 15px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0.625rem;
}
/* Grande */
.card-tmf-l {
  width: 184px;
  height: 190px;
  min-height: 170px;
  background: var(--cor-12);
  color: var(--cor-9);
  border: 1px solid transparent;
  padding: 15px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0.625rem;
}

/* Cards dos selects */
/* Muito Pequeno altura 35px */
.card-select-xs {
  border-radius: 0.625rem;
  width: 100%;
  padding: 0.3rem;
  background: var(--cor-12);
  color: var(--cor-9);
  font-weight: var(--font-light);
  border: 1px solid transparent;
}
.card-select-s {
  border-radius: 0.625rem;
  width: 100%;
  background: var(--cor-12);
  color: var(--cor-9);
  font-weight: var(--font-medium-regular);
  border: 1px solid transparent;
}
.card-select-m {
  padding: 0.625rem;
  width: 100%;
  background: var(--cor-12);
  color: var(--cor-9);
  padding: 0.625rem;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0.625rem;
  border: 1px solid transparent;
}

.area-template-fil-content .card-xs,
.area-template-fil-content .card-s,
.area-template-fil-content .card-m,
.area-template-fil-content .card-l,
.area-template-fil-content .card-tmf-s,
.area-template-fil-content .card-tmf-m,
.area-template-fil-content .card-tmf-l,
.area-template-fil-content .card-select-xs,
.area-template-fil-content .card-select-s,
.area-template-fil-content .card-select-m,
.area-template-tmf-alt-content .card-xs,
.area-template-tmf-alt-content .card-s,
.area-template-tmf-alt-content .card-m,
.area-template-tmf-alt-content .card-l,
.area-template-tmf-alt-content .card-tmf-s,
.area-template-tmf-alt-content .card-tmf-m,
.area-template-tmf-alt-content .card-tmf-l,
.area-template-tmf-alt-content .card-select-xs,
.area-template-tmf-alt-content .card-select-s,
.area-template-tmf-alt-content .card-select-m {
  background: var(--cor-12);
  color: var(--cor-6);
  border: 1px solid var(--cor-2);
  border-radius: 9px;
}

/* Estilo para o efeito hover em todos os elementos especificados */
.card-xs:hover,
.card-s:hover,
.card-m:hover,
.card-l:hover,
.card-tmf-s:hover,
.card-tmf-m:hover,
.card-tmf-l:hover,
.card-select-xs:hover,
.card-select-s:hover,
.card-select-m:hover {
  box-shadow: 0 0 1px #7852ff58, 0 0 2px #7852ff58, 0 0 3px #7852ff58,
    0 0 4px #7852ff58, inset 0 0 1px #7852ff58, inset 0 0 2px #7852ff58,
    inset 0 0 3px #7852ff58, inset 0 0 4px #7852ff58;
  border: 1px solid #a57ff0;
}

.card-xs:active,
.card-s:active,
.card-m:active,
.card-l:active,
.card-tmf-s:active,
.card-tmf-m:active,
.card-tmf-l:active,
.card-select-xs:active,
.card-select-s:active,
.card-select-m:active {
  box-shadow: 0 0 1px #ffffff, 0 0 2px #ffffff, 0 0 3px #ffffff, 0 0 4px #ffffff;
}

/* Responsivo */
@media (max-width: 820px) {
  .area-template-fil-content .card-xs,
  .area-template-fil-content .card-s,
  .area-template-fil-content .card-m,
  .area-template-fil-content .card-l,
  .area-template-fil-content .card-tmf-s,
  .area-template-fil-content .card-tmf-m,
  .area-template-fil-content .card-tmf-l,
  .area-template-fil-content .card-select-xs,
  .area-template-fil-content .card-select-s,
  .area-template-fil-content .card-select-m,
  .area-template-tmf-alt-content .card-xs,
  .area-template-tmf-alt-content .card-s,
  .area-template-tmf-alt-content .card-m,
  .area-template-tmf-alt-content .card-l,
  .area-template-tmf-alt-content .card-tmf-s,
  .area-template-tmf-alt-content .card-tmf-m,
  .area-template-tmf-alt-content .card-tmf-l,
  .area-template-tmf-alt-content .card-select-xs,
  .area-template-tmf-alt-content .card-select-s,
  .area-template-tmf-alt-content .card-select-m {
    background: var(--cor-12);
    border: 1px solid transparent;
  }
}
