/* CARDS Contatos */
/* Pequeno */
.contatos-small-card {
  display: grid;
  color: var(--cor-9);
  gap: 3px;
  align-content: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  grid:
    "contatos-small-card-title contatos-small-card-title . contatos-small-card-phone"
    " contatos-small-card-tipocontato contatos-small-card-tipocontato contatos-small-card-perfilInfluencia contatos-small-card-phone"
    /0.5fr 0.5fr 1fr 32px;
}
.contatos-small-card-id {
  display: none;
}
.contatos-small-card-title {
  grid-area: contatos-small-card-title;
  justify-self: start;
  align-self: center;
  font-size: var(--titulo-m);
  color: #a383e1;
}
.contatos-small-card-tipocontato {
  grid-area: contatos-small-card-tipocontato;
  justify-self: start;
  align-self: center;
  margin: 3px 0 0 10px;
  font-size: var(--font-medium-regular);
}
.contatos-small-card-phone {
  grid-area: contatos-small-card-phone;
  justify-self: end;
  align-self: center;
}
.contatos-small-card-perfilInfluencia {
  grid-area: contatos-small-card-perfilInfluencia;
  justify-self: start;
  margin: 3px 0 0 10px;
}

.contatos-small-card-num {
  grid-area: contatos-small-card-num;
  display: none;
  justify-self: start;
  align-self: center;
  opacity: 0;
  margin: 3px 0 0 10px;
  font-size: var(--titulo-m);
}
.contatos-small-card-email {
  grid-area: contatos-small-card-email;
  display: none;
  justify-self: start;
  align-self: center;
  opacity: 0;
  margin: 3px 0 0 10px;
  font-size: var(--font-medium-light);
}
.contatos-small-card-tipopessoa {
  grid-area: contatos-small-card-tipopessoa;
  display: none;
  justify-self: start;
  align-self: center;
  opacity: 0;
  margin: 3px 0 0 10px;
  font-size: var(--font-light);
}
.contatos-small-card-editar {
  grid-area: contatos-small-card-editar;
  display: none;
  opacity: 0;
  border-top: 1px solid var(--cor-p1);
}

.exibirDetalheContato {
  opacity: 1 !important;
}
.contatos-small-card-expanded {
  grid:
    "contatos-small-card-title contatos-small-card-title . contatos-small-card-phone"
    " contatos-small-card-tipocontato contatos-small-card-tipocontato contatos-small-card-perfilInfluencia contatos-small-card-phone"
    "contatos-small-card-num contatos-small-card-num contatos-small-card-num contatos-small-card-phone "
    "contatos-small-card-email contatos-small-card-email contatos-small-card-email contatos-small-card-phone "
    "contatos-small-card-tipopessoa .  .  contatos-small-card-phone"
    "contatos-small-card-editar contatos-small-card-editar contatos-small-card-editar contatos-small-card-editar";
}
.contatos-small-card-num.exibirDetalheContato,
.contatos-small-card-email.exibirDetalheContato,
.contatos-small-card-tipopessoa.exibirDetalheContato {
  display: inline-block;
  opacity: 1;
  margin: 3px 0 0 10px;
}

.contatos-small-card-editar.exibirDetalheContato {
  display: flex;
  justify-content: end;
  padding: 10px 10px 1px 10px;
  margin: 15px 0 0 0;
  opacity: 1;
  gap: 15px;
}

/* Vazio */
.contatos-empty-card {
  display: grid;
  align-items: center;
  justify-items: start;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  grid: "contatos-empty-card-title" 32px;
}
.contatos-empty-card-title {
  grid-area: contatos-empty-card-title;
  font-size: var(--titulo-m);
}
