/* CARDS pleitos */
/* ------------------------------------ */

/* Médio */
.pleitos-medium-card {
  display: grid;
  color: var(--txt-conteudo-card);
  gap: 5px;
  grid:
    "pleitos-medium-card-tiposolici pleitos-medium-card-tiposolici pleitos-medium-card-dataSolici"
    "pleitos-medium-card-solicitante pleitos-medium-card-solicitante pleitos-medium-card-solicitante"
    "pleitos-medium-card-desc pleitos-medium-card-desc pleitos-medium-card-desc";
  transition: max-height 0.25s ease-out, transform 0.25s ease-out,
    height 0.25s ease-out;
  max-height: 140px; /* Ajuste conforme necessário */
}

.pleitos-medium-card-id {
  display: none;
  opacity: 0;
}
.pleitos-medium-card-tiposolici {
  grid-area: pleitos-medium-card-tiposolici;
  border-left: 4px solid var(--cor-primaria-2);
  padding-left: 10px;
  font-size: 14px;
  font-weight: 400;
  justify-self: start;
  align-self: center;
  color: var(--txt-titulo-card);
}
.pleitos-medium-card-dataSolici {
  grid-area: pleitos-medium-card-dataSolici;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: 14px;
  font-weight: 400;
}
.pleitos-medium-card-solicitante {
  grid-area: pleitos-medium-card-solicitante;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: 13px;
  font-weight: 350;
}
.pleitos-medium-card-desc {
  grid-area: pleitos-medium-card-desc;
  align-self: center;
  justify-self: stretch;
  padding: 10px 14px;
  display: flex;
  background: var(--card-detalhe);
  color: var(--txt-conteudo-card);
  border-radius: 5px;
  justify-content: start;
  align-items: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: 12px;
  font-weight: 300;
}

.pleitos-medium-card-beneficiario {
  grid-area: pleitos-medium-card-beneficiario;
  display: none;
  opacity: 0;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: 13px;
  font-weight: 400;
  transition: opacity 0.25s ease-in-out;
}
.pleitos-medium-card-uf {
  grid-area: pleitos-medium-card-uf;
  display: none;
  opacity: 0;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: 13px;
  font-weight: 350;
  transition: opacity 0.25s ease-in-out;
}
.pleitos-medium-card-cidade {
  grid-area: pleitos-medium-card-cidade;
  display: none;
  opacity: 0;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: 13px;
  font-weight: 350;
  transition: opacity 0.25s ease-in-out;
}
.pleitos-medium-card-bairro {
  grid-area: pleitos-medium-card-bairro;
  display: none;
  opacity: 0;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: 13px;
  font-weight: 350;
  transition: opacity 0.25s ease-in-out;
}
.pleitos-medium-card-rua {
  grid-area: pleitos-medium-card-rua;
  display: none;
  opacity: 0;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: 13px;
  font-weight: 300;
  transition: opacity 0.25s ease-in-out;
}
.pleitos-medium-card-autor {
  grid-area: pleitos-medium-card-autor;
  display: none;
  opacity: 0;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: 12px;
  font-weight: 300;
  transition: opacity 0.25s ease-in-out;
}
.pleitos-medium-card-dataCriacao {
  grid-area: pleitos-medium-card-dataCriacao;
  display: none;
  opacity: 0;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: 12px;
  font-weight: 300;
  transition: opacity 0.25s ease-in-out;
}
.pleitos-medium-card-status {
  grid-area: pleitos-medium-card-status;
  display: none;
  opacity: 0;
}

.pleitos-medium-card-editar {
  grid-area: pleitos-medium-card-editar;
  display: none;
  opacity: 0;
  border-top: 1px solid var(--card-aberto-detalhe);
  transition: opacity 0.25s ease-in-out;
}

.exibirDetalhePleito {
  opacity: 1 !important;
}
.pleitos-medium-card-expanded {
  border-radius: 7px;
  background: var(--card-aberto-bg) !important;
  color: var(--txt-destaque);
  box-shadow: var(--sombra-leve);
  grid:
    "pleitos-medium-card-tiposolici pleitos-medium-card-tiposolici pleitos-medium-card-dataSolici"
    "pleitos-medium-card-solicitante pleitos-medium-card-solicitante pleitos-medium-card-solicitante"
    "pleitos-medium-card-beneficiario pleitos-medium-card-beneficiario pleitos-medium-card-beneficiario"
    "pleitos-medium-card-uf pleitos-medium-card-cidade pleitos-medium-card-bairro"
    "pleitos-medium-card-rua pleitos-medium-card-rua pleitos-medium-card-rua"
    "pleitos-medium-card-autor pleitos-medium-card-autor pleitos-medium-card-dataCriacao"
    "pleitos-medium-card-status pleitos-medium-card-status pleitos-medium-card-status"
    "pleitos-medium-card-desc pleitos-medium-card-desc pleitos-medium-card-desc"
    "pleitos-medium-card-editar pleitos-medium-card-editar pleitos-medium-card-editar";
  transform: scale(1);
  transition: max-height 0.25s ease-in, transform 0.25s ease-in,
    height 0.25s ease-in;
  max-height: 300px;
  height: auto;
}

.pleitos-medium-card-beneficiario.exibirDetalhePleito,
.pleitos-medium-card-uf.exibirDetalhePleito,
.pleitos-medium-card-cidade.exibirDetalhePleito,
.pleitos-medium-card-bairro.exibirDetalhePleito,
.pleitos-medium-card-rua.exibirDetalhePleito,
.pleitos-medium-card-autor.exibirDetalhePleito,
.pleitos-medium-card-dataCriacao.exibirDetalhePleito {
  display: inline-block;
  margin: 3px 0 0 10px;
  opacity: 1;
}

.pleitos-medium-card-editar.exibirDetalhePleito {
  display: flex;
  justify-content: center;
  padding: 10px 0px 0px 0px;
  margin: 15px 0 0 0;
  opacity: 1;
  gap: 30px;
}

.pleitos-medium-card-expanded .pleitos-medium-card-tiposolici {
  border-left: 4px solid var(--card-aberto-detalhe);
  color: var(--txt-destaque);
}
.pleitos-medium-card-expanded .pleitos-medium-card-desc {
  background: var(--card-aberto-detalhe);
  color: var(--txt-subtitulo);
}
