/* Pequeno */
.quant-small-card {
  display: grid;
  align-items: center;
  justify-items: start;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  grid:
    "quant-small-card-title"
    "quant-small-card-desc"
    "quant-small-card-result";
}
.quant-small-card-title {
  grid-area: quant-small-card-title;
  font-size: var(--titulo-l);
}
.quant-small-card-desc {
  grid-area: quant-small-card-desc;
  font-size: var(--font-light);
}
.quant-small-card-result {
  grid-area: quant-small-card-result;
  font-size: var(--font-medium-regular);
  align-self: end;
}
