.grupo-small-card {
  display: grid;
  color: var(--txt-conteudo-card);
  gap: 10px;
  align-content: center;
  text-overflow: ellipsis;
  grid:
    "grupo-small-card-title grupo-small-card-title"
    "grupo-small-card-func grupo-small-card-situacao"
    "grupo-small-card-desc grupo-small-card-desc";
  transition: max-height 0.25s ease-out, transform 0.25s ease-out,
    height 0.25s ease-out;
  max-height: 300px;
}

.grupo-small-card-title {
  grid-area: grupo-small-card-title;
  justify-self: start;
  align-self: center;
  font-size: 14px;
  font-weight: 400;
  color: var(--txt-titulo-card);
}

.grupo-small-card-func {
  grid-area: grupo-small-card-func;
  border-left: 4px solid var(--cor-primaria-2);
  border-radius: 3px;
  padding-left: 10px;
  font-size: 14px;
  font-weight: 400;
  justify-self: start;
  text-align: start;
  white-space: wrap;
  overflow: hidden;
  word-break: break-all;
}

.grupo-small-card-situacao {
  grid-area: grupo-small-card-situacao;
  text-align: end;
  font-size: 14px;
  font-weight: 300;
}

.grupo-small-card-desc {
  grid-area: grupo-small-card-desc;
  font-size: 12px;
  font-weight: 400;
  justify-self: stretch;
  padding: 10px 14px;
  display: grid;
  grid-auto-flow: column;
  background: var(--card-detalhe);
  color: var(--txt-conteudo-card);
  border-radius: 5px;
  justify-content: start;
  align-items: center;
}

.grupo-small-card-editar {
  grid-area: grupo-small-card-editar;
  display: none;
  opacity: 0;
  border-top: 1px solid var(--card-aberto-detalhe);
}

.grupo-small-card-id {
  grid-area: grupo-small-card-id;
  display: none;
  opacity: 0;
}

.exibirDetalheGrupo {
  opacity: 1 !important;
}

.grupo-small-card-expanded {
  border-radius: 7px;
  background: var(--card-aberto-bg) !important;
  color: var(--txt-card-aberto);
  box-shadow: var(--sombra-leve);
  grid:
    "grupo-small-card-title grupo-small-card-title"
    "grupo-small-card-func grupo-small-card-situacao"
    "grupo-small-card-desc grupo-small-card-desc"
    "grupo-small-card-editar grupo-small-card-editar";
  transform: scale(1);
  transition: max-height 0.25s ease-in, transform 0.25s ease-in,
    height 0.25s ease-in;
  max-height: 500px;
}

.grupo-small-card-editar.exibirDetalheGrupo {
  display: grid;
  justify-content: center;
  padding: 10px 0px 0px 0px;
  margin: 15px 0 0 0;
  opacity: 1;
  gap: 30px;
}
.grupo-small-card-expanded .grupo-small-card-title {
  color: var(--txt-card-aberto);
}
.grupo-small-card-expanded .grupo-small-card-func {
  border-left: 4px solid var(--card-aberto-detalhe);
}
.grupo-small-card-expanded .grupo-small-card-desc {
  background: var(--card-aberto-detalhe);
  color: var(--txt-subtitulo);
}

.grupo-small-card-expanded:hover {
  filter: brightness(1);
}
