.filtro-small-card {
  display: grid;
  grid-auto-flow: column;
  color: var(--txt-titulo-card);
  align-content: center;
  text-align: start;
  text-overflow: ellipsis;
  transition: all 0.25s ease-in-out;
  max-height: 500px;
}
.card-xs.filtro-small-card:active {
  animation: none !important;
  transform: none !important;
  box-shadow: var(--sombra-moderada) !important;
}
.campo-filtro {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}

/* Estilos para filtros com multiplas seleções */
.filtro-multi-select-card {
  display: block;
  color: var(--txt-titulo-card);
  transition: all 0.3s ease-in-out;
  max-height: 150px;
  border-radius: 6px;
  background: none;
  box-shadow: var(--sombra-moderada);
  border: 1px solid var(--card-borda);
  box-sizing: border-box;
}

.filtro-multi-select-card-header {
  position: relative;
  background: var(--card-bg);
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out,
    border-radius 0.1s ease-in-out;
  cursor: pointer;
  border-radius: 6px;
  padding: 15px 15px;
  text-align: start;
}

.filtro-multi-select-card-content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out,
    padding 0.3s ease-in-out, border-radius 0.3s ease-in-out;
  background: var(--container-bg);
  padding: 0 15px;
}

.filtro-multi-select-card:hover {
  filter: var(--hover);
}

.filtro-multi-select-card-content.exibirMultiSelect {
  max-height: 1000px;
  opacity: 1;
  padding: 15px;
  transition: box-shadow 0.1s ease-in-out;
}

.filtro-multi-select-card-expanded {
  max-height: 10000px;
  height: auto;
  background: none;
}
.filtro-multi-select-card-expanded:hover {
  filter: none;
}

.filtro-multi-select-card-header.exibirMultiSelect {
  background: var(--card-bg);

  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  box-shadow: var(--sombra-moderada);
}

/* Arredonda o header do primeiro item, mesmo quando o conteúdo está exibido */
.container-filtros-template-content
  .lista-vertical-fil
  > li:first-child
  .filtro-multi-select-card-header {
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
}

/* Remove as bordas inferiores arredondadas do header quando o conteúdo estiver visível */
.filtro-multi-select-card-header.exibirMultiSelect {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* Arredonda o header do último item quando o conteúdo não está exibido */
.container-filtros-template-content
  .lista-vertical-fil
  > li:last-child
  .filtro-multi-select-card-header {
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
}

/* Remove o arredondamento inferior do header quando o conteúdo está exibido, mesmo que seja o último item */
.container-filtros-template-content
  .lista-vertical-fil
  > li:last-child
  .filtro-multi-select-card-header.exibirMultiSelect {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.filtro-multi-select-card-content.exibirMultiSelect {
  background: var(--container-bg);
  opacity: 1.2;
  border: 1px solid var(--card-bg);
  border-radius: 6px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.filtro-multi-select-card .arrow {
  right: 30px;
}

.campo-filtro label {
  color: var(--txt-titulo-card);
}

/* Estilos "switch" para checkboxes dos filtros */
.campo-filtro .switch-container {
  position: relative;
  display: inline;
  width: 60px;
  height: 2px;
}

.campo-filtro .switch-label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  display: inline;
  color: var(--txt-titulo-card);
}

.campo-filtro .switch-label:before {
  content: "";
  position: absolute;
  left: 0;
  top: -2px;
  width: 49px;
  height: 26px;
  border-radius: 45px;
  background: var(--barra-nav-bg);
  border: 1px solid var(--card-borda);
  box-sizing: border-box;
  transition: background-color 0.2s;
}

.form-checkbox:checked + .campo-filtro .switch-label:before {
  background: var(--cor-primaria-2);
}

.campo-filtro .switch-label:after {
  content: "";
  position: absolute;
  left: 3px;
  top: 1px;
  width: 20px;
  height: 20px;
  border-radius: 45px;
  background: var(--txt-placeholder);
  transition: left 0.2s;
  box-shadow: var(--sombra-leve);
}

.form-checkbox:checked ~ .switch-label:before {
  background: var(--cor-secundaria-3);
}
.form-checkbox:checked ~ .switch-label:after {
  left: 26px;
  background: var(--cor-secundaria-1);
}

/* Responsivo */
@media only screen and (max-width: 56.25rem) {
  .aba-filtro .botoes {
    display: grid;
    grid-auto-flow: row;
    justify-content: stretch;
    justify-items: center;
    width: 100%;
    gap: 10px;
    margin-top: 20px;
    padding: 10px 0;
  }
  .aba-filtro .botoes .btn-outline-principal,
  .aba-filtro .botoes .btn-principal {
    width: 70%;
    margin: 0px 10px 10px 10px;
    box-shadow: var(--sombra-intensa);
  }
}
