/* Pequeno */
.quant-small-card {
  display: grid;
  grid:
    "quant-small-card-title" auto
    "quant-small-card-desc" auto
    "quant-small-card-result" 24px
    /1fr;
}
.quant-small-card-title {
  grid-area: quant-small-card-title;
  font-size: 15px;
  font-weight: 500;
  text-align: start;
  color: var(--txt-primario);
}
.quant-small-card-desc {
  grid-area: quant-small-card-desc;
  font-size: 12px;
  font-weight: 300;
  width: 100%;
  justify-self: stretch;
  text-align: start;
  white-space: wrap;
  overflow: hidden;
  word-break: break-all;
  color: var(--txt-secundario);
}
.quant-small-card-result {
  grid-area: quant-small-card-result;
  font-size: 14px;
  font-weight: 400;
  text-align: start;
  background: var(--card-detalhe);
  color: var(--txt-secundario);
  border-radius: 5px;
  padding: 5px;
}
