/* CARDS pleitos */
/* Small */
.pleitos-small-card {
  display: grid;
  gap: 3px;
  grid:
    "pleitos-small-card-tiposolici pleitos-small-card-tiposolici pleitos-small-card-dataSolici"
    "pleitos-small-card-solicitante pleitos-small-card-solicitante pleitos-small-card-solicitante";
}

.pleitos-small-card-id {
  display: none;
  opacity: 0;
}
.pleitos-small-card-tiposolici {
  grid-area: pleitos-small-card-tiposolici;
  border-left: 4px solid var(--cor-p4);
  padding-left: 10px;
  font-size: var(--titulo-s);
  justify-self: start;
  align-self: center;
}
.pleitos-small-card-dataSolici {
  grid-area: pleitos-small-card-dataSolici;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--titulo-s);
}
.pleitos-small-card-solicitante {
  grid-area: pleitos-small-card-solicitante;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-small-light);
}
.pleitos-small-card-desc {
  grid-area: pleitos-small-card-desc;
  display: none;
  opacity: 0;
  align-self: center;
  justify-self: stretch;
  padding: 10px 14px;
  background: var(--cor-p4);
  border-radius: 0.625rem;
  justify-content: start;
  align-items: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-small-light);
  justify-self: start;
  text-align: start;
  white-space: wrap;
  overflow: hidden;
  word-break: break-all;
}

.pleitos-small-card-beneficiario {
  grid-area: pleitos-small-card-beneficiario;
  display: none;
  opacity: 0;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-small-light);
}
.pleitos-small-card-uf {
  grid-area: pleitos-small-card-uf;
  display: none;
  opacity: 0;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-small-light);
}
.pleitos-small-card-cidade {
  grid-area: pleitos-small-card-cidade;
  display: none;
  opacity: 0;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-small-light);
}
.pleitos-small-card-bairro {
  grid-area: pleitos-small-card-bairro;
  display: none;
  opacity: 0;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-small-light);
}
.pleitos-small-card-rua {
  grid-area: pleitos-small-card-rua;
  display: none;
  opacity: 0;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-small-light);
}
.pleitos-small-card-autor {
  grid-area: pleitos-small-card-autor;
  display: none;
  opacity: 0;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-small-light);
}
.pleitos-small-card-dataCriacao {
  grid-area: pleitos-small-card-dataCriacao;
  display: none;
  opacity: 0;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-small-light);
}
.pleitos-small-card-status {
  grid-area: pleitos-small-card-status;
  display: none;
  opacity: 0;
}

.pleitos-small-card-editar {
  grid-area: pleitos-small-card-editar;
  display: none;
  opacity: 0;
  justify-self: end;
  align-self: center;
  border-top: 1px solid var(--cor-p6);
  font-size: var(--font-small-light);
}

.exibirDetalhePleito {
  display: inline-block;
  opacity: 1 !important;
}
.pleitos-small-card-expanded {
  grid:
    "pleitos-small-card-tiposolici pleitos-small-card-tiposolici pleitos-small-card-dataSolici"
    "pleitos-small-card-solicitante pleitos-small-card-solicitante pleitos-small-card-solicitante"
    "pleitos-small-card-beneficiario pleitos-small-card-beneficiario pleitos-small-card-beneficiario"
    "pleitos-small-card-uf pleitos-small-card-cidade pleitos-small-card-bairro"
    "pleitos-small-card-rua pleitos-small-card-rua pleitos-small-card-rua"
    "pleitos-small-card-autor pleitos-small-card-autor pleitos-small-card-dataCriacao"
    "pleitos-small-card-status pleitos-small-card-status pleitos-small-card-status"
    "pleitos-small-card-desc pleitos-small-card-desc pleitos-small-card-desc"
    ". . pleitos-small-card-editar";
}
.pleitos-small-card-beneficiario.exibirDetalhePleito,
.pleitos-small-card-uf.exibirDetalhePleito,
.pleitos-small-card-cidade.exibirDetalhePleito,
.pleitos-small-card-bairro.exibirDetalhePleito,
.pleitos-small-card-rua.exibirDetalhePleito,
.pleitos-small-card-autor.exibirDetalhePleito,
.pleitos-small-card-dataCriacao.exibirDetalhePleito,
.pleitos-small-card-editar.exibirDetalhePleito {
  display: inline-block;
  margin: 3px 0 0 10px;
  opacity: 1;
}
/* Médio */
.pleitos-medium-card {
  display: grid;
  gap: 3px;
  grid:
    "pleitos-medium-card-tiposolici pleitos-medium-card-tiposolici pleitos-medium-card-dataSolici"
    "pleitos-medium-card-solicitante pleitos-medium-card-solicitante pleitos-medium-card-solicitante"
    "pleitos-medium-card-desc pleitos-medium-card-desc pleitos-medium-card-desc";
}

.pleitos-medium-card-id {
  display: none;
  opacity: 0;
}
.pleitos-medium-card-tiposolici {
  grid-area: pleitos-medium-card-tiposolici;
  border-left: 4px solid var(--cor-p4);
  padding-left: 10px;
  font-size: var(--titulo-s);
  justify-self: start;
  align-self: center;
}
.pleitos-medium-card-dataSolici {
  grid-area: pleitos-medium-card-dataSolici;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--titulo-s);
}
.pleitos-medium-card-solicitante {
  grid-area: pleitos-medium-card-solicitante;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-medium-light);
}
.pleitos-medium-card-desc {
  grid-area: pleitos-medium-card-desc;
  align-self: center;
  justify-self: stretch;
  padding: 10px 14px;
  display: flex;
  background: var(--cor-p4);
  border-radius: 0.625rem;
  justify-content: start;
  align-items: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-medium-light);
}

.pleitos-medium-card-beneficiario {
  grid-area: pleitos-medium-card-beneficiario;
  display: none;
  opacity: 0;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-medium-light);
}
.pleitos-medium-card-uf {
  grid-area: pleitos-medium-card-uf;
  display: none;
  opacity: 0;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-medium-light);
}
.pleitos-medium-card-cidade {
  grid-area: pleitos-medium-card-cidade;
  display: none;
  opacity: 0;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-medium-light);
}
.pleitos-medium-card-bairro {
  grid-area: pleitos-medium-card-bairro;
  display: none;
  opacity: 0;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-medium-light);
}
.pleitos-medium-card-rua {
  grid-area: pleitos-medium-card-rua;
  display: none;
  opacity: 0;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-medium-light);
}
.pleitos-medium-card-autor {
  grid-area: pleitos-medium-card-autor;
  display: none;
  opacity: 0;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-medium-light);
}
.pleitos-medium-card-dataCriacao {
  grid-area: pleitos-medium-card-dataCriacao;
  display: none;
  opacity: 0;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-medium-light);
}
.pleitos-medium-card-status {
  grid-area: pleitos-medium-card-status;
  display: none;
  opacity: 0;
}

.pleitos-medium-card-editar {
  grid-area: pleitos-medium-card-editar;
  display: none;
  opacity: 0;
  border-top: 1px solid var(--cor-p1);
}

.exibirDetalhePleito {
  opacity: 1 !important;
}
.pleitos-medium-card-expanded {
  grid:
    "pleitos-medium-card-tiposolici pleitos-medium-card-tiposolici pleitos-medium-card-dataSolici"
    "pleitos-medium-card-solicitante pleitos-medium-card-solicitante pleitos-medium-card-solicitante"
    "pleitos-medium-card-beneficiario pleitos-medium-card-beneficiario pleitos-medium-card-beneficiario"
    "pleitos-medium-card-uf pleitos-medium-card-cidade pleitos-medium-card-bairro"
    "pleitos-medium-card-rua pleitos-medium-card-rua pleitos-medium-card-rua"
    "pleitos-medium-card-autor pleitos-medium-card-autor pleitos-medium-card-dataCriacao"
    "pleitos-medium-card-status pleitos-medium-card-status pleitos-medium-card-status"
    "pleitos-medium-card-desc pleitos-medium-card-desc pleitos-medium-card-desc"
    "pleitos-medium-card-editar pleitos-medium-card-editar pleitos-medium-card-editar";
}
.pleitos-medium-card-beneficiario.exibirDetalhePleito,
.pleitos-medium-card-uf.exibirDetalhePleito,
.pleitos-medium-card-cidade.exibirDetalhePleito,
.pleitos-medium-card-bairro.exibirDetalhePleito,
.pleitos-medium-card-rua.exibirDetalhePleito,
.pleitos-medium-card-autor.exibirDetalhePleito,
.pleitos-medium-card-dataCriacao.exibirDetalhePleito {
  display: inline-block;
  margin: 3px 0 0 10px;
  opacity: 1;
}
.pleitos-medium-card-editar.exibirDetalhePleito {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin: 10px 0 0 10px;
  opacity: 1;
}
