.grupo-small-card {
  display: grid;
  color: var(--txt-conteudo-card);
  gap: 10px;
  align-content: center;
  text-overflow: ellipsis;
  grid:
    "grupo-small-card-title grupo-small-card-title"
    "grupo-small-card-func grupo-small-card-situacao"
    "grupo-small-card-desc grupo-small-card-desc"
    "grupo-small-card-editar grupo-small-card-editar";
  transition: max-height 0.25s ease-out, transform 0.25s ease-out,
    height 0.25s ease-out;
  max-height: 500px;
}

.grupo-small-card-title {
  grid-area: grupo-small-card-title;
  text-align: start;
  font-size: 15px;
  font-weight: 300;
}

.grupo-small-card-func {
  grid-area: grupo-small-card-func;
  text-align: start;
  font-size: 14px;
  font-weight: 300;
}

.grupo-small-card-situacao {
  grid-area: grupo-small-card-situacao;
  text-align: end;
  font-size: 14px;
  font-weight: 300;
}

.grupo-small-card-desc {
  grid-area: grupo-small-card-desc;
  align-self: center;
  justify-self: stretch;
  padding: 12px 14px;
  display: flex;
  background: var(--card-detalhe);
  color: var(--txt-subtitulo);
  border-radius: 5px;
  justify-content: start;
  align-items: center;
  font-size: 12px;
  font-weight: 300;
}

.grupo-small-card-editar {
  grid-area: grupo-small-card-editar;
  border-top: 1px solid var(--card-detalhe);
  display: flex;
  justify-content: end;
  padding: 10px 0px 0px 0px;
  opacity: 1;
  gap: 30px;
}

.grupo-small-card-id {
  grid-area: grupo-small-card-id;
  display: none;
  opacity: 0;
}
