/* CARDS Contatos */
/* Pequeno */
.contatos-small-card {
  display: grid;
  color: var(--txt-conteudo-card);
  gap: 5px;
  cursor: pointer;
  align-content: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  grid:
    "contatos-small-card-title contatos-small-card-title . contatos-small-card-call"
    "contatos-small-card-tipocontato contatos-small-card-tipocontato contatos-small-card-perfilInfluencia contatos-small-card-call"
    /0.5fr 0.5fr 1fr 32px;
  transition: all 0.25s ease;
  max-height: 100px;
}
.contatos-small-card-id {
  display: none;
}
.contatos-small-card-title {
  grid-area: contatos-small-card-title;
  justify-self: start;
  align-self: center;
  font-size: var(--font-sm);
  font-weight: 400;
  color: var(--txt-titulo-card);
}
.contatos-small-card-tipocontato {
  grid-area: contatos-small-card-tipocontato;
  justify-self: start;
  align-self: center;
  margin: 3px 0 0 10px;
  font-size: var(--font-sm);
  font-weight: 300;
}
.contatos-small-card-call {
  grid-area: contatos-small-card-call;
  justify-self: end;
  align-self: center;
  cursor: pointer;
}
.contatos-small-card-perfilInfluencia {
  grid-area: contatos-small-card-perfilInfluencia;
  justify-self: start;
  margin: 3px 0 0 10px;
}

.contatos-small-card-num {
  grid-area: contatos-small-card-num;
  display: none;
  justify-self: start;
  align-self: center;
  opacity: 0;
  margin: 3px 0 0 10px;
  font-size: var(--font-sm);
  font-weight: 400;
  transition: opacity 0.25s ease-in-out;
}
.contatos-small-card-email {
  grid-area: contatos-small-card-email;
  display: none;
  justify-self: start;
  align-self: center;
  opacity: 0;
  margin: 3px 0 0 10px;
  font-size: var(--font-sm);
  font-weight: 400;
  transition: opacity 0.25s ease-in-out;
}
.contatos-small-card-tipopessoa {
  grid-area: contatos-small-card-tipopessoa;
  display: none;
  justify-self: start;
  align-self: center;
  opacity: 0;
  margin: 3px 0 0 10px;
  font-size: var(--font-xs);
  font-weight: 300;
  transition: opacity 0.25s ease-in-out;
}
.contatos-small-card-editar {
  grid-area: contatos-small-card-editar;
  display: none;
  opacity: 0;
  border-top: 1px solid var(--card-aberto-detalhe);
  transition: opacity 0.25s ease-in-out;
}

.exibirDetalheContato {
  opacity: 1 !important;
}
.contatos-small-card-expanded {
  border-radius: 12px;
  background: var(--card-aberto-bg) !important;
  border: 1px solid var(--card-aberto-bg) !important;
  position: relative;
  z-index: 2;
  color: var(--txt-card-aberto);
  box-shadow: var(--sombra-card-aberto);
  grid:
    "contatos-small-card-title contatos-small-card-title . contatos-small-card-call"
    "contatos-small-card-tipocontato contatos-small-card-tipocontato contatos-small-card-perfilInfluencia contatos-small-card-call"
    "contatos-small-card-num contatos-small-card-num contatos-small-card-num contatos-small-card-call"
    "contatos-small-card-email contatos-small-card-email contatos-small-card-email contatos-small-card-call"
    "contatos-small-card-tipopessoa . . contatos-small-card-call"
    "contatos-small-card-editar contatos-small-card-editar contatos-small-card-editar contatos-small-card-editar";
  transform: scale(1);
  transition: max-height 0.25s ease, transform 0.25s ease, box-shadow 0.25s ease;
  max-height: 300px;
  height: auto;
}
.contatos-small-card-num.exibirDetalheContato,
.contatos-small-card-email.exibirDetalheContato,
.contatos-small-card-tipopessoa.exibirDetalheContato {
  display: inline-block;
  opacity: 1;
  margin: 3px 0 0 10px;
}

.contatos-small-card-editar.exibirDetalheContato {
  display: grid;
  justify-content: center;
  padding: 10px 0px 0px 0px;
  margin: 15px 0 0 0;
  opacity: 1;
  gap: 30px;
}

.contatos-small-card-expanded .contatos-small-card-title {
  font-size: var(--font-sm);
  font-weight: 500;
  color: var(--txt-card-aberto);
}
.contatos-small-card-expanded .contatos-small-card-tipocontato {
  font-size: var(--font-sm);
  font-weight: 400;
}

.contatos-small-card-expanded:hover {
  filter: brightness(1);
}

/* Vazio */
.contatos-empty-card {
  display: grid;
  align-items: center;
  justify-items: start;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  grid: "contatos-empty-card-title" 32px;
}
.contatos-empty-card-title {
  grid-area: contatos-empty-card-title;
  font-size: var(--font-sm);
  font-weight: 400;
}
