/* CARDS Contatos */
/* Pequeno */
.contatos-small-card {
  display: grid;
  gap: 3px;
  align-content: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  grid:
    "contatos-small-card-title contatos-small-card-title . contatos-small-card-phone"
    " contatos-small-card-tipocontato contatos-small-card-tipocontato contatos-small-card-perfilInfluencia contatos-small-card-phone"
    "contatos-small-card-num contatos-small-card-num contatos-small-card-num contatos-small-card-phone "
    "contatos-small-card-email contatos-small-card-email contatos-small-card-email contatos-small-card-phone "
    "contatos-small-card-tipopessoa .  .  contatos-small-card-phone"
    ". . contatos-small-card-editar   ."
    /0.5fr 0.5fr 1fr 32px;
}
.contatos-small-card-id {
  display: none;
}
.contatos-small-card-title {
  grid-area: contatos-small-card-title;
  justify-self: start;
  align-self: center;
  font-size: var(--titulo-m);
}
.contatos-small-card-tipocontato {
  grid-area: contatos-small-card-tipocontato;
  justify-self: start;
  align-self: center;
  margin: 3px 0 0 10px;
}
.contatos-small-card-phone {
  grid-area: contatos-small-card-phone;
  justify-self: end;
  align-self: center;
}
.contatos-small-card-perfilInfluencia {
  grid-area: contatos-small-card-perfilInfluencia;
  justify-self: start;
}

.contatos-small-card-num {
  grid-area: contatos-small-card-num;
  display: none;
  justify-self: start;
  align-self: center;
  opacity: 0;
  margin: 3px 0 0 10px;
}
.contatos-small-card-email {
  grid-area: contatos-small-card-email;
  display: none;
  justify-self: start;
  align-self: center;
  opacity: 0;
  margin: 3px 0 0 10px;
}
.contatos-small-card-tipopessoa {
  grid-area: contatos-small-card-tipopessoa;
  display: none;
  justify-self: start;
  align-self: center;
  opacity: 0;
  margin: 3px 0 0 10px;
}
.contatos-small-card-editar {
  grid-area: contatos-small-card-editar;
  display: none;
  justify-self: end;
  align-self: center;
  display: none;
  opacity: 0;
  margin: 3px 0 0 10px;
  border-top: 1px solid var(--cor-p6);
}

.exibirDetalheContato {
  display: inline-block;
  opacity: 1 !important;
}
.contatos-small-card-num.exibirDetalheContato,
.contatos-small-card-email.exibirDetalheContato,
.contatos-small-card-tipopessoa.exibirDetalheContato,
.contatos-small-card-editar.exibirDetalheContato {
  display: inline-block;

  opacity: 1;
}

/* Médio */
.contatos-medium-card {
  display: grid;
  gap: 0.625rem;
  align-content: center;
  justify-items: start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  grid:
    "contatos-medium-card-tag contatos-medium-card-title contatos-medium-card-title "
    "contatos-medium-card-tag contatos-medium-card-inicio contatos-medium-card-fim "
    / 105px auto auto;
}
.contatos-medium-card-title {
  grid-area: contatos-medium-card-title;
  font-size: var(--font-medium-regular);
}
.contatos-medium-card-inicio {
  grid-area: contatos-medium-card-inicio;
  font-size: var(--font-medium-regular);
}
.contatos-medium-card-fim {
  grid-area: contatos-medium-card-fim;
  font-size: var(--font-medium-regular);
}
.contatos-medium-card-tag {
  grid-area: contatos-medium-card-tag;
  font-size: var(--font-medium-regular);
}

/* Grande */
.contatos-large-card {
  display: grid;
  align-items: center;
  justify-items: start;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  grid:
    "contatos-large-card-tag" 32px
    "contatos-large-card-title" 1fr
    "contatos-large-card-local" 1fr
    "contatos-large-card-partcipantes" 1fr
    "contatos-large-card-duracao" 1fr;
}
.contatos-large-card-title {
  grid-area: contatos-large-card-title;
  font-size: var(--titulo-m);
}
.contatos-large-card-local {
  grid-area: contatos-large-card-local;
  font-size: var(--font-medium-light);
}
.contatos-large-card-partcipantes {
  grid-area: contatos-large-card-partcipantes;
  font-size: var(--font-medium-light);
}
.contatos-large-card-duracao {
  grid-area: contatos-large-card-duracao;
  font-size: var(--font-medium-light);
}
.contatos-large-card-tag {
  grid-area: contatos-large-card-tag;
}

/* Vazio */
.contatos-empty-card {
  display: grid;
  align-items: center;
  justify-items: start;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  grid: "contatos-empty-card-title" 32px;
}
.contatos-empty-card-title {
  grid-area: contatos-empty-card-title;
  font-size: var(--titulo-m);
}
