/* CARDS aniversario */
/* Pequeno */
.aniversario-small-card {
  display: grid;
  color: var(--txt-secundario);
  gap: 5px;
  align-content: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  grid:
    "aniversario-small-card-title aniversario-small-card-title . aniversario-small-card-phone"
    /0.5fr 0.5fr 1fr 32px;
  transition: max-height 0.3s ease-out, transform 0.3s ease-out,
    height 0.3s ease-out;
  max-height: 100px; /* Ajuste conforme necessário */
}

.aniversario-small-card-id {
  display: none;
}

.aniversario-small-card-title {
  grid-area: aniversario-small-card-title;
  justify-self: start;
  align-self: center;
  font-size: 14px;
  font-weight: 400;
  color: var(--txt-principal);
}

.aniversario-small-card-tipocontato {
  grid-area: aniversario-small-card-tipocontato;
  display: none;
  justify-self: start;
  align-self: center;
  margin: 3px 0 0 10px;
  font-size: 14px;
  font-weight: 300;
  transition: opacity 0.3s ease-in-out;
}

.aniversario-small-card-phone {
  grid-area: aniversario-small-card-phone;
  justify-self: end;
  align-self: center;
}

.aniversario-small-card-perfilInfluencia {
  grid-area: aniversario-small-card-perfilInfluencia;
  display: none;
  justify-self: start;
  margin: 3px 0 0 10px;
  transition: opacity 0.3s ease-in-out;
}

.aniversario-small-card-num {
  grid-area: aniversario-small-card-num;
  display: none;
  justify-self: start;
  align-self: center;
  opacity: 0;
  margin: 3px 0 0 10px;
  font-size: 14px;
  font-weight: 300;
  transition: opacity 0.3s ease-in-out;
}

.aniversario-small-card-email {
  grid-area: aniversario-small-card-email;
  display: none;
  justify-self: start;
  align-self: center;
  opacity: 0;
  margin: 3px 0 0 10px;
  font-size: 13px;
  font-weight: 300;
  transition: opacity 0.3s ease-in-out;
}

.aniversario-small-card-tipopessoa {
  grid-area: aniversario-small-card-tipopessoa;
  display: none;
  justify-self: start;
  align-self: center;
  opacity: 0;
  margin: 3px 0 0 10px;
  font-size: 12px;
  font-weight: 300;
  transition: opacity 0.3s ease-in-out;
}

.aniversario-small-card-editar {
  grid-area: aniversario-small-card-editar;
  display: none;
  opacity: 0;
  border-top: 1px solid var(--card-detalhe);
  transition: opacity 0.3s ease-in-out;
}

.exibirDetalhesAniversariante {
  opacity: 1 !important;
}

.aniversario-small-card-expanded {
  margin: 3px 0px;
  border-radius: 5px;
  background: var(--card-aberto-fundo) !important;
  border: 1px solid var(--card-aberto-detalhe) !important;
  color: var(--txt-principal);
  grid:
    "aniversario-small-card-title aniversario-small-card-title . aniversario-small-card-phone"
    " aniversario-small-card-tipocontato aniversario-small-card-tipocontato aniversario-small-card-perfilInfluencia aniversario-small-card-phone"
    "aniversario-small-card-num aniversario-small-card-num aniversario-small-card-num aniversario-small-card-phone "
    "aniversario-small-card-email aniversario-small-card-email aniversario-small-card-email aniversario-small-card-phone "
    "aniversario-small-card-tipopessoa .  .  aniversario-small-card-phone"
    "aniversario-small-card-editar aniversario-small-card-editar aniversario-small-card-editar aniversario-small-card-editar";
  transform: scale(1.01);
  transition: max-height 0.3s ease-in, transform 0.3s ease-in,
    height 0.3s ease-in;
  max-height: 300px; /* Ajuste conforme necessário */
}

.aniversario-small-card-tipocontato.exibirDetalhesAniversariante,
.aniversario-small-card-perfilInfluencia.exibirDetalhesAniversariante,
.aniversario-small-card-num.exibirDetalhesAniversariante,
.aniversario-small-card-email.exibirDetalhesAniversariante,
.aniversario-small-card-tipopessoa.exibirDetalhesAniversariante {
  display: inline-block;
  opacity: 1;
  margin: 3px 0 0 10px;
}

.aniversario-small-card-editar.exibirDetalhesAniversariante {
  display: grid;
  justify-content: stretch;
  padding: 10px 0px 0px 0px;
  margin: 15px 0 0 0;
  opacity: 1;
  gap: 5px;
}
