/* CARDS pleitos */
/* ------------------------------------ */

/* Médio */
.pleitos-medium-card {
  display: grid;
  color: var(--txt-conteudo-card);
  gap: 5px;
  cursor: pointer;
  grid:
    "pleitos-medium-card-tiposolici pleitos-medium-card-tiposolici pleitos-medium-card-status"
    "pleitos-medium-card-solicitante pleitos-medium-card-solicitante pleitos-medium-card-dataSolici"
    "pleitos-medium-card-desc pleitos-medium-card-desc pleitos-medium-card-desc";
  transition: all 0.25s ease-in-out;
  max-height: 140px; /* Ajuste conforme necessário */
}

.pleitos-medium-card-id {
  display: none;
  opacity: 0;
}
.pleitos-medium-card-tiposolici {
  grid-area: pleitos-medium-card-tiposolici;
  border-left: 4px solid var(--cor-primaria-2);
  border-radius: 3px;
  padding-left: 10px;
  font-size: var(--font-sm);
  font-weight: 400;
  justify-self: start;
  align-self: center;
  color: var(--txt-titulo-card);
}
.pleitos-medium-card-status {
  grid-area: pleitos-medium-card-status;
  justify-self: end;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-sm);
  font-weight: 300;
  transition: opacity 0.25s ease-in-out;
}
.pleitos-medium-card-dataSolici {
  grid-area: pleitos-medium-card-dataSolici;
  justify-self: end;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-sm);
  font-weight: 400;
}
.pleitos-medium-card-solicitante {
  grid-area: pleitos-medium-card-solicitante;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-sm);
  font-weight: 300;
}
.pleitos-medium-card-desc {
  grid-area: pleitos-medium-card-desc;
  align-self: center;
  justify-self: stretch;
  padding: 10px 14px;
  display: flex;
  background: var(--card-detalhe);
  color: var(--txt-conteudo-card);
  border-radius: 5px;
  justify-content: start;
  align-items: center;
  margin: 3px 0 0 10px;
  font-size: var(--font-xs);
  font-weight: 300;
  min-width: 0; /* ESSENCIAL pra flex funcionar! */
}

.pleitos-medium-card-desc > p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0; /* Pra garantir que o texto não force o flex */
  margin: 0;
}

.pleitos-medium-card-beneficiario {
  grid-area: pleitos-medium-card-beneficiario;
  display: none;
  opacity: 0;
  justify-self: start;
  align-self: center;
  padding-left: 20px;
  margin: 3px 0 0 10px;
  font-size: var(--font-sm);
  font-weight: 400;
  transition: opacity 0.25s ease-in-out;
}
.pleitos-medium-card-endereco {
  grid-area: pleitos-medium-card-endereco;
  display: none;
  opacity: 0;
  justify-self: start;
  align-self: center;
  padding-left: 20px;
  margin: 3px 0 0 10px;
  font-size: var(--font-sm);
  font-weight: 300;
  transition: opacity 0.25s ease-in-out;
}
.pleitos-medium-card-infoCriacaoPleito {
  grid-area: pleitos-medium-card-infoCriacaoPleito;
  display: none;
  opacity: 0;
  justify-self: end;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: 10px;
  font-weight: 400;
  filter: brightness(0.7);
  transition: opacity 0.25s ease-in-out;
}

.pleitos-medium-card-editar {
  grid-area: pleitos-medium-card-editar;
  display: none;
  opacity: 0;
  border-top: 1px solid var(--card-aberto-detalhe);
  transition: opacity 0.25s ease-in-out;
}

.exibirDetalhePleito {
  opacity: 1 !important;
}
.pleitos-medium-card-expanded {
  border-radius: 12px;
  background: var(--card-aberto-bg) !important;
  border: 1px solid var(--card-aberto-bg) !important;
  position: relative;
  z-index: 2;
  color: var(--txt-card-aberto);
  box-shadow: var(--sombra-card-aberto);
  grid:
    "pleitos-medium-card-tiposolici pleitos-medium-card-tiposolici pleitos-medium-card-status"
    "pleitos-medium-card-solicitante pleitos-medium-card-solicitante pleitos-medium-card-dataSolici"
    "pleitos-medium-card-beneficiario pleitos-medium-card-beneficiario pleitos-medium-card-beneficiario"
    "pleitos-medium-card-endereco pleitos-medium-card-endereco pleitos-medium-card-endereco"
    "pleitos-medium-card-desc pleitos-medium-card-desc pleitos-medium-card-desc"
    "pleitos-medium-card-infoCriacaoPleito pleitos-medium-card-infoCriacaoPleito pleitos-medium-card-infoCriacaoPleito"
    "pleitos-medium-card-editar pleitos-medium-card-editar pleitos-medium-card-editar";
  transform: scale(1);
  transition: max-height 0.25s ease-in-out, transform 0.25s ease-in-out,
    box-shadow 0.25s ease-in-out;
  max-height: 500px;
  height: auto;
}

.pleitos-medium-card-beneficiario.exibirDetalhePleito,
.pleitos-medium-card-endereco.exibirDetalhePleito,
.pleitos-medium-card-rua.exibirDetalhePleito,
.pleitos-medium-card-status.exibirDetalhePleito,
.pleitos-medium-card-infoCriacaoPleito.exibirDetalhePleito {
  display: inline-block;
  margin: 3px 0 0 10px;
  opacity: 1;
}

.pleitos-medium-card-editar.exibirDetalhePleito {
  display: flex;
  justify-content: center;
  padding: 10px 0px 0px 0px;
  margin: 15px 0 0 0;
  opacity: 1;
  gap: 30px;
}

.pleitos-medium-card-expanded .pleitos-medium-card-tiposolici {
  border-left: 4px solid var(--card-aberto-detalhe);
  color: var(--txt-card-aberto);
}
.pleitos-medium-card-expanded .pleitos-medium-card-desc {
  background: var(--card-aberto-detalhe);
  color: var(--txt-subtitulo);
}
.pleitos-medium-card-expanded .pleitos-medium-card-desc > p {
  white-space: normal;
  overflow: visible;
  text-overflow: unset;
}

.pleitos-medium-card-expanded:hover {
  filter: brightness(1);
}
