/* Pequeno */
.tarefa-small-card {
  display: grid;
  color: var(--cor-1);
  gap: 3px;
  justify-content: stretch;
  overflow: hidden;
  grid:
    "tarefa-small-card-title tarefa-small-card-tag"
    "tarefa-small-card-status tarefa-small-card-data"
    "tarefa-small-card-desc  tarefa-small-card-desc";
}
.tarefa-small-card-title {
  grid-area: tarefa-small-card-title;
  border-left: 4px solid var(--cor-7);
  padding-left: 10px;
  font-size: var(--titulo-s);
  justify-self: start;
  align-self: center;
  margin: 3px 0 0 0px;
  text-align: start;
  white-space: wrap;
  overflow: hidden;
  word-break: break-all;
  color: var(--cor-1);
}
.tarefa-small-card-tag {
  grid-area: tarefa-small-card-tag;
  justify-self: end;
}
.tarefa-small-card-data {
  grid-area: tarefa-small-card-data;
  font-size: var(--font-medium-light);
  justify-self: end;
  margin: 3px 0 0 10px;
}
.tarefa-small-card-status {
  grid-area: tarefa-small-card-status;
  font-size: var(--font-medium-light);
  justify-self: start;
}
.tarefa-small-card-desc {
  grid-area: tarefa-small-card-desc;
  align-self: center;
  justify-self: stretch;
  padding: 10px 14px;
  display: flex;
  background: var(--cor-7);
  border-radius: 7px;
  justify-content: start;
  align-items: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-medium-light);
}
.tarefa-small-card-id {
  display: none;
}

.tarefa-small-card-inicio {
  font-size: var(--font-medium-light);
}
.tarefa-small-card-fim {
  font-size: var(--font-medium-light);
}
.tarefa-small-card-resp {
  grid-area: tarefa-small-card-resp;
  display: none;
  font-size: var(--font-medium-light);
  justify-self: start;
}
.tarefa-small-card-editar {
  grid-area: tarefa-small-card-editar;
  display: none;
  opacity: 0;
  border-top: 1px solid var(--cor-7);
}

.exibirDetalheEvento {
  opacity: 1 !important;
}
.tarefa-small-card-expanded {
  grid:
    "tarefa-small-card-title tarefa-small-card-tag"
    "tarefa-small-card-data tarefa-small-card-status"
    "tarefa-small-card-desc  tarefa-small-card-desc"
    "tarefa-small-card-resp tarefa-small-card-resp"
    "tarefa-small-card-editar tarefa-small-card-editar";
}
.tarefa-small-card-local.exibirDetalheEvento,
.tarefa-small-card-partcipantes.exibirDetalheEvento {
  display: block;
  opacity: 1;
  margin: 3px 0 0 0px;
}

.tarefa-small-card-editar.exibirDetalheEvento {
  display: flex;
  justify-content: end;
  padding: 10px 10px 1px 10px;
  margin: 15px 0 0 0;
  opacity: 1;
  gap: 15px;
}

@media (max-width: 820px) {
  .tarefa-small-card-title {
    grid-area: tarefa-small-card-title;
    border-left: 4px solid var(--cor-7);
  }
}
