/* CARDS calendario */
/* Pequeno */
.calendario-small-card {
  display: grid;
  color: var(--txt-secundario);
  gap: 3px;
  justify-content: stretch;
  overflow: hidden;
  grid:
    "calendario-small-card-type calendario-small-card-tag"
    "calendario-small-card-title  calendario-small-card-duracao";
}
.calendario-small-card-type {
  grid-area: calendario-small-card-type;
  font-size: 14px;
  font-weight: 400;
  justify-self: start;
  color: var(--txt-principal);
}
.calendario-small-card-tag {
  grid-area: calendario-small-card-tag;
  justify-self: end;
}
.calendario-small-card-title {
  grid-area: calendario-small-card-title;
  border-left: 4px solid var(--detalhes-1);
  padding-left: 10px;
  font-size: 14px;
  font-weight: 300;
  justify-self: start;
  align-self: center;
  margin: 3px 0 0 0px;
  text-align: start;
  white-space: wrap;
  overflow: hidden;
  word-break: break-all;
}
.calendario-small-card-duracao {
  grid-area: calendario-small-card-duracao;
  font-size: 12px;
  font-weight: 400;
  justify-self: end;
  align-self: end;
  display: grid;
  margin-top: 5px;
  grid-auto-flow: column;
  padding-left: 14px;
  justify-content: start;
  align-items: end;
  margin: 3px 0 0 0px;
}
.calendario-small-card-id {
  display: none;
}

.calendario-small-card-inicio {
  font-size: 12px;
  font-weight: 400;
}
.calendario-small-card-fim {
  font-size: 12px;
  font-weight: 400;
}

.calendario-small-card-local {
  grid-area: calendario-small-card-local;
  font-size: 12px;
  font-weight: 300;
  justify-self: start;
  padding-left: 14px;
  display: none;
  opacity: 0;
  margin: 3px 0 0 0px;
  text-align: start;
  white-space: wrap;
  overflow: hidden;
  word-break: break-all;
}
.calendario-small-card-partcipantes {
  grid-area: calendario-small-card-partcipantes;
  font-size: 12px;
  font-weight: 300;
  justify-self: start;
  padding-left: 14px;
  display: none;
  opacity: 0;
  margin: 3px 0 0 0px;
  text-align: start;
  white-space: wrap;
  overflow: hidden;
  word-break: break-all;
}
.calendario-small-card-editar {
  grid-area: calendario-small-card-editar;
  display: none;
  opacity: 0;
  border-top: 1px solid var(--destaque-2);
}

.exibirDetalheEvento {
  opacity: 1 !important;
}
.calendario-small-card-expanded {
  margin: 3px;
  background: #84aeea !important;
  border: 1px solid var(--destaque-2) !important;
  color: var(--background-principal);
  grid:
    "calendario-small-card-type calendario-small-card-tag"
    "calendario-small-card-title  calendario-small-card-duracao"
    "calendario-small-card-local calendario-small-card-local"
    "calendario-small-card-partcipantes calendario-small-card-partcipantes"
    "calendario-small-card-editar calendario-small-card-editar";
}
.calendario-small-card-local.exibirDetalheEvento,
.calendario-small-card-partcipantes.exibirDetalheEvento {
  display: block;
  opacity: 1;
  margin: 3px 0 0 0px;
}
.calendario-small-card-expanded .calendario-small-card-type {
  color: var(--background-principal);
}
.calendario-small-card-editar.exibirDetalheEvento {
  display: grid;
  justify-content: stretch;
  padding: 10px 0px 0px 0px;
  margin: 15px 0 0 0;
  opacity: 1;
  gap: 5px;
}
.calendario-small-card-expanded .calendario-small-card-title {
  border-left: 4px solid var(--detalhes-3);
}

@media (max-width: 820px) {
  .calendario-small-card-title {
    grid-area: calendario-small-card-title;
    border-left: 4px solid var(--card-fundo);
  }
}

/* Grande */
.calendario-large-card {
  display: grid;
  color: var(--txt-secundario);
  gap: 10px;
  align-items: center;
  justify-content: stretch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  grid:
    "calendario-large-card-type calendario-large-card-tag" 32px
    "calendario-large-card-title calendario-large-card-title"
    "calendario-large-card-local calendario-large-card-local"
    "calendario-large-card-partcipantes calendario-large-card-partcipantes"
    "calendario-large-card-duracao calendario-large-card-duracao";
}
.calendario-large-card-type {
  grid-area: calendario-large-card-type;
  font-size: 14px;
  font-weight: 400;
  justify-self: start;
  color: var(--txt-principal);
}
.calendario-large-card-tag {
  grid-area: calendario-large-card-tag;
  justify-self: end;
}
.calendario-large-card-title {
  grid-area: calendario-large-card-title;
  border-left: 4px solid var(--detalhes-1);
  padding-left: 10px;
  font-size: 14px;
  font-weight: 400;
  justify-self: start;
  text-align: start;
  white-space: wrap;
  overflow: hidden;
  word-break: break-all;
}
.calendario-large-card-local {
  grid-area: calendario-large-card-local;
  font-size: 12px;
  font-weight: 370;
  justify-self: start;
  padding-left: 14px;
}
.calendario-large-card-partcipantes {
  grid-area: calendario-large-card-partcipantes;
  font-size: 12px;
  font-weight: 370;
  justify-self: start;
  padding-left: 14px;
  text-align: start;
  white-space: wrap;
  overflow: hidden;
  word-break: break-all;
}
.calendario-large-card-duracao {
  grid-area: calendario-large-card-duracao;
  font-size: 12px;
  font-weight: 400;
  justify-self: stretch;
  padding: 10px 14px;
  display: grid;
  grid-auto-flow: column;
  background: var(--detalhes-1);
  border-radius: 7px;
  justify-content: start;
  align-items: center;
}
.calendario-small-card-id {
  font-size: 0px;
  color: transparent;
}

.calendario-large-card-inicio {
  font-size: 12px;
  font-weight: 400;
  justify-self: start;
}
.calendario-large-card-fim {
  font-size: 12px;
  font-weight: 400;
  justify-self: start;
}
.calendario-large-card-editar {
  grid-area: calendario-large-card-editar;
  display: none;
  opacity: 0;
  border-top: 1px solid var(--destaque-2);
}

.exibirDetalheEvento {
  opacity: 1 !important;
}

.calendario-large-card-expanded {
  margin: 3px;
  background: #84aeea !important;
  border: 1px solid var(--destaque-2) !important;
  color: var(--background-principal);
  grid:
    "calendario-large-card-type calendario-large-card-tag" 32px
    "calendario-large-card-title calendario-large-card-title"
    "calendario-large-card-local calendario-large-card-local"
    "calendario-large-card-partcipantes calendario-large-card-partcipantes"
    "calendario-large-card-duracao calendario-large-card-duracao"
    "calendario-large-card-editar calendario-large-card-editar";
}
.calendario-large-card-editar.exibirDetalheEvento {
  display: grid;
  justify-content: stretch;
  padding: 10px 0px 0px 0px;
  margin: 15px 0 0 0;
  opacity: 1;
  gap: 5px;
}
.calendario-large-card-expanded .calendario-large-card-type {
  color: var(--background-principal);
}
.calendario-large-card-expanded .calendario-large-card-title {
  border-left: 4px solid var(--detalhes-3);
}
.calendario-large-card-expanded .calendario-large-card-duracao {
  background: var(--detalhes-3);
}

/* Vazio */
.calendario-empty-card {
  display: grid;
  align-items: center;
  justify-items: start;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  grid: "calendario-empty-card-title" 32px;
}
.calendario-empty-card-title {
  grid-area: calendario-empty-card-title;
  font-size: 14px;
  font-weight: 400;
}
