/* CARDS calendario */
/* Pequeno */
.calendario-small-card {
  display: grid;
  gap: 3px;
  justify-content: stretch;
  overflow: hidden;
  grid:
    "calendario-small-card-type calendario-small-card-tag"
    "calendario-small-card-title  calendario-small-card-duracao"
    "calendario-small-card-local calendario-small-card-local"
    "calendario-small-card-partcipantes calendario-small-card-partcipantes"
    ". calendario-small-card-editar";
}
.calendario-small-card-type {
  grid-area: calendario-small-card-type;
  font-size: var(--titulo-s);
  justify-self: start;
}
.calendario-small-card-tag {
  grid-area: calendario-small-card-tag;
  justify-self: end;
}
.calendario-small-card-title {
  grid-area: calendario-small-card-title;
  border-left: 4px solid var(--cor-p4);
  padding-left: 10px;
  font-size: var(--titulo-s);
  justify-self: start;
  align-self: center;
  margin: 3px 0 0 0px;
}
.calendario-small-card-duracao {
  grid-area: calendario-small-card-duracao;
  font-size: var(--font-medium-light);
  justify-self: center;
  align-self: end;
  display: grid;
  margin-top: 5px;
  grid-auto-flow: column;
  padding-left: 14px;
  justify-content: start;
  align-items: center;
  margin: 3px 0 0 0px;
}
.calendario-small-card-id {
  display: none;
}

.calendario-small-card-inicio {
  font-size: var(--font-medium-light);
}
.calendario-small-card-fim {
  font-size: var(--font-medium-light);
}

.calendario-small-card-local {
  grid-area: calendario-small-card-local;
  font-size: var(--font-medium-light);
  justify-self: start;
  padding-left: 14px;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  margin: 3px 0 0 0px;
}
.calendario-small-card-partcipantes {
  grid-area: calendario-small-card-partcipantes;
  font-size: var(--font-medium-light);
  justify-self: start;
  padding-left: 14px;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  margin: 3px 0 0 0px;
}
.calendario-small-card-editar {
  grid-area: calendario-small-card-editar;
  display: none;
  justify-self: end;
  align-self: center;
  display: none;
  opacity: 0;
  border-top: 1px solid var(--cor-p6);
  margin: 3px 0 0 0px;
}

.exibirDetalheEvento {
  max-height: 500px;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.calendario-small-card-local.exibirDetalheEvento,
.calendario-small-card-partcipantes.exibirDetalheEvento,
.calendario-small-card-editar.exibirDetalheEvento {
  display: block;
  transition: all 0.5s ease-in-out;
  opacity: 1;
}

/* Médio */
.calendario-medium-card {
  display: grid;
  align-items: center;
  justify-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  grid:
    "calendario-medium-card-title calendario-medium-card-title calendario-medium-card-tag calendario-medium-card-tag" 1fr
    "calendario-medium-card-inicio calendario-medium-card-fim calendario-medium-card-tag calendario-medium-card-tag" 0.5fr
    / 1fr 1fr 2fr 1fr;
}
.calendario-medium-card-title {
  grid-area: calendario-medium-card-title;
  font-size: var(--font-medium-regular);
}
.calendario-medium-card-inicio {
  grid-area: calendario-medium-card-inicio;
  font-size: var(--font-medium-regular);
}
.calendario-medium-card-fim {
  grid-area: calendario-medium-card-fim;
  font-size: var(--font-medium-regular);
}
.calendario-medium-card-tag {
  grid-area: calendario-medium-card-tag;
  font-size: var(--font-medium-regular);
}

/* Grande */
.calendario-large-card {
  display: grid;
  gap: 10px;
  align-items: center;
  justify-content: stretch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  grid:
    "calendario-large-card-type calendario-large-card-tag" 32px
    "calendario-large-card-title calendario-large-card-title"
    "calendario-large-card-local calendario-large-card-local"
    "calendario-large-card-partcipantes calendario-large-card-partcipantes"
    "calendario-large-card-duracao calendario-large-card-duracao";
}
.calendario-large-card-type {
  grid-area: calendario-large-card-type;
  font-size: var(--titulo-m);
  justify-self: start;
}
.calendario-large-card-tag {
  grid-area: calendario-large-card-tag;
  justify-self: end;
}
.calendario-large-card-title {
  grid-area: calendario-large-card-title;
  border-left: 4px solid var(--cor-p4);
  padding-left: 10px;
  font-size: var(--titulo-l);
  justify-self: start;
}
.calendario-large-card-local {
  grid-area: calendario-large-card-local;
  font-size: var(--font-medium-light);
  justify-self: start;
  padding-left: 14px;
}
.calendario-large-card-partcipantes {
  grid-area: calendario-large-card-partcipantes;
  font-size: var(--font-medium-light);
  justify-self: start;
  padding-left: 14px;
}
.calendario-large-card-duracao {
  grid-area: calendario-large-card-duracao;
  font-size: var(--font-medium-light);
  justify-self: stretch;
  padding: 10px 14px;
  display: grid;
  grid-auto-flow: column;
  background: var(--cor-p4);
  border-radius: 0.625rem;
  justify-content: start;
  align-items: center;
}
.calendario-small-card-id {
  font-size: 0px;
  color: transparent;
}

.calendario-large-card-inicio {
  font-size: var(--font-medium-light);
  justify-self: start;
}
.calendario-large-card-fim {
  font-size: var(--font-medium-light);
  justify-self: start;
}

/* Vazio */
.calendario-empty-card {
  display: grid;
  align-items: center;
  justify-items: start;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  grid: "calendario-empty-card-title" 32px;
}
.calendario-empty-card-title {
  grid-area: calendario-empty-card-title;
  font-size: var(--titulo-m);
}
