/* Pequeno */
.tarefa-small-card {
  display: grid;
  color: var(--txt-conteudo-card);
  gap: 5px;
  cursor: pointer;
  justify-content: stretch;
  overflow: hidden;
  grid:
    "tarefa-small-card-title tarefa-small-card-tag"
    "tarefa-small-card-status tarefa-small-card-data";
  transition: all 0.25s ease;
  max-height: 100px;
}

.tarefa-small-card-title {
  grid-area: tarefa-small-card-title;
  border-left: 4px solid var(--cor-primaria-2);
  border-radius: 3px;
  padding-left: 10px;
  font-size: var(--font-sm);
  font-weight: 400;
  justify-self: start;
  align-self: center;
  margin: 3px 0 0 0px;
  text-align: start;
  white-space: wrap;
  overflow: hidden;
  word-break: break-all;
  color: var(--txt-titulo-card);
}

.tarefa-small-card-tag {
  grid-area: tarefa-small-card-tag;
  justify-self: end;
}

.tarefa-small-card-data {
  grid-area: tarefa-small-card-data;
  font-size: var(--font-xs);
  font-weight: 400;
  justify-self: end;
  margin: 3px 0 0 10px;
}

.tarefa-small-card-status {
  grid-area: tarefa-small-card-status;
  font-size: var(--font-sm);
  font-weight: 300;
  justify-self: start;
}

.tarefa-small-card-desc {
  grid-area: tarefa-small-card-desc;
  display: none;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.tarefa-small-card-id {
  display: none;
}

.tarefa-small-card-inicio {
  font-size: var(--font-xs);
  font-weight: 400;
}

.tarefa-small-card-fim {
  font-size: var(--font-xs);
  font-weight: 400;
}

.tarefa-small-card-resp {
  grid-area: tarefa-small-card-resp;
  display: none;
  font-size: var(--font-xs);
  font-weight: 300;
  justify-self: start;
  transition: opacity 0.25s ease-in-out;
}

.tarefa-small-card-editar {
  grid-area: tarefa-small-card-editar;
  display: none;
  opacity: 0;
  border-top: 1px solid var(--card-aberto-detalhe);
  transition: opacity 0.25s ease-in-out;
}

.exibirDetalheTarefa {
  opacity: 1 !important;
}

.tarefa-small-card-expanded {
  border-radius: 12px;
  background: var(--card-aberto-bg) !important;
  border: 1px solid var(--card-aberto-bg) !important;
  position: relative;
  z-index: 2;
  color: var(--txt-card-aberto);
  box-shadow: var(--sombra-card-aberto);
  grid:
    "tarefa-small-card-title tarefa-small-card-tag"
    "tarefa-small-card-status tarefa-small-card-data"
    "tarefa-small-card-desc  tarefa-small-card-desc"
    "tarefa-small-card-resp tarefa-small-card-resp"
    "tarefa-small-card-editar tarefa-small-card-editar";
  transform: scale(1);
  transition: max-height 0.25s ease, transform 0.25s ease, box-shadow 0.25s ease;
  max-height: 300px;
}

.tarefa-small-card-desc.exibirDetalheTarefa {
  align-self: center;
  justify-self: stretch;
  padding: 10px 14px;
  display: flex;
  background: var(--card-detalhe);
  color: var(--txt-conteudo-card);
  border-radius: 5px;
  justify-content: start;
  align-items: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-xs);
  font-weight: 300;
  opacity: 1;
}

.tarefa-small-card-local.exibirDetalheTarefa,
.tarefa-small-card-partcipantes.exibirDetalheTarefa {
  display: block;
  opacity: 1;
  margin: 3px 0 0 0px;
}

.tarefa-small-card-editar.exibirDetalheTarefa {
  display: grid;
  justify-content: center;
  padding: 10px 0px 0px 0px;
  margin: 15px 0 0 0;
  opacity: 1;
  gap: 30px;
}

.tarefa-small-card-expanded .tarefa-small-card-title {
  border-left: 4px solid var(--card-aberto-detalhe);
  color: var(--txt-card-aberto);
}

.tarefa-small-card-expanded .tarefa-small-card-desc {
  background: var(--card-aberto-detalhe);
  color: var(--txt-subtitulo);
}

.tarefa-small-card-expanded:hover {
  filter: brightness(1);
}

/* ---------------------------------------------------------------- */

/* Médio */
.tarefa-medium-card {
  display: grid;
  color: var(--txt-conteudo-card);
  gap: 5px;
  cursor: pointer;
  justify-content: stretch;
  overflow: hidden;
  grid:
    "tarefa-medium-card-title tarefa-medium-card-tag"
    "tarefa-medium-card-status tarefa-medium-card-data"
    "tarefa-medium-card-desc  tarefa-medium-card-desc";
  transition: all 0.25s ease;
  max-height: 240px;
  height: auto;
}

.tarefa-medium-card-title {
  grid-area: tarefa-medium-card-title;
  border-left: 4px solid var(--cor-primaria-2);
  border-radius: 3px;
  padding-left: 10px;
  font-size: var(--font-sm);
  font-weight: 400;
  justify-self: start;
  align-self: center;
  margin: 3px 0 0 0px;
  text-align: start;
  white-space: wrap;
  overflow: hidden;
  word-break: break-all;
  color: var(--txt-titulo-card);
}

.tarefa-medium-card-tag {
  grid-area: tarefa-medium-card-tag;
  justify-self: end;
}

.tarefa-medium-card-data {
  grid-area: tarefa-medium-card-data;
  font-size: var(--font-xs);
  font-weight: 400;
  justify-self: end;
  margin: 3px 0 0 10px;
}

.tarefa-medium-card-status {
  grid-area: tarefa-medium-card-status;
  font-size: var(--font-sm);
  font-weight: 300;
  justify-self: start;
}

.tarefa-medium-card-desc {
  grid-area: tarefa-medium-card-desc;
  align-self: center;
  justify-self: stretch;
  padding: 10px 14px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: var(--card-detalhe);
  color: var(--txt-conteudo-card);
  border-radius: 5px;
  justify-content: start;
  align-items: start;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-xs);
  font-weight: 300;
}

.tarefa-medium-card-id {
  display: none;
}

.tarefa-medium-card-inicio {
  font-size: var(--font-xs);
  font-weight: 400;
}

.tarefa-medium-card-fim {
  font-size: var(--font-xs);
  font-weight: 400;
}

.tarefa-medium-card-resp {
  grid-area: tarefa-medium-card-resp;
  display: none;
  font-size: var(--font-xs);
  font-weight: 300;
  justify-self: start;
  transition: opacity 0.25s ease-in-out;
}

.tarefa-medium-card-editar {
  grid-area: tarefa-medium-card-editar;
  display: none;
  opacity: 0;
  border-top: 1px solid var(--card-aberto-detalhe);
  transition: opacity 0.25s ease-in-out;
}

.exibirDetalheTarefa {
  opacity: 1 !important;
}

.tarefa-medium-card-expanded {
  border-radius: 12px;
  background: var(--card-aberto-bg) !important;
  border: 1px solid var(--card-aberto-bg) !important;
  position: relative;
  z-index: 2;
  color: var(--txt-card-aberto);
  box-shadow: var(--sombra-card-aberto);
  grid:
    "tarefa-medium-card-title tarefa-medium-card-tag"
    "tarefa-medium-card-status tarefa-medium-card-data"
    "tarefa-medium-card-desc  tarefa-medium-card-desc"
    "tarefa-medium-card-resp tarefa-medium-card-resp"
    "tarefa-medium-card-editar tarefa-medium-card-editar";
  transform: scale(1);
  transition: max-height 0.25s ease, transform 0.25s ease, box-shadow 0.25s ease;
  max-height: 400px;
}

.tarefa-medium-card-local.exibirDetalheTarefa,
.tarefa-medium-card-partcipantes.exibirDetalheTarefa {
  display: block;
  opacity: 1;
  margin: 3px 0 0 0px;
}

.tarefa-medium-card-editar.exibirDetalheTarefa {
  display: flex;
  justify-content: center;
  padding: 10px 0px 0px 0px;
  margin: 15px 0 0 0;
  opacity: 1;
  gap: 30px;
}

.tarefa-medium-card-expanded .tarefa-medium-card-title {
  border-left: 4px solid var(--card-aberto-detalhe);
  color: var(--txt-card-aberto);
}

.tarefa-medium-card-expanded .tarefa-medium-card-desc {
  background: var(--card-aberto-detalhe);
  color: var(--txt-subtitulo);
}

.tarefa-medium-card-expanded:hover {
  filter: brightness(1);
}

/* Estilo do link */
.tarefa-medium-card-desc-pleito-link {
  text-decoration: none; /* Remove o sublinhado geral do link */
  color: inherit;
  display: block; /* Permite que toda a linha seja clicável */
  width: 100%;
}

/* Sublinhado apenas no <b> */
.tarefa-medium-card-desc-pleito-title {
  text-decoration-color: inherit; /* Mantém a cor atual */
  color: inherit; /* Garante que o texto tenha a mesma cor do link */
}

/* Container que alinha os elementos */
.tarefa-medium-card-desc-pleito-container {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  border: 1px solid transparent;
  border-radius: 8px;
  background: var(--cor-primaria-2);
  box-shadow: var(--sombra-leve);
  justify-content: stretch;
  transition: background-color 0.3s, border-color 0.3s;
}

/* Ícone */
.tarefa-medium-card-desc-pleito-icon {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}

/* Nome do Pleito */
.tarefa-medium-card-desc-pleito-nome {
  font-size: var(--font-sm);
  line-height: 1.5;
}

/* Hover do link no container */
.tarefa-medium-card-desc-pleito-link:hover
  .tarefa-medium-card-desc-pleito-container {
  background-color: var(--cor-apoio-1);
  border-color: var(--cor-secundaria-3);
}

/* Estilo da descrição */
.tarefa-medium-card-desc-text {
  line-height: 1.6; /* Espaçamento entre as linhas */
  margin: 0; /* Remove margens adicionais */
  align-self: center;
}
