/* CARDS aniversario */
/* Pequeno */
.aniversario-small-card {
  display: grid;
  color: var(--txt-conteudo-card);
  gap: 5px;
  align-content: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  grid:
    "aniversario-small-card-title aniversario-small-card-title . aniversario-small-card-call"
    /0.5fr 0.5fr 1fr 32px;
  transition: max-height 0.25s ease-out, transform 0.25s ease-out,
    height 0.25s ease-out;
  max-height: 100px;
}

.aniversario-small-card-id {
  display: none;
}

.aniversario-small-card-title {
  grid-area: aniversario-small-card-title;
  justify-self: start;
  align-self: center;
  font-size: 14px;
  font-weight: 400;
  color: var(--txt-titulo-card);
}

.aniversario-small-card-tipocontato {
  grid-area: aniversario-small-card-tipocontato;
  display: none;
  justify-self: start;
  align-self: center;
  margin: 3px 0 0 10px;
  font-size: 14px;
  font-weight: 300;
  transition: opacity 0.25s ease-in-out;
}

.aniversario-small-card-call {
  grid-area: aniversario-small-card-call;
  justify-self: end;
  align-self: center;
}

.aniversario-small-card-perfilInfluencia {
  grid-area: aniversario-small-card-perfilInfluencia;
  display: none;
  justify-self: start;
  margin: 3px 0 0 10px;
  transition: opacity 0.25s ease-in-out;
}

.aniversario-small-card-num {
  grid-area: aniversario-small-card-num;
  display: none;
  justify-self: start;
  align-self: center;
  opacity: 0;
  margin: 3px 0 0 10px;
  font-size: 14px;
  font-weight: 300;
  transition: opacity 0.25s ease-in-out;
}

.aniversario-small-card-email {
  grid-area: aniversario-small-card-email;
  display: none;
  justify-self: start;
  align-self: center;
  opacity: 0;
  margin: 3px 0 0 10px;
  font-size: 13px;
  font-weight: 300;
  transition: opacity 0.25s ease-in-out;
}

.aniversario-small-card-tipopessoa {
  grid-area: aniversario-small-card-tipopessoa;
  display: none;
  justify-self: start;
  align-self: center;
  opacity: 0;
  margin: 3px 0 0 10px;
  font-size: 12px;
  font-weight: 300;
  transition: opacity 0.25s ease-in-out;
}

.aniversario-small-card-editar {
  grid-area: aniversario-small-card-editar;
  display: none;
  opacity: 0;
  border-top: 1px solid var(--card-aberto-detalhe);
  transition: opacity 0.25s ease-in-out;
}

.exibirDetalhesAniversariante {
  opacity: 1 !important;
}

.aniversario-small-card-expanded {
  border-radius: 7px;
  background: var(--card-aberto-bg) !important;
  color: var(--txt-card-aberto);
  box-shadow: var(--sombra-leve);
  grid:
    "aniversario-small-card-title aniversario-small-card-title . aniversario-small-card-call"
    " aniversario-small-card-tipocontato aniversario-small-card-tipocontato aniversario-small-card-perfilInfluencia aniversario-small-card-call"
    "aniversario-small-card-num aniversario-small-card-num aniversario-small-card-num aniversario-small-card-call "
    "aniversario-small-card-email aniversario-small-card-email aniversario-small-card-email aniversario-small-card-call "
    "aniversario-small-card-tipopessoa .  .  aniversario-small-card-call"
    "aniversario-small-card-editar aniversario-small-card-editar aniversario-small-card-editar aniversario-small-card-editar";
  transform: scale(1);
  transition: max-height 0.25s ease-in, transform 0.25s ease-in,
    height 0.25s ease-in;
  max-height: 300px;
}

.aniversario-small-card-tipocontato.exibirDetalhesAniversariante,
.aniversario-small-card-perfilInfluencia.exibirDetalhesAniversariante,
.aniversario-small-card-num.exibirDetalhesAniversariante,
.aniversario-small-card-email.exibirDetalhesAniversariante,
.aniversario-small-card-tipopessoa.exibirDetalhesAniversariante {
  display: inline-block;
  opacity: 1;
  margin: 3px 0 0 10px;
}

.aniversario-small-card-editar.exibirDetalhesAniversariante {
  display: grid;
  justify-content: center;
  padding: 10px 0px 0px 0px;
  margin: 15px 0 0 0;
  opacity: 1;
  gap: 30px;
}

.aniversario-small-card-expanded .aniversario-small-card-title {
  color: var(--txt-card-aberto);
}

.aniversario-small-card-expanded:hover {
  filter: brightness(1);
}
