/* CARDS despesas */
/* Médio */
.despesas-medium-card {
  display: grid;
  color: var(--txt-conteudo-card);
  gap: 5px;
  align-content: center;
  text-overflow: ellipsis;
  grid:
    "despesas-medium-card-natureza despesas-medium-card-natureza"
    "despesas-medium-card-valorDespesa despesas-medium-card-dataDespesa"
    "despesas-medium-card-referencia despesas-medium-card-referencia"
    "despesas-medium-card-desc despesas-medium-card-desc";
  transition: all 0.25s ease;
  max-height: 240px;
}

.despesas-medium-card-id {
  display: none;
}

.despesas-medium-card-natureza {
  grid-area: despesas-medium-card-natureza;
  border-left: 4px solid var(--cor-primaria-2);
  border-radius: 3px;
  padding-left: 10px;
  font-size: var(--font-sm);
  font-weight: 400;
  justify-self: start;
  align-self: center;
  color: var(--txt-titulo-card);
}

.despesas-medium-card-desc {
  grid-area: despesas-medium-card-desc;
  align-self: center;
  justify-self: stretch;
  padding: 10px 14px;
  display: flex;
  background: var(--card-detalhe);
  color: var(--txt-conteudo-card);
  border-radius: 5px;
  justify-content: start;
  align-items: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-xs);
  font-weight: 300;
}

.despesas-medium-card-referencia {
  grid-area: despesas-medium-card-referencia;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-sm);
  font-weight: 400;
}

.despesas-medium-card-dataDespesa {
  grid-area: despesas-medium-card-dataDespesa;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-sm);
  font-weight: 400;
}

.despesas-medium-card-valorDespesa {
  grid-area: despesas-medium-card-valorDespesa;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-sm);
  font-weight: 400;
}

.despesas-medium-card-cnpj_cpf_for,
.despesas-medium-card-nome_fornecedor,
.despesas-medium-card-ordenador_despesa,
.despesas-medium-card-autor,
.despesas-medium-card-data_criacao {
  display: none;
  justify-self: start;
  align-self: center;
  opacity: 0;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-sm);
  font-weight: 300;
  transition: opacity 0.25s ease-in-out;
}

.despesas-medium-card-editar {
  grid-area: despesas-medium-card-editar;
  display: none;
  opacity: 0;
  border-top: 1px solid var(--card-aberto-detalhe);
  transition: opacity 0.25s ease-in-out;
}

.exibirDetalheDespesa {
  opacity: 1 !important;
}

.despesas-medium-card-expanded {
  border-radius: 12px;
  background: var(--card-aberto-bg) !important;
  border: 1px solid var(--card-aberto-bg) !important;
  color: var(--txt-card-aberto);
  box-shadow: var(--sombra-card-aberto);
  grid:
    "despesas-medium-card-natureza despesas-medium-card-natureza"
    "despesas-medium-card-valorDespesa despesas-medium-card-dataDespesa"
    "despesas-medium-card-referencia despesas-medium-card-referencia"
    "despesas-medium-card-cnpj_cpf_for despesas-medium-card-ordenador_despesa"
    "despesas-medium-card-nome_fornecedor despesas-medium-card-nome_fornecedor"
    "despesas-medium-card-autor despesas-medium-card-data_criacao"
    "despesas-medium-card-desc despesas-medium-card-desc"
    "despesas-medium-card-editar despesas-medium-card-editar";
  transform: scale(1);
  transition: max-height 0.25s ease, transform 0.25s ease, box-shadow 0.25s ease;
  max-height: 300px;
  height: auto;
}

.despesas-medium-card-cnpj_cpf_for.exibirDetalheDespesa,
.despesas-medium-card-nome_fornecedor.exibirDetalheDespesa,
.despesas-medium-card-ordenador_despesa.exibirDetalheDespesa,
.despesas-medium-card-autor.exibirDetalheDespesa,
.despesas-medium-card-data_criacao.exibirDetalheDespesa {
  display: inline-block;
  opacity: 1;
  margin: 3px 0 0 10px;
}

.despesas-medium-card-editar.exibirDetalheDespesa {
  display: grid;
  justify-content: center;
  padding: 10px 0px 0px 0px;
  margin: 15px 0 0 0;
  opacity: 1;
  gap: 30px;
}

.despesas-medium-card-expanded .despesas-medium-card-natureza {
  border-left: 4px solid var(--card-aberto-detalhe);
  color: var(--txt-card-aberto);
}

.despesas-medium-card-expanded .despesas-medium-card-desc {
  background: var(--card-aberto-detalhe);
  color: var(--txt-subtitulo);
}

.despesas-medium-card-expanded:hover {
  filter: brightness(1);
}
