:root {
  --txt-principal: #eff4f8; /* Texto Principal */
  --txt-secundario: #c9dbef; /* Texto Secundário - mais claro */
  --txt-alt: #a8c0d8; /* Texto Alternativo */
  --background-principal: #111e32; /* Fundo Principal */
  --background-secundario: #010814; /* Fundo Secundário */
  --container: #010114; /* Container */
  --bordas: #0a111e; /* Bordas */
  --divisores: #6b7f9e; /* Divisores */
  --card-fundo: #171f3e; /* Fundo de Cards */
  --card-borda: #192a44; /* Borda de Card */
  --card-hover: #1b3861; /* Hover do Card */
  --modal-background: #171d3e; /* Fundo de Modal */
  --btn-principal: #8146f5; /* Botão Primário */
  --btn-principal-hover: #844bf7; /* Hover do Botão Primário - mais claro */
  --btn-principal-destaque: #a57ff0; /* Destaque do Botão Primário */
  --btn-secundario: #2f75de; /* Botão Secundário */
  --btn-secundario-hover: #1d5ebf; /* Hover do Botão Secundário */
  --btn-secundario-destaque: #accbf8; /* Destaque do Botão Secundário */
  --btn-alt: #c4d7f4; /* Botão Alternativo */
  --detalhes-1: #1d2c46; /* Detalhes 1 */
  --detalhes-2: #c3e8ff; /* Detalhes 2 */
  --detalhes-3: #a5d0f5; /* Detalhes 3 */
  --destaque-1: #131d2e; /* Destaque 1 */
  --destaque-2: #378dd3; /* Destaque 2 */
  --link: #8049ee; /* Links */
  --link-hover: #5ce1e6; /* Hover dos Links */
  --placeholder: #030a18; /* Placeholder */
  --sucesso: #4caf50; /* Mensagem de Sucesso */
  --erro: #f44336; /* Mensagem de Erro */
  --aviso: #ff9800; /* Mensagem de Aviso */
  --informacao: #167fd4; /* Mensagem de Informação */
  --cor-marca: linear-gradient(to right, #8f4aff, #65eef3); /* Cor de Marca */
  --cor-auxiliar1: #000023; /* Fundo auxiliar 1 */
  --cor-auxiliar2: #223386; /* Fundo auxiliar 2 */
  --cor-auxiliar3: #768eff; /* Fundo auxiliar 3 */
}

/* Estilos Gerais */
body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  background: radial-gradient(
    ellipse at -10% 100%,
    #1c123a 15%,
    #2b1d56 25%,
    #35246a 35%,
    #420066 45%,
    #010814 55%,
    #010814 100%
  );
  background-attachment: fixed;
  background-size: cover;
  color: var(--txt-principal);
  margin: 0;
  padding: 0;
  line-height: 1.6;
}
h1,
h2,
h3,
h4,
ul,
menu,
p,
button,
blockquote,
dd {
  margin: 0;
}
ul,
menu {
  padding: 0;
  list-style: none;
}
li {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
a {
  color: var(--link);
  text-decoration: none;
  position: relative;
}
a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--link);
  position: absolute;
  bottom: -2px;
  left: 0;
  transition: width 0.3s ease;
}
a:hover::after {
  width: 100%;
}
a:hover {
  color: var(--link-hover);
}
.link {
  display: inline-block;
  color: var(--destaque-1);
  font: 500 1.5rem/1.5 "Poppins", sans-serif;
  text-transform: uppercase;
}
.link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: currentColor;
}
.link:hover {
  color: var(--background-principal);
}
span {
  text-align: right;
  color: var(--btn-principal);
}

.nav-menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  z-index: 1001;
  background: transparent;
  backdrop-filter: blur(4px);
  transition: top 0.3s ease, background 0.3s ease;
}
.nav-menu.scrolled {
  background: #0d1b3322;
  backdrop-filter: blur(15px);
}
.nav-menu.hidden {
  top: -100px;
}

.content {
  margin-top: 40px;
  z-index: 1000;
  background: #0d1b3322;
  backdrop-filter: blur(4px);
}

/* Estilizando a barra de navegação */
nav {
  padding: 15px 0;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}
nav ul li:last-child {
  margin-right: 0;
}
nav a {
  color: var(--txt-secundario);
  text-decoration: none;
  font-size: 1.1rem;
  padding: 10px 20px;
  border-radius: 5px;
}
nav a:hover {
  color: var(--txt-principal);
}

/* Estilizando o "HEADER" */
header {
  text-align: center;
  padding: 50px;
}
header h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5em;
  background: var(--cor-marca);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
header p {
  font-size: 1.1rem;
  color: var(--txt-secundario);
}
header button {
  background-color: var(--btn-principal);
  color: var(--txt-principal);
  border: none;
  padding: 15px 40px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}
header button:hover {
  background-color: var(--btn-principal-hover);
}
header blockquote {
  font-size: 1.3rem;
  font-style: italic;
  color: var(--txt-alt);
  margin: 20px 0;
  padding: 20px;
  border-left: 5px solid var(--link);
  background: #10203c93;
  backdrop-filter: blur(10px);
  border-radius: 5px;
}

/* Estilizando a seção "Benefícios" */
#beneficios {
  color: var(--txt-principal);
  padding: 70px 0;
}
#beneficios h2 {
  text-align: center;
  color: var(--txt-principal);
  margin-bottom: 1.5em;
  font-size: 2.5rem;
}
.beneficio h3 {
  font-size: 1.3rem;
  background: var(--cor-marca);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.beneficio p {
  color: var(--txt-secundario);
  font-size: 1.1rem;
  margin-top: 10px;
}
.beneficios-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}
.beneficio {
  background-color: var(--container);
  border: 1px solid #10203c93;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.6);
}

/* Estilos para a seção "Como a DICA Potencializa Sua Gestão Política" */
#como-potencializa {
  color: var(--txt-principal);
  padding: 70px 0;
}
#como-potencializa h2 {
  text-align: center;
  color: var(--txt-principal);
  margin-bottom: 1.5em;
  font-size: 2.2rem;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.grid-item {
  background: var(--container);
  border: 1px solid #10203c93;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.6);
}
.header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.num {
  font-size: 1.8rem;
  font-weight: bold;
  background: #10203c93;
  background: var(--cor-marca);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 20px;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#como-potencializa h3 {
  font-size: 1.3rem;
  margin: 0;
  background: var(--cor-marca);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
#como-potencializa ul {
  list-style-type: none;
  padding: 0;
  color: var(--txt-secundario);
}
#como-potencializa ul li {
  padding: 7px 7px 7px 15px;
  border-radius: 5px;
  margin-bottom: 7px;
  border: 1px solid #10203c93;
  background: var(--modal-background);
}
#como-potencializa ul li:hover {
  border: 1px solid var(--btn-principal-destaque);
}

/* Estilos para a seção "RECURSOS" */
#recursos {
  display: grid;
  padding: 50px 20px;
  text-align: center;
  justify-content: stretch;
  align-content: center;
}
#recursos h2 {
  font-size: 2.5rem;
  margin-bottom: 1em;
  color: var(--txt-principal);
}
.recurso-item {
  width: 60%;
  margin: 0 auto;
  cursor: pointer;
  font-weight: bold;
  padding: 15px;
  color: var(--btn-principal-destaque);
  background: var(--container);
  border: 1px solid #10203c93;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: background-color 0.3s, color 0.3s;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.6);
}
.recurso-item:hover {
  border: 1px solid var(--btn-principal-destaque);
}
.recurso-item.active {
  background: var(--container);
  backdrop-filter: blur(15px);
  color: var(--btn-principal-hover);
  font-size: 120%;
}
.recurso-item .detalhe-recurso {
  display: none;
  background-color: var(--card-fundo);
  padding: 15px;
  border-radius: 5px;
  margin-top: 10px;
  text-align: left;
  font-weight: 300;
  font-size: 1rem;
  color: var(--txt-secundario);
}
.recurso-item.active .detalhe-recurso {
  display: block;
}

/* Estilos para a seção "PREÇOS e PLANOS" */
#planos-precos {
  padding: 50px 0;
  background-color: var(--background-secundario);
  color: var(--txt-principal);
  text-align: center;
}
#planos-precos h2 {
  text-align: center;
  color: var(--txt-principal);
  margin-bottom: 1.5em;
  font-size: 2.5rem;
}
#planos-precos h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}
#planos-precos p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}
.pricing-plans {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  margin-top: 30px;
  justify-content: center;
  gap: 10px;
}
.pricing-plans > * {
  flex: 0 0 auto;
}
.plan {
  background: var(--card-fundo);
  border: 1px solid var(--card-borda);
  border-radius: 10px;
  padding: 20px;
  text-align: left;
  width: 300px;
  height: auto;
}
.plan.destaque {
  border: 2px solid var(--btn-secundario);
}
.plan h4 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.plan p {
  font-size: 1rem;
  margin-bottom: 15px;
  color: var(--txt-secundario);
}
.plan .price {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.plan button {
  background-color: var(--btn-secundario);
  color: var(--txt-principal);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.plan button:hover {
  background-color: var(--btn-secundario-hover);
}
.cta {
  margin-top: 50px;
}
.cta h3 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.cta .btn-cta {
  background-color: var(--btn-principal);
  color: var(--txt-principal);
  padding: 15px 30px;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 1px solid var(--btn-principal-hover);
  transition: background-color 0.3s;
}
.cta .btn-cta:hover {
  background-color: var(--btn-principal-hover);
  border: 1px solid var(--btn-principal);
}

/* Estilizando a seção "SOBRE NÓS" */
#sobre-nos {
  color: var(--txt-principal);
  padding: 70px 0;
}
#sobre-nos h2 {
  margin-bottom: 0.5em;
  font-size: 2.5rem;
  text-align: center;
}
#sobre-nos h3 {
  font-size: 1.3rem;
  margin-bottom: 0.5em;
  cursor: pointer;
  background: var(--cor-marca);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.toggle-details {
  position: relative;
  cursor: pointer;
}
.toggle-details::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid var(--txt-principal);
  margin-left: 8px;
  border-radius: 25%;
  transition: transform 0.3s;
}
.toggle-details.up::after {
  border-top: none;
  border-bottom: 7px solid var(--txt-principal);
}

/* Estilizando o "footer" */
footer {
  text-align: center;
  padding: 20px;
  color: var(--txt-secundario);
}
footer a {
  color: var(--link);
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s;
}
footer a:hover {
  color: var(--link-hover);
}

/* Estilos para os textos escondidos */
.detail {
  display: none;
  padding: 0px 5px 5px 5px;
  font-weight: 300;
  color: var(--txt-alt);
}
.detail.visible {
  display: block;
  padding: 10px;
  margin: 10px;
  border-left: 2px solid var(--btn-principal);
}

/* Estilos para os ícones */
.icone-missao,
.icone-visao,
.icone-valores {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 10px;
}

/* Estilos para os CONTAINERS */
.container {
  width: 80%;
  margin: 0 auto;
}

/* Estilos para os itens de Duas Colunas */
.row {
  display: flex;
}
.column {
  flex: 1;
  padding: 10px;
}
.main-content {
  text-align: left;
}
.quote {
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagem-cabecalho {
  width: 50%;
  height: auto;
  border-radius: 15px;
  margin: auto;
}

/* Estilos para os CARDS */
.card {
  background: var(--card-fundo);
  border: 1px solid var(--card-borda);
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
  flex: 1;
  margin-right: 10px;
}
.card h4 {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.card h4 img {
  margin-right: 10px;
}
.card p {
  color: var(--txt-secundario);
}
.detail.row {
  display: flex;
  flex-wrap: wrap;
}

/* Definindo a animação de pulsar */
@keyframes pulsar {
  0% {
    transform: scale(1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
}

/* Aplicando a animação apenas aos botões especificados */
.btn-cta,
.btn-adapte-se {
  animation: pulsar 1.5s infinite;
}
/* Outros estilos para os botões, caso necessário */
.btn-principal,
button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn-principal {
  background-color: #007bff;
  color: white;
}
.btn-principal:hover {
  background-color: #0056b3;
}
button {
  background-color: #28a745;
  color: white;
}
button:hover {
  background-color: #218838;
}

/* Media Queries para Responsividade */
/* Telas Medias */
@media (max-width: 768px) {
  header {
    padding: 20px;
  }
  header h1 {
    font-size: 2.5rem;
  }
  header p {
    font-size: 1rem;
  }
  header button {
    padding: 10px 25px;
    font-size: 1rem;
  }
  header blockquote {
    font-size: 1.1rem;
    padding: 20px;
  }

  .row {
    flex-direction: column;
  }
  .column {
    width: 100%;
    padding: 0;
    margin-bottom: 10px;
  }

  .imagem-cabecalho {
    width: 100%;
  }

  .beneficio h2 {
    flex: 0 0 auto;
  }
  .beneficio p {
    color: var(--txt-secundario);
    font-size: 1.2rem;
    margin-top: 10px;
    padding: 10px 5px;
    flex: 0 0 auto;
  }
  .beneficios-grid {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 10px;
  }
  .beneficios-grid > * {
    flex: 0 0 auto; /* Garante que os itens mantenham seu tamanho mínimo */
    width: 175px;
  }

  .recurso-item {
    width: 90%;
    margin: 0 auto;
    cursor: pointer;
    font-weight: bold;
    padding: 15px;
    color: var(--btn-principal-destaque);
    background: var(--container);
    border: 1px solid #10203c93;
    border-radius: 5px;
    margin-bottom: 7px;
    transition: background-color 0.3s, color 0.3s;
  }
  .recurso-item:hover {
    background: var(--container);
    color: var(--link);
  }
  .recurso-item.active {
    background: var(--container);
    backdrop-filter: blur(15px);
    color: var(--btn-principal-hover);
    font-size: 120%;
  }

  .pricing-plans {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    margin-top: 30px;
    justify-content: start;
    gap: 10px;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .card {
    margin-right: 0;
  }

  #beneficios,
  #como-potencializa,
  #recursos,
  #planos-precos,
  #sobre-nos {
    padding: 50px 5px;
  }
}

/* Telas Pequenas */
@media (max-width: 480px) {
  .container {
    width: 100%;
  }

  nav ul li {
    display: block;
    margin: 0;
    margin-bottom: 10px;
  }
  nav a {
    font-size: 1rem;
    padding: 5px 10px;
  }

  .plan {
    background: var(--card-fundo);
    border: 1px solid var(--card-borda);
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    width: 250px;
    height: auto;
  }

  .beneficios-grid::-webkit-scrollbar,
  .pricing-plans::-webkit-scrollbar {
    display: none;
  }

  #beneficios h2,
  #como-potencializa h2,
  #recursos h2,
  #planos-precos h2,
  #sobre-nos h2 {
    font-size: 2rem;
    margin-bottom: 0.9em;
  }

  #como-potencializa h3,
  #recursos h3,
  #planos-precos h3,
  #sobre-nos h3 {
    font-size: 1.2rem;
  }

  .beneficio p,
  #como-potencializa ul li,
  .recurso-item,
  .recurso-item .detalhe-recurso,
  .card p {
    font-size: 0.9rem;
  }

  #beneficios,
  #como-potencializa,
  #recursos,
  #planos-precos,
  #sobre-nos {
    padding: 40px 10px;
  }
}

.menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-list.show-menu {
  display: block; /* Mostra o menu quando a classe show-menu é adicionada */
}

.menu-icon img {
  display: none; /* Esconde o ícone do menu por padrão */
  cursor: pointer; /* Adiciona cursor de apontador para indicar que é clicável */
}

@media (max-width: 768px) {
  .nav-menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 20px;
    z-index: 1001;
    background: transparent;
    backdrop-filter: blur(4px);
    transition: top 0.3s ease;
  }
  .content {
    margin-top: 45px;
  }

  .menu-icon img {
    display: block;
    margin-left: 5px;
  }

  .menu-list {
    background: #0e042fd3;
    backdrop-filter: blur(7px);
    color: var(--txt-principal);
    border-radius: 10px;
    width: 80%;
    height: 250px;
    margin-left: 12px;
    margin-top: 7px;
    z-index: 1001;
    padding: 10px 0;
    text-align: center;
    display: none;
  }

  .menu-list.show-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .menu-list li {
    margin-bottom: 10px;
  }
}
