/* Cards padrão, que se ajustam ao conteúdo*/
/* Muito Pequeno altura 35px*/
.card-xs {
  height: 30px;
  border-radius: 0.9375rem;
  padding: 0.625rem;
  background: var(--cor-0);
  font-weight: var(--font-medium-regular);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* Pequeno altura 35px*/
.card-s {
  height: 35px;
  border-radius: 0.9375rem;
  padding: 0.625rem;
  background: var(--cor-0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* Médio altura 50px*/
.card-m {
  display: grid;
  height: 50px;
  border-radius: 0.9375rem;
  padding: 0.625rem;
  background: var(--cor-0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* Grande altura 150px*/
.card-l {
  min-height: 150px;
  border-radius: 0.9375rem;
  padding: 0.625rem;
  background: var(--cor-0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Cards tamanhos fixos (tmf)*/
/* Pequeno */
.card-tmf-s {
  width: 135px;
  height: 100px;
  border-radius: 0.9375rem;
  padding: 0.625rem;
  background: var(--cor-0);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Médio */
.card-tmf-m {
  width: 150px;
  height: 160px;
  border-radius: 0.9375rem;
  padding: 0.625rem;
  background: var(--cor-0);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
}
/* Grande */
.card-tmf-l {
  width: 184px;
  height: 190px;
  min-height: 170px;
  border-radius: 0.9375rem;
  padding: 0.625rem;
  background: var(--cor-0);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Responsividade */
/*@media (max-width: 800px) {
  .card-tmf-l {
    min-width: 48%;
  }
}*/

/* Cards dos selects */
/* Muito Pequeno altura 35px */
.card-select-xs {
  border-radius: 0.9375rem;
  padding: 0.3rem;
  background: var(--cor-0);
  font-weight: var(--font-light);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.card-select-s {
  border-radius: 0.9375rem;
  background: var(--cor-0);
  font-weight: var(--font-medium-regular);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.card-select-m {
  padding: 0.625rem;
  width: 100%;
  border-radius: 0.9375rem;
  background: var(--cor-0);
  font-weight: var(--font-medium-regular);
  border: 1px solid rgba(0, 0, 0, 0.2);
}
