/* CARDS Contatos */
/* Pequeno */
.contatos-small-card {
  display: grid;
  align-items: center;
  justify-items: start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  grid:
    "contatos-small-card-tag contatos-small-card-title"
    "contatos-small-card-tag contatos-small-card-num"
    / 105px 1fr;
}
.contatos-small-card-title {
  grid-area: contatos-small-card-title;
  font-size: var(--titulo-m);
  margin-left: 0.625rem;
}
.contatos-small-card-num {
  grid-area: contatos-small-card-num;
  font-size: var(--font-light);
  margin-left: 0.625rem;
}
.contatos-small-card-tag {
  grid-area: contatos-small-card-tag;
}

/* Médio */
.contatos-medium-card {
  display: grid;
  gap: 0.625rem;
  align-content: center;
  justify-items: start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  grid:
    "contatos-medium-card-tag contatos-medium-card-title contatos-medium-card-title "
    "contatos-medium-card-tag contatos-medium-card-inicio contatos-medium-card-fim "
    / 105px auto auto;
}
.contatos-medium-card-title {
  grid-area: contatos-medium-card-title;
  font-size: var(--font-medium-regular);
}
.contatos-medium-card-inicio {
  grid-area: contatos-medium-card-inicio;
  font-size: var(--font-medium-regular);
}
.contatos-medium-card-fim {
  grid-area: contatos-medium-card-fim;
  font-size: var(--font-medium-regular);
}
.contatos-medium-card-tag {
  grid-area: contatos-medium-card-tag;
  font-size: var(--font-medium-regular);
}

/* Grande */
.contatos-large-card {
  display: grid;
  align-items: center;
  justify-items: start;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  grid:
    "contatos-large-card-tag" 32px
    "contatos-large-card-title" 1fr
    "contatos-large-card-local" 1fr
    "contatos-large-card-partcipantes" 1fr
    "contatos-large-card-duracao" 1fr;
}
.contatos-large-card-title {
  grid-area: contatos-large-card-title;
  font-size: var(--titulo-m);
}
.contatos-large-card-local {
  grid-area: contatos-large-card-local;
  font-size: var(--font-medium-light);
}
.contatos-large-card-partcipantes {
  grid-area: contatos-large-card-partcipantes;
  font-size: var(--font-medium-light);
}
.contatos-large-card-duracao {
  grid-area: contatos-large-card-duracao;
  font-size: var(--font-medium-light);
}
.contatos-large-card-tag {
  grid-area: contatos-large-card-tag;
}

/* Vazio */
.contatos-empty-card {
  display: grid;
  align-items: center;
  justify-items: start;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  grid: "contatos-empty-card-title" 32px;
}
.contatos-empty-card-title {
  grid-area: contatos-empty-card-title;
  font-size: var(--titulo-m);
}
