/* CARDS EVENTOS */
/* Pequeno */
.eventos-small-card {
  display: grid;
  align-items: center;
  justify-items: start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  grid:
    "eventos-small-card-tag eventos-small-card-title eventos-small-card-title ." 1fr
    "eventos-small-card-tag eventos-small-card-inicio eventos-small-card-fim ." 0.5fr
    / 1fr 50px 50px 1fr;
}
.eventos-small-card-title {
  grid-area: eventos-small-card-title;
  font-size: var(--titulo-xs);
}
.eventos-small-card-inicio {
  grid-area: eventos-small-card-inicio;
  font-size: var(--font-light);
}
.eventos-small-card-fim {
  grid-area: eventos-small-card-fim;
  font-size: var(--font-light);
}
.eventos-small-card-tag {
  grid-area: eventos-small-card-tag;
}

/* Médio */
.eventos-medium-card {
  display: grid;
  align-items: center;
  justify-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  grid:
    "eventos-medium-card-title eventos-medium-card-title eventos-medium-card-tag eventos-medium-card-tag" 1fr
    "eventos-medium-card-inicio eventos-medium-card-fim eventos-medium-card-tag eventos-medium-card-tag" 0.5fr
    / 1fr 1fr 2fr 1fr;
}
.eventos-medium-card-title {
  grid-area: eventos-medium-card-title;
  font-size: var(--font-medium-regular);
}
.eventos-medium-card-inicio {
  grid-area: eventos-medium-card-inicio;
  font-size: var(--font-medium-regular);
}
.eventos-medium-card-fim {
  grid-area: eventos-medium-card-fim;
  font-size: var(--font-medium-regular);
}
.eventos-medium-card-tag {
  grid-area: eventos-medium-card-tag;
  font-size: var(--font-medium-regular);
}

/* Grande */
.eventos-large-card {
  display: grid;
  align-items: center;
  justify-items: start;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  grid:
    "eventos-large-card-tag" 32px
    "eventos-large-card-title" 1fr
    "eventos-large-card-local" 1fr
    "eventos-large-card-partcipantes" 1fr
    "eventos-large-card-duracao" 1fr;
}
.eventos-large-card-title {
  grid-area: eventos-large-card-title;
  font-size: var(--titulo-m);
}
.eventos-large-card-local {
  grid-area: eventos-large-card-local;
  font-size: var(--font-medium-light);
}
.eventos-large-card-partcipantes {
  grid-area: eventos-large-card-partcipantes;
  font-size: var(--font-medium-light);
}
.eventos-large-card-duracao {
  grid-area: eventos-large-card-duracao;
  font-size: var(--font-medium-light);
}
.eventos-large-card-tag {
  grid-area: eventos-large-card-tag;
}

/* Vazio */
.eventos-empty-card {
  display: grid;
  align-items: center;
  justify-items: start;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  grid: "eventos-empty-card-title" 32px;
}
.eventos-empty-card-title {
  grid-area: eventos-empty-card-title;
  font-size: var(--titulo-m);
}
