/* Grid */
.eventos-template {
  display: grid;
  align-content: center;
  justify-content: center;
  grid:
    "eventos-sidenav eventos-section" 1fr
    / 1.1fr 1.9fr;
}

/* Áreas de grid */
.eventos-section {
  grid-area: eventos-section;
  text-align: center;
}
.eventos-sidenav {
  grid-area: eventos-sidenav;
  text-align: center;
}

/* RESPONSIVO */
@media (max-width: 800px) {
  .eventos-template {
    grid:
      "eventos-sidenav"
      "eventos-section"
      /1fr;
  }
  .eventos-section {
    padding-top: 10px;
    border-radius: 15px;
    background-color: var(--cor-0);
  }
  .eventos-section .area-template {
    background-color: transparent;
    box-shadow: none;
  }
  .eventos-section .area-template .lista-vertical-template {
    background-color: transparent;
    box-shadow: none;
  }
}
