/* Template geral da eventos-section*/
.eventos-section-template {
  display: grid;
  gap: 10px;
  grid:
    "eventos-section-header" 24px
    "eventos-section-nav" 34px
    "eventos-section-list" 1fr
    / 1fr;
}
.eventos-section-header {
  grid-area: eventos-section-header;
}
.eventos-section-nav {
  grid-area: eventos-section-nav;
}
.eventos-section-list {
  grid-area: eventos-section-list;
}
.eventos-section-template img {
  width: 18px;
  height: 16px;
}

/* Template do section-header */
.eventos-section-header-template {
  display: grid;
  margin-right: 12px;
  gap: 20px;
  grid:
    "eventos-section-header-template-title eventos-section-header-template-day eventos-section-header-template-view" 24px
    / 1fr 18px 18px;
}
.eventos-section-header-template-title {
  grid-area: eventos-section-header-template-title;
}
.eventos-section-header-template-day {
  grid-area: eventos-section-header-template-day;
}
.eventos-section-header-template-view {
  grid-area: eventos-section-header-template-view;
}
.eventos-section-header-template button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

/* Template do section-nav */
.eventos-section-nav-template {
  display: grid;
  align-content: center;
  justify-content: center;
  box-sizing: border-box;
  gap: 14px;
  grid:
    "eventos-section-nav-template-anterior eventos-section-nav-template-calendario eventos-section-nav-template-avancar" 34px
    / 10px auto 10px;
}
.eventos-section-nav-template-anterior {
  grid-area: eventos-section-nav-template-anterior;
}
.eventos-section-nav-template-calendario {
  grid-area: eventos-section-nav-template-calendario;
  align-self: center;
}
.eventos-section-nav-template-avancar {
  grid-area: eventos-section-nav-template-avancar;
}
.eventos-section-nav-template-anterior,
.eventos-section-nav-template-avancar {
  height: 14px;
  align-self: center;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

/* Template da lista de hora-eventos */
.eventos-section-list-template {
  display: grid;
  margin-left: 10px;
  gap: 10px;
  grid:
    "eventos-section-list-template-moment eventos-section-list-template-event" 1fr
    / 34px 1fr;
}
.eventos-section-list-template-moment {
  grid-area: eventos-section-list-template-moment;
  font-size: var(--font-medium-light);
}
.eventos-section-list-template-event {
  grid-area: eventos-section-list-template-event;
  margin-top: 14px;
}
