/* Grid */
.eventos-template {
  display: grid;
  align-content: center;
  justify-content: center;
  grid:
    "eventos-sidenav eventos-section" 1fr
    / 1.1fr 1.9fr;
}

/* Áreas de grid */
.eventos-section {
  grid-area: eventos-section;
  text-align: center;
}
.eventos-sidenav {
  grid-area: eventos-sidenav;
  text-align: center;
}

/* Estilo para mostrar o conteúdo quando a barra lateral está recuada */
.eventos-sidenav.recuar {
  height: 130px;
  overflow-x: hidden;
  transition: width 0.5s ease-out 0.5s;
}

/* RESPONSIVO */
@media (max-width: 800px) {
  .eventos-template {
    grid:
      "eventos-sidenav" auto
      "eventos-section" 1fr
      / 1fr;
  }
}
