/* Grid */
.eventos-template {
  display: grid;
  align-content: center;
  justify-content: center;
  grid:
    "eventos-sidenav eventos-section" 1fr
    / 1.1fr 1.9fr;
}

/* Áreas de grid */
.eventos-section {
  grid-area: eventos-section;
  text-align: center;
}
.eventos-sidenav {
  grid-area: eventos-sidenav;
  text-align: center;
}

/* RESPONSIVO */
@media (max-width: 800px) {
  .eventos-template {
    grid:
      "eventos-sidenav"
      "eventos-section"
      /1fr;
  }
  .eventos-section {
    padding-top: 10px;
    border-radius: 30px;
    background-color: var(--cor-0);
  }
  .eventos-section {
    padding: 10px 0px 30px 0px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px -10px 10px -10px rgba(0, 0, 0, 0.4);
  }
}
