:root {
  --cor-0: #ffffff;
  --cor-1: #f8f8f8;
  --cor-2: #fefefe;
  --cor-3: #ecf0f1;
  --cor-4: #ededed;
  --cor-5: #c9c9c9;
  --cor-6: #b2b2b2;
  --cor-7: #717171;
  --cor-8: #595959;
  --cor-9: #404040;
  --cor-10: #131313;
  --cor-11: #111111;
  --cor-12: #000000;
  --cor-p1: #009788;
  --cor-p2: #00645a;
  --cor-p3: #f2f2f2;
  --cor-p4: #6b90e7;
  --cor-p5: #001715;
  --cor-p6: #c3dabf;
  --cor-p7: #7fffd4;
  --cor-p8: #02413b;
  --cor-marc1: #abdee6;
  --cor-marc2: #cbaacb;
  --cor-marc3: #ffffb5;
  --cor-marc4: #ffccb6;
  --cor-marc5: #f3b0c3;
  --cor-marc6: #c6dbda;
  --cor-marc7: #fee1e8;
  --cor-marc8: #fed7c3;
  --cor-marc9: #f6eac2;
  --cor-marc10: #ecd5e3;
  --cor-marc11: #ffc5bf;
  --cor-marc12: #ff968a;
  --cor-marc13: #ffaea5;
  --cor-marc14: #ffdbbe;
  --cor-marc15: #ffc8a2;
  --cor-marc16: #04f0f0;
  --cor-marc17: #8fcaca;
  --cor-marc18: #cce2cb;
  --cor-marc19: #b6cfb6;
  --cor-marc20: #97c1a9;
  --cor-marc21: #fcb9aa;
  --cor-marc22: #ffdbcc;
  --cor-marc23: #eceae4;
  --cor-marc24: #a2e1db;
  --cor-marc25: #55cbcd;
}

.cor-0 {
  color: var(--cor-0);
}
.cor-1 {
  color: var(--cor-1);
}
.cor-2 {
  color: var(--cor-2);
}
.cor-3 {
  color: var(--cor-3);
}
.cor-4 {
  color: var(--cor-4);
}
.cor-5 {
  color: var(--cor-5);
}
.cor-6 {
  color: var(--cor-6);
}
.cor-7 {
  color: var(--cor-7);
}
.cor-8 {
  color: var(--cor-8);
}
.cor-9 {
  color: var(--cor-9);
}
.cor-10 {
  color: var(--cor-10);
}
.cor-11 {
  color: var(--cor-11);
}
.cor-12 {
  color: var(--cor-12);
}
.cor-p1 {
  color: var(--cor-p1);
}
.cor-p2 {
  color: var(--cor-p2);
}
.cor-p3 {
  color: var(--cor-p3);
}
.cor-p4 {
  color: var(--cor-p4);
}
.cor-p5 {
  color: var(--cor-p5);
}
.cor-p6 {
  color: var(--cor-p6);
}
.cor-p7 {
  color: var(--cor-p7);
}
.cor-p8 {
  color: var(--cor-p8);
}
.cor-marc1 {
  background-color: var(--cor-marc1);
}

.cor-marc2 {
  background-color: var(--cor-marc2);
}

.cor-marc3 {
  background-color: var(--cor-marc3);
}

.cor-marc4 {
  background-color: var(--cor-marc4);
}

.cor-marc5 {
  background-color: var(--cor-marc5);
}

.cor-marc6 {
  background-color: var(--cor-marc6);
}

.cor-marc7 {
  background-color: var(--cor-marc7);
}

.cor-marc8 {
  background-color: var(--cor-marc8);
}

.cor-marc9 {
  background-color: var(--cor-marc9);
}

.cor-marc10 {
  background-color: var(--cor-marc10);
}

.cor-marc11 {
  background-color: var(--cor-marc11);
}

.cor-marc12 {
  background-color: var(--cor-marc12);
}

.cor-marc13 {
  background-color: var(--cor-marc13);
}

.cor-marc14 {
  background-color: var(--cor-marc14);
}

.cor-marc15 {
  background-color: var(--cor-marc15);
}

.cor-marc16 {
  background-color: var(--cor-marc16);
}

.cor-marc17 {
  background-color: var(--cor-marc17);
}

.cor-marc18 {
  background-color: var(--cor-marc18);
}

.cor-marc19 {
  background-color: var(--cor-marc19);
}

.cor-marc20 {
  background-color: var(--cor-marc20);
}

.cor-marc21 {
  background-color: var(--cor-marc21);
}

.cor-marc22 {
  background-color: var(--cor-marc22);
}

.cor-marc23 {
  background-color: var(--cor-marc23);
}

.cor-marc24 {
  background-color: var(--cor-marc24);
}

.cor-marc25 {
  background-color: var(--cor-marc25);
}
