:root {
  --cor-0: #ffffff;
  --cor-1: #f8f8f8;
  --cor-2: #f0efef;
  --cor-3: #ecf0f1;
  --cor-4: #ededed;
  --cor-5: #f0f0f0;
  --cor-6: #d7d7d7;
  --cor-7: #969696;
  --cor-8: #4f4f4f;
  --cor-9: #404040;
  --cor-10: #111010;
  --cor-11: #111111;
  --cor-12: #000000;
  --cor-p1: #009788;
  --cor-p2: #00645a;
  --cor-p3: #f2f2f2;
  --cor-p4: #6b90e7;
  --cor-p5: #001715;
  --cor-p6: #c3dabf;
  --cor-p7: #7fffd4;
  --cor-p8: #02413b;
  --cor-marc1: linear-gradient(to right, #e57373, #ff8a65);
  --cor-marc2: linear-gradient(to right, #ff8a65, #ffb74d);
  --cor-marc3: linear-gradient(to right, #ffb74d, #febe5d);
  --cor-marc4: linear-gradient(to right, #ffd54f, #fff176);
  --cor-marc5: linear-gradient(to right, #fff176, #dce775);
  --cor-marc6: linear-gradient(to right, #dce775, #aed581);
  --cor-marc7: linear-gradient(to right, #aed581, #81c784);
  --cor-marc8: linear-gradient(to right, #81c784, #4db6ac);
  --cor-marc9: linear-gradient(to right, #4db6ac, #4dd0e1);
  --cor-marc10: linear-gradient(to right, #4dd0e1, #4fc3f7);
  --cor-marc11: linear-gradient(to right, #4fc3f7, #64b5f6);
  --cor-marc12: linear-gradient(to right, #64b5f6, #7986cb);
  --cor-marc13: linear-gradient(to right, #7986cb, #9575cd);
  --cor-marc14: linear-gradient(to right, #9575cd, #f06292);
  --cor-marc15: linear-gradient(to right, #f06292, #ba68c8);
  --cor-marc16: linear-gradient(to right, #ba68c8, #a1887f);
  --cor-marc17: linear-gradient(to right, #a1887f, #90a4ae);
  --cor-marc18: linear-gradient(to right, #90a4ae, #b0bec5);
  --cor-marc19: linear-gradient(to right, #b0bec5, #78909c);
  --cor-marc20: linear-gradient(to right, #78909c, #607d8b);
  --cor-marc21: linear-gradient(to right, #607d8b, #455a64);
  --cor-marc22: linear-gradient(to right, #455a64, #333333);
  --cor-marc23: linear-gradient(to right, #333333, #666666);
  --cor-marc24: linear-gradient(to right, #666666, #999999);
  --cor-marc25: linear-gradient(to right, #999999, #e57373);
}

.cor-0 {
  color: var(--cor-0);
}
.cor-1 {
  color: var(--cor-1);
}
.cor-2 {
  color: var(--cor-2);
}
.cor-3 {
  color: var(--cor-3);
}
.cor-4 {
  color: var(--cor-4);
}
.cor-5 {
  color: var(--cor-5);
}
.cor-6 {
  color: var(--cor-6);
}
.cor-7 {
  color: var(--cor-7);
}
.cor-8 {
  color: var(--cor-8);
}
.cor-9 {
  color: var(--cor-9);
}
.cor-10 {
  color: var(--cor-10);
}
.cor-11 {
  color: var(--cor-11);
}
.cor-12 {
  color: var(--cor-12);
}
.cor-p1 {
  color: var(--cor-p1);
}
.cor-p2 {
  color: var(--cor-p2);
}
.cor-p3 {
  color: var(--cor-p3);
}
.cor-p4 {
  color: var(--cor-p4);
}
.cor-p5 {
  color: var(--cor-p5);
}
.cor-p6 {
  color: var(--cor-p6);
}
.cor-p7 {
  color: var(--cor-p7);
}
.cor-p8 {
  color: var(--cor-p8);
}
.cor-marc1 {
  background: var(--cor-marc1);
}

.cor-marc2 {
  background: var(--cor-marc2);
}

.cor-marc3 {
  background: var(--cor-marc3);
}

.cor-marc4 {
  background: var(--cor-marc4);
}

.cor-marc5 {
  background: var(--cor-marc5);
}

.cor-marc6 {
  background: var(--cor-marc6);
}

.cor-marc7 {
  background: var(--cor-marc7);
}

.cor-marc8 {
  background: var(--cor-marc8);
}

.cor-marc9 {
  background: var(--cor-marc9);
}

.cor-marc10 {
  background: var(--cor-marc10);
}

.cor-marc11 {
  background: var(--cor-marc11);
}

.cor-marc12 {
  background: var(--cor-marc12);
}

.cor-marc13 {
  background: var(--cor-marc13);
}

.cor-marc14 {
  background: var(--cor-marc14);
}

.cor-marc15 {
  background: var(--cor-marc15);
}

.cor-marc16 {
  background: var(--cor-marc16);
}

.cor-marc17 {
  background: var(--cor-marc17);
}

.cor-marc18 {
  background: var(--cor-marc18);
}

.cor-marc19 {
  background: var(--cor-marc19);
}

.cor-marc20 {
  background: var(--cor-marc20);
}

.cor-marc21 {
  background: var(--cor-marc21);
}

.cor-marc22 {
  background: var(--cor-marc22);
}

.cor-marc23 {
  background: var(--cor-marc23);
}

.cor-marc24 {
  background: var(--cor-marc24);
}

.cor-marc25 {
  background: var(--cor-marc25);
}
