:root {
  --cor-0: #ffffff;
  --cor-1: #f8f8f8;
  --cor-2: #f0efef;
  --cor-3: #ecf0f1;
  --cor-4: #ededed;
  --cor-5: #f0f0f0;
  --cor-6: #d7d7d7;
  --cor-7: #717171;
  --cor-8: #4f4f4f;
  --cor-9: #404040;
  --cor-10: #141414;
  --cor-11: #111111;
  --cor-12: #000000;
  --cor-p1: #009788;
  --cor-p2: #00645a;
  --cor-p3: #f2f2f2;
  --cor-p4: #6b90e7;
  --cor-p5: #001715;
  --cor-p6: #c3dabf;
  --cor-p7: #7fffd4;
  --cor-p8: #02413b;
  --cor-marc1: #e57373;
  --cor-marc2: #ff8a65;
  --cor-marc3: #ffb74d;
  --cor-marc4: #ffd54f;
  --cor-marc5: #fff176;
  --cor-marc6: #dce775;
  --cor-marc7: #aed581;
  --cor-marc8: #81c784;
  --cor-marc9: #4db6ac;
  --cor-marc10: #4dd0e1;
  --cor-marc11: #4fc3f7;
  --cor-marc12: #64b5f6;
  --cor-marc13: #7986cb;
  --cor-marc14: #9575cd;
  --cor-marc15: #f06292;
  --cor-marc16: #ba68c8;
  --cor-marc17: #a1887f;
  --cor-marc18: #90a4ae;
  --cor-marc19: #b0bec5;
  --cor-marc20: #78909c;
  --cor-marc21: #607d8b;
  --cor-marc22: #455a64;
  --cor-marc23: #333333;
  --cor-marc24: #666666;
  --cor-marc25: #999999;
}

.cor-0 {
  color: var(--cor-0);
}
.cor-1 {
  color: var(--cor-1);
}
.cor-2 {
  color: var(--cor-2);
}
.cor-3 {
  color: var(--cor-3);
}
.cor-4 {
  color: var(--cor-4);
}
.cor-5 {
  color: var(--cor-5);
}
.cor-6 {
  color: var(--cor-6);
}
.cor-7 {
  color: var(--cor-7);
}
.cor-8 {
  color: var(--cor-8);
}
.cor-9 {
  color: var(--cor-9);
}
.cor-10 {
  color: var(--cor-10);
}
.cor-11 {
  color: var(--cor-11);
}
.cor-12 {
  color: var(--cor-12);
}
.cor-p1 {
  color: var(--cor-p1);
}
.cor-p2 {
  color: var(--cor-p2);
}
.cor-p3 {
  color: var(--cor-p3);
}
.cor-p4 {
  color: var(--cor-p4);
}
.cor-p5 {
  color: var(--cor-p5);
}
.cor-p6 {
  color: var(--cor-p6);
}
.cor-p7 {
  color: var(--cor-p7);
}
.cor-p8 {
  color: var(--cor-p8);
}
.cor-marc1 {
  background: var(--cor-marc1);
}

.cor-marc2 {
  background: var(--cor-marc2);
}

.cor-marc3 {
  background: var(--cor-marc3);
}

.cor-marc4 {
  background: var(--cor-marc4);
}

.cor-marc5 {
  background: var(--cor-marc5);
}

.cor-marc6 {
  background: var(--cor-marc6);
}

.cor-marc7 {
  background: var(--cor-marc7);
}

.cor-marc8 {
  background: var(--cor-marc8);
}

.cor-marc9 {
  background: var(--cor-marc9);
}

.cor-marc10 {
  background: var(--cor-marc10);
}

.cor-marc11 {
  background: var(--cor-marc11);
}

.cor-marc12 {
  background: var(--cor-marc12);
}

.cor-marc13 {
  background: var(--cor-marc13);
}

.cor-marc14 {
  background: var(--cor-marc14);
}

.cor-marc15 {
  background: var(--cor-marc15);
}

.cor-marc16 {
  background: var(--cor-marc16);
}

.cor-marc17 {
  background: var(--cor-marc17);
}

.cor-marc18 {
  background: var(--cor-marc18);
}

.cor-marc19 {
  background: var(--cor-marc19);
}

.cor-marc20 {
  background: var(--cor-marc20);
}

.cor-marc21 {
  background: var(--cor-marc21);
}

.cor-marc22 {
  background: var(--cor-marc22);
}

.cor-marc23 {
  background: var(--cor-marc23);
}

.cor-marc24 {
  background: var(--cor-marc24);
}

.cor-marc25 {
  background: var(--cor-marc25);
}
