:root {
  /* Tamanhos em rem para a fonte Roboto */
  --font-padrao: 1rem;
  --font-light: 0.6875rem;
  --font-medium-light: 0.75rem;
  --font-medium-regular: 0.75rem;
  --font-medium-bolder: 0.75rem;
  --titulo-xs: 0.75rem;
  --titulo-s: 0.875rem;
  --titulo-m: 0.875rem;
  --font-l: 1rem;
  --titulo-xl: 1.125rem;
}

/* Aplicando as variáveis nas classes */
/* 16px */
.font-padrao {
  font: var(--font-padrao);
}
/* 11px */
.font-light {
  font: var(--font-light);
  font-weight: lighter;
}
/* 12px */
.font-medium-light {
  font: var(--font-medium-light);
  font-weight: lighter;
}
/* 12px */
.font-medium-regular {
  font: var(--font-medium-regular);
}
/* 12px */
.font-medium-bolder {
  font: var(--font-medium-bolder);
  font-weight: bolder;
}
/* 12px */
.titulo-xs {
  font-size: var(--titulo-xs);
  font-weight: normal;
}
/* 14px */
.titulo-s {
  font-size: var(--titulo-s);
  font-weight: normal;
}
/* 14px */
.titulo-m {
  font-size: var(--titulo-m);
  font-weight: bolder;
}
/* 16px */
.titulo-l {
  font-size: var(--titulo-l);
  font-weight: bolder;
}
/* 18px */
.titulo-xl {
  font-size: var(--titulo-xl);
  font-weight: bolder;
}

.titulo-area {
  font-size: var(--titulo-xl);
  text-align: left;
  margin: 0.625rem;
}
