.main-arquivos .card-m,
.main-arquivos .card-l {
  border-radius: 10px;
  box-shadow: var(--sombra-leve);
}
/*  hover  */
.main-arquivos .card-xs:hover,
.main-arquivos .card-s:hover,
.main-arquivos .card-m:hover,
.main-arquivos .card-l:hover,
.main-arquivos .card-tmf-s:hover,
.main-arquivos .card-tmf-m:hover,
.main-arquivos .card-tmf-l:hover,
.main-arquivos .card-select-xs:hover,
.main-arquivos .card-select-s:hover,
.main-arquivos .card-select-m:hover {
  filter: none;
}
/* Active */
.main-arquivos .card-xs:active:not(.card-xs.filtro-small-card),
.main-arquivos .card-s:active,
.main-arquivos .card-m:active,
.main-arquivos .card-l:active {
  animation: none;
  transform: none;
  box-shadow: none;
}

.card-arquivos-template {
  display: grid;
  color: var(--txt-conteudo-card);
  gap: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  grid:
    "card-arquivos-template-title"
    "card-arquivos-template-list"
    "card-arquivos-template-link";
}

.card-arquivos-template-title {
  grid-area: card-arquivos-template-title;
  color: var(--txt-conteudo-card);
  margin-bottom: 8px;
}
.card-arquivos-template-list {
  grid-area: card-arquivos-template-list;
  font-size: var(--font-sm);
  font-weight: 300;
  color: var(--cor-primaria-1);
}
.card-arquivos-template-link {
  grid-area: card-arquivos-template-link;
  justify-self: end;
  padding: 10px;
  color: var(--cor-primaria-1);
  font-size: var(--font-sm);
  font-weight: bold;
  text-decoration: none;
  position: relative; /* Para ajustar o posicionamento da seta, se necessário */
}

.card-arquivos-template-link::after {
  content: "➔"; /* Seta mais grossa */
  display: inline-block;
  margin-left: 8px;
  font-size: var(--font-sm);
  color: var(--cor-primaria-1);
  transition: transform 0.2s ease-in-out;
}

.card-arquivos-template-link:hover::after {
  transform: translateX(3px);
}

.lista-arquivos-cards {
  display: grid;
  gap: 5px;
}
.lista-arquivos-cards .lista-vertical-horizontal {
  gap: 8px;
}

.lista-arquivos-cards > li:first-child {
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
}
.lista-arquivos-cards > li:last-child {
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
}

/* ------------------------------------------- */
/* Contêiner geral dos gráficos               */
/* ------------------------------------------- */
.chart-arquivos-container {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden; /* Evitar barras de rolagem internas */
  position: relative;
  cursor: default; /* Cursor padrão */
}

/* Em telas < 768px (celulares) maior altura para evitar achatamento */
@media (max-width: 767px) {
  .chart-arquivos-container {
    height: 400px;
  }
}

/* Entre 768px e 991px (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
  .chart-arquivos-container {
    height: 330px;
  }
}

/* Acima de 992px (desktops) */
@media (min-width: 992px) {
  .chart-arquivos-container {
    height: 300px;
  }
}

/* ------------------------------------------- */
/* Gráfico de Contatos: Responsividade         */
/* ------------------------------------------- */
.line-chart-container canvas#chartContatos {
  width: 100% !important;
  height: 100% !important;
  /* Removido min-width: 700px para responsividade */
}
