<!DOCTYPE html>
<html lang="pt-br">

<head>
  <link rel="manifest" href="./manifest.json">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta name="color-scheme" content="light dark">

  <link rel="icon" href="/static/imagens/logo/logo.png" type="image/png">
  <link rel="preload" href="/static/css/style.css" as="style">
  <link rel="stylesheet" href="/static/css/style.css">
  <!-- <script src="/js/EsquemaDeCores.js" defer></script> -->
  <title>Cadastro de contato</title>
  <meta name="description" content="Cadastrar novo contato">
</head>

<body class="body-template body-form">
  <header class="header header-template-form">
    <h1 class="header-template-form-menu" style="width: 18px; height: 14px;">
      <a href="contatos.html"><img src="/static/imagens/icones/voltar.svg" alt="Back Icon"></a>
    </h1>
    <h1 class="header-template-form-title">CADASTRO CONTATOS</h1>
  </header>

  <main class="main">
    <section class="area-abas-template content-form">
      <nav class="area-abas-template-header header-form">
        <img src="/static/imagens/foto-do-usuario.png" alt="">
        <ul id="navAba" class="nav">
          <li id="nav1" class="indicador-2"><a href="#" onclick="mostrarAba('aba1')">Campos obrigatórios</a></li>
          <li id="nav2"><a href="#" onclick="mostrarAba('aba2')">Info. Complementar</a></li>
          <li id="nav3"><a href="#" onclick="mostrarAba('aba3')">Info. Complementar</a></li>
        </ul>
      </nav>
      <div class="area-abas-template-content ">
        <form id="form" method="POST" class="form-contato" enctype="multipart/form-data">
          {{ form.csrf_token }}
          <div id="aba1" class="aba-template active">
            <fieldset>
              <legend class="titulo-xl">Campos obrigatórios</legend>
              <div class="campo">
                <label>Nome do contato <span>*</span></label>
                {% if form.name.errors %}
                {{ form.name(class="form-control form-control-sm is-invalid") }}
                {% for error in form.name.errors %}
                <div class="invalid-feedback">
                  <span>{{error}}</span>
                </div>
                {% endfor %}
                {% else %}
                {{ form.name(class="form-control form-control-md", id="nome_contato", placeholder="Nome completo...") }}
                {% endif %}
              </div>
              <div class="campo">
                <label>Celular <span>*</span></label>
                {{ form.mobile(class="form-control form-control-md", type="tel", id="celular", class="contato", placeholder="(99) 99999-9999", onchange="formatarCelular(this); validarCelular(this.value)") }}
              </div>
              <div class="campo">
                <label>Este número é WhatsApp? <span>*</span></label>
                <div class="radios">
                  <input type="radio" id="whatsapp_sim" name="whatsapp" value="Sim" onchange="mostrarCampoWhatsapp()">
                  <label for="whatsapp_sim">Sim</label>
                  <input type="radio" id="whatsapp_nao" name="whatsapp" value="Não" onchange="mostrarCampoWhatsapp()">
                  <label for="whatsapp_nao">Não</label>
                </div>
              </div>
              <div id="campoWhatsapp" style="display: none;">
                <div class="campo">
                  <label>WhatsApp</label>
                  {{ form.whatsapp(class="form-control form-control-md", type="tel", id="whatsapp", class="contato", placeholder="(99) 99999-9999", onchange="formatarCelular(this); validarCelular(this.value)") }}
                </div>
              </div>
              <div class="campo">
                <label>E-mail</label>
                {{ form.email(class="form-control form-control-md", type="email", id="email", class="contato", placeholder="email@email.com", onchange="validarEmail(this.value)") }}
              </div>
              <div class="campo">
                <label>Telefone</label>
                {{ form.telefone(class="form-control form-control-md", type="tel", id="telefone", class="contato", placeholder="(99) 9999-9999", onchange="formatarTelefone(this); validarTelefone(this.value)") }}
              </div>
              <div class="campo">
                <label>Perfil de Influência</label>
                {{ form.perfil_influencia(class="form-control form-control-md", id="perfil_influencia") }}
              </div>
              <div class="campo">
                <label for="tipo_contato">Tipo do contato</label>
                <div id="tipo_contato">
                  {{ form.e_eleitor(class="form-check-input", type="checkbox", id="eleitor", value="Eleitor") }}
                  <label for="eleitor">Eleitor</label>

                  {{ form.e_fornecedor(class="form-check-input") }}
                  <label for="fornecedor">Fornecedor</label>

                  {{ form.e_lideranca(class="form-check-input") }}
                  <label for="lideranca">Liderança</label>

                  {{ form.e_politico(class="form-check-input") }}
                  <label for="politico">Político</label>

                  {{ form.e_staff(class="form-check-input") }}
                  <label for="staff">Staff</label>

                  {{ form.e_comissionado(class="form-check-input") }}
                  <label for="comissionado">Comissionado</label>

                  {{ form.e_familia(class="form-check-input") }}
                  <label for="familia">Família</label>

                  {{ form.e_favorito(class="form-check-input") }}
                  <label for="favorito">Favorito</label>
                </div>
              </div>
              <div class="campo">
                <label for="tipo_pessoa">Tipo Pessoa <span>*</span></label>
                {{ form.tipo_pessoa(class="form-control form-control-md", id="tipo_pessoa") }}
              </div>
            </fieldset>
            <fieldset>
              <legend class="titulo-xl">Informações pessoais</legend>
              <div class="campo">
                <label for="data_nascimento">Data Nascimento</label>
                {{ form.data_nascimento(class = "form-control form-control-md", type="date", id="data_nascimento") }}
              </div>
              <div class="campo">
                <label for="sexo">Sexo</label>
                {{ form.sexo(class = "form-control form-control-md", id="sexo") }}
              </div>
              <div class="campo">
                <label for="cor_pele">Cor da pele</label>
                {{ form.cor_pele(class="form-control form-control-md", id="cor_pele") }}
              </div>
            </fieldset>
            <fieldset>
              <legend class="titulo-xl">Informações eleitorais</legend>
              <div class="campo">
                <label for="titulo_eleitor">Título Eleitor</label>
                {{ form.titulo_eleitor(class="form-control form-control-md", type="number", id="titulo_eleitor") }}
              </div>
              <div class="campo">
                <label for="zona_eleitoral">Zona Eleitoral</label>
                {{ form.zona_eleitoral(class="form-control form-control-md", type="number", id="zona_eleitoral") }}
              </div>
              <div class="campo">
                <label for="secao_eleitoral">Seção Eleitoral</label>
                {{ form.secao_eleitoral(class="form-control form-control-md", ype="number", id="secao_eleitoral") }}
              </div>
              <div class="campo">
                <label for="local_votacao">Local Votação</label>
                {{ form.local_votacao(class="form-control form-control-md", type="text", id="local_votacao") }}
              </div>
            </fieldset>
            <div class="botoes">
              <a href="contatos.html" class="btn-leaked">Fechar</a>
              <!-- <button type="button" class="btn-leaked" id="btnFechar">Fechar</button> -->
              <button type="button" class="btn-principal" onclick="avancar()">Avançar</button>
            </div>
          </div>
          <div id="aba2" class="aba-template">
            <fieldset>
              <legend class="titulo-xl">Campos obrigatórios</legend>
              <div class="campo">
                <label for="cep">CEP <span>*</span></label>
                {{ form.cep(class="form-control form-control-md", type="text", id="cep", placeholder="99999999", oninput="buscarEndereco(this.value)") }}
              </div>
              <div class="campo">
                <label for="uf">UF <span>*</span></label>
                {{ form.uf_sigla(class="form-control form-control-md", id="uf") }}
              </div>
              <div class="campo">
                <label for="cidade">Cidade <span>*</span></label>
                {{ form.cidade(class="form-control form-control-md", type="text", id="cidade") }}
              </div>

              <div class="campo">
                <label for="bairro">Bairro <span>*</span></label>
                {{ form.bairro(class="form-control form-control-md", type="text", id="bairro") }}
              </div>

              <div class="campo">
                <label for="rua">Rua</label>
                {{ form.rua(class="form-control form-control-md", type="text", id="rua") }}
              </div>

              <div class="campo">
                <label for="numero">Número</label>
                {{ form.numero(class="form-control form-control-md", type="number", id="numero" ) }}
              </div>

              <div class="campo">
                <label for="complemento">Complemento</label>
                {{ form.complemento(class="form-control form-control-md", type="text", id="complemento") }}
              </div>
            </fieldset>

            <div class="campo ocultar">
              <label for="latitude">Latitude</label>
              {{ form.latitude(class="form-control form-control-md", type="number", id="latitude") }}
            </div>
            <div class="campo ocultar">
              <label for="longitude">Longitude</label>
              {{ form.longitude(class="form-control form-control-md", type="number", id="longitude") }}
            </div>

            <div class="campo">
              <label for="eleitores_residentes">Quantidade de Eleitores residentes</label>
              {{ form.qtde_eleitores(class="form-control form-control-md", type="number", id="eleitores_residentes", min="0", step="1", title="Apenas números são permitidos") }}
              <!-- Possibilidade de abrir mais campos para eleitores residentes -->
            </div>
            <div class="campo">
              {{ form.residencia_apoio(class="form-check-input") }}
              <label for="residencia_apoio">Residência de apoio</label>
            </div>
            <div class="botoes">
              <button type="button" class="btn-leaked" onclick="voltar()">Voltar</button>
              <button type="button" class="btn-principal" onclick="avancar()">Avançar</button>
            </div>
          </div>
          <div id="aba3" class="aba-template">
            <fieldset>
              <legend class="titulo-xl">Campos obrigatórios</legend>
            </fieldset>
            <div class="campo">
              <label for="indicacao">Indicação</label>
              {{ form.tipo_indicacao(class="form-control form-control-md", type="text", id="indicacao") }}
            </div>
            <div class="campo">
              <label for="nome_indicacao">Nome da indicação</label>
              {{ form.nome_indicacao(class="form-control form-control-md", type="text", id="nome_indicacao") }}
            </div>
            <div class="campo">
              <label for="estado_civil">Estado Civil</label>
              {{ form.estado_civil(class = "form-control form-control-md", placeholder="Selecione...", id="estado_civil", onchange="mostrarCamposConjuge()") }}
            </div>
            <div id="camposConjuge" style="display: none;">
              <div class="campo">
                <label for="nome_conjuge">Nome do Cônjuge</label>
                {{ form.nome_conguje(class ="form-control form-control-md", type="text", id="nome_conjuge") }}
              </div>
              <div class="campo">
                <label for="data_nascimento_conjuge">Data de Nascimento do Cônjuge</label>
                {{ form.data_nasc_conjuge(class = "form-control form-control-md", type="date", id="data_nascimento_conjuge") }}
              </div>
            </div>
            <div class="campo">
              <label for="filhos">Filhos</label>
              <input type="radio" id="filhos_sim" name="filhos" value="Sim" onclick="mostrarCamposFilhos()">
              <label for="filhos_sim">Sim</label>
              <input type="radio" id="filhos_nao" name="filhos" value="Não" onclick="ocultarCamposFilhos()">
              <label for="filhos_nao">Não</label>
              <!-- Se sim, texto e possibilidade de abrir mais campos para filhos -->
              <div id="camposFilhos" style="display: none;">
                <div class="campo">
                  <label for="nome_filho">Quantos filhos?</label>
                  {{ form.qtde_filhos(class = "form-control form-control-md",id="nome_filho", type="number", step="1") }}
                </div>
                <div class="campo ocultar">
                  <label for="data_nascimento_filho">Data de Nascimento do Filho</label>
                  <input type="date" id="data_nascimento_filho" name="data_nascimento_filho">
                  <div id="maisFilhosContainer"></div>
                  <div>

                    <button type="button" onclick="adicionarFilho()" id="adicionarFilhoBtn">Adicionar mais um filho</button>
                  </div>
                </div>
              </div>
              <div class="campo">
                <label for="religiao">Religião</label>
                {{ form.religiao(class="form-control form-control-md", type="text", id="religiao", placeholder="Selecione a religião...") }}
              </div>
              <div class="campo">
                <label for="profissao">Profissão</label>
                {{ form.profissao(class="form-control form-control-md", type="text", id="profissao") }}
              </div>
              <div class="campo">
                <label for="cargo_comissionado">Cargo Comissionado</label>
                <input type="radio" id="cargo_comissionado_sim" name="cargo_comissionado" value="Sim" onclick="mostrarCamposCargoComissionado()">
                <label for="cargo_comissionado_sim">Sim</label>
                <input type="radio" id="cargo_comissionado_nao" name="cargo_comissionado" value="Não" onclick="ocultarCamposCargoComissionado()">
                <label for="cargo_comissionado_nao">Não</label>
              </div>
              <div id="camposCargoComissionado" style="display: none;">
                <div class="campo">
                  {{ form.cargo_comissionado(class="form-control form-control-md", placeholder="cargo...") }}
                  <label for="orgao_lotacao">Órgão de Lotação</label>
                  {{ form.orgao_comissionado(class="form-control form-control-md", type="text", id="orgao_lotacao", placeholder="Órgão de lotação...") }}
                </div>
              </div>
              <div class="botoes">
                <button type="button" class="btn-leaked" onclick="voltar()">Voltar</button>
                {{ form.botao_salvar(class="btn-principal" ) }}
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>
  </main>


  <script src="/static/js/BuscaEndereco.js"></script>
  <script src="/static/js/NavAbasInternas.js"></script>
  <script src="/static/js/FormContato.js"></script>

</body>

</html>