:root {
  /* Texts */
  --txt-titulo: hsl(218, 15%, 95%);
  --txt-subtitulo: hsl(218, 10%, 85%);
  --txt-titulo-card: hsl(218, 12%, 90%);
  --txt-conteudo-card: hsl(218, 8%, 75%);
  --txt-destaque: hsl(218, 7%, 55%);
  --txt-contraste: hsl(218, 15%, 30%);
  --txt-contraste-alt: hsl(218, 100%, 98%);

  /* Backgrounds */
  --bg-principal: hsl(218, 25%, 15%);
  --fundo-container: hsl(218, 25%, 18%);
  --fundo-modal: hsl(218, 20%, 22%);
  --borda: hsl(218, 25%, 25%);
  --divisor: hsl(218, 25%, 30%);

  /* Cards */
  --card-bg: hsl(218, 25%, 24%);
  --card-borda: hsl(218, 25%, 26%);
  --card-hover: hsl(218, 30%, 32%);
  --card-aberto-bg: hsl(218, 30%, 38%);
  --card-alt-fundo: hsl(218, 20%, 20%);

  /* Highlight and Detail Colors */
  --card-detalhe: hsl(218, 25%, 28%);
  --card-aberto-detalhe: hsl(218, 30%, 43%);

  /* Primary Colors */
  --cor-p1: hsl(218, 85%, 60%);
  --cor-p2: hsl(218, 100%, 55%);
  --cor-p3: hsl(218, 90%, 80%);

  /* Secondary Colors */
  --cor-s1: hsl(218, 100%, 70%);
  --cor-s2: hsl(218, 80%, 50%);
  --cor-s3: hsl(218, 70%, 60%);

  /* Buttons */
  --btn-principal: hsl(218, 85%, 60%);
  --btn-principal-hover: hsl(218, 85%, 73%);
  --btn-principal-destaque: hsl(218, 90%, 65%);
  --btn-principal-text: hsl(0, 0%, 100%);

  --btn-principal-alt: hsl(218, 65%, 70%);
  --btn-principal-alt-hover: hsl(218, 65%, 75%);
  --btn-principal-alt-destaque: hsl(218, 73%, 78%);
  --btn-principal-alt-txt: hsl(0, 0%, 100%);

  --btn-secundario: hsl(218, 65%, 50%);
  --btn-secundario-hover: hsl(218, 65%, 60%);
  --btn-secundario-destaque: hsl(218, 73%, 55%);
  --btn-secundario-text: hsl(0, 0%, 100%);

  --btn-secundario-alt: hsl(218, 60%, 75%);
  --btn-secundario-alt-hover: hsl(218, 60%, 80%);
  --btn-secundario-alt-destaque: hsl(218, 73%, 78%);
  --btn-secundario-alt-text: hsl(0, 0%, 100%);

  /* Communication Colors */
  --link: hsl(218, 85%, 65%);
  --link-hover: hsl(218, 85%, 75%);
  --placeholder: hsl(218, 10%, 90%);
  --sucesso: hsl(140, 90%, 70%);
  --erro: hsl(0, 70%, 55%);
  --aviso: hsl(300, 90%, 75%);
  --informacao: hsl(218, 70%, 80%);

  /* Others */
  --scrollbar-bg: hsl(218, 20%, 20%);
  --scrollbar-thumb: hsl(218, 20%, 30%);
  --scrollbar-thumb-hover: hsl(218, 20%, 35%);

  /* Form Fields */
  --form-card-aberto-bg: hsl(218, 25%, 18%);
  --input-background: hsl(218, 25%, 4%);
  --input-border: hsl(218, 18%, 18%);
  --input-text: hsl(218, 15%, 98%);
  --input-placeholder: hsl(218, 15%, 40%);
  --input-empty-bg: hsl(218, 25%, 24%);
  --input-filled-bg: hsl(218, 18%, 20%);
  --input-focus-border: hsl(218, 85%, 73%);
  --input-focus-bg: hsl(218, 18%, 20%);
  --input-error-border: hsl(0, 70%, 70%);
  --input-error-bg: hsl(0, 40%, 35%);
  --input-success-border: hsl(140, 90%, 70%);
  --input-success-background: hsl(140, 60%, 35%);

  /* Buttons and Icons within Inputs */
  --input-icon: hsl(218, 20%, 95%);
  --btn-clear: hsl(218, 20%, 100%);
  --btn-clear-hover: hsl(218, 20%, 90%);

  /* Tooltip and Error/Success Messages for Inputs */
  --tooltip-bg: hsl(218, 30%, 25%);
  --tooltip-text: hsl(218, 20%, 100%);
  --message-error-txt: hsl(0, 80%, 100%);
  --message-success-text: hsl(140, 90%, 100%);
}

:root {
  /* Texts */
  --txt-titulo: hsl(218, 20%, 10%); /* Sobre --bg-principal */
  --txt-subtitulo: hsl(218, 20%, 25%); /* Sobre --fundo-container */
  --txt-titulo-card: hsl(218, 20%, 15%); /* Para textos nos --card-bg */
  --txt-conteudo-card: hsl(
    218,
    15%,
    40%
  ); /* Para textos secundários nos --card-bg */
  --txt-destaque: hsl(
    218,
    30%,
    35%
  ); /* Texto dentro de áreas com --card-detalhe */
  --txt-contraste: hsl(218, 10%, 60%); /* Para itens de nav não selecionados */
  --txt-contraste-alt: hsl(218, 10%, 10%); /* Alternativa de cor de contraste */

  /* Backgrounds */
  --bg-principal: hsl(218, 30%, 95%);
  --fundo-container: hsl(218, 30%, 90%);
  --fundo-modal: hsl(218, 30%, 85%);
  --borda: hsl(218, 30%, 80%);
  --divisor: hsl(218, 30%, 75%);

  /* Cards */
  --card-bg: hsl(218, 30%, 92%);
  --card-borda: hsl(218, 30%, 88%);
  --card-hover: hsl(218, 30%, 80%);
  --card-aberto-bg: hsl(218, 30%, 70%);
  --card-alt-fundo: hsl(218, 30%, 85%);

  /* Highlight and Detail Colors */
  --card-detalhe: hsl(218, 30%, 88%);
  --card-aberto-detalhe: hsl(218, 30%, 65%);

  /* Primary Colors */
  --cor-p1: hsl(218, 70%, 45%);
  --cor-p2: hsl(218, 70%, 50%);
  --cor-p3: hsl(218, 70%, 55%);

  /* Secondary Colors */
  --cor-s1: hsl(218, 70%, 40%);
  --cor-s2: hsl(30, 70%, 50%);
  --cor-s3: hsl(218, 70%, 45%);

  /* Buttons */
  --btn-principal: hsl(218, 70%, 50%);
  --btn-principal-hover: hsl(218, 70%, 45%);
  --btn-principal-destaque: hsl(218, 70%, 40%);
  --btn-principal-text: hsl(0, 0%, 100%);

  --btn-principal-alt: hsl(218, 50%, 40%);
  --btn-principal-alt-hover: hsl(218, 50%, 45%);
  --btn-principal-alt-destaque: hsl(218, 50%, 50%);
  --btn-principal-alt-txt: hsl(0, 0%, 100%);

  --btn-secundario: hsl(218, 60%, 50%);
  --btn-secundario-hover: hsl(218, 60%, 45%);
  --btn-secundario-destaque: hsl(218, 60%, 40%);
  --btn-secundario-text: hsl(0, 0%, 100%);

  --btn-secundario-alt: hsl(218, 50%, 60%);
  --btn-secundario-alt-hover: hsl(218, 50%, 55%);
  --btn-secundario-alt-destaque: hsl(218, 50%, 50%);
  --btn-secundario-alt-text: hsl(218, 50%, 90%);

  /* Communication Colors */
  --link: hsl(218, 70%, 50%);
  --link-hover: hsl(218, 70%, 55%);
  --placeholder: hsl(218, 10%, 50%);
  --sucesso: hsl(140, 40%, 50%);
  --erro: hsl(0, 40%, 50%);
  --aviso: hsl(30, 50%, 50%);
  --informacao: hsl(218, 50%, 65%);

  /* Others */
  --scrollbar-bg: hsl(218, 20%, 88%);
  --scrollbar-thumb: hsl(218, 20%, 82%);
  --scrollbar-thumb-hover: hsl(218, 20%, 78%);

  /* Form Fields */
  --form-card-aberto-bg: hsl(218, 30%, 95%);
  --input-background: hsl(218, 30%, 92%);
  --input-border: hsl(218, 30%, 88%);
  --input-text: hsl(0, 0%, 10%);
  --input-placeholder: hsl(218, 10%, 60%);
  --input-empty-bg: hsl(218, 30%, 85%);
  --input-filled-bg: hsl(218, 30%, 80%);
  --input-focus-border: hsl(218, 70%, 50%);
  --input-focus-bg: hsl(218, 30%, 70%);
  --input-error-border: hsl(0, 40%, 50%);
  --input-error-bg: hsl(0, 20%, 80%);
  --input-success-border: hsl(140, 40%, 50%);
  --input-success-background: hsl(140, 30%, 80%);
  --input-icon: hsl(0, 0%, 10%);
  --btn-clear: hsl(0, 0%, 95%);
  --btn-clear-hover: hsl(0, 0%, 90%);

  /* Tooltip and Error/Success Messages for Inputs */
  --tooltip-bg: hsl(218, 30%, 92%);
  --tooltip-text: hsl(0, 0%, 10%);
  --message-error-txt: hsl(0, 40%, 10%);
  --message-success-text: hsl(140, 50%, 10%);

  /* Marker Colors */
  --cor-marcador-1: hsl(0, 40%, 65%);
  --cor-marcador-2: hsl(30, 50%, 70%);
  --cor-marcador-3: hsl(60, 50%, 70%);
  --cor-marcador-4: hsl(90, 30%, 70%);
  --cor-marcador-5: hsl(120, 20%, 60%);
  --cor-marcador-6: hsl(150, 30%, 50%);
  --cor-marcador-7: hsl(180, 40%, 50%);
  --cor-marcador-8: hsl(210, 50%, 60%);
  --cor-marcador-9: hsl(240, 60%, 70%);
  --cor-marcador-10: hsl(270, 70%, 80%);
  --cor-marcador-11: hsl(300, 80%, 85%);
  --cor-marcador-12: hsl(330, 80%, 75%);
  --cor-marcador-13: hsl(0, 10%, 55%);
  --cor-marcador-14: hsl(30, 20%, 60%);
  --cor-marcador-15: hsl(60, 30%, 65%);
  --cor-marcador-16: hsl(90, 40%, 70%);
  --cor-marcador-17: hsl(120, 50%, 75%);
  --cor-marcador-18: hsl(150, 60%, 80%);
  --cor-marcador-19: hsl(180, 70%, 85%);
  --cor-marcador-20: hsl(210, 80%, 90%);
  --cor-marcador-21: hsl(240, 90%, 95%);
  --cor-marcador-22: hsl(270, 90%, 85%);
  --cor-marcador-23: hsl(300, 70%, 75%);
  --cor-marcador-24: hsl(330, 50%, 65%);
  --cor-marcador-25: hsl(0, 30%, 55%);
}
