.modal-concluir-pleito {
  display: none;
  position: fixed;
  z-index: 2003;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
}

.modal-concluir-pleito-content.card-m {
  background: var(--card-aberto-fundo);
  border-radius: 25px;
  padding: 20px 5px;
}
.modal-concluir-pleito-content {
  position: relative;
  color: var(--cor-s1);
  margin: auto;
  margin-top: 55px;
  padding: 20px;
  border: 1px solid var(--borda);
  min-width: 50%;
  max-width: 80%;
  height: auto;
  overflow-y: auto;
  z-index: 2004;
}

.modal-concluir-pleito-template {
  display: grid;
  color: var(--txt-secundario);
  gap: 3px;
  grid:
    "modal-concluir-pleito-tiposolici modal-concluir-pleito-tiposolici modal-concluir-pleito-dataSolici"
    "modal-concluir-pleito-solicitante modal-concluir-pleito-solicitante modal-concluir-pleito-solicitante"
    "modal-concluir-pleito-beneficiario modal-concluir-pleito-beneficiario modal-concluir-pleito-beneficiario"
    "modal-concluir-pleito-uf modal-concluir-pleito-cidade modal-concluir-pleito-bairro"
    "modal-concluir-pleito-rua modal-concluir-pleito-rua modal-concluir-pleito-rua"
    "modal-concluir-pleito-autor modal-concluir-pleito-autor modal-concluir-pleito-dataCriacao"
    "modal-concluir-pleito-status modal-concluir-pleito-status modal-concluir-pleito-status"
    "modal-concluir-pleito-desc modal-concluir-pleito-desc modal-concluir-pleito-desc"
    "modal-concluir-pleito-concluir modal-concluir-pleito-concluir modal-concluir-pleito-concluir";
}

.modal-concluir-pleito-id {
  display: none;
  opacity: 0;
}
.modal-concluir-pleito-tiposolici {
  grid-area: modal-concluir-pleito-tiposolici;
  border-left: 4px solid var(--card-aberto-detalhe);
  padding-left: 10px;
  font-size: 14px;
  font-weight: 400;
  justify-self: start;
  align-self: center;
}
.modal-concluir-pleito-dataSolici {
  grid-area: modal-concluir-pleito-dataSolici;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: 14px;
  font-weight: 400;
}
.modal-concluir-pleito-solicitante {
  grid-area: modal-concluir-pleito-solicitante;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: 13px;
  font-weight: 350;
}
.modal-concluir-pleito-desc {
  grid-area: modal-concluir-pleito-desc;
  align-self: center;
  justify-self: stretch;
  padding: 10px 14px;
  display: flex;
  background: var(--card-aberto-detalhe);
  border-radius: 5px;
  justify-content: start;
  align-items: center;
  margin: 3px 10px 0 10px;
  font-size: 13px;
  font-weight: 350;
}
.modal-concluir-pleito-beneficiario {
  grid-area: modal-concluir-pleito-beneficiario;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: 13px;
  font-weight: 350;
}
.modal-concluir-pleito-uf {
  grid-area: modal-concluir-pleito-uf;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: 13px;
  font-weight: 350;
}
.modal-concluir-pleito-cidade {
  grid-area: modal-concluir-pleito-cidade;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: 13px;
  font-weight: 350;
}
.modal-concluir-pleito-bairro {
  grid-area: modal-concluir-pleito-bairro;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: 13px;
  font-weight: 350;
}
.modal-concluir-pleito-rua {
  grid-area: modal-concluir-pleito-rua;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: 13px;
  font-weight: 350;
}
.modal-concluir-pleito-autor {
  grid-area: modal-concluir-pleito-autor;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: 13px;
  font-weight: 350;
}
.modal-concluir-pleito-dataCriacao {
  grid-area: modal-concluir-pleito-dataCriacao;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: 13px;
  font-weight: 350;
}
.modal-concluir-pleito-status {
  display: none;
  opacity: 0;
}

.modal-concluir-pleito-concluir {
  grid-area: modal-concluir-pleito-concluir;
  display: grid;
  justify-items: stretch;
  gap: 20px 5px;
  padding: 10px;
  margin: 15px 0 0 0;
  align-self: center;
  border: 1px solid var(--fundo-container);
  font-size: 13px;
  font-weight: 350;
  white-space: wrap;
  word-break: break-all;
  background: var(--fundo-container);
  border-radius: 25px;
  grid:
    "modal-concluir-pleito-concluir-title"
    "modal-concluir-pleito-situacao"
    "modal-concluir-pleito-descConclusao"
    "modal-concluir-pleito-salvar";
}
.modal-concluir-pleito-descConclusao {
  grid-area: modal-concluir-pleito-descConclusao;
  justify-items: stretch;
  display: flex;
  flex-direction: column;
}
.modal-concluir-pleito-situacao {
  grid-area: modal-concluir-pleito-situacao;
  justify-items: stretch;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  font-weight: 350;
}
.modal-concluir-pleito-salvar {
  grid-area: modal-concluir-pleito-salvar;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  font-size: 13px;
  font-weight: 350;
  margin-top: 25px;
}

.modal-concluir-pleito-concluir label {
  color: var(--txt-subtitulo);
  margin-bottom: 7px;
}
.modal-concluir-pleito-concluir textarea,
.modal-concluir-pleito-concluir select,
.modal-concluir-pleito-concluir input {
  width: 100%;
  box-sizing: border-box;
  padding: 0.9375rem;
  color: var(--txt-principal);
  background: var(--card-fundo);
  border: 1px solid var(--card-fundo-borda);
  border-radius: 20px;
  margin-top: 7px;
}

.modal-concluir-pleito-salvar .btn-principal {
  width: 100%;
  font-weight: regular;
  font-size: 11px;
  padding: 10px 20px;
  border-radius: 5px;
  background: var(--btn-principal);
  color: var(--txt-principal);
  border: 1px solid var(--btn-principal-destaque);
}
.modal-concluir-pleito-salvar .btn-outline-principal {
  width: 100%;
  font-weight: regular;
  font-size: 11px;
  padding: 10px 20px;
  border-radius: 5px;
}
.modal-concluir-pleito-salvar .btn-outline-principal:hover {
  box-shadow: 0 0 1px #ffffff, 0 0 2px #ffffff, 0 0 3px #ffffff, 0 0 4px #ffffff;
  border: 1px solid var(--txt-principal);
}
.modal-concluir-pleito-salvar .btn-principal:hover {
  border: 1px solid var(--btn-principal-hover);
  background: var(--btn-principal-hover);
  color: var(--btn-principal-destaque);
}

/* Responsivo */
@media only screen and (max-width: 900px) {
  .modal-concluir-pleito-content.card-m {
    padding: 20px 2px 10px 2px;
  }
  .modal-concluir-pleito-content {
    min-width: 100%;
    max-width: 100%;
    margin-top: 40px;
    padding: 20px 10px;
    max-height: 100%;
  }

  .modal-concluir-pleito-salvar {
    flex-direction: column;
    gap: 0.625rem;
  }
  .modal-concluir-pleito-salvar .btn-outline-principal {
    width: auto;
  }

  .modal-concluir-pleito-content::-webkit-scrollbar {
    display: none;
  }
}
