.modal-despachar-pleito-template {
  display: grid;
  color: var(--txt-conteudo-card);
  gap: 3px;
  grid:
    "modal-despachar-pleito-tiposolici modal-despachar-pleito-tiposolici modal-despachar-pleito-dataSolici"
    "modal-despachar-pleito-solicitante modal-despachar-pleito-solicitante modal-despachar-pleito-solicitante"
    "modal-despachar-pleito-beneficiario modal-despachar-pleito-beneficiario modal-despachar-pleito-beneficiario"
    "modal-despachar-pleito-uf modal-despachar-pleito-cidade modal-despachar-pleito-bairro"
    "modal-despachar-pleito-rua modal-despachar-pleito-rua modal-despachar-pleito-rua"
    "modal-despachar-pleito-autor modal-despachar-pleito-autor modal-despachar-pleito-dataCriacao"
    "modal-despachar-pleito-status modal-despachar-pleito-status modal-despachar-pleito-status"
    "modal-despachar-pleito-desc modal-despachar-pleito-desc modal-despachar-pleito-desc"
    "modal-despachar-pleito-despachar modal-despachar-pleito-despachar modal-despachar-pleito-despachar";
}
.modal-despachar-pleito-id {
  display: none;
  opacity: 0;
}
.modal-despachar-pleito-tiposolici {
  grid-area: modal-despachar-pleito-tiposolici;
  border-left: 4px solid var(--cor-primaria-2);
  border-radius: 3px;
  padding-left: 10px;
  font-size: var(--font-sm);
  font-weight: 400;
  justify-self: start;
  align-self: center;
}
.modal-despachar-pleito-dataSolici {
  grid-area: modal-despachar-pleito-dataSolici;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-sm);
  font-weight: 400;
}
.modal-despachar-pleito-solicitante {
  grid-area: modal-despachar-pleito-solicitante;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-sm);
  font-weight: 300;
}
.modal-despachar-pleito-desc {
  grid-area: modal-despachar-pleito-desc;
  align-self: center;
  justify-self: stretch;
  padding: 10px 14px;
  display: flex;
  background: var(--card-aberto-detalhe);
  border-radius: 5px;
  justify-content: start;
  align-items: center;
  margin: 3px 10px 0 10px;
  font-size: var(--font-sm);
  font-weight: 300;
}
.modal-despachar-pleito-beneficiario {
  grid-area: modal-despachar-pleito-beneficiario;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-sm);
  font-weight: 300;
}
.modal-despachar-pleito-uf {
  grid-area: modal-despachar-pleito-uf;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-sm);
  font-weight: 300;
}
.modal-despachar-pleito-cidade {
  grid-area: modal-despachar-pleito-cidade;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-sm);
  font-weight: 300;
}
.modal-despachar-pleito-bairro {
  grid-area: modal-despachar-pleito-bairro;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-sm);
  font-weight: 300;
}
.modal-despachar-pleito-rua {
  grid-area: modal-despachar-pleito-rua;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-sm);
  font-weight: 300;
}
.modal-despachar-pleito-autor {
  grid-area: modal-despachar-pleito-autor;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-sm);
  font-weight: 300;
}
.modal-despachar-pleito-dataCriacao {
  grid-area: modal-despachar-pleito-dataCriacao;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-sm);
  font-weight: 300;
}
.modal-despachar-pleito-status {
  display: none;
  opacity: 0;
}

.modal-despachar-pleito-despachar {
  grid-area: modal-despachar-pleito-despachar;
  display: grid;
  justify-items: stretch;
  gap: 20px 5px;
  padding: 10px;
  align-self: center;
  border: 1px solid var(--container-bg);
  font-size: var(--font-sm);
  font-weight: 300;
  white-space: wrap;
  word-break: break-all;
  background: var(--container-bg);
  border-radius: 25px;
  grid:
    "modal-despachar-pleito-despachar-title modal-despachar-pleito-despachar-title"
    "modal-despachar-pleito-situacao modal-despachar-pleito-situacao"
    "modal-despachar-pleito-responsavel modal-despachar-pleito-responsavel"
    "modal-despachar-pleito-dataInicio modal-despachar-pleito-prazoFinal"
    "modal-despachar-pleito-prioridade modal-despachar-pleito-prioridade"
    "modal-despachar-pleito-descDespacho modal-despachar-pleito-descDespacho"
    "modal-despachar-pleito-salvar modal-despachar-pleito-salvar";
}
.modal-despachar-pleito-despachar-title {
  grid-area: modal-despachar-pleito-despachar-title;
}
.modal-despachar-pleito-descDespacho {
  grid-area: modal-despachar-pleito-descDespacho;
  justify-items: stretch;
  display: flex;
  flex-direction: column;
}
.modal-despachar-pleito-situacao {
  grid-area: modal-despachar-pleito-situacao;
  justify-items: stretch;
  display: flex;
  flex-direction: column;
  font-size: var(--font-sm);
  font-weight: 300;
}
.modal-despachar-pleito-dataInicio {
  grid-area: modal-despachar-pleito-dataInicio;
  /* Adicione aqui os estilos específicos para a data de início */
}
.modal-despachar-pleito-prazoFinal {
  grid-area: modal-despachar-pleito-prazoFinal;
  /* Adicione aqui os estilos específicos para o prazo final */
}
.modal-despachar-pleito-prioridade {
  grid-area: modal-despachar-pleito-prioridade;
  /* Adicione aqui os estilos específicos para a prioridade */
}
.modal-despachar-pleito-responsavel {
  grid-area: modal-despachar-pleito-responsavel;
  /* Adicione aqui os estilos específicos para o responsável */
}
.modal-despachar-pleito-salvar {
  grid-area: modal-despachar-pleito-salvar;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  font-size: var(--font-sm);
  font-weight: 300;
  margin-top: 25px;
}

.modal-despachar-pleito-despachar label {
  color: var(--txt-subtitulo);
  margin-bottom: 7px;
}
.modal-despachar-pleito-despachar textarea,
.modal-despachar-pleito-despachar select,
.modal-despachar-pleito-despachar input {
  width: 100%;
  box-sizing: border-box;
  padding: 0.9375rem;
  color: var(--txt-titulo-card);
  background: var(--card-bg);
  border: 1px solid var(--card-bg-borda);
  border-radius: 20px;
  margin-top: 7px;
}

.modal-despachar-pleito-content::-webkit-scrollbar {
  display: none;
}

/* Responsivo */
@media only screen and (max-width: 56.25rem) {
  .modal-despachar-pleito-salvar {
    flex-direction: column;
    gap: 0.625rem;
  }

  .modal-despachar-pleito-content::-webkit-scrollbar {
    display: none;
  }
}
