.info-concluir-pleito-template {
  display: grid;
  box-sizing: border-box;
  color: var(--txt-conteudo-card);
  gap: 3px;
  padding: 10px;
  padding-top: 0;
  grid:
    "info-concluir-pleito-solicitante info-concluir-pleito-solicitante info-concluir-pleito-dataSolici"
    "info-concluir-pleito-beneficiario info-concluir-pleito-beneficiario info-concluir-pleito-beneficiario"
    "info-concluir-pleito-uf info-concluir-pleito-cidade info-concluir-pleito-bairro"
    "info-concluir-pleito-rua info-concluir-pleito-rua info-concluir-pleito-rua"
    "info-concluir-pleito-autor info-concluir-pleito-autor info-concluir-pleito-dataCriacao"
    "info-concluir-pleito-status info-concluir-pleito-status info-concluir-pleito-status"
    "info-concluir-pleito-desc info-concluir-pleito-desc info-concluir-pleito-desc";
}
.info-concluir-pleito-id {
  display: none;
  opacity: 0;
}
.info-concluir-pleito-dataSolici {
  grid-area: info-concluir-pleito-dataSolici;
  border-left: 4px solid var(--cor-primaria-2);
  border-radius: 3px;
  padding-left: 10px;
  font-size: var(--font-sm);
  justify-self: start;
  align-self: center;
}

.info-concluir-pleito-tiposolici {
  grid-area: info-concluir-pleito-tiposolici;
  border-left: 4px solid var(--cor-primaria-2);
  border-radius: 3px;
  padding-left: 10px;
  font-size: var(--font-sm);
  font-weight: 400;
  justify-self: start;
  align-self: center;
}
.info-concluir-pleito-dataSolici {
  grid-area: info-concluir-pleito-dataSolici;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-sm);
  font-weight: 400;
}
.info-concluir-pleito-solicitante {
  grid-area: info-concluir-pleito-solicitante;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-sm);
  font-weight: 300;
}
.info-concluir-pleito-desc {
  grid-area: info-concluir-pleito-desc;
  align-self: center;
  justify-self: stretch;
  padding: 10px 14px;
  display: flex;
  background: var(--card-aberto-detalhe);
  border-radius: 5px;
  justify-content: start;
  align-items: center;
  margin: 3px 10px 0 10px;
  font-size: var(--font-sm);
  font-weight: 300;
}
.info-concluir-pleito-beneficiario {
  grid-area: info-concluir-pleito-beneficiario;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-sm);
  font-weight: 300;
}
.info-concluir-pleito-uf {
  grid-area: info-concluir-pleito-uf;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-sm);
  font-weight: 300;
}
.info-concluir-pleito-cidade {
  grid-area: info-concluir-pleito-cidade;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-sm);
  font-weight: 300;
}
.info-concluir-pleito-bairro {
  grid-area: info-concluir-pleito-bairro;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-sm);
  font-weight: 300;
}
.info-concluir-pleito-rua {
  grid-area: info-concluir-pleito-rua;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-sm);
  font-weight: 300;
}
.info-concluir-pleito-autor {
  grid-area: info-concluir-pleito-autor;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-sm);
  font-weight: 300;
}
.info-concluir-pleito-dataCriacao {
  grid-area: info-concluir-pleito-dataCriacao;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-sm);
  font-weight: 300;
}
.info-concluir-pleito-status {
  display: none;
  opacity: 0;
}

.info-concluir-pleito-concluir label {
  color: var(--txt-subtitulo);
  margin-bottom: 7px;
}
.info-concluir-pleito-concluir textarea,
.info-concluir-pleito-concluir select,
.info-concluir-pleito-concluir input {
  width: 100%;
  box-sizing: border-box;
  padding: 0.9375rem;
  color: var(--txt-titulo-card);
  background: var(--card-bg);
  border: 1px solid var(--card-bg-borda);
  border-radius: 20px;
  margin-top: 7px;
}

/* Responsivo */
@media only screen and (max-width: 56.25rem) {
  .info-concluir-pleito-salvar {
    flex-direction: column;
    gap: 0.625rem;
  }

  .info-concluir-pleito-content::-webkit-scrollbar {
    display: none;
  }
}
