.modal-concluir-pleito-template {
  display: grid;
  color: var(--txt-conteudo-card);
  gap: 3px;
  grid:
    "modal-concluir-pleito-tiposolici modal-concluir-pleito-tiposolici modal-concluir-pleito-dataSolici"
    "modal-concluir-pleito-solicitante modal-concluir-pleito-solicitante modal-concluir-pleito-solicitante"
    "modal-concluir-pleito-beneficiario modal-concluir-pleito-beneficiario modal-concluir-pleito-beneficiario"
    "modal-concluir-pleito-uf modal-concluir-pleito-cidade modal-concluir-pleito-bairro"
    "modal-concluir-pleito-rua modal-concluir-pleito-rua modal-concluir-pleito-rua"
    "modal-concluir-pleito-autor modal-concluir-pleito-autor modal-concluir-pleito-dataCriacao"
    "modal-concluir-pleito-status modal-concluir-pleito-status modal-concluir-pleito-status"
    "modal-concluir-pleito-desc modal-concluir-pleito-desc modal-concluir-pleito-desc"
    "modal-concluir-pleito-concluir modal-concluir-pleito-concluir modal-concluir-pleito-concluir";
}
.modal-concluir-pleito-id {
  display: none;
  opacity: 0;
}
.modal-concluir-pleito-tiposolici {
  grid-area: modal-concluir-pleito-tiposolici;
  border-left: 4px solid var(--cor-primaria-2);
  border-radius: 3px;
  padding-left: 10px;
  font-size: 14px;
  font-weight: 400;
  justify-self: start;
  align-self: center;
}
.modal-concluir-pleito-dataSolici {
  grid-area: modal-concluir-pleito-dataSolici;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: 14px;
  font-weight: 400;
}
.modal-concluir-pleito-solicitante {
  grid-area: modal-concluir-pleito-solicitante;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: 13px;
  font-weight: 300;
}
.modal-concluir-pleito-desc {
  grid-area: modal-concluir-pleito-desc;
  align-self: center;
  justify-self: stretch;
  padding: 10px 14px;
  display: flex;
  background: var(--card-aberto-detalhe);
  border-radius: 5px;
  justify-content: start;
  align-items: center;
  margin: 3px 10px 0 10px;
  font-size: 13px;
  font-weight: 300;
}
.modal-concluir-pleito-beneficiario {
  grid-area: modal-concluir-pleito-beneficiario;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: 13px;
  font-weight: 300;
}
.modal-concluir-pleito-uf {
  grid-area: modal-concluir-pleito-uf;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: 13px;
  font-weight: 300;
}
.modal-concluir-pleito-cidade {
  grid-area: modal-concluir-pleito-cidade;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: 13px;
  font-weight: 300;
}
.modal-concluir-pleito-bairro {
  grid-area: modal-concluir-pleito-bairro;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: 13px;
  font-weight: 300;
}
.modal-concluir-pleito-rua {
  grid-area: modal-concluir-pleito-rua;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: 13px;
  font-weight: 300;
}
.modal-concluir-pleito-autor {
  grid-area: modal-concluir-pleito-autor;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: 13px;
  font-weight: 300;
}
.modal-concluir-pleito-dataCriacao {
  grid-area: modal-concluir-pleito-dataCriacao;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: 13px;
  font-weight: 300;
}
.modal-concluir-pleito-status {
  display: none;
  opacity: 0;
}

.modal-concluir-pleito-concluir {
  grid-area: modal-concluir-pleito-concluir;
  display: grid;
  justify-items: stretch;
  gap: 20px 5px;
  padding: 10px;
  align-self: center;
  border: 1px solid var(--container-bg);
  font-size: 13px;
  font-weight: 300;
  white-space: wrap;
  word-break: break-all;
  background: var(--container-bg);
  border-radius: 25px;
  grid:
    "modal-concluir-pleito-concluir-title"
    "modal-concluir-pleito-situacao"
    "modal-concluir-pleito-descConclusao"
    "modal-concluir-pleito-salvar";
}
.modal-concluir-pleito-descConclusao {
  grid-area: modal-concluir-pleito-descConclusao;
  justify-items: stretch;
  display: flex;
  flex-direction: column;
}
.modal-concluir-pleito-situacao {
  grid-area: modal-concluir-pleito-situacao;
  justify-items: stretch;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  font-weight: 300;
}
.modal-concluir-pleito-salvar {
  grid-area: modal-concluir-pleito-salvar;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  font-size: 13px;
  font-weight: 300;
  margin-top: 25px;
}

.modal-concluir-pleito-concluir label {
  color: var(--txt-subtitulo);
  margin-bottom: 7px;
}
.modal-concluir-pleito-concluir textarea,
.modal-concluir-pleito-concluir select,
.modal-concluir-pleito-concluir input {
  width: 100%;
  box-sizing: border-box;
  padding: 0.9375rem;
  color: var(--txt-titulo-card);
  background: var(--card-bg);
  border: 1px solid var(--card-bg-borda);
  border-radius: 20px;
  margin-top: 7px;
}

/* Responsivo */
@media only screen and (max-width: 56.25rem) {
  .modal-concluir-pleito-salvar {
    flex-direction: column;
    gap: 0.625rem;
  }

  .modal-concluir-pleito-content::-webkit-scrollbar {
    display: none;
  }
}
