/* CARD INFO */

.info-despachar-pleito-template {
  display: grid;
  box-sizing: border-box;
  color: var(--txt-conteudo-card);
  gap: 3px;
  padding: 10px;
  padding-top: 0;
  grid:
    "info-despachar-pleito-solicitante info-despachar-pleito-solicitante info-despachar-pleito-status"
    "info-despachar-pleito-beneficiario info-despachar-pleito-beneficiario info-despachar-pleito-dataSolici"
    "info-despachar-pleito-endereco info-despachar-pleito-endereco info-despachar-pleito-endereco"
    "info-despachar-pleito-desc info-despachar-pleito-desc info-despachar-pleito-desc"
    "info-despachar-pleito-infoCriacaoPleito info-despachar-pleito-infoCriacaoPleito info-despachar-pleito-infoCriacaoPleito";
}
.info-despachar-pleito-id {
  display: none;
  opacity: 0;
}

.info-despachar-pleito-tiposolici {
  grid-area: info-despachar-pleito-tiposolici;
  border-left: 4px solid var(--cor-primaria-2);
  border-radius: 3px;
  padding-left: 10px;
  font-size: var(--font-sm);
  justify-self: start;
  align-self: center;
}

.info-despachar-pleito-solicitante {
  grid-area: info-despachar-pleito-solicitante;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-sm);
}
.info-despachar-pleito-status {
  grid-area: info-despachar-pleito-status;
  justify-self: end;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-sm);
  transition: opacity 0.25s ease-in-out;
}
.info-despachar-pleito-beneficiario {
  grid-area: info-despachar-pleito-beneficiario;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-sm);
}
.info-despachar-pleito-dataSolici {
  grid-area: info-despachar-pleito-dataSolici;
  justify-self: end;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-sm);
}
.info-despachar-pleito-endereco {
  grid-area: info-despachar-pleito-endereco;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-sm);
}
.info-despachar-pleito-desc {
  grid-area: info-despachar-pleito-desc;
  align-self: center;
  justify-self: stretch;
  padding: 10px 14px;
  display: flex;
  background: var(--card-detalhe);
  color: var(--txt-conteudo-card);
  border-radius: 5px;
  justify-content: start;
  align-items: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-xs);
  font-weight: 300;
}
.info-despachar-pleito-infoCriacaoPleito {
  grid-area: info-despachar-pleito-infoCriacaoPleito;
  justify-self: end;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: 10px;
  font-weight: 400;
  filter: brightness(0.7);
  transition: opacity 0.25s ease-in-out;
}

/* FORMULARIO */

.form-despachar-pleito {
  grid-area: form-despachar-pleito;
  display: grid;
  box-sizing: border-box;
  justify-items: stretch;
  gap: 20px 5px;
  padding: 20px;
  align-self: center;
  font-size: var(--font-sm);
  border-radius: 25px;
  grid:
    "form-despachar-pleito-title"
    "form-despachar-pleito-situacao";
}
.form-despachar-pleito-title {
  grid-area: form-despachar-pleito-title;
  font-size: var(--font-md);
}

.form-despachar-pleito-situacao {
  grid-area: form-despachar-pleito-situacao;
  justify-items: stretch;
  display: flex;
  flex-direction: column;
  font-size: var(--font-sm);
  font-weight: 300;
}
.hidden {
  display: none;
}

/* Responsivo */
@media only screen and (max-width: 56.25rem) {
  .info-despachar-pleito-salvar {
    flex-direction: column;
    gap: 0.625rem;
  }

  .info-despachar-pleito-content::-webkit-scrollbar {
    display: none;
  }
}
