.pleitos-medium-card-editar .btn-outline-principal {
  width: 100%;
  font-size: 11px;
  border-radius: 6px;
  border: 1px solid var(--btn-principal-alt);
  letter-spacing: 0.5px;
  background: var(--btn-principal-alt);
  color: var(--btn-principal-alt-txt);
  box-shadow: var(--sombra-leve);
}
.pleitos-medium-card-editar .btn-outline-principal:hover {
  border: 1px solid var(--btn-principal-alt-destaque);
  background: var(--btn-principal-alt-hover);
  color: var(--btn-principal-alt-txt);
}

.tabela-historico {
  background: var(--container-fundo);
  border-radius: 25px;
  padding: 20px;
}
.tabela-historico table {
  width: 100%;
  border-collapse: collapse;
}
.tabela-historico th,
.tabela-historico td {
  padding: 8px;
  text-align: left;
  color: var(--txt-content-card);
  border-bottom: 1px solid var(--background-principal);
}
.tabela-historico th {
  color: var(--txt-content-card);
}

.tabela-historico table tr:nth-child(odd) {
  background-color: var(--container-fundo); /* Cor para linhas ímpares */
}

.tabela-historico table tr:nth-child(even) {
  background-color: var(--card-detalhe); /* Cor para linhas impares */
}

/* Responsivo */
@media only screen and (max-width: 900px) {
  .tabela-historico {
    padding: 10px;
  }

  /* Faz com que as linhas se comportem como tabelas e as células como blocos */
  .tabela-historico table,
  .tabela-historico thead,
  .tabela-historico tbody,
  .tabela-historico th,
  .tabela-historico td,
  .tabela-historico tr {
    display: block;
  }

  /* Remove a borda inferior das células */
  .tabela-historico th,
  .tabela-historico td {
    border-bottom: none;
  }

  /* Adiciona uma borda superior para as células */
  .tabela-historico th,
  .tabela-historico td {
    border-top: 1px solid var(--background-principal);
  }

  /* Alinha o texto à esquerda e adiciona um pouco de padding */
  .tabela-historico th,
  .tabela-historico td {
    text-align: left;
    padding: 8px;
  }

  /* Ajusta o layout para telas pequenas */
  .tabela-historico td:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 10px; /* Adiciona espaço no rótulo */
    color: var(--txt-content-card); /* Adiciona a cor ao rótulo */
  }

  /* Oculta o <tr> no modo responsivo */
  .tabela-historico th {
    display: none;
  }
}
