/* Grid */
.pleitos-template {
  display: grid;
  gap: 0.625rem;
  align-content: center;
  justify-content: center;
  grid:
    "pleitos-sidenav pleitos-section" 1fr
    / 1.1fr 1.9fr;
}

/* Áreas de grid */
.pleitos-section {
  grid-area: pleitos-section;
  text-align: center;
}
.pleitos-sidenav {
  grid-area: pleitos-sidenav;
  text-align: center;
}

/* RESPONSIVO */
@media (max-width: 800px) {
  .pleitos-template {
    grid:
      "pleitos-sidenav"
      "pleitos-section"
      /1fr;
  }
  .pleitos-section {
    grid-area: pleitos-section;
    padding: 0;
    border-radius: 0.9375rem;

    background: radial-gradient(
      circle at bottom right,
      #6a4dff 0%,
      #5bc5f3 50%,
      #194471 100%
    );
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  }
}
