/* CARD INFO */

.info-concluir-pleito-template {
  display: grid;
  box-sizing: border-box;
  color: var(--txt-conteudo-card);
  gap: 3px;
  padding: 10px;
  padding-top: 0;
  grid:
    "info-concluir-pleito-solicitante info-concluir-pleito-solicitante info-concluir-pleito-status"
    "info-concluir-pleito-beneficiario info-concluir-pleito-beneficiario info-concluir-pleito-dataSolici"
    "info-concluir-pleito-endereco info-concluir-pleito-endereco info-concluir-pleito-endereco"
    "info-concluir-pleito-desc info-concluir-pleito-desc info-concluir-pleito-desc"
    "info-concluir-pleito-infoCriacaoPleito info-concluir-pleito-infoCriacaoPleito info-concluir-pleito-infoCriacaoPleito";
}
.info-concluir-pleito-id {
  display: none;
  opacity: 0;
}

.info-concluir-pleito-tiposolici {
  grid-area: info-concluir-pleito-tiposolici;
  border-left: 4px solid var(--cor-primaria-2);
  border-radius: 3px;
  padding-left: 10px;
  font-size: var(--font-sm);
  justify-self: start;
  align-self: center;
}

.info-concluir-pleito-solicitante {
  grid-area: info-concluir-pleito-solicitante;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-sm);
}
.info-concluir-pleito-status {
  grid-area: info-concluir-pleito-status;
  justify-self: end;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-sm);
  transition: opacity 0.25s ease-in-out;
}
.info-concluir-pleito-beneficiario {
  grid-area: info-concluir-pleito-beneficiario;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-sm);
}
.info-concluir-pleito-dataSolici {
  grid-area: info-concluir-pleito-dataSolici;
  justify-self: end;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-sm);
}
.info-concluir-pleito-endereco {
  grid-area: info-concluir-pleito-endereco;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-sm);
}
.info-concluir-pleito-desc {
  grid-area: info-concluir-pleito-desc;
  align-self: center;
  justify-self: stretch;
  padding: 10px 14px;
  display: flex;
  background: var(--card-detalhe);
  color: var(--txt-conteudo-card);
  border-radius: 5px;
  justify-content: start;
  align-items: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-xs);
  font-weight: 300;
}
.info-concluir-pleito-infoCriacaoPleito {
  grid-area: info-concluir-pleito-infoCriacaoPleito;
  justify-self: end;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: 10px;
  font-weight: 400;
  filter: brightness(0.7);
  transition: opacity 0.25s ease-in-out;
}

/* FORMULARIO */

.form-concluir-pleito {
  grid-area: form-concluir-pleito;
  display: grid;
  box-sizing: border-box;
  justify-items: stretch;
  gap: 20px 5px;
  padding: 20px;
  align-self: center;
  font-size: var(--font-sm);
  border-radius: 25px;
  grid:
    "form-concluir-pleito-title"
    "form-concluir-pleito-situacao"
    "form-concluir-pleito-descConclusao"
    "form-concluir-pleito-salvar";
}
.form-concluir-pleito-title {
  grid-area: form-concluir-pleito-title;
  font-size: var(--font-md);
}

.form-concluir-pleito-situacao {
  grid-area: form-concluir-pleito-situacao;
  justify-items: stretch;
  display: flex;
  flex-direction: column;
  font-size: var(--font-sm);
  font-weight: 300;
}

.form-concluir-pleito-descConclusao {
  grid-area: form-concluir-pleito-descConclusao;
  justify-items: stretch;
  display: flex;
  flex-direction: column;
}

.form-concluir-pleito-salvar {
  grid-area: form-concluir-pleito-salvar;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  font-size: var(--font-sm);
  font-weight: 300;
  margin-top: 25px;
}

.form-concluir-pleito label {
  color: var(--txt-subtitulo);
  margin-bottom: 7px;
}

.form-concluir-pleito textarea,
.form-concluir-pleito select,
.form-concluir-pleito input {
  width: 100%;
  box-sizing: border-box;
  padding: 0.9375rem;
  color: var(--txt-titulo-card);
  background: var(--card-bg);
  border: 1px solid var(--card-bg-borda);
  border-radius: 20px;
  margin-top: 7px;
}

/* Responsivo */
@media only screen and (max-width: 56.25rem) {
  .info-concluir-pleito-template {
    padding: 5px;
    padding-top: 10px;
  }

  .form-concluir-pleito {
    padding: 10px;
    margin: 5px;
  }
  .form-concluir-pleito-salvar {
    flex-direction: column;
    gap: 0.625rem;
  }

  .form-concluir-pleito-content::-webkit-scrollbar {
    display: none;
  }
}
