.dashboard-financeiro .main-financeiro .lista-vertical > li:first-child,
.dashboard-financeiro .main-financeiro .lista-vertical-alt > li:first-child {
  margin-top: 0px !important;
}
.dashboard-financeiro .main-financeiro .lista-vertical-alt {
  gap: 0;
  margin: 0;
}
