/* Grid */
.main-dashboard-template {
  display: grid;
  padding: 5px;
  grid:
    "main-dashboard-section"
    /1fr;
}
/* Ãreas de grid */
.main-dashboard-section {
  grid-area: main-dashboard-section;
  text-align: center;
  display: grid;
  grid-auto-flow: row;
  align-content: start;
  overflow: auto;
}

.main-dashboard .container-template {
  background: transparent;
}
.main-dashboard .lista-vertical-alt {
  gap: 0;
  margin: 0;
}
.main-dashboard .lista-vertical > li:first-child,
.lista-vertical-alt > li:first-child {
  margin-top: 0px !important;
}

.main-dashboard .area-interna-containerContent-template.area-dashboard {
  background: none;
  box-shadow: none;
  min-height: calc(var(--vh, 1vh) * 100 - 6rem) !important;
  max-height: calc(var(--vh, 1vh) * 100 - 6rem) !important;
  transition: max-height 0.3s ease-in-out;
}
.main-dashboard .area-interna-containerContent-template {
  background: none;
  box-shadow: none;
  max-height: calc(var(--vh, 1vh) * 100 - 8.5rem) !important;
  transition: max-height 0.3s ease-in-out;
}
.main-dashboard .container-abas-template {
  box-shadow: none;
  border-radius: 23px;
}
.main-dashboard .container-template {
  box-shadow: none;
}
.main-dashboard .container-template-content,
.main-dashboard .container-abas-template-content {
  border-radius: 0px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  box-shadow: none;
}

/* RESPONSIVO */
@media only screen and (max-width: 56.25rem) {
  .main-dashboard-template {
    display: grid;
    padding: 5px 0px;
    grid:
      "main-dashboard-section"
      / 1fr;
  }
  .main-dashboard-section {
    grid-area: main-dashboard-section;
  }

  .main-dashboard .area-interna-containerContent-template.area-dashboard {
    background: none;
    box-shadow: none;
    min-height: calc(var(--vh, 1vh) * 100 - 5.5rem) !important;
    max-height: calc(var(--vh, 1vh) * 100 - 5.5rem) !important;
    transition: max-height 0.3s ease-in-out;
  }
  .main-dashboard .area-interna-containerContent-template {
    background: none;
    box-shadow: none;
    max-height: calc(var(--vh, 1vh) * 100 - 16rem) !important;
  }

  .main-dashboard .container-abas-template-header {
    justify-content: center;
    background: var(--container-bg);
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
  }
  .main-dashboard .container-template-content {
    background: transparent;
    border: none;
  }
  .main-dashboard .area-interna-containerContent-template-content,
  .main-dashboard .card-m {
    padding: 0;
  }
  .main-dashboard .lista-vertical > li:first-child,
  .lista-vertical-alt > li:first-child {
    margin-top: 0px;
  }
}
