/* Estilos */
.modal-btn-floating-Overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s cubic-bezier(0.25, 0.8, 0.25, 1),
    visibility 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  z-index: 2000;
}

.modal-btn-floating-content {
  position: absolute;
  display: grid;
  bottom: 150px;
  right: 115px;
  border-radius: 15px;
  min-width: 140px;
  background: var(--card-fundo);
  color: var(--txt-secundario);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  grid-template-areas:
    "modal-btn-floating-header"
    "modal-btn-floating-body";
  transition: bottom 0.5s cubic-bezier(0.25, 0.8, 0.25, 1),
    right 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.modal-btn-floating-header {
  grid-area: modal-btn-floating-header;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  padding: 0.5rem;
  border-bottom: 1px solid var(--background-principal);
  background: linear-gradient(135deg, hsl(220, 85%, 50%), hsl(220, 100%, 45%));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.modal-btn-floating-body {
  grid-area: modal-btn-floating-body;
  text-align: center;
  padding: 12px 0px;
  display: grid;
  grid-auto-flow: row;
}

.esconderModal {
  display: none;
}

.modal-btn-floating-body li {
  padding: 12px 20px;
}

.modal-btn-floating-body li:hover {
  background: var(--card-detalhe);
  color: var(--txt-destaque);
}

/* Botão do modal */
.floatingButton {
  position: fixed;
  bottom: 75px;
  right: 30px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background: linear-gradient(135deg, hsl(220, 85%, 50%), hsl(220, 100%, 45%));
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  color: var(--btn-principal-text);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  z-index: 2001;
}

.floatingButton:hover {
  background: linear-gradient(135deg, hsl(220, 85%, 60%), hsl(220, 100%, 55%));
}

.floatingButton:active {
  background: linear-gradient(135deg, hsl(220, 85%, 40%), hsl(220, 100%, 35%));
}

/* RESPONSIVO */
@media only screen and (max-width: 900px) {
  .modal-btn-floating-content {
    bottom: 140px;
    right: 93px;
    transition: bottom 0.5s cubic-bezier(0.25, 0.8, 0.25, 1),
      right 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  }

  /* Botão do modal */
  .floatingButton {
    bottom: 71px;
    right: 23px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background: linear-gradient(
      135deg,
      hsl(220, 85%, 50%),
      hsl(220, 100%, 45%)
    );
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    color: var(--btn-principal-text);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    z-index: 2001;
  }

  .floatingButton:hover {
    background: linear-gradient(
      135deg,
      hsl(220, 85%, 50%),
      hsl(220, 100%, 45%)
    );
  }

  .floatingButton:active {
    background: linear-gradient(
      135deg,
      hsl(220, 85%, 50%),
      hsl(220, 100%, 45%)
    );
  }
}
