/* Estilos para o modal de escolha de chamada */
.modal-escolha-chamada {
  display: none;
  position: fixed;
  z-index: 3000;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: end;
  background: var(--bg-overlay);
  opacity: 0;
}

.modal-escolha-chamada.show {
  display: flex;
  opacity: 1;
}

.modal-escolha-chamada-content {
  color: var(--modal-conteudo);
  background-color: var(--modal-bg);
  padding: 20px 20px 50px 20px;
  border: 1px solid var(--borda);
  border-top: 2px solid var(--borda);
  width: 100%;
  max-width: 500px;
  text-align: center;
  border-radius: 25px 25px 0 0;
  box-shadow: var(--sombra-intensa);
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(100%);
  transition: transform 0.5s ease;
}

.modal-escolha-chamada.show .modal-escolha-chamada-content {
  transform: translateY(0);
}

.modal-escolha-chamada-titulo {
  margin-bottom: 10px;
}

.modal-escolha-chamada-close {
  align-self: flex-end;
}

.modal-escolha-chamada-close:hover,
.modal-escolha-chamada-close:focus {
  color: var(--erro);
  text-decoration: none;
}

.modal-escolha-chamada-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
}

.btn-escolha-chamada {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 10px;
  padding: 10px 20px;
  border: none;
  background: var(--card-aberto-bg);
  color: var(--btn-principal-txt);
  box-shadow: var(--sombra-intensa);
  font-size: var(--font-sm);
  cursor: pointer;
  border-radius: 6px;
  flex: 1;
}

.btn-escolha-chamada:hover {
  background: var(--btn-principal-hover);
}

.icone-btn {
  width: 24px;
  height: 24px;
  margin-bottom: 10px;
}
