/* Estilos do modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 2004;
  box-shadow: var(--sombra-intensa);
}

/* Grid */
.modal-content-template {
  display: grid;
  position: fixed;
  min-width: 285px;
  top: 51px;
  right: 1rem;
  color: var(--txt-content-card);
  background: var(--modal-fundo);
  border: 1px solid var(--modal-borda);
  padding: 1rem;
  gap: 5px;
  border-radius: 25px;
  box-shadow: var(--sombra-intensa);
  z-index: 2005;
  transform: translateY(-50px);
  transition: transform 0.3s ease, opacity 0.3s ease;
  grid:
    "modal-content-template-img modal-content-template-candidato modal-content-template-candidato"
    "modal-content-template-img modal-content-template-cargo-owner modal-content-template-partido"
    "modal-content-template-sessao modal-content-template-sessao modal-content-template-sessao"
    "modal-content-template-sair modal-content-template-sair modal-content-template-sair"
    / 1fr 2fr auto;
}

/* Áreas de grid */
.modal-content-template-img {
  grid-area: modal-content-template-img;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  justify-self: center;
}
.modal-content-template-candidato {
  grid-area: modal-content-template-candidato;
  justify-self: start;
  align-self: end;
  font-size: 15px;
  font-weight: 400;
}
.modal-content-template-cargo-owner {
  grid-area: modal-content-template-cargo-owner;
  justify-self: start;
  align-self: start;
  font-size: 12px;
  font-weight: 370;
}
.modal-content-template-partido {
  grid-area: modal-content-template-partido;
  justify-self: start;
  align-self: start;
  font-size: 12px;
  font-weight: 370;
}

.modal-content-template-sessao {
  grid-area: modal-content-template-sessao;
  display: grid;
  background: var(--card-fundo);
  padding: 20px;
  border-radius: 12px;

  grid:
    "modal-content-template-username"
    "modal-content-template-cargo"
    / 1fr;
}
.modal-content-template-username {
  grid-area: modal-content-template-username;
  justify-self: center;
  font-size: 14px;
  font-weight: 400;
}
.modal-content-template-cargo {
  grid-area: modal-content-template-cargo;
  justify-self: center;
  font-size: 12px;
  font-weight: 300;
}

.modal-content-template-sair {
  grid-area: modal-content-template-sair;
  display: flex;
  justify-content: end;
  padding-top: 5px;
  opacity: 1;
  gap: 15px;
}
.modal-content-template-sair .btn-principal {
  padding: 5px 10px;
  font-size: 14px;
}
#btnGerenciarConta.btn-principal {
  background: none;
  box-shadow: none;
  border: 1px solid transparent;
  color: var(--btn-principal-destaque);
}
#btnGerenciarConta:hover {
  filter: brightness(1.1);
  border: 1px solid transparent;
  box-shadow: none;
  text-decoration: underline;
}

/* RESPONSIVO */
@media only screen and (max-width: 900px) {
  .modal-content-template {
    right: 0.85rem;
    transition: right 0.3s ease;
  }
}

.modal.show {
  display: flex;
  opacity: 1;
}

.modal.show .modal-content-template {
  transform: translateY(0);
}
