/* Estilos do modal */
.modal-notificacoes {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-overlay);
  justify-content: center;
  align-items: flex-start;
  z-index: 2004;
  box-shadow: var(--sombra-intensa);
}

.modal-notificacoes.show {
  display: flex;
  opacity: 1;
}

/* Animação para o conteúdo do modal */
@keyframes modalExpand {
  from {
    transform: scale(0.1);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes modalCollapse {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.1);
    opacity: 0;
  }
}

.modal-content-notificacoes {
  position: absolute;
  top: 5px;
  left: 3.4rem;
  width: 85%;
  max-width: 500px;
  color: var(--txt-conteudo-card);
  background: var(--card-bg);
  border: 1px solid var(--modal-borda);
  padding: 40px 5px 5px 5px;
  gap: 5px;
  border-radius: 25px;
  box-shadow: var(--sombra-intensa);
  transform-origin: top left;
}

.modal-content-notificacoes.show {
  animation: modalExpand 0.5s forwards;
}

.modal-content-notificacoes.hide {
  animation: modalCollapse 0.5s forwards;
}

.modal-notificacoes-btn-close {
  position: absolute;
  top: 0px;
  right: 12px;
  font-size: 1.7rem;
  cursor: pointer;
  color: var(--modal-titulo);
}

/* Estilos para o botão "Marcar todas como lidas" */
#markAllReadButton {
  display: block;
  margin: 10px 0;
  padding: 10px;
  background-color: transparent;
  color: var(--link);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#markAllReadButton:hover {
  filter: var(--hover);
  text-decoration: underline;
}

/* Estilos para o botão "Carregar mais" */
.load-more-button {
  display: block;
  margin: 10px auto;
  padding: 10px;
  background-color: var(--link);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.load-more-button:hover {
  background-color: var(--link-hover);
}

/* Estilos para notificações */
.notifications-list {
  list-style: none;
  padding: 0;
}

.notification {
  position: relative;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-left: 5px solid;
}

.notification.sucesso {
  background-color: var(--sucesso);
  color: var(--msg-sucesso-txt);
  border-color: var(--sucesso);
}

.notification.erro {
  background-color: var(--erro);
  color: var(--msg-sucesso-txt);
  border-color: var(--erro);
}

.notification.aviso {
  background-color: var(--aviso);
  color: var(--modal-bg);
  border-color: var(--aviso);
}

.notification.informacao {
  background-color: var(--informacao);
  color: var(--modal-bg);
  border-color: var(--informacao);
}

.notification.lida {
  background-color: var(--modal-borda);
  color: var(--modal-conteudo);
  border-color: var(--modal-divisor);
}

.notification .delete-button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: var(--modal-bg);
  cursor: pointer;
  font-size: 1rem;
}

.notification .mark-read-button {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: var(--modal-bg);
  cursor: pointer;
  font-size: 1rem;
}

/* Estilo para notificação visual */
.header-notification.new-notification img {
  border: 2px solid var(--informacao);
  border-radius: 50%;
}

/* Feedback visual para sem notificações */
.no-notifications {
  display: none;
  background: var(--modal-bg);
  padding: 10px;
  border-radius: 12px;
  text-align: center;
  color: var(--modal-titulo);
  margin: 20px;
  font-size: 1.1rem;
}

/* Estilo do contador de notificações */
.notification-counter {
  position: absolute;
  top: -5px;
  right: -9px;
  background-color: var(--erro);
  color: #fff;
  border-radius: 50%;
  padding: 1px 5px;
  font-size: 0.75rem;
}

/* Animação para destacar novas notificações */
@keyframes highlightNewNotification {
  from {
    background-color: yellow;
  }
  to {
    background-color: transparent;
  }
}

.notification.new {
  animation: highlightNewNotification 2s forwards;
}

/* Animação para remover notificações */
@keyframes fadeOut {
  from {
    opacity: 1;
    height: auto;
    margin-bottom: 10px;
  }
  to {
    opacity: 0;
    height: 0;
    margin-bottom: 0;
    padding: 0;
    border: none;
  }
}

.notification.removing {
  animation: fadeOut 0.5s forwards;
}

/* Animação de balanço para o ícone de notificação */
@keyframes shake {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
}

.shake-animation {
  animation: shake 0.5s;
}

/* RESPONSIVO */
@media only screen and (max-width: 56.25rem) {
  .modal-content-notificacoes {
    top: 4px;
    left: 2.5rem;
    padding: 40px 5px 5px 5px;
  }

  #markAllReadButton {
    margin: 10px 0;
  }

  .load-more-button {
    margin: 0 auto;
  }
}
