/* CARD INFO */

.info-concluir-tarefa-template {
  display: grid;
  box-sizing: border-box;
  color: var(--txt-conteudo-card);
  gap: 3px;
  padding: 10px;
  padding-top: 0;
  grid:
    "info-concluir-tarefa-responsavel info-concluir-tarefa-responsavel info-concluir-tarefa-tag"
    "info-concluir-tarefa-status info-concluir-tarefa-status info-concluir-tarefa-data"
    "info-concluir-tarefa-desc info-concluir-tarefa-desc info-concluir-tarefa-desc"
    "info-concluir-tarefa-concluir info-concluir-tarefa-concluir info-concluir-tarefa-concluir";
}
.info-concluir-tarefa-id {
  display: none;
  opacity: 0;
}

.info-concluir-tarefa-title {
  grid-area: info-concluir-tarefa-title;
  border-left: 4px solid var(--cor-primaria-2);
  border-radius: 3px;
  padding-left: 10px;
  font-size: var(--font-sm);
  justify-self: start;
  align-self: center;
}

.info-concluir-tarefa-tag {
  grid-area: info-concluir-tarefa-tag;
  justify-self: end;
  align-self: center;
  padding-right: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-sm);
  font-weight: 400;
}

.info-concluir-tarefa-data {
  grid-area: info-concluir-tarefa-data;
  justify-self: end;
  align-self: center;
  padding-right: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-sm);
  font-weight: 400;
}

.info-concluir-tarefa-responsavel {
  grid-area: info-concluir-tarefa-responsavel;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-sm);
  font-weight: 300;
}

.info-concluir-tarefa-status {
  grid-area: info-concluir-tarefa-status;
  justify-self: start;
  align-self: center;
  padding-left: 14px;
  margin: 3px 0 0 10px;
  font-size: var(--font-sm);
  font-weight: 300;
}

.info-concluir-tarefa-desc {
  grid-area: info-concluir-tarefa-desc;
  align-self: center;
  justify-self: stretch;
  padding: 10px 14px;
  display: flex;
  background: var(--card-aberto-detalhe);
  border-radius: 5px;
  justify-content: start;
  align-items: center;
  margin: 3px 10px 0 10px;
  font-size: var(--font-sm);
  font-weight: 300;
}

/* FORMULARIO */

.form-concluir-tarefa {
  grid-area: form-concluir-tarefa;
  display: grid;
  box-sizing: border-box;
  justify-items: stretch;
  gap: 20px 5px;
  padding: 20px;
  align-self: center;
  font-size: var(--font-sm);
  border-radius: 25px;
  grid:
    "form-concluir-tarefa-title"
    "form-concluir-tarefa-situacao"
    "form-concluir-tarefa-descConclusao"
    "form-concluir-tarefa-salvar";
}
.form-concluir-tarefa-title {
  grid-area: form-concluir-tarefa-title;
  font-size: var(--font-md);
}

.form-concluir-tarefa-situacao {
  grid-area: form-concluir-tarefa-situacao;
  justify-items: stretch;
  display: flex;
  flex-direction: column;
  font-size: var(--font-sm);
  font-weight: 300;
}

.form-concluir-tarefa-descConclusao {
  grid-area: form-concluir-tarefa-descConclusao;
  justify-items: stretch;
  display: flex;
  flex-direction: column;
}

.form-concluir-tarefa-salvar {
  grid-area: form-concluir-tarefa-salvar;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  font-size: var(--font-sm);
  font-weight: 300;
  margin-top: 25px;
}

.form-concluir-tarefa label {
  color: var(--txt-subtitulo);
  margin-bottom: 7px;
}

.form-concluir-tarefa textarea,
.form-concluir-tarefa select,
.form-concluir-tarefa input {
  width: 100%;
  box-sizing: border-box;
  padding: 0.9375rem;
  color: var(--txt-titulo-card);
  background: var(--card-bg);
  border: 1px solid var(--card-bg-borda);
  border-radius: 20px;
  margin-top: 7px;
}

/* Responsivo */
@media only screen and (max-width: 56.25rem) {
  .info-concluir-tarefa-template {
    padding: 5px;
    padding-top: 10px;
  }

  .form-concluir-tarefa {
    padding: 10px;
    margin: 5px;
  }
  .form-concluir-tarefa-salvar {
    flex-direction: column;
    gap: 0.625rem;
  }

  .form-concluir-tarefa-content::-webkit-scrollbar {
    display: none;
  }
}
