.tarefa-small-card-editar .btn-outline-principal,
.tarefa-medium-card-editar .btn-outline-principal {
  width: auto;
  font-weight: regular;
  font-size: 11px;
  border-radius: 9px;
  border: 1px solid var(--btn-secundario);
  letter-spacing: 0.5px;
  background: var(--btn-secundario);
  color: var(--btn-secundario-txt);
  box-shadow: var(--sombra-moderada);
}
.tarefa-small-card-editar .btn-outline-principal:hover,
.tarefa-medium-card-editar .btn-outline-principal:hover {
  filter: brightness(1.1);
}

.filtro-tarefa {
  text-align: center;
  padding: 10px 15px;
  border: none;
  border-radius: 7px;
  color: var(--btn-filtro-txt);
  cursor: pointer;
  background: var(--btn-filtro);
  font-size: 12px;
  font-weight: 300;
  box-shadow: var(--sombra-leve);
}
.filtro-visualize {
  color: var(--btn-filtro-selecionado-txt) !important;
  background: var(--btn-filtro-selecionado) !important;
  border-radius: 7px !important;
  box-shadow: var(--sombra-leve);
}
.nav-calendar .tarefa {
  padding: 0px;
  gap: 8px;
  border-radius: 0px;
  background: transparent;
}
.filtro-tarefa:hover {
  filter: brightness(1.2);
  border-radius: 7px !important;
}
.area-tarefas .lista-vertical-cards {
  gap: 4px;
}
.area-tarefas .card-m {
  border-radius: 23px;
}

@media only screen and (max-width: 56.25rem) {
  .nav-calendar .tarefa {
    padding: 8px 2px;
    gap: 6px;
    border-radius: 0px;
    background: transparent;
  }

  .filtro-tarefa {
    margin-right: 0px;
    font-size: 11px;
    font-weight: 300;
  }
  .filtro-tarefa:hover {
    filter: none;
  }
}
