/* Estilos para o card Organograma Médio */
.organograma-medium-card {
  display: grid;
  color: var(--txt-conteudo-card);
  gap: 5px;
  cursor: pointer;
  justify-content: stretch;
  width: calc(450px + 1vw);
  grid-template-areas:
    "organograma-medium-card-nivel-nivel-hierarquia organograma-medium-card-nome_unidade organograma-medium-card-sigla_unidade"
    "organograma-medium-card-designacao organograma-medium-card-designacao organograma-medium-card-nivel-salarial"
    "organograma-medium-card-nome_titular organograma-medium-card-nome_titular organograma-medium-card-nome_titular";
  grid-template-columns: auto 1fr auto;
  transition: all 0.25s ease-in-out;
  max-height: 200px;
  border-radius: 18px;
  flex: 1; /* Ocupa todo o espaço restante */
  padding: 15px;
  box-sizing: border-box;
  background-color: var(--card-bg);
  overflow: hidden;
}

/* Nome da unidade */
.organograma-medium-card-nome_unidade {
  grid-area: organograma-medium-card-nome_unidade;
  border-radius: 3px;
  padding-left: 10px;
  font-size: var(--font-sm);
  font-weight: bold;
  justify-self: start;
  align-self: center;
  margin: 3px 0;
  text-align: start;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  transition: font-size 0.2s ease-in-out;
  color: var(--txt-titulo-card);
}

/* Sigla da unidade */
.organograma-medium-card-sigla_unidade {
  grid-area: organograma-medium-card-sigla_unidade;
  justify-self: end;
  align-self: center;
  font-size: var(--font-md);
  color: var(--txt-sigla-unidade);
}

/* Designação */
.organograma-medium-card-designacao {
  grid-area: organograma-medium-card-designacao;
  justify-self: start;
  align-self: center;
  margin: 3px 0 0 15px;
  font-size: var(--font-sm);
  font-weight: normal;
  color: var(--txt-designacao);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Nível Salarial */
.organograma-medium-card-nivel-salarial {
  grid-area: organograma-medium-card-nivel-salarial;
  font-size: var(--font-xs);
  font-weight: semibold;
  justify-self: end;
  align-self: center;
  margin: 3px 0 0 10px;
  color: var(--txt-nivel-salarial);
  white-space: nowrap;
}

/* Nome do titular */
.organograma-medium-card-nome_titular {
  grid-area: organograma-medium-card-nome_titular;
  justify-self: start;
  align-self: center;
  margin: 3px 0 0 8px;
  font-size: var(--font-sm);
  font-weight: semibold;
  color: var(--txt-nome-titular);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Informação Pública */
.organograma-medium-card-info-pub {
  grid-area: organograma-medium-card-info-pub;
  font-size: var(--font-xs);
  font-weight: 400;
  justify-self: stretch;
  padding: 10px 14px;
  display: none;
  background: var(--card-aberto-detalhe);
  color: var(--txt-conteudo-card);
  border-radius: 5px;
  justify-content: start;
  align-items: center;
  margin: 3px 0 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Indicador de nível */
.organograma-medium-card-nivel-nivel-hierarquia {
  grid-area: organograma-medium-card-nivel-nivel-hierarquia;
  width: 24px;
  height: 24px;
  padding: 5px;
  background: var(--cor-primaria-2);
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: var(--font-md);
  transition: background-color 0.3s;
}

.organograma-medium-card-nivel-nivel-hierarquia:hover {
  background-color: #115293; /* Cor de hover mais escura */
}

/* Editar */
.organograma-medium-card-editar {
  grid-area: organograma-medium-card-editar;
  display: none;
  opacity: 0;
  border-top: 1px solid var(--card-aberto-detalhe);
  transition: opacity 0.25s ease-in-out;
  padding-top: 10px;
}

/* ID (oculto) */
.organograma-medium-card-id {
  display: none;
}

.organograma-medium-card-sigla_unidade .marcador-item {
  width: auto;
}

/* Classe para exibir detalhes */
.exibirDetalheOrganograma {
  display: block;
  opacity: 1 !important;
}

/* Estado Expandido */
.organograma-medium-card-expanded {
  border-radius: 18px;
  background: var(--card-aberto-bg) !important;
  border: 1px solid var(--card-aberto-bg) !important;
  position: relative;
  z-index: 2;
  color: var(--txt-card-aberto);
  box-shadow: var(--sombra-card-aberto);
  grid-template-areas:
    "organograma-medium-card-nivel-nivel-hierarquia organograma-medium-card-nome_unidade organograma-medium-card-sigla_unidade"
    "organograma-medium-card-designacao organograma-medium-card-designacao organograma-medium-card-nivel-salarial"
    "organograma-medium-card-nome_titular organograma-medium-card-nome_titular organograma-medium-card-nome_titular"
    "organograma-medium-card-info-pub  organograma-medium-card-info-pub organograma-medium-card-info-pub"
    "organograma-medium-card-editar organograma-medium-card-editar organograma-medium-card-editar";
  transform: scale(1);
  transition: max-height 0.25s ease-in-out, transform 0.25s ease-in-out,
    box-shadow 0.25s ease-in-out;
  max-height: 700px;
}

.organograma-medium-card-editar.exibirDetalheOrganograma {
  display: flex;
  justify-content: center;
  padding: 10px 0 0 0;
  margin: 15px 0 0 0;
  opacity: 1;
  gap: 30px;
}

.organograma-medium-card-expanded .organograma-medium-card-nome_unidade {
  color: var(--txt-card-aberto);
}

.organograma-medium-card-expanded:hover {
  filter: brightness(1);
}

/* Responsividade com Media Queries */
@media (max-width: 768px) {
  .organograma-medium-card {
    grid-template-areas:
      "organograma-medium-card-nivel-nivel-hierarquia organograma-medium-card-sigla_unidade"
      "organograma-medium-card-nome_unidade organograma-medium-card-nome_unidade"
      "organograma-medium-card-designacao organograma-medium-card-designacao"
      "organograma-medium-card-nivel-salarial organograma-medium-card-nivel-salarial"
      "organograma-medium-card-nome_titular organograma-medium-card-nome_titular"
      "organograma-medium-card-info-pub organograma-medium-card-info-pub"
      "organograma-medium-card-editar organograma-medium-card-editar";
    grid-template-columns: auto auto;
    max-height: none; /* Remover limitação de altura */
    width: calc(350px + 1vw);
  }

  .organograma-medium-card-nome_unidade {
    -webkit-line-clamp: 2;
    line-clamp: 2;
  }

  .organograma-medium-card-designacao,
  .organograma-medium-card-nome_titular {
    text-align: left;
    margin-left: 0;
  }

  .organograma-medium-card-sigla_unidade {
    justify-self: end;
  }

  .organograma-medium-card-nivel-salarial {
    justify-self: start;
    margin-left: 0;
  }

  .organograma-medium-card-editar {
    justify-self: center;
  }
}

@media (max-width: 480px) {
  .organograma-medium-card {
    grid-template-areas:
      "organograma-medium-card-nivel-nivel-hierarquia organograma-medium-card-sigla_unidade"
      "organograma-medium-card-nome_unidade organograma-medium-card-nome_unidade"
      "organograma-medium-card-designacao organograma-medium-card-designacao"
      "organograma-medium-card-nivel-salarial organograma-medium-card-nivel-salarial"
      "organograma-medium-card-nome_titular organograma-medium-card-nome_titular"
      "organograma-medium-card-info-pub organograma-medium-card-info-pub"
      "organograma-medium-card-editar organograma-medium-card-editar";
    grid-template-columns: 1fr;
    padding: 10px;
    width: calc(250px + 1vw);
  }

  .organograma-medium-card-nome_unidade {
    -webkit-line-clamp: 2;
    line-clamp: 2;
    font-size: var(--font-md);
    padding: 0;
    margin: 0;
  }

  .organograma-medium-card-designacao,
  .organograma-medium-card-nome_titular,
  .organograma-medium-card-nivel-salarial {
    font-size: var(--font-xs);
  }

  .organograma-medium-card-editar {
    gap: 15px;
  }
}

/*------------------------------------ CARD LARGO ------------------------------------------------*/

/* Estilos para o card Organograma Largo */
.organograma-large-card {
  display: grid;
  color: var(--txt-conteudo-card);
  gap: 5px;
  cursor: pointer;
  justify-content: stretch;
  overflow: hidden;
  grid-template-areas:
    "organograma-large-card-title organograma-large-card-siglaUnidade"
    "organograma-large-card-versao ."
    "organograma-large-card-quantUnidade organograma-large-card-quantUnidade";
  transition: all 0.25s ease-in-out;
  max-height: 500px;
}

.organograma-large-card-title {
  grid-area: organograma-large-card-title;
  border-left: 4px solid var(--cor-primaria-2);
  border-radius: 3px;
  padding-left: 10px;
  font-size: var(--font-sm);
  font-weight: 600;
  justify-self: start;
  align-self: center;
  margin: 3px 0 0 0px;
  text-align: start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--txt-titulo-card);
}

.organograma-large-card-siglaUnidade {
  grid-area: organograma-large-card-siglaUnidade;
  justify-self: end;
}

.organograma-large-card-versao {
  grid-area: organograma-large-card-versao;
  justify-self: start;
  align-self: center;
  margin: 3px 0 0 8px;
  font-size: var(--font-sm);
}

.organograma-large-card-quantUnidade {
  grid-area: organograma-large-card-quantUnidade;
  justify-self: start;
  align-self: center;
  margin: 3px 0 0 8px;
  font-size: var(--font-sm);
  font-weight: bold;
}

.organograma-large-card-editar {
  grid-area: organograma-large-card-editar;
  display: none;
  opacity: 0;
  border-top: 1px solid var(--card-aberto-detalhe);
  transition: opacity 0.25s ease-in-out;
}

.organograma-large-card-id {
  display: none;
}

.exibirDetalheOrganogramaCardLarge {
  display: block;
  opacity: 1 !important;
}

/* Estado Expandido Card largo */
.organograma-large-card-expanded {
  border-radius: 12px;
  background: var(--card-aberto-bg) !important;
  border: 1px solid var(--card-aberto-bg) !important;
  position: relative;
  z-index: 2;
  color: var(--txt-card-aberto);
  box-shadow: var(--sombra-card-aberto);
  grid-template-areas:
    "organograma-large-card-title organograma-large-card-siglaUnidade"
    "organograma-large-card-versao ."
    "organograma-large-card-quantUnidade organograma-large-card-quantUnidade"
    "organograma-large-card-editar organograma-large-card-editar";
  transform: scale(1);
  transition: max-height 0.25s ease-in-out, transform 0.25s ease-in-out,
    box-shadow 0.25s ease-in-out;
  max-height: 700px;
}

.organograma-large-card-editar.exibirDetalheOrganogramaCardLarge {
  display: flex;
  justify-content: center;
  padding: 10px 0px 0px 0px;
  margin: 15px 0 0 0;
  opacity: 1;
  gap: 30px;
}

.organograma-large-card-expanded .organograma-large-card-title {
  border-left: 4px solid var(--card-aberto-detalhe);
  color: var(--txt-card-aberto);
}

.organograma-large-card-expanded:hover {
  filter: brightness(1);
}
