/* Estilos para o botão do card aberto */
.organograma-medium-card-editar .btn-outline-principal,
.organograma-large-card-editar .btn-outline-principal {
  width: auto;
  overflow: auto;
  font-weight: 400;
  font-size: 11px;
  border-radius: 6px;
  border: 1px solid var(--btn-secundario);
  letter-spacing: 0.5px;
  background: var(--btn-secundario);
  color: var(--btn-secundario-txt);
  box-shadow: var(--sombra-moderada);
}
.organograma-medium-card-editar .btn-outline-principal:hover,
.organograma-large-card-editar .btn-outline-principal:hover {
  filter: var(--hover);
  background: var(--btn-secundario-hover);
}

.main-gc-section.organograma .container-template-content {
  border-top: none;
  border-radius: 23px;
}
.main-gc-section.organograma .area-interna-containerContent-template {
  max-height: calc(var(--vh, 1vh) * 100 - 4rem) !important;
}
.main-gc-section.organograma .area-interna-containerContent-template-header {
  padding: 10px;
  align-content: center;
  align-items: center;
}
