/* home-header TEMPLATE */
/* Definição do layout usando grid para o cabeçalho */
.home-header-template {
  display: grid;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  grid: "home-header-logo home-header-nav home-header-user" 45px;
}

/* Áreas de grid */
.home-header-logo {
  grid-area: home-header-logo;
  margin-left: 1.25rem;
  width: 2rem;
}
.home-header-title {
  display: none;
  grid-area: home-header-title;
  color: var(--txt-content-card);
}
.home-header-nav {
  grid-area: home-header-nav;
}
.home-header-user {
  grid-area: home-header-user;
  margin-right: 1.25rem;
  width: 35px;
  height: auto;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid transparent;
}
.home-header-user:hover {
  box-shadow: 0 0 1px var(--shadow-destaque), 0 0 2px var(--shadow-destaque);
  border: 1px solid var(--btn-principal-destaque);
}

/* RESPONSIVO */
@media only screen and (max-width: 900px) {
  .home-header-template {
    display: grid;
    align-content: center;
    justify-content: space-between;
    grid: "home-header-logo home-header-title home-header-user" 45px;
    background: var(--background-principal);
    box-shadow: none;
  }
  .home-header-template.box-shadow-active {
    background: var(--background-principal);
  }

  .home-header-logo {
    margin-left: 0.625rem;
    background: hsla(0, 0%, 100%, 0.85);
    border-radius: 0.9375rem;
    padding: 3px;
  }
  .home-header-title {
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    background: linear-gradient(
      135deg,
      hsl(218, 100%, 66%),
      hsl(182, 73%, 63%)
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .home-header-user {
    margin-right: 0.625rem;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 50%;
    padding: 3px;
  }
  .home-header-nav {
    background: hsl(218, 1%, 3%);
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(0, 0, 0, 0.21);
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 2000;
    margin-left: 0;
  }
}
