/* Estilos */
#logo {
  width: 35px;
}
#moldura {
  width: 35px;
  height: auto;
  padding: 0rem;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 50%;
}
#userPhoto {
  border-radius: 50%;
}

/* RESPONSIVO */
@media only screen and (max-width: 900px) {
  .home-sidenav {
    width: 98%;
  }

  .home-sidenav .card-xs .marcador-item {
    color: var(--container);
  }

  #moldura,
  #logo {
    width: 32px;
    padding: 0rem;
    background: none;
    border-radius: 50%;
  }
}
