/* home-header TEMPLATE */
/* Definição do layout usando grid para o cabeçalho */
.home-header-template {
  display: grid;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  grid: "home-header-logo home-header-nav home-header-user" 45px;
}

/* Áreas de grid */
.home-header-logo {
  grid-area: home-header-logo;
  margin-left: 1.25rem;
  width: 2rem;
}
.home-header-title {
  display: none;
  grid-area: home-header-title;
  color: var(--cor-1);
}
.home-header-nav {
  grid-area: home-header-nav;
}
.home-header-user {
  grid-area: home-header-user;
  margin-right: 1.25rem;
  width: 35px;
  height: auto;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid transparent;
}
.home-header-user:hover {
  box-shadow: 0 0 1px #7852ff58, 0 0 2px #7852ff58, 0 0 3px #7852ff58,
    0 0 4px #7852ff58, inset 0 0 1px #7852ff58, inset 0 0 2px #7852ff58,
    inset 0 0 3px #7852ff58, inset 0 0 4px #7852ff58;
  border: 1px solid #a57ff0;
}

/* RESPONSIVO */
@media (max-width: 820px) {
  .home-header-template {
    display: grid;
    align-content: center;
    justify-content: space-between;
    grid: "home-header-logo home-header-title home-header-user" 45px;
    background: linear-gradient(to left bottom, var(--cor-12), #141b35);
    box-shadow: none;
  }
  .home-header-template.box-shadow-active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid var(--cor-p6);
    background: var(--cor-12);
  }

  .home-header-logo {
    margin-left: 0.625rem;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 0.9375rem;
    padding: 3px;
  }
  .home-header-title {
    font-size: var(--titulo-xl);
    display: inline-block;
    color: var(--cor-1);
  }
  .home-header-user {
    margin-right: 0.625rem;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 50%;
    padding: 3px;
  }
  .home-header-nav {
    background: #020202e4;
    border-top: 1px solid rgba(0, 0, 0, 0.21);
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10000000;
  }
}
