/* home-header TEMPLATE */
/* Definição do layout usando grid para o cabeçalho */
.home-header-template {
  display: grid;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  justify-content: stretch;
  gap: 25px;
  text-transform: uppercase;
  grid:
    "header-menu header-notification home-header-nav"
    / auto auto 1fr;
}

/* Áreas de grid */
.header-notification {
  grid-area: header-notification;
  position: relative;
  justify-self: start;
  cursor: pointer;
  z-index: 2002;
}
.home-header-title {
  display: none;
  grid-area: home-header-title;
  color: var(--txt-conteudo-card);
}
.home-header-nav {
  grid-area: home-header-nav;
  justify-self: center;
}
.header-menu {
  grid-area: header-menu;
  justify-self: start;
  height: auto;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-left: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 21px;
  height: 21px;
  cursor: pointer;
  z-index: 2002;
}
.header-menu:hover {
  filter: brightness(1.1);
}

.header-notification img {
  width: 21px;
  height: 22px;
}

/* RESPONSIVO */
@media only screen and (max-width: 56.25rem) {
  .home-header-template {
    display: grid;
    align-content: center;
    justify-content: space-between;
    gap: 15px;
    grid:
      "header-menu header-notification home-header-title"
      / auto auto 1fr;
    background: var(--bg-principal);
    box-shadow: none;
  }
  .home-header-template.box-shadow-active {
    background: var(--bg-principal);
  }

  .home-header-title {
    grid-area: home-header-title;
    justify-self: start;
    font-size: 22px;
    font-weight: 500;
    display: inline-block;
    background: linear-gradient(55deg, hsl(220, 100%, 66%), hsl(220, 50%, 60%));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
  }
  .header-menu {
    margin-left: 0.625rem;
  }

  .home-header-nav {
    background: var(--bg-container);
    backdrop-filter: blur(10px);
    border-top: 1px solid var(--borda);
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 2000;
  }
}
