/* Estilos */
#logo {
  width: 35px;
}
#moldura {
  width: 35px;
  height: auto;
  padding: 0rem;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 50%;
}
#userPhoto {
  border-radius: 50%;
}

/* RESPONSIVO */
@media (max-width: 820px) {
  .home-sidenav {
    width: 98%;
  }

  .home-sidenav .card-xs .marcador-item {
    color: var(--cor-12);
  }

  #moldura,
  #logo {
    width: 32px;
    padding: 0rem;
    background: none;
    border-radius: 50%;
  }

  .btn-suaAgenda.btn-recuar-expandir::after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid var(--cor-1);
    margin-left: 5px;
    border-radius: 25%;
  }
  .btn-suaAgenda.btn-recuar-expandir.show-after::after {
    display: inline-block;
  }

  .btn-suaAgenda.btn-recuar-expandir.hide-after::after {
    display: none;
  }
}
